openapi: 3.2.0
info:
  title: Public Prewave Suppliers - Supplier Graph API
  description: Documentation of the Public Prewave API.
  version: '1.0'
servers:
- url: https://api.prewave.com
  description: Production Environment
security:
- Token authentication: []
tags:
- name: Suppliers - Supplier Graph
  description: ⚠️ **DEPRECATED** - This API is deprecated and will be removed at the end of December 2026.
paths:
  /public/v2/suppliers/{systemId}/{targetId}/supplier-graph:
    get:
      tags:
      - Suppliers - Supplier Graph
      summary: Get a tree-structure of suppliers of the given target
      description: ⚠️ **DEPRECATED** - This endpoint is deprecated and will be removed at the end of December 2026.
      operationId: findSupplierGraph_1
      parameters:
      - name: systemId
        in: path
        description: The system ID is an identifier to determine from which the targetId might originate from. Supported systemIds are "prewave", "customer", "supplier", "own".
        required: true
        schema:
          type: string
        example: prewave
      - name: targetId
        in: path
        description: The target ID can be the target's prewaveId or an external id (edge number) representing the site in another system.
        required: true
        schema:
          type: string
        example: 10422185
      - name: tierLevel
        in: query
        description: Defines the maximum limit of tiers that should be fetched. Must be <=4
        required: false
        schema:
          maximum: 4
          type: integer
          format: int32
        example: 3
      - name: commodityIds
        in: query
        description: List of commodity ids to filter the supplier graph
        required: false
        schema:
          type: array
          items:
            type: integer
            format: int32
        example: 101, 102, 103
      - name: filter
        in: query
        description: "Filter object used for specifying limiting criteria for retrieving targets, affects both the targets and edge data in relation to the affected organization which queries the data.\n\n - **q**                     *[TARGET & EDGE]* - a query term by which target details (target name or existing edge details\n                                             (edge number WITHOUT edge number source are used as condition)\n\n - **collections**           *[TARGET]* - a list of collection ids to filter in any which the target needs to exist\n\n - **commodityIds**          *[TARGET & EDGE]* - a list of commodity infotag ids by which the target needs to be associated with any\n\n - **tt**                    *[TARGET]* - a list of target types the target needs to be assigned\n\n - **tier**                  *[EDGE]* - a list of tiers by which to filter the targets by, in relation to the organization as a supplier\n\n - **scope**                 *[EDGE]* - defines the visibilities of edge connections to the affected target\n                                    (if an edge is restricted to the affected customer it's 'Private',\n                                    otherwise it's 'Shared' if the edge is shared to the organization by\n                                    a different organization)\n\n - **source**                *[EDGE]* - determines edge source that should be considered (either 'Customer', 'Customs', 'Media' or 'PrewavePrediction')\n\n - **country**               *[TARGET]* - a list of infotag ids for countries which the target is assigned to any\n                                      (`country_id` column in the target, generally only for POI targets)\n\n - **hscode**                *[EDGE]* - a list of codes by which the target is associated to via an edge's HS code\n\n - **ods**                    *[TARGET]* - only direct suppliers (true/false)\n\n - **lastShipment**           *[EDGE]* - a date which determines a cut-off point after which the latest shipment must have happened regardless of HS Codes\n                                    (if `hscodes` are supplied it's already taken care of by the time this filter is applied, otherwise filters over all HS Codes)"
        required: true
        schema:
          $ref: '#/components/schemas/TargetSuppliersFilter'
      - name: commodityTreeId
        in: query
        description: Represents a collection of commodityIds
        required: false
        schema:
          type: integer
          format: int32
        example: 456
      - name: fetchParents
        in: query
        description: Defines whether the parents of the targets should be included in the result.
        required: false
        schema:
          type: boolean
          default: true
        example: true
      responses:
        '200':
          description: Successfully retrieved supplier graph
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PublicTreeTargetV2'
              examples:
                Supplier graph example:
                  summary: Sample supplier tree structure
                  description: Supplier graph example
                  value:
                  - target: 10422185
                    suppliers:
                    - target: 101641243
                      suppliers: []
                      targetInfo:
                        tier: 1
                        path:
                        - 10422185
                        collectionLevel: 1
                        collectionPath:
                        - 123
                        collectionPaths:
                        - - 123
                      edgeSource: Shared
                      edgeInfo:
                        hsCodes:
                        - code: '847330'
                          nShipments: 15
                        probability: 85.0
                      merged_targets: []
                    targetInfo:
                      tier: 0
                      path: []
                      collectionLevel: 0
                      collectionPath: []
                      collectionPaths: []
                    edgeSource: Public Media
                    edgeInfo: null
                    merged_targets: []
        '400':
          description: Invalid request parameters (e.g., tier level > 4)
          content:
            application/json: {}
        '404':
          description: Target not found or not accessible to the user
          content:
            application/json: {}
        '403':
          description: '403 Forbidden - Authentication or authorization failure. This status code is returned when: (1) the request lacks valid authentication credentials (missing or invalid X-Auth-Token header), or (2) the authenticated user does not have the required permission to access this resource.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessDeniedErrorDTO'
              examples:
                Access denied example:
                  summary: User lacks necessary permissions or authentication
                  value: "{\n        \"loggedIn\": true,\n        \"code\": \"access_denied\",\n        \"message\": \"Access denied: you don't have necessary permissions to access this resource\",\n        \"solution\": \"Contact support for appropriate permissions\"\n    }"
        '500':
          description: 500 Internal Server Error - An unexpected error occurred on the server. The request may or may not have been processed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDTO'
              examples:
                Error - Server Error:
                  summary: Unexpected server error
                  value: "{\n        \"code\": \"internal_error\",\n        \"message\": \"An unexpected error occurred\",\n        \"solution\": \"Please try again later or contact support\"\n    }"
        '429':
          description: '429 Too Many Requests - API rate limit exceeded. The request has been rejected because the rate limit for this endpoint has been exceeded. Default rate limits: GET requests - 100 per 10 seconds, 500 per minute; POST/PUT/PATCH/DELETE requests - 20 per 10 seconds, 100 per minute. For increased access, please contact customer success.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiRateLimitResponse'
              examples:
                Rate limit exceeded example:
                  summary: API rate limit exceeded
                  value: "{\n        \"error\": \"API rate limit exceeded\",\n        \"message\": \"You have reached the maximum allowed requests. Please try again later or upgrade your plan for increased access\",\n        \"requestLimit\": 100,\n        \"requestCount\": 100,\n        \"limits\": [\n            {\n                \"requestLimit\": 100,\n                \"timeInSeconds\": 10\n            },\n            {\n                \"requestLimit\": 500,\n                \"timeInSeconds\": 60\n            }\n        ],\n        \"currentTime\": \"2026-01-15T10:30:00\",\n        \"nextResetAt\": \"2026-01-15T10:30:10\"\n    }"
      deprecated: true
  /public/v1/suppliers/{systemId}/{targetId}/supplier-graph:
    get:
      tags:
      - Suppliers - Supplier Graph
      summary: Get a tree-structure of suppliers of the given target
      description: ⚠️ **DEPRECATED** - This endpoint is deprecated and will be removed at the end of December 2026.
      operationId: findSupplierGraph_2
      parameters:
      - name: systemId
        in: path
        description: The system ID is an identifier to determine from which the targetId might originate from. Supported systemIds are "prewave", "customer", "supplier", "own".
        required: true
        schema:
          type: string
        example: prewave
      - name: targetId
        in: path
        description: The target ID can be the target's prewaveId or an external id (edge number) representing the site in another system.
        required: true
        schema:
          type: string
        example: 10422185
      - name: tierLevel
        in: query
        description: Defines the maximum limit of tiers that should be fetched. Must be <=4
        required: false
        schema:
          maximum: 4
          type: integer
          format: int32
        example: 3
      - name: commodityIds
        in: query
        description: List of commodity ids to filter the supplier graph
        required: false
        schema:
          type: array
          items:
            type: integer
            format: int32
        example: 101, 102, 103
      - name: commodityTreeId
        in: query
        description: Represents a collection of commodityIds
        required: false
        schema:
          type: integer
          format: int32
        example: 456
      - name: filter
        in: query
        description: "Filter object used for specifying limiting criteria for retrieving targets, affects both the targets and edge data in relation to the affected organization which queries the data.\n\n - **q**                     *[TARGET & EDGE]* - a query term by which target details (target name or existing edge details\n                                             (edge number WITHOUT edge number source are used as condition)\n\n - **collections**           *[TARGET]* - a list of collection ids to filter in any which the target needs to exist\n\n - **commodityIds**          *[TARGET & EDGE]* - a list of commodity infotag ids by which the target needs to be associated with any\n\n - **tt**                    *[TARGET]* - a list of target types the target needs to be assigned\n\n - **tier**                  *[EDGE]* - a list of tiers by which to filter the targets by, in relation to the organization as a supplier\n\n - **scope**                 *[EDGE]* - defines the visibilities of edge connections to the affected target\n                                    (if an edge is restricted to the affected customer it's 'Private',\n                                    otherwise it's 'Shared' if the edge is shared to the organization by\n                                    a different organization)\n\n - **source**                *[EDGE]* - determines edge source that should be considered (either 'Customer', 'Customs', 'Media' or 'PrewavePrediction')\n\n - **country**               *[TARGET]* - a list of infotag ids for countries which the target is assigned to any\n                                      (`country_id` column in the target, generally only for POI targets)\n\n - **hscode**                *[EDGE]* - a list of codes by which the target is associated to via an edge's HS code\n\n - **ods**                    *[TARGET]* - only direct suppliers (true/false)\n\n - **lastShipment**           *[EDGE]* - a date which determines a cut-off point after which the latest shipment must have happened regardless of HS Codes\n                                    (if `hscodes` are supplied it's already taken care of by the time this filter is applied, otherwise filters over all HS Codes)"
        required: true
        schema:
          $ref: '#/components/schemas/TargetSuppliersFilter'
      - name: fetchParents
        in: query
        description: Defines whether the parents of the targets should be included in the result.
        required: false
        schema:
          type: boolean
          default: true
        example: true
      responses:
        '200':
          description: Successfully retrieved supplier graph
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PublicTreeTargetV1'
              examples:
                Supplier graph example:
                  summary: Sample supplier tree structure
                  description: Supplier graph example
                  value:
                  - target: 10422185
                    suppliers:
                    - target: 101641243
                      suppliers: []
                      tier: 1
                      path:
                      - 10422185
                      edgeSource: Shared
                      merged_targets: []
                    tier: 0
                    path: []
                    edgeSource: Public Media
                    merged_targets: []
        '400':
          description: Invalid request parameters (e.g., tier level > 4)
          content:
            application/json: {}
        '404':
          description: Target not found or not accessible to the user
          content:
            application/json: {}
        '403':
          description: '403 Forbidden - Authentication or authorization failure. This status code is returned when: (1) the request lacks valid authentication credentials (missing or invalid X-Auth-Token header), or (2) the authenticated user does not have the required permission to access this resource.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessDeniedErrorDTO'
              examples:
                Access denied example:
                  summary: User lacks necessary permissions or authentication
                  value: "{\n        \"loggedIn\": true,\n        \"code\": \"access_denied\",\n        \"message\": \"Access denied: you don't have necessary permissions to access this resource\",\n        \"solution\": \"Contact support for appropriate permissions\"\n    }"
        '500':
          description: 500 Internal Server Error - An unexpected error occurred on the server. The request may or may not have been processed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDTO'
              examples:
                Error - Server Error:
                  summary: Unexpected server error
                  value: "{\n        \"code\": \"internal_error\",\n        \"message\": \"An unexpected error occurred\",\n        \"solution\": \"Please try again later or contact support\"\n    }"
        '429':
          description: '429 Too Many Requests - API rate limit exceeded. The request has been rejected because the rate limit for this endpoint has been exceeded. Default rate limits: GET requests - 100 per 10 seconds, 500 per minute; POST/PUT/PATCH/DELETE requests - 20 per 10 seconds, 100 per minute. For increased access, please contact customer success.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiRateLimitResponse'
              examples:
                Rate limit exceeded example:
                  summary: API rate limit exceeded
                  value: "{\n        \"error\": \"API rate limit exceeded\",\n        \"message\": \"You have reached the maximum allowed requests. Please try again later or upgrade your plan for increased access\",\n        \"requestLimit\": 100,\n        \"requestCount\": 100,\n        \"limits\": [\n            {\n                \"requestLimit\": 100,\n                \"timeInSeconds\": 10\n            },\n            {\n                \"requestLimit\": 500,\n                \"timeInSeconds\": 60\n            }\n        ],\n        \"currentTime\": \"2026-01-15T10:30:00\",\n        \"nextResetAt\": \"2026-01-15T10:30:10\"\n    }"
      deprecated: true
components:
  schemas:
    PublicTreeTargetV2:
      required:
      - edgeSource
      - suppliers
      - target
      - targetInfo
      type: object
      properties:
        target:
          type: integer
          description: The target id of the supplier
          format: int32
          example: null
        suppliers:
          type: array
          description: All sub-suppliers nested in the same structure
          items:
            $ref: '#/components/schemas/PublicTreeTargetV2'
          example: null
        targetInfo:
          $ref: '#/components/schemas/PublicTargetInfoDTO'
        edgeSource:
          type: string
          description: 'Allowed values "Public Media", "Public Customs", "Private", "Shared", "Prewave Prediction" '
          example: null
        edgeInfo:
          allOf:
          - $ref: '#/components/schemas/PublicEdgeInfo'
          example: null
        merged_targets:
          type: array
          description: Target ids of past targets that were merged into this current target
          items:
            type: integer
            description: Target ids of past targets that were merged into this current target
            format: int32
            example: null
          default: []
          example: null
      example: null
    TargetRequestTypeStatusDto:
      type: object
      properties:
        id:
          type:
          - integer
          - 'null'
          format: int32
          example: null
        customerId:
          type:
          - integer
          - 'null'
          format: int32
          example: null
        status:
          type:
          - string
          - 'null'
          enum:
          - NONE
          - PENDING
          - COMPLETED
          - REJECTED
          example: null
        rejectionReason:
          type:
          - string
          - 'null'
          example: null
      example: null
    DeliverySettingTypeDTO:
      required:
      - displayName
      - frequency
      - inherited
      - minPriority
      - ordering
      - type
      type: object
      properties:
        type:
          type: string
          enum:
          - Feed
          - EmailRealtime
          - EmailDaily
          - EmailWeekly
          example: null
        displayName:
          type: string
          example: null
        ordering:
          type: integer
          format: int32
          example: null
        frequency:
          type: string
          example: null
        minPriority:
          type: string
          enum:
          - Low
          - Mid
          - High
          - Critical
          example: null
        inherited:
          type: boolean
          example: null
      example: null
    ApiRateLimitTimeRequestLimit:
      type: object
      properties:
        requestLimit:
          type: integer
          description: Maximum number of requests allowed in this time window
          format: int32
          example: 100
        timeInSeconds:
          type: integer
          description: Time window duration in seconds
          format: int32
          example: 10
      description: Rate limit configuration for a specific time window
      example: null
    InfotagDTO:
      required:
      - id
      - isTarget
      - type
      type: object
      properties:
        id:
          type: integer
          format: int32
          example: null
        type:
          $ref: '#/components/schemas/InfotagTypeDTO'
        value:
          type:
          - string
          - 'null'
          example: null
        svalue:
          type:
          - string
          - 'null'
          example: null
        icon:
          type:
          - string
          - 'null'
          example: null
        numValue:
          type:
          - number
          - 'null'
          example: null
        priority:
          type:
          - string
          - 'null'
          description: Obsolete
          deprecated: true
          enum:
          - Low
          - Mid
          - High
          - Critical
          example: null
        impactScore:
          type:
          - string
          - 'null'
          enum:
          - Low
          - Mid
          - High
          - Critical
          example: null
        isTarget:
          type: boolean
          example: null
        updatedAt:
          type:
          - string
          - 'null'
          format: date-time
          example: null
      example: null
    TargetRequestInfoDto:
      required:
      - targetId
      type: object
      properties:
        targetId:
          type: integer
          format: int32
          example: null
        validationRequest:
          allOf:
          - $ref: '#/components/schemas/TargetRequestTypeStatusDto'
          example: null
        screeningRequest:
          allOf:
          - $ref: '#/components/schemas/TargetRequestTypeStatusDto'
          example: null
        reportedTargetRequest:
          allOf:
          - $ref: '#/components/schemas/TargetRequestTypeStatusDto'
          example: null
      example: null
    GeoProperties:
      type: object
      properties:
        name:
          type:
          - string
          - 'null'
          example: null
        countryCode:
          type:
          - string
          - 'null'
          example: null
        alertCount:
          type:
          - integer
          - 'null'
          format: int32
          example: null
        boundingBox:
          type:
          - array
          - 'null'
          items:
            type: integer
            format: int32
            example: null
          example: null
      example: null
    UserSystemAttributes:
      required:
      - incognitoOnboarding
      - onboardingFlowComplete
      type: object
      properties:
        onboardingFlowComplete:
          type: boolean
          example: null
        incognitoOnboarding:
          type: boolean
          example: null
        joinCustomer:
          type:
          - integer
          - 'null'
          format: int32
          example: null
        supplierOnboardingData:
          allOf:
          - $ref: '#/components/schemas/SupplierOnboardingData'
          example: null
      example: null
    RiskAnalysisType:
      required:
      - availablePerspectives
      - hideDetails
      - products
      - recommended
      - scoping
      - tierNAnalysisEnabled
      - type
      type: object
      properties:
        type:
          type: string
          enum:
          - Default
          - LkSG
          - Norwegian Transparancy Act
          - CSDDD (Beta)
          - EU Battery Regulation
          example: null
        hideDetails:
          type: boolean
          example: null
        recommended:
          type: boolean
          example: null
        tierNAnalysisEnabled:
          type: boolean
          example: null
        scoping:
          type: boolean
          example: null
        products:
          type: boolean
          example: null
        component:
          type:
          - string
          - 'null'
          enum:
          - PeerScore
          - AlertScore
          - SSAScore
          - ExternalScore
          - TierNScore
          example: null
        perspectiveId:
          type:
          - integer
          - 'null'
          format: int32
          example: null
        availablePerspectives:
          type: array
          items:
            $ref: '#/components/schemas/PerspectiveDTO'
          example: null
        countryScoreThreshold:
          type:
          - number
          - 'null'
          format: double
          example: null
        industryScoreThreshold:
          type:
          - number
          - 'null'
          format: double
          example: null
        purchaseVolumeThreshold:
          type:
          - number
          - 'null'
          format: double
          example: null
      example: null
    TeamDTO:
      required:
      - id
      - name
      - users
      type: object
      properties:
        id:
          type: integer
          format: int32
          example: null
        name:
          type: string
          example: null
        organizationId:
          type:
          - integer
          - 'null'
          format: int32
          example: null
        users:
          type: array
          items:
            $ref: '#/components/schemas/UserDTO'
          example: null
      example: null
    UserAttributes:
      required:
      - scenarioWelcomeScreenShown
      type: object
      properties:
        scenarioWelcomeScreenShown:
          type: boolean
          example: null
      example: null
    EdgeImpactData:
      required:
      - causalContribution
      - coc
      - daysOnHand
      - deviation
      - edgeId
      - stockAtSupplier
      - stockOnPremise
      - validFrom
      - validTo
      type: object
      properties:
        edgeId:
          type: integer
          format: int32
          example: null
        validFrom:
          type: string
          format: date-time
          example: null
        validTo:
          type: string
          format: date-time
          example: null
        purchase:
          type:
          - number
          - 'null'
          example: null
        actualPurchase:
          type:
          - number
          - 'null'
          example: null
        diForced:
          type:
          - string
          - 'null'
          enum:
          - NA
          - 'No'
          - Low
          - Mid
          - High
          - Critical
          example: null
        di:
          type:
          - number
          - 'null'
          format: double
          example: null
        causalContribution:
          type: boolean
          example: null
        bi12:
          type:
          - number
          - 'null'
          example: null
        coc:
          type: boolean
          example: null
        mttrGrossE:
          type:
          - number
          - 'null'
          format: double
          example: null
        mttrNetE:
          type:
          - number
          - 'null'
          format: double
          example: null
        mttrGrossI:
          type:
          - number
          - 'null'
          format: double
          example: null
        mttrNetI:
          type:
          - number
          - 'null'
          format: double
          example: null
        stockOnPremise:
          type: number
          format: double
          example: null
        stockAtSupplier:
          type: number
          format: double
          example: null
        daysOnHand:
          type: number
          format: double
          example: null
        deviation:
          type: string
          enum:
          - NotApplicable
          - OnTarget
          - Below
          - Above
          example: null
        location:
          type:
          - string
          - 'null'
          enum:
          - SameBuilding
          - DifferentFireSection
          - DifferentBuilding
          - NotApplicable
          example: null
        lastConfirmationDate:
          type:
          - string
          - 'null'
          format: date
          example: null
        birsInfo:
          type:
          - string
          - 'null'
          example: null
        biForced:
          type:
          - string
          - 'null'
          enum:
          - NA
          - 'No'
          - Low
          - Mid
          - High
          - Critical
          example: null
        bi:
          type:
          - number
          - 'null'
          format: double
          example: null
        biEffE:
          type:
          - number
          - 'null'
          format: double
          example: null
        biEffI:
          type:
          - number
          - 'null'
          format: double
          example: null
        impact:
          type:
          - string
          - 'null'
          enum:
          - NA
          - 'No'
          - Low
          - Mid
          - High
          - Critical
          example: null
      example: null
    HSCode:
      required:
      - children
      - code
      - level
      type: object
      properties:
        code:
          type: string
          example: null
        description:
          type:
          - string
          - 'null'
          example: null
        numberShipments:
          type:
          - integer
          - 'null'
          format: int32
          example: null
        lastShipment:
          type:
          - string
          - 'null'
          format: date-time
          example: null
        children:
          type: array
          items:
            $ref: '#/components/schemas/HSCode'
          example: null
        level:
          type: integer
          format: int32
          example: null
      example: null
    ApiRateLimitResponse:
      type: object
      properties:
        error:
          type: string
          description: Error type identifier
          example: RateLimitExceeded
        message:
          type: string
          description: Human-readable error message explaining the rate limit violation
          example: API rate limit exceeded. Please reduce your request rate.
        requestLimit:
          type: integer
          description: Maximum number of requests allowed in the current time window
          format: int32
          example: 100
        requestCount:
          type: integer
          description: Number of requests made in the current time window
          format: int32
          example: 101
        limits:
          type: array
          description: All rate limits that apply to this endpoint, showing different time windows
          items:
            $ref: '#/components/schemas/ApiRateLimitTimeRequestLimit'
          example: null
        currentTime:
          type: string
          description: Current server time in ISO 8601 format
          format: date-time
          example: '2026-01-19T10:30:00'
        nextResetAt:
          type: string
          description: Time when the rate limit will reset in ISO 8601 format
          format: date-time
          example: '2026-01-19T10:30:10'
      description: Response returned when API rate limit is exceeded (HTTP 429)
      example: null
    PublicTargetDTO:
      required:
      - collectionFollowing
      - collectionPath
      - collectionPaths
      - ctype
      - following
      - foreignSystems
      - geo
      - geoShape
      - hsCode
      - id
      - industries
      - managed
      - mergedTargets
      - name
      - own
      - parents
      - path
      - scoreAvail
      - screened
      - type
      type: object
      properties:
        id:
          type: integer
          description: Prewave target id
          format: int32
          example: 102006215
        name:
          type: string
          description: Name of the Prewave target
          example: Høyanger
        sname:
          type:
          - string
          - 'null'
          description: Geonames Id (see https://geonames.org)
          example: '3191281'
        logo:
          type:
          - string
          - 'null'
          description: URL to the logo shown in the target profile
          example: null
        backgroundPicture:
          type:
          - string
          - 'null'
          description: URL to the background picture shown in the target profile
          example: null
        description:
          type:
          - string
          - 'null'
          description: Description of the Prewave target
          example: Description shown in the target profile
        website:
          type:
          - string
          - 'null'
          description: URL to the website shown in the target profile
          example: null
        location:
          type:
          - string
          - 'null'
          description: Location of the target
          example: Mistelbach
        yearFounded:
          type:
          - integer
          - 'null'
          description: Year the target was founded shown in the target profile
          format: int32
          example: 1999
        size:
          type:
          - string
          - 'null'
          description: Size of the target shown in the target profile
          example: Small
          enum:
          - Small
          - Medium
          - Large
          - Very large
        screened:
          type: boolean
          description: Whether the target is screened or not
          example: true
        screenedStatus:
          type:
          - string
          - 'null'
          description: Screening status of the target
          example: Screened
          enum:
          - Required
          - Pending
          - Screened
          - NotPossible
        linkedInId:
          type:
          - string
          - 'null'
          description: LinkedIn ID of the target
          example: general-motors
        type:
          $ref: '#/components/schemas/PublicTargetTypeDTO'
        ctype:
          $ref: '#/components/schemas/PublicTargetCTypeDTO'
        geo:
          $ref: '#/components/schemas/Geo'
        geoShape:
          $ref: '#/components/schemas/Geo'
        parents:
          type: array
          description: List of parent targets
          items:
            $ref: '#/components/schemas/PublicTargetDTO'
          example: null
        organization:
          $ref: '#/components/schemas/PublicTargetDTO'
        industries:
          type: array
          description: List of industries the target belongs to
          items:
            $ref: '#/components/schemas/PublicTargetDTO'
          example: null
        monitoredSince:
          type:
          - string
          - 'null'
          description: Date the target was monitored since
          format: date-time
          example: null
        earliestAlert:
          type:
          - string
          - 'null'
          description: Date of the earliest alert
          format: date-time
          example: null
        ordering:
          type:
          - integer
          - 'null'
          description: Ordering of the target
          format: int32
          example: null
        disruptionStatusUpdate:
          $ref: '#/components/schemas/ComplexDisruptionStatusUpdate'
        own:
          type: boolean
          description: Whether the target is owned by user customer or not
          example: null
        managed:
          type: boolean
          description: '`true` if user is target connection contact or target is owned by user customer, `false` otherwise'
          example: null
        isPublic:
          type:
          - boolean
          - 'null'
          description: Whether the target is public or not
          example: null
        connectionContactsCount:
          type:
          - integer
          - 'null'
          description: Number of connection contacts of the target
          format: int32
          example: null
        population:
          type:
          - integer
          - 'null'
          description: Population of the target. Generally applies to locations
          format: int32
          example: null
        following:
          type: boolean
          description: Target resides in "My follows" collection
          example: null
        collectionFollowing:
          type: boolean
          description: Target resides in any followed collection (including children)
          example: null
        tier:
          type:
          - integer
          - 'null'
          description: Tier of the target (relevant when fetching Tier-N)
          format: int32
          example: null
        path:
          type: array
          description: Path of the target (relevant when fetching Tier-N)
          items:
            $ref: '#/components/schemas/PublicTargetRefExtended'
          example: null
        collectionLevel:
          type:
          - integer
          - 'null'
          description: How deep the target is in the collection hierarchy
          format: int32
          example: null
        collectionPath:
          type: array
          description: Path of the target in the collection hierarchy
          items:
            $ref: '#/components/schemas/CollectionRef'
          example: null
        collectionPaths:
          type: array
          description: Paths of the target in the collection hierarchy
          items:
            type: array
            description: Paths of the target in the collection hierarchy
            items:
              $ref: '#/components/schemas/CollectionRef'
            example: null
          example: null
        foreignSystems:
          type: array
          description: List of foreign systems the target is connected to
          items:
            $ref: '#/components/schemas/PublicTargetForeignSystemDTO'
          example: null
        scoreAvail:
          type: string
          description: Score availability of the target
          enum:
          - None
          - Peer
          - Alert
          - SSA
          - External
          example: null
        revenue:
          type:
          - number
          - 'null'
          description: Revenue of the target
          example: null
        impact:
          type:
          - string
          - 'null'
          description: Impact of the target
          enum:
          - NA
          - 'No'
          - Low
          - Mid
          - High
          - Critical
          example: null
        hsCode:
          type: array
          description: List of HS Codes of the target
          items:
            $ref: '#/components/schemas/PublicHSCode'
          example: null
        mergedTargets:
          type: array
          description: Target ids of past targets that were merged into this current target
          items:
            type: integer
            description: Target ids of past targets that were merged into this current target
            format: int32
            example: null
          example: null
        public:
          type: boolean
          writeOnly: true
          example: null
      example: null
    PerspectiveTypeDTO:
      required:
      - displayName
      - id
      - ordering
      - type
      type: object
      properties:
        id:
          type: integer
          format: int32
          example: null
        type:
          type: string
          example: null
        displayName:
          type: string
          example: null
        ordering:
          type: integer
          format: int32
          example: null
      example: null
    CustomerDTO:
      required:
      - defaultEdgeType
      - id
      - name
      type: object
      properties:
        id:
          type: integer
          format: int32
          example: null
        name:
          type: string
          example: null
        logo:
          type:
          - string
          - 'null'
          example: null
        defaultEdgeType:
          type: string
          enum:
          - Supplier
          - Customer
          - PrimaryMaterial
          - SecondaryMaterial
          - Equipment
          - Own
          example: null
        pristine:
          type:
          - boolean
          - 'null'
          example: null
        confidentialSticker:
          type:
          - string
          - 'null'
          example: null
        forceDefaultConnectionContact:
          type:
          - boolean
          - 'null'
          example: null
      example: null
    TargetForeignSystemDTO:
      required:
      - id
      - system
      type: object
      properties:
        system:
          type: string
          example: null
        id:
          type: string
          example: null
        source:
          type:
          - string
          - 'null'
          example: null
      example: null
    TargetSuppliersFilter:
      required:
      - collectionIds
      - commodityIds
      - countryIds
      - hscodes
      - onlyDirectlySuppliers
      - scopes
      - targetTypeIds
      - tiers
      type: object
      properties:
        query:
          type:
          - string
          - 'null'
          example: null
        collectionIds:
          type: array
          items:
            type: integer
            format: int32
            example: null
          example: null
        commodityIds:
          type: array
          items:
            type: integer
            format: int32
            example: null
          example: null
        targetTypeIds:
          type: array
          items:
            type: integer
            format: int32
            example: null
          example: null
        tiers:
          type: array
          items:
            type: integer
            format: int32
            example: null
          example: null
        scopes:
          type: array
          items:
            type: string
            enum:
            - Private
            - Shared
            - Public
            example: null
          example: null
        source:
          type:
          - string
          - 'null'
          description: Source of the supplier relationship edge
          enum:
          - Customer
          - Media
          - Customs
          - PrewavePrediction
          example: null
        countries:
          type: array
          writeOnly: true
          items:
            type: integer
            format: int32
            example: null
          example: null
        hscodes:
          type: array
          items:
            type: string
            example: null
          example: null
        lastShipment:
          type:
          - string
          - 'null'
          format: date
          example: null
        onlyDirectlySuppliers:
          type: boolean
          example: null
        countryIds:
          type: array
          items:
            type: integer
            format: int32
            example: null
          example: null
      example: null
    AccessDeniedErrorDTO:
      required:
      - code
      - loggedIn
      - message
      type: object
      properties:
        loggedIn:
          type: boolean
          example: null
        permission:
          type:
          - string
          - 'null'
          example: null
        code:
          type: string
          description: Error code
          example: null
        message:
          type: string
          description: Error message
          example: null
        solution:
          type:
          - string
          - 'null'
          description: Possible solution to the error
          example: null
      example: null
    DisruptionStatus:
      required:
      - displayName
      - icon
      - id
      - ordering
      - status
      type: object
      properties:
        id:
          type: integer
          format: int32
          example: null
        status:
          type: string
          example: null
        displayName:
          type: string
          example: null
        icon:
          type: string
          example: null
        ordering:
          type: integer
          format: int32
          example: null
      example: null
    InfotagGroup:
      required:
      - id
      - name
      - ordering
      - sname
      type: object
      properties:
        id:
          type: integer
          format: int32
          example: null
        name:
          type: string
          example: null
        sname:
          type: string
          example: null
        icon:
          type:
          - string
          - 'null'
          example: null
        ordering:
          type: integer
          format: int32
          example: null
      example: null
    PlanDTO:
      required:
      - limits
      type: object
      properties:
        id:
          type:
          - integer
          - 'null'
          format: int32
          example: null
        planType:
          allOf:
          - $ref: '#/components/schemas/PlanTypeDTO'
          example: null
        name:
          type:
          - string
          - 'null'
          example: null
        pricePerUser:
          type:
          - number
          - 'null'
          example: null
        limits:
          type: array
          items:
            $ref: '#/components/schemas/PlanLimitDTO'
          example: null
        validFrom:
          type:
          - string
          - 'null'
          format: date-time
          example: null
        validTo:
          type:
          - string
          - 'null'
          format: date-time
          example: null
      example: null
    PublicEdgeInfo:
      required:
      - hsCodes
      type: object
      properties:
        hsCodes:
          type: array
          items:
            $ref: '#/components/schemas/PublicHSCode'
          example: null
        probability:
          type:
          - number
          - 'null'
          format: double
          example: null
      example: null
    TierSettingsDTO:
      required:
      - logisticsProvider
      - maxTier
      - scopePrivate
      - scopePublic
      - scopeShared
      - sourceCustomer
      - sourceCustoms
      - sourceMedia
      - sourcePrewavePrediction
      - suspectedSuppliers
      - tier2MinPrio
      - tier2TargetPrio
      - tier3PlusMinPrio
      - tier3PlusTargetPrio
      type: object
      properties:
        maxTier:
          type: integer
          format: int32
          example: null
        tier2TargetPrio:
          type: string
          enum:
          - Low
          - Mid
          - High
          - Critical
          example: null
        tier3PlusTargetPrio:
          type: string
          enum:
          - Low
          - Mid
          - High
          - Critical
          example: null
        tier2MinPrio:
          type: string
          enum:
          - Low
          - Mid
          - High
          - Critical
          example: null
        tier3PlusMinPrio:
          type: string
          enum:
          - Low
          - Mid
          - High
          - Critical
          example: null
        scopePrivate:
          type: boolean
          example: null
        scopeShared:
          type: boolean
          example: null
        scopePublic:
          type: boolean
          example: null
        sourceCustoms:
          type: boolean
          example: null
        sourcePrewavePrediction:
          type: boolean
          example: null
        sourceMedia:
          type: boolean
          example: null
        sourceCustomer:
          type: boolean
          example: null
        minShipments:
          type:
          - integer
          - 'null'
          format: int32
          example: null
        probability:
          type:
          - integer
          - 'null'
          format: int32
          example: null
        lastShipmentsPeriodFrom:
          type:
          - string
          - 'null'
          format: date
          example: null
        lastShipmentsPeriodTo:
          type:
          - string
          - 'null'
          format: date
          example: null
        suspectedSuppliers:
          type: boolean
          example: null
        logisticsProvider:
          type: boolean
          example: null
      example: null
    EdgeNumber:
      required:
      - number
      type: object
      properties:
        number:
          type: string
          example: null
        source:
          type:
          - string
          - 'null'
          example: null
        existingEdgeId:
          type:
          - integer
          - 'null'
          format: int32
          example: null
      example: null
    PerspectiveDTO:
      required:
      - actualImpactT80
      - actualRiskT80
      - commodityMissingScore
      - countryMissingScore
      - diModel
      - eventTypes
      - groups
      - id
      - industryMissingScore
      - insolvencyLoss
      - isGlobal
      - massDisruptionFactor
      - name
      - riskModel
      - sname
      - type
      type: object
      properties:
        id:
          type: integer
          format: int32
          example: null
        perspective:
          type:
          - string
          - 'null'
          example: null
        name:
          type: string
          example: null
        sname:
          type: string
          example: null
        type:
          $ref: '#/components/schemas/PerspectiveTypeDTO'
        isGlobal:
          type: boolean
          example: null
        groups:
          type: array
          items:
            $ref: '#/components/schemas/InfotagGroup'
          example: null
        eventTypes:
          type: array
          items:
            $ref: '#/components/schemas/InfotagDTO'
          example: null
        massDisruptionFactor:
          type: boolean
          example: null
        description:
          type:
          - string
          - 'null'
          example: null
        riskModel:
          type: string
          enum:
          - Sustainability
          - Disruption
          example: null
        diModel:
          type: string
          enum:
          - Direct
          - Parent
          - Auto
          example: null
        riskT80:
          type:
          - integer
          - 'null'
          format: int32
          example: null
        impactT80:
          type:
          - number
          - 'null'
          format: double
          example: null
        insolvencyLoss:
          type: boolean
          example: null
        industryMissingScore:
          type: string
          enum:
          - Zero
          - Skip
          example: null
        commodityMissingScore:
          type: string
          enum:
          - Zero
          - Skip
          example: null
        countryMissingScore:
          type: string
          enum:
          - Zero
          - Skip
          example: null
        actualRiskT80:
          type: integer
          format: int32
          example: null
        actualImpactT80:
          type: number
          format: double
          example: null
      example: null
    CollectionRef:
      required:
      - id
      - name
      type: object
      properties:
        id:
          type: integer
          format: int32
          example: null
        name:
          type: string
          example: null
      description: Paths of the target in the collection hierarchy
      example: null
    PermissionDTO:
      required:
      - authority
      - limits
      type: object
      properties:
        authority:
          type: string
          example: null
        limits:
          type: object
          additionalProperties:
            type: integer
            format: int32
          example: null
        description:
          type:
          - string
          - 'null'
          example: null
        id:
          type:
          - integer
          - 'null'
          format: int32
          example: null
      example: null
    RoleDTO:
      required:
      - id
      - permissions
      - roleName
      type: object
      properties:
        id:
          type: integer
          format: int32
          example: null
        type:
          allOf:
          - $ref: '#/components/schemas/RoleTypeDTO'
          example: null
        roleName:
          type: string
          example: null
        displayName:
          type:
          - string
          - 'null'
          example: null
        description:
          type:
          - string
          - 'null'
          example: null
        permissions:
          type: array
          items:
            $ref: '#/components/schemas/PermissionDTO'
          example: null
      example: null
    Geo:
      required:
      - properties
      - type
      type: object
      properties:
        geometry:
          $ref: '#/components/schemas/Geometry'
        properties:
          $ref: '#/components/schemas/GeoProperties'
        type:
          type: string
          example: null
      description: Geo information for this alert. Only available if includeGeo is set to true.
      example: null
    ComplexDisruptionStatusUpdate:
      required:
      - customer
      - general
      type: object
      properties:
        general:
          $ref: '#/components/schemas/DisruptionStatusUpdate'
        customer:
          $ref: '#/components/schemas/DisruptionStatusUpdate'
      description: Disruption status update of the target
      example: null
    TargetDTO:
      required:
      - children
      - collectionFollowing
      - collectionPath
      - collectionPaths
      - ctype
      - edges
      - followerCount
      - following
      - foreignSystems
      - geo
      - geoShape
      - hsCodes
      - id
      - industries
      - isAnonymous
      - managed
      - maturityAssessment
      - name
      - own
      - parents
      - path
      - paths
      - sanctionStatus
      - screened
      - type
      type: object
      properties:
        id:
          type: integer
          format: int32
          example: null
        name:
          type: string
          example: null
        sname:
          type:
          - string
          - 'null'
          example: null
        logo:
          type:
          - string
          - 'null'
          example: null
        backgroundPicture:
          type:
          - string
          - 'null'
          example: null
        description:
          type:
          - string
          - 'null'
          example: null
        website:
          type:
          - string
          - 'null'
          example: null
        location:
          type:
          - string
          - 'null'
          example: null
        yearFounded:
          type:
          - integer
          - 'null'
          format: int32
          example: null
        size:
          type:
          - string
          - 'null'
          enum:
          - Small
          - Medium
          - Large
          - Very large
          example: null
        screened:
          type: boolean
          example: null
        maturityAssessment:
          type: boolean
          example: null
        linkedInId:
          type:
          - string
          - 'null'
          example: null
        type:
          $ref: '#/components/schemas/TargetTypeDTO'
        ctype:
          $ref: '#/components/schemas/TargetCTypeDTO'
        geo:
          $ref: '#/components/schemas/Geo'
        geoShape:
          $ref: '#/components/schemas/Geo'
        address:
          type:
          - string
          - 'null'
          example: null
        muted:
          type:
          - boolean
          - 'null'
          example: null
        hierarchyCustomerId:
          type:
          - integer
          - 'null'
          format: int32
          example: null
        hierarchyOrganizationId:
          type:
          - integer
          - 'null'
          format: int32
          example: null
        level:
          type:
          - string
          - 'null'
          example: null
        parents:
          type: array
          items:
            $ref: '#/components/schemas/TargetDTO'
          example: null
        children:
          type: array
          items:
            $ref: '#/components/schemas/TargetDTO'
          example: null
        organization:
          $ref: '#/components/schemas/TargetDTO'
        customer:
          allOf:
          - $ref: '#/components/schemas/CustomerDTO'
          example: null
        industries:
          type: array
          items:
            $ref: '#/components/schemas/TargetDTO'
          example: null
        monitoredSince:
          type:
          - string
          - 'null'
          format: date-time
          example: null
        earliestAlert:
          type:
          - string
          - 'null'
          format: date-time
          example: null
        followerCount:
          type: integer
          format: int32
          example: null
        ordering:
          type:
          - integer
          - 'null'
          format: int32
          example: null
        disruptionStatusUpdate:
          $ref: '#/components/schemas/ComplexDisruptionStatusUpdate'
        sustainabilityStatus:
          type:
          - string
          - 'null'
          enum:
          - NoRisk
          - AtRisk
          - RedFlag
          example: null
        own:
          type: boolean
          example: null
        managed:
          type: boolean
          example: null
        isPublic:
          type:
          - boolean
          - 'null'
          example: null
        edges:
          type: array
          items:
            $ref: '#/components/schemas/EdgeDTO'
          example: null
        connection:
          allOf:
          - $ref: '#/components/schemas/Connection'
          example: null
        connectionContactsCount:
          type:
          - integer
          - 'null'
          format: int32
          example: null
        population:
          type:
          - integer
          - 'null'
          format: int32
          example: null
        following:
          type: boolean
          example: null
        collectionFollowing:
          type: boolean
          example: null
        tier:
          type:
          - integer
          - 'null'
          format: int32
          example: null
        path:
          type: array
          items:
            $ref: '#/components/schemas/TargetRef'
          example: null
        paths:
          type: array
          items:
            type: array
            items:
              $ref: '#/components/schemas/TargetRef'
            example: null
          example: null
        collectionLevel:
          type:
          - integer
          - 'null'
          format: int32
          example: null
        collectionPath:
          type: array
          items:
            $ref: '#/components/schemas/CollectionRef'
          example: null
        collectionPaths:
          type: array
          items:
            type: array
            items:
              $ref: '#/components/schemas/CollectionRef'
            example: null
          example: null
        foreignSystems:
          type: array
          items:
            $ref: '#/components/schemas/TargetForeignSystemDTO'
          example: null
        scoreAvail:
          type:
          - string
          - 'null'
          enum:
          - None
          - Peer
          - Alert
          - SSA
          - External
          example: null
        revenue:
          type:
          - number
          - 'null'
          example: null
        isRevenueEstimated:
          type:
          - boolean
          - 'null'
          example: null
        actualRevenue:
          type:
          - number
          - 'null'
          example: null
        revenueAvailability:
          type:
          - string
          - 'null'
          enum:
          - Unknown
          - Available
          example: null
        hsCodes:
          type: array
          items:
            $ref: '#/components/schemas/HSCode'
          example: null
        grievanceUrl:
          type:
          - string
          - 'null'
          example: null
        sanctionStatus:
          type: string
          enum:
          - DIRECT
          - INDIRECT
          - NONE
          example: null
        countryScoreAvailable:
          type:
          - boolean
          - 'null'
          example: null
        industryScoreAvailable:
          type:
          - boolean
          - 'null'
          example: null
        commodityScoreAvailable:
          type:
          - boolean
          - 'null'
          example: null
        isAnonymous:
          type: boolean
          example: null
        customName:
          type:
          - string
          - 'null'
          example: null
        latestRequest:
          allOf:
          - $ref: '#/components/schemas/TargetRequestInfoDto'
          example: null
        public:
          type: boolean
          writeOnly: true
          example: null
      example: null
    PublicTargetRefExtended:
      required:
      - foreignSystems
      - id
      - name
      type: object
      properties:
        id:
          type: integer
          format: int32
          example: null
        name:
          type: string
          example: null
        customName:
          type:
          - string
          - 'null'
          example: null
        latestRequest:
          allOf:
          - $ref: '#/components/schemas/TargetRequestInfoDto'
          example: null
        foreignSystems:
          type: array
          items:
            $ref: '#/components/schemas/EdgeNumber'
          example: null
      description: Path of the target (relevant when fetching Tier-N)
      example: null
    PublicTargetTypeDTO:
      required:
      - displayName
      - id
      - pluralName
      - type
      type: object
      properties:
        id:
          type: integer
          description: Prewave-internal ID of the target type
          format: int32
          example: null
        type:
          type: string
          description: Machine-readable name of the target type
          example: null
        displayName:
          type: string
          description: Display name of the target type
          example: null
        pluralName:
          type: string
          description: Plural name of the target type
          example: null
        ordering:
          type:
          - integer
          - 'null'
          description: Ordering of the target type
          format: int32
          example: null
        scoring:
          type:
          - string
          - 'null'
          description: Scoring of the target type
          enum:
          - Alert
          - Peer
          example: null
      description: Target types are what is known as "Target Type" in the Prewave system (e.g in Network > Filters). They provide a broad categorization of what the target is. Examples for target types are "poi", "organization" etc.
      example: null
    PublicTargetCTypeDTO:
      required:
      - bgColor
      - connectable
      - ctype
      - displayName
      - icon
      - id
      - pluralName
      - priority
      - targetTypeId
      - textColor
      type: object
      properties:
        id:
          type: integer
          description: Prewave-internal id of the target ctype
          format: int32
          example: 1234
        ctype:
          type: string
          description: Name of the target ctype
          example: mine
        targetTypeId:
          type: integer
          description: Identifier of the target ctype
          format: int32
          example: 1234
        displayName:
          type: string
          description: Display name of the target ctype
          example: Mine
        pluralName:
          type: string
          description: Plural name of the target ctype
          example: Mines
        icon:
          type: string
          description: Icon of the target ctype. Fontawesome icon name. See https://fontawesome.com/icons for more information
          example: fas fa-mine
        ordering:
          type:
          - integer
          - 'null'
          description: Ordering of the target ctype
          format: int32
          example: null
        priority:
          type: integer
          description: Priority of the target ctype
          format: int32
          example: null
        connectable:
          type: boolean
          description: Whether it is possible to connect to targets of this type or not
          example: null
        bgColor:
          type: string
          description: Background color of the target ctype. Valid CSS color value
          example: '#ff0000'
        textColor:
          type: string
          description: Text color of the target ctype. Valid CSS color value
          example: '#ffffff'
      description: CTypes are what is known as "Facility Types" in the Prewave system (e.g in Network > Filters). They provide a slightly more specific categorization of what the target is. Examples for ctypes are "mine", "factory" etc.
      example: null
    Connection:
      required:
      - createdAt
      - customer1Id
      - customer2Id
      - initiatorCustomerId
      - pending
      - state
      - targetCustomerId
      type: object
      properties:
        customer1Id:
          type: integer
          format: int32
          example: null
        customer2Id:
          type: integer
          format: int32
          example: null
        initiatorCustomerId:
          type: integer
          format: int32
          example: null
        state:
          type: string
          enum:
          - Confirmed
          - Rejected
          - Failed
          example: null
        pending:
          type: boolean
          example: null
        initiatorId:
          type:
          - integer
          - 'null'
          format: int32
          example: null
        comment:
          type:
          - string
          - 'null'
          example: null
        email:
          type:
          - string
          - 'null'
          example: null
        text:
          type:
          - string
          - 'null'
          example: null
        createdAt:
          type: string
          format: date-time
          example: null
        targetCustomerId:
          type: integer
          format: int32
          example: null
      example: null
    DisruptionStatusUpdate:
      required:
      - assignedAt
      - assignmentMethod
      - status
      - targetId
      type: object
      properties:
        id:
          type:
          - integer
          - 'null'
          format: int32
          example: null
        targetId:
          type: integer
          format: int32
          example: null
        assignedAt:
          type: string
          format: date-time
          example: null
        assignedBy:
          $ref: '#/components/schemas/UserDTO'
        comment:
          type:
          - string
          - 'null'
          example: null
        continuity:
          type:
          - integer
          - 'null'
          format: int32
          example: null
        impactedParts:
          type:
          - array
          - 'null'
          items:
            type: string
            example: null
          example: null
        forCustomer:
          allOf:
          - $ref: '#/components/schemas/CustomerDTO'
          example: null
        status:
          $ref: '#/components/schemas/DisruptionStatus'
        assignmentMethod:
          type: string
          enum:
          - MANUAL
          - AUTOMATIC
          example: null
      example: null
    PublicHSCode:
      required:
      - code
      type: object
      properties:
        code:
          type: string
          example: null
        nShipments:
          type:
          - integer
          - 'null'
          format: int32
          writeOnly: true
          example: null
        nshipments:
          type: integer
          format: int32
          example: null
      description: List of HS Codes of the target
      example: null
    PlanTypeDTO:
      type: object
      properties:
        id:
          type:
          - integer
          - 'null'
          format: int32
          example: null
        type:
          type:
          - string
          - 'null'
          example: null
        displayName:
          type:
          - string
          - 'null'
          example: null
        ordering:
          type:
          - integer
          - 'null'
          format: int32
          example: null
      example: null
    TargetTypeDTO:
      required:
      - displayName
      - id
      - pluralName
      - scoring
      - type
      type: object
      properties:
        id:
          type: integer
          format: int32
          example: null
        type:
          type: string
          example: null
        displayName:
          type: string
          example: null
        pluralName:
          type: string
          example: null
        ordering:
          type:
          - integer
          - 'null'
          format: int32
          example: null
        scoring:
          type: string
          enum:
          - Alert
          - Peer
          example: null
      example: null
    ErrorDTO:
      required:
      - code
      - message
      type: object
      properties:
        code:
          type: string
          description: Error code
          example: null
        message:
          type: string
          description: Error message
          example: null
        solution:
          type:
          - string
          - 'null'
          description: Possible solution to the error
          example: null
      description: Error response
      example: null
    PublicTargetInfoDTO:
      required:
      - collectionPath
      - path
      type: object
      properties:
        tier:
          type:
          - integer
          - 'null'
          description: How far the supplier is away from the root supplier
          format: int32
          example: null
        path:
          type: array
          description: The path to the supplier, where the first element is the root supplier
          items:
            type: integer
            description: The path to the supplier, where the first element is the root supplier
            format: int32
            example: null
          example: null
        collectionLevel:
          type:
          - integer
          - 'null'
          description: How deep the supplier is in the collection hierarchy
          format: int32
          example: null
        collectionPath:
          type: array
          description: The path to the collection, where the first element is the root collection
          items:
            type: integer
            description: The path to the collection, where the first element is the root collection
            format: int32
            example: null
          example: null
        collectionPaths:
          type:
          - array
          - 'null'
          description: List of collection paths per target with collection id as bottom level collection
          items:
            type: array
            description: List of collection paths per target with collection id as bottom level collection
            items:
              type: integer
              description: List of collection paths per target with collection id as bottom level collection
              format: int32
              example: null
            example: null
          example: null
      description: Information about the supplier (tier, path, collection)
      example: null
    TargetCTypeDTO:
      required:
      - bgColor
      - connectable
      - ctype
      - displayName
      - icon
      - id
      - pluralName
      - priority
      - targetTypeId
      - textColor
      type: object
      properties:
        id:
          type: integer
          format: int32
          example: null
        ctype:
          type: string
          example: null
        targetTypeId:
          type: integer
          format: int32
          example: null
        displayName:
          type: string
          example: null
        pluralName:
          type: string
          example: null
        icon:
          type: string
          example: null
        ordering:
          type:
          - integer
          - 'null'
          format: int32
          example: null
        priority:
          type: integer
          format: int32
          example: null
        connectable:
          type: boolean
          example: null
        bgColor:
          type: string
          example: null
        textColor:
          type: string
          example: null
      example: null
    UserDTO:
      required:
      - firstname
      - id
      - lastname
      type: object
      properties:
        id:
          type: integer
          format: int32
          example: null
        email:
          type:
          - string
          - 'null'
          format: email
          example: null
        firstname:
          minLength: 1
          type:
          - string
          - 'null'
          example: null
        lastname:
          minLength: 1
          type:
          - string
          - 'null'
          example: null
        department:
          type:
          - string
          - 'null'
          example: null
        position:
          type:
          - string
          - 'null'
          example: null
        profilePic:
          type:
          - string
          - 'null'
          example: null
        customer:
          allOf:
          - $ref: '#/components/schemas/CustomerDTO'
          example: null
        userHash:
          type:
          - string
          - 'null'
          example: null
        settings:
          allOf:
          - $ref: '#/components/schemas/UserSettings'
          example: null
        activePlan:
          allOf:
          - $ref: '#/components/schemas/PlanDTO'
          example: null
        active:
          type:
          - boolean
          - 'null'
          example: null
        confirmed:
          type:
          - boolean
          - 'null'
          example: null
        roles:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/RoleDTO'
          example: null
        teams:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/TeamDTO'
          example: null
        perspective:
          allOf:
          - $ref: '#/components/schemas/PerspectiveDTO'
          example: null
        organization:
          $ref: '#/components/schemas/TargetDTO'
        organizations:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/TargetDTO'
          example: null
        defaultEdgeType:
          type:
          - string
          - 'null'
          enum:
          - Supplier
          - Customer
          - PrimaryMaterial
          - SecondaryMaterial
          - Equipment
          - Own
          example: null
        language:
          type:
          - string
          - 'null'
          enum:
          - en
          - de
          - fr
          - it
          - ch
          example: null
        collection:
          $ref: '#/components/schemas/CollectionDTO'
        passwordValidUntil:
          type:
          - string
          - 'null'
          format: date-time
          example: null
        riskAnalysis:
          $ref: '#/components/schemas/RiskAnalysis'
        phone:
          type:
          - string
          - 'null'
          example: null
        wechatId:
          type:
          - string
          - 'null'
          example: null
        peerScoreToggle:
          type:
          - boolean
          - 'null'
          example: null
        resilienceScoreToggle:
          type:
          - boolean
          - 'null'
          example: null
      example: null
    Geometry:
      type: object
      additionalProperties: true
      description: 'GeoJSON-compatible geometry object. Fields follow the GeoJSON spec (https://geojson.org): a `type` string (e.g. `Point`, `Polygon`) and a `coordinates` array.'
      example: null
    PublicTreeTargetV1:
      required:
      - edgeSource
      - filtered
      - suppliers
      - target
      type: object
      properties:
        target:
          $ref: '#/components/schemas/PublicTargetDTO'
        suppliers:
          type: array
          items:
            $ref: '#/components/schemas/PublicTreeTargetV1'
          example: null
        edgeSource:
          type: string
          example: null
        edgeInfo:
          allOf:
          - $ref: '#/components/schemas/PublicEdgeInfo'
          example: null
        filtered:
          type: boolean
          example: null
      example: null
    RiskAnalysis:
      required:
      - approvedForReport
      - collectionIds
      - date
      - diModel
      - id
      - impactT80
      - isArchived
      - locks
      - name
      - periodFrom
      - periodTo
      - perspective
      - reason
      - regularity
      - riskT80
      - scope
      - scopingCountryShare
      - targetType
      - tiern
      - type
      type: object
      properties:
        id:
          type: integer
          format: int32
          example: null
        name:
          type: string
          example: null
        perspective:
          $ref: '#/components/schemas/PerspectiveDTO'
        targetType:
          $ref: '#/components/schemas/TargetTypeDTO'
        periodFrom:
          type: string
          format: date
          example: null
        periodTo:
          type: string
          format: date
          example: null
        date:
          type: string
          format: date
          example: null
        riskT80:
          type: integer
          format: int32
          example: null
        impactT80:
          type: number
          format: double
          example: null
        diModel:
          type: string
          enum:
          - Direct
          - Parent
          - Auto
          example: null
        locks:
          type: array
          items:
            $ref: '#/components/schemas/RiskAnalysisLock'
          example: null
        isArchived:
          type: boolean
          example: null
        regularity:
          type: string
          enum:
          - Regular
          - Adhoc
          example: null
        reason:
          type: array
          items:
            type: string
            enum:
            - InternalDecisions
            - ExternalFactors
            - SubstantiatedKnowledge
            - ChangeNewProducts
            - ChangeNewAreas
            - Other
            example: null
          example: null
        specificOccasion:
          type:
          - string
          - 'null'
          example: null
        approvedForReport:
          type: boolean
          example: null
        findings:
          type:
          - string
          - 'null'
          example: null
        scope:
          type: string
          enum:
          - OwnBusinessArea
          - Suppliers
          - Customers
          example: null
        type:
          $ref: '#/components/schemas/RiskAnalysisType'
        tiern:
          type: boolean
          example: null
        countryScoreThreshold:
          type:
          - number
          - 'null'
          format: double
          example: null
        industryScoreThreshold:
          type:
          - number
          - 'null'
          format: double
          example: null
        purchaseVolumeThreshold:
          type:
          - number
          - 'null'
          format: double
          example: null
        collectionIds:
          type: array
          items:
            type: integer
            format: int32
            example: null
          example: null
        scopingCountryShare:
          type: number
          format: double
          example: null
      example: null
    RiskAnalysisLock:
      required:
      - locked
      - type
      type: object
      properties:
        type:
          type: string
          enum:
          - Form
          - Suppliers
          - Matrix
          - Actions
          - Scoping
          - Products
          example: null
        locked:
          type: boolean
          example: null
        user:
          $ref: '#/components/schemas/UserDTO'
        lockedAt:
          type:
          - string
          - 'null'
          format: date-time
          example: null
      example: null
    SupplierOnboardingData:
      required:
      - customerId
      - supplierId
      type: object
      properties:
        supplierId:
          type: integer
          format: int32
          example: null
        customerId:
          type: integer
          format: int32
          example: null
      example: null
    UserSettings:
      required:
      - _system_
      - user
      type: object
      properties:
        user:
          $ref: '#/components/schemas/UserAttributes'
        _system_:
          $ref: '#/components/schemas/UserSystemAttributes'
      example: null
    CollectionDTO:
      required:
      - children
      - collectionTreeFilter
      - commodityFilter
      - deliverySettingTypes
      - id
      - isMonitored
      - isParentMonitored
      - lanes
      - level
      - name
      - own
      - path
      - scope
      - tiersEnabled
      - type
      - uuid
      type: object
      properties:
        id:
          type: integer
          format: int32
          example: null
        uuid:
          type: string
          format: uuid
          example: null
        scope:
          type: string
          enum:
          - User
          - Customer
          - Featured
          example: null
        type:
          type: string
          enum:
          - Default
          - Commodity
          - Ariba
          example: null
        collection:
          type:
          - string
          - 'null'
          example: null
        name:
          type: string
          example: null
        user:
          $ref: '#/components/schemas/UserDTO'
        deliverySettingTypes:
          type: array
          items:
            $ref: '#/components/schemas/DeliverySettingTypeDTO'
          example: null
        logo:
          type:
          - string
          - 'null'
          example: null
        count:
          type:
          - integer
          - 'null'
          format: int32
          example: null
        isMonitored:
          type: boolean
          example: null
        isParentMonitored:
          type: boolean
          example: null
        own:
          type: boolean
          example: null
        lanes:
          type: boolean
          example: null
        tiersEnabled:
          type: boolean
          example: null
        tierSettings:
          allOf:
          - $ref: '#/components/schemas/TierSettingsDTO'
          example: null
        collectionTreeFilter:
          type: array
          items:
            type: integer
            format: int32
            example: null
          example: null
        userId:
          type:
          - integer
          - 'null'
          format: int32
          example: null
        customerId:
          type:
          - integer
          - 'null'
          format: int32
          example: null
        organizationId:
          type:
          - integer
          - 'null'
          format: int32
          example: null
        viewedWithRole:
          type:
          - string
          - 'null'
          enum:
          - Manager
          - Editor
          example: null
        parentId:
          type:
          - integer
          - 'null'
          format: int32
          example: null
        children:
          type: array
          items:
            $ref: '#/components/schemas/CollectionDTO'
          example: null
        level:
          type: integer
          format: int32
          example: null
        path:
          type: array
          items:
            $ref: '#/components/schemas/CollectionRef'
          example: null
        commodityFilter:
          type: array
          items:
            $ref: '#/components/schemas/CommodityFilterId'
          example: null
        updatedAt:
          type:
          - string
          - 'null'
          format: date-time
          example: null
        monitored:
          type: boolean
          writeOnly: true
          example: null
        parentMonitored:
          type: boolean
          writeOnly: true
          example: null
      example: null
    RoleTypeDTO:
      required:
      - displayName
      - id
      - type
      type: object
      properties:
        id:
          type: integer
          format: int32
          example: null
        type:
          type: string
          example: null
        displayName:
          type: string
          example: null
      example: null
    EdgeDTO:
      required:
      - active
      - customerId
      - derived
      - fromId
      - id
      - mediaSources
      - numbers
      - priority
      - source
      - toId
      - type
      type: object
      properties:
        id:
          type: integer
          format: int32
          example: null
        type:
          type: string
          enum:
          - Supplier
          - Customer
          - PrimaryMaterial
          - SecondaryMaterial
          - Equipment
          - Own
          example: null
        priority:
          type: string
          enum:
          - Low
          - Mid
          - High
          - Critical
          example: null
        fromId:
          type: integer
          format: int32
          example: null
        toId:
          type: integer
          format: int32
          example: null
        customerId:
          type: integer
          format: int32
          example: null
        scope:
          type:
          - string
          - 'null'
          enum:
          - Private
          - Shared
          - Public
          example: null
        source:
          type: string
          description: Source of the supplier relationship edge
          enum:
          - Customer
          - Media
          - Customs
          - PrewavePrediction
          example: null
        numberShipments:
          type:
          - integer
          - 'null'
          format: int32
          example: null
        numberHSCodes:
          type:
          - integer
          - 'null'
          format: int32
          example: null
        lastShipmentDate:
          type:
          - string
          - 'null'
          format: date
          example: null
        probability:
          type:
          - number
          - 'null'
          format: double
          example: null
        mediaSources:
          type: array
          items:
            type: string
            example: null
          example: null
        active:
          type: boolean
          example: null
        derived:
          type: boolean
          example: null
        impactData:
          allOf:
          - $ref: '#/components/schemas/EdgeImpactData'
          example: null
        edgeNumbers:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/EdgeNumber'
          example: null
        numbers:
          type: array
          readOnly: true
          items:
            type: string
            example: null
          example: null
      example: null
    InfotagTypeDTO:
      required:
      - active
      - display
      - ordering
      - type
      type: object
      properties:
        type:
          type: string
          example: null
        active:
          type: boolean
          example: null
        displayName:
          type:
          - string
          - 'null'
          example: null
        icon:
          type:
          - string
          - 'null'
          example: null
        ordering:
          type: integer
          format: int32
          example: null
        display:
          type: boolean
          example: null
      example: null
    PlanLimitDTO:
      required:
      - name
      - value
      type: object
      properties:
        name:
          type: string
          example: null
        value:
          type: integer
          format: int32
          example: null
      example: null
    CommodityFilterId:
      required:
      - commodityId
      - path
      - treeId
      type: object
      properties:
        treeId:
          type: integer
          format: int32
          example: null
        commodityId:
          type: integer
          format: int32
          example: null
        path:
          type: array
          items:
            type: integer
            format: int32
            example: null
          example: null
      example: null
    PublicTargetForeignSystemDTO:
      required:
      - id
      - system
      type: object
      properties:
        system:
          type: string
          description: The system ID is an identifier to determine from which the targetId might originate from. Supported systemIds are "prewave", "customer", "supplier", "own".
          example: null
        id:
          type: string
          description: The id in the foreign system
          example: '1234'
        source:
          type:
          - string
          - 'null'
          description: Name of the foreign system
          example: SAP_ARIBA
      description: List of foreign systems the target is connected to
      example: null
    TargetRef:
      required:
      - edges
      - id
      - name
      type: object
      properties:
        id:
          type: integer
          format: int32
          example: null
        name:
          type: string
          example: null
        customName:
          type:
          - string
          - 'null'
          example: null
        latestRequest:
          allOf:
          - $ref: '#/components/schemas/TargetRequestInfoDto'
          example: null
        edges:
          type: array
          items:
            $ref: '#/components/schemas/EdgeDTO'
          example: null
      example: null
  securitySchemes:
    Token_authentication:
      type: apiKey
      description: Generate an API token at https://www.prewave.com/management/api and paste it in here.
      name: X-Auth-Token
      in: header
