openapi: 3.2.0
info:
  title: Public Prewave Suppliers - Sites API
  description: Documentation of the Public Prewave API.
  version: '1.0'
servers:
- url: https://api.prewave.com
  description: Production Environment
security:
- Token authentication: []
tags:
- name: Suppliers - Sites
  description: 🆕 NEW - Supplier and site management endpoints. Available from January 2026.
paths:
  /public/v2/suppliers/sites:
    get:
      tags:
      - Suppliers - Sites
      summary: Get all suppliers
      description: 'Retrieve all supplier sites accessible to the authenticated user with pagination support.


        This endpoint returns a list of supplier sites (physical locations/branches with addresses), not site-groups (general company owners). Each site represents a specific physical location where the supplier operates.


        **Related Endpoints:**

        - To find suppliers by specific identifiers, use `GET /public/v2/suppliers/sites/find-by-identifier`.

        - To create a new supplier, use `POST /public/v2/suppliers/sites`.

        - To check pending supplier creation requests, use `GET /public/v2/suppliers/sites/pending`.

        - To deactivate a supplier, use `DELETE /public/v2/suppliers/sites`.


        Returns supplier sites that the user has access to with simplified information:

        - Prewave Target ID

        - Name

        - Address (physical address of the site, if available)

        - City

        - Country Code

        - Supplier IDs


        **Ordering:**

        - Supplier sites are ordered alphabetically by name (case-insensitive), then by ID for deterministic pagination

        - Supplier IDs within each supplier site are ordered alphabetically by number, with null sources appearing last


        **Pagination:**

        - Results are paginated for efficient data retrieval

        - Use query parameters to control pagination:

        - `page`: Page number (0-indexed, default: 0)

        - `size`: Number of items per page (default: 10)

        - Ordering is fixed (alphabetically by name, then by ID) to ensure consistent results across pagination requests


        **Required Permission**: `ACCESS_PUBLIC_SUPPLIERS`'
      operationId: getAllSuppliers
      parameters:
      - name: page
        in: query
        description: Zero-based page index (0..N)
        required: false
        schema:
          minimum: 0
          type: integer
          default: 0
      - name: size
        in: query
        description: The size of the page to be returned
        required: false
        schema:
          minimum: 1
          type: integer
          default: 10
      - name: sort
        in: query
        description: 'Sorting criteria in the format: property,(asc|desc). Default sort order is ascending. Multiple sort criteria are supported.'
        required: false
        schema:
          type: array
          items:
            type: string
      responses:
        '200':
          description: Successfully retrieved suppliers
          content:
            application/json:
              schema:
                type: object
                properties:
                  content:
                    type: array
                    items:
                      $ref: '#/components/schemas/PublicSupplierV2DTO'
                  size:
                    type: integer
                    format: int32
                  number:
                    type: integer
                    format: int32
                  totalElements:
                    type: integer
                    format: int32
                  totalPages:
                    type: integer
                    format: int32
                  numberOfElements:
                    type: integer
                    format: int32
                  first:
                    type: boolean
                  last:
                    type: boolean
                  empty:
                    type: boolean
              examples:
                Supplier - Multiple Results:
                  summary: Sample paginated supplier response
                  description: Supplier - Multiple Results
                  value:
                    content:
                    - prewaveTargetId: 102006215
                      name: Acme Corporation
                      address: 123 Main St, Vienna, Austria
                      city: Vienna
                      countryCode: AT
                      supplierIds:
                      - id: SUP-12345
                        source: SAP
                      - id: BNOID-67890
                    - prewaveTargetId: 102006216
                      name: Beta Industries Ltd
                      address: 456 Business Ave, Berlin, Germany
                      city: Berlin
                      countryCode: DE
                      supplierIds:
                      - id: SUP-54321
                        source: Oracle
                    size: 20
                    number: 0
                    totalElements: 57
                    totalPages: 3
                    numberOfElements: 2
        '403':
          description: '403 Forbidden - Authentication or authorization failure. This status code is returned when: (1) the request lacks valid authentication credentials (missing or invalid X-Auth-Token header), or (2) the authenticated user does not have the required permission to access this resource.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessDeniedErrorDTO'
              examples:
                Access denied example:
                  summary: User lacks necessary permissions or authentication
                  value: "{\n        \"loggedIn\": true,\n        \"code\": \"access_denied\",\n        \"message\": \"Access denied: you don't have necessary permissions to access this resource\",\n        \"solution\": \"Contact support for appropriate permissions\"\n    }"
        '500':
          description: 500 Internal Server Error - An unexpected error occurred on the server. The request may or may not have been processed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDTO'
              examples:
                Error - Server Error:
                  summary: Unexpected server error
                  value: "{\n        \"code\": \"internal_error\",\n        \"message\": \"An unexpected error occurred\",\n        \"solution\": \"Please try again later or contact support\"\n    }"
        '429':
          description: '429 Too Many Requests - API rate limit exceeded. The request has been rejected because the rate limit for this endpoint has been exceeded. Default rate limits: GET requests - 100 per 10 seconds, 500 per minute; POST/PUT/PATCH/DELETE requests - 20 per 10 seconds, 100 per minute. For increased access, please contact customer success.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiRateLimitResponse'
              examples:
                Rate limit exceeded example:
                  summary: API rate limit exceeded
                  value: "{\n        \"error\": \"API rate limit exceeded\",\n        \"message\": \"You have reached the maximum allowed requests. Please try again later or upgrade your plan for increased access\",\n        \"requestLimit\": 100,\n        \"requestCount\": 100,\n        \"limits\": [\n            {\n                \"requestLimit\": 100,\n                \"timeInSeconds\": 10\n            },\n            {\n                \"requestLimit\": 500,\n                \"timeInSeconds\": 60\n            }\n        ],\n        \"currentTime\": \"2026-01-15T10:30:00\",\n        \"nextResetAt\": \"2026-01-15T10:30:10\"\n    }"
    post:
      tags:
      - Suppliers - Sites
      summary: Create a new supplier
      description: Create a new supplier with the specified properties.
      operationId: createSupplier
      requestBody:
        description: Supplier creation payload. Content-Type must be `application/json`. All required fields must be provided and will be validated. The `supplierId` field contains the supplier ID object with `id` (required) and `source` (optional, defaults to 'PUBLIC_API'). Optional `screeningPeriodInYears` (2, 5, or 10) and `requestValidationOnCreate` schedule post-init screening/validation after onboarding. String values are automatically trimmed of leading/trailing whitespace.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PublicSupplierCreatePayloadV2'
            examples:
              Supplier Create - SAP Source:
                summary: Example with SAP as the supplier ID source
                description: Supplier Create - SAP Source
                value:
                  name: Acme Corporation
                  countryCode: AT
                  city: Vienna
                  address: 123 Main St, Vienna, Austria
                  supplierId:
                    id: SUP-12345
                    source: SAP
                  postalCode: '1010'
                  industries:
                  - Manufacturing
                  - Technology
              Supplier Create - No Source:
                summary: Example without supplier ID source (defaults to 'PUBLIC_API')
                description: Supplier Create - No Source
                value:
                  name: Acme Corporation
                  countryCode: AT
                  city: Vienna
                  address: 123 Main St, Vienna, Austria
                  supplierId:
                    number: SUP-12345
              Supplier Create - Coupa Source:
                summary: Example with Coupa as the supplier ID source
                description: Supplier Create - Coupa Source
                value:
                  name: Beta Industries Ltd
                  countryCode: DE
                  city: Berlin
                  address: 456 Business Ave, Berlin, Germany
                  supplierId:
                    id: COUPA-67890
                    source: Coupa
                  postalCode: '10115'
                  industries:
                  - Automotive
                  - Electronics
              Supplier Create - DNB Source:
                summary: Example with DNB as the supplier ID source
                description: Supplier Create - DNB Source
                value:
                  name: Gamma Manufacturing Inc
                  countryCode: US
                  city: New York
                  address: 789 Industrial Blvd, New York, NY 10001
                  supplierId:
                    id: DNB-98765
                    source: DNB
              Supplier Create - Screening on create:
                summary: Schedule 2-year history screening after onboarding (requires ACCESS_PUBLIC_SCREENING_REQUEST)
                description: Supplier Create - Screening on create
                value:
                  name: Acme Corporation
                  countryCode: AT
                  city: Vienna
                  address: 123 Main St, Vienna, Austria
                  supplierId:
                    id: SUP-12345
                    source: PUBLIC_API
                  screeningPeriodInYears: 2
              Supplier Create - Validation on create:
                summary: Schedule validation after onboarding (requires ACCESS_PUBLIC_VALIDATION_REQUEST)
                description: Supplier Create - Validation on create
                value:
                  name: Acme Corporation
                  countryCode: AT
                  city: Vienna
                  address: 123 Main St, Vienna, Austria
                  supplierId:
                    id: SUP-12345
                    source: PUBLIC_API
                  requestValidationOnCreate: true
        required: true
      responses:
        '202':
          description: Accepted - Supplier creation request has been accepted for asynchronous processing. The request is being processed asynchronously and the resource is not yet fully created. Use the Location header or the returned UUID to track the request status via the pending suppliers endpoint.
          headers:
            Location:
              description: Absolute URL to the pending suppliers endpoint where the request status can be monitored. The URL includes the UUID query parameter to filter for this specific pending supplier. Follow this header to check the status of the pending request.
              required: true
              style: simple
              schema:
                type: string
                format: uri
              example: https://api.example.com/public/v2/suppliers/sites/pending?uuid=550e8400-e29b-41d4-a716-446655440000
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicSupplierCreateResponseV2'
              examples:
                Success response:
                  summary: Supplier creation request accepted for processing
                  description: The request has been accepted for asynchronous processing. The UUID can be used to track this specific request in the pending suppliers endpoint. The Location header also points to the pending endpoint for status monitoring.
                  value:
                    uuid: 550e8400-e29b-41d4-a716-446655440000
                    message: Supplier creation request submitted successfully
                    pendingEndpoint: GET /public/v2/suppliers/sites/pending
        '400':
          description: 400 Bad Request - Invalid request payload or validation errors. The request body is malformed or contains invalid data.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDTO'
              examples:
                Missing required field:
                  summary: Required field is missing
                  description: Missing required field
                  value:
                    code: invalid_request
                    message: Name is required
                    solution: Fix the request
                Blank field validation:
                  summary: Required field is blank or contains only whitespace
                  description: Blank field validation
                  value:
                    code: invalid_request
                    message: Supplier ID is required
                    solution: Fix the request
                Invalid JSON:
                  summary: Request body is not valid JSON
                  description: Invalid JSON
                  value:
                    code: invalid_request
                    message: 'JSON parse error: Unexpected character'
                    solution: Fix the request
        '403':
          description: Forbidden — the API token does not have the permissions required for supplier creation (`ACCESS_PUBLIC_CONNECT_TARGET`), or optional post-init screening (`ACCESS_PUBLIC_SCREENING_REQUEST` when `screeningPeriodInYears` is set) or validation (`ACCESS_PUBLIC_VALIDATION_REQUEST` when `requestValidationOnCreate` is true).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDTO'
        '409':
          description: '409 Conflict - A resource with the same identifier already exists. This occurs when: (1) a pending supplier creation request with the same `supplierId.id` + `supplierId.source` combination already exists, or (2) the `supplierId.id` already exists as a supplier ID for another supplier in your organization.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDTO'
              examples:
                Duplicate pending supplier:
                  summary: Pending request already exists with same supplier ID
                  description: Another supplier creation request with the same supplier ID and source is already pending. Wait for it to be processed or check the pending suppliers endpoint.
                  value:
                    code: invalid_request
                    message: A supplier creation request with supplier ID 'SUP-12345' and source 'SAP' is already pending. Please wait for the existing request to be processed or check pending suppliers at GET /public/v2/suppliers/sites/pending
                    solution: Fix the request
                Duplicate supplier ID:
                  summary: Supplier ID already exists for another supplier
                  description: The supplier ID already exists for a different supplier in your organization.
                  value:
                    code: duplicate_supplier_id
                    message: Duplicate supplier IDs - id=SUP-12345, others_found=1, source=SAP
                    solution: Please provide unique supplier IDs
        '500':
          description: 500 Internal Server Error - An unexpected error occurred on the server. The request may or may not have been processed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDTO'
              examples:
                Error - Server Error:
                  summary: Unexpected server error
                  value: "{\n        \"code\": \"internal_error\",\n        \"message\": \"An unexpected error occurred\",\n        \"solution\": \"Please try again later or contact support\"\n    }"
        '429':
          description: '429 Too Many Requests - API rate limit exceeded. The request has been rejected because the rate limit for this endpoint has been exceeded. Default rate limits: GET requests - 100 per 10 seconds, 500 per minute; POST/PUT/PATCH/DELETE requests - 20 per 10 seconds, 100 per minute. For increased access, please contact customer success.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiRateLimitResponse'
              examples:
                Rate limit exceeded example:
                  summary: API rate limit exceeded
                  value: "{\n        \"error\": \"API rate limit exceeded\",\n        \"message\": \"You have reached the maximum allowed requests. Please try again later or upgrade your plan for increased access\",\n        \"requestLimit\": 20,\n        \"requestCount\": 20,\n        \"limits\": [\n            {\n                \"requestLimit\": 20,\n                \"timeInSeconds\": 10\n            },\n            {\n                \"requestLimit\": 100,\n                \"timeInSeconds\": 60\n            }\n        ],\n        \"currentTime\": \"2026-01-15T10:30:00\",\n        \"nextResetAt\": \"2026-01-15T10:30:10\"\n    }"
    delete:
      tags:
      - Suppliers - Sites
      summary: Deactivate a supplier by identifier
      description: 'Deactivate (disconnect) a supplier from your organization using any identifier (supplier ID, customer ID, own site ID, or Prewave ID).


        This unified endpoint allows you to deactivate suppliers using any type of identifier. You can search by one or more ID types, but **exactly one supplier must be found** for the deletion to proceed.


        **Related Endpoints:**

        - To find suppliers by identifier before deactivating, use `GET /public/v2/suppliers/sites/find-by-identifier`.

        - To create a new supplier, use `POST /public/v2/suppliers/sites`.

        - To manage supplier identifiers, use `POST /public/v2/suppliers/sites/identifiers` or `DELETE /public/v2/suppliers/sites/identifiers`.


        **Search Parameters:**

        - `supplierId` (optional): Search by supplier ID

        - `customerId` (optional): Search by customer ID

        - `ownId` (optional): Search by own site ID

        - `prewaveId` (optional): Search by Prewave ID

        - `source` (optional): Filter by source system (applies to supplierId, customerId, ownId only)


        **Search Behavior:**

        - **Multiple ID types**: If you provide multiple ID parameters, the endpoint searches for suppliers matching **ANY** of the provided IDs (OR logic)

        - **Exactly one match required**: The supplier must be uniquely identified. Returns `400 Bad Request` if zero or multiple suppliers are found

        - **Source filtering**: If `source` is provided, only IDs with that exact source are matched


        **What happens when you deactivate a supplier:**


        1. **Identifier Deactivation**: All supplier identifier connections are deactivated

        2. **Collection Management**: The supplier target is moved to an inactive collection

        3. **Audit Trail**: All changes are recorded with user information and timestamps


        **Important Notes:**

        - At least one ID parameter must be provided

        - Exactly one supplier must match the search criteria

        - This is a soft deletion (data is preserved but marked inactive)

        - The operation can be reversed using the reactivate endpoint


        **Required Permission**: `ACCESS_PUBLIC_REMOVE_TARGET`'
      operationId: deleteSupplierByIdentifier
      parameters:
      - name: supplierId
        in: query
        description: Supplier ID to search for. Can be combined with customerId, ownId, and/or prewaveId.
        required: false
        schema:
          type: string
        example: SAP-12345
      - name: customerId
        in: query
        description: Customer ID to search for. Can be combined with supplierId, ownId, and/or prewaveId.
        required: false
        schema:
          type: string
        example: CRM-67890
      - name: ownId
        in: query
        description: Own site ID to search for. Can be combined with supplierId, customerId, and/or prewaveId.
        required: false
        schema:
          type: string
        example: OWN-SITE-01
      - name: prewaveId
        in: query
        description: Prewave ID to search for. Can be combined with supplierId, customerId, and/or ownId.
        required: false
        schema:
          type: integer
          format: int32
        example: 12345
      - name: source
        in: query
        description: Optional source system to filter by. Applies to supplierId, customerId, and ownId (not prewaveId).
        required: false
        schema:
          type: string
        example: SAP
      responses:
        '204':
          description: Supplier successfully deactivated (No Content)
        '400':
          description: 400 Bad Request - Invalid request. Either no ID parameters provided, or multiple suppliers found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDTO'
              examples:
                No ID parameters:
                  summary: No identifier provided
                  description: No ID parameters
                  value:
                    code: invalid_request
                    message: At least one ID parameter (supplierId, customerId, ownId, or prewaveId) must be provided
                    solution: Fix the request
                Multiple suppliers found:
                  summary: Search criteria matches multiple suppliers
                  description: Multiple suppliers found
                  value:
                    code: invalid_request
                    message: 'Multiple suppliers found matching the provided identifiers. Found 2 suppliers with prewaveTargetIds: 102006215, 102006216. Please provide more specific identifiers or use the source parameter.'
                    solution: Fix the request
        '404':
          description: 404 Not Found - No supplier found matching the provided identifiers.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDTO'
              examples:
                Supplier not found:
                  summary: No supplier matches the identifiers
                  description: Supplier not found
                  value:
                    code: resource_not_found
                    message: No supplier found matching the provided identifiers
                    solution: Verify the identifiers and ensure the supplier exists in your organization
        '403':
          description: '403 Forbidden - Authentication or authorization failure. This status code is returned when: (1) the request lacks valid authentication credentials (missing or invalid X-Auth-Token header), or (2) the authenticated user does not have the required permission to access this resource.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessDeniedErrorDTO'
              examples:
                Access denied example:
                  summary: User lacks necessary permissions or authentication
                  value: "{\n        \"loggedIn\": true,\n        \"code\": \"access_denied\",\n        \"message\": \"Access denied: you don't have necessary permissions to access this resource\",\n        \"solution\": \"Contact support for appropriate permissions\"\n    }"
        '500':
          description: 500 Internal Server Error - An unexpected error occurred on the server. The request may or may not have been processed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDTO'
              examples:
                Error - Server Error:
                  summary: Unexpected server error
                  value: "{\n        \"code\": \"internal_error\",\n        \"message\": \"An unexpected error occurred\",\n        \"solution\": \"Please try again later or contact support\"\n    }"
        '429':
          description: '429 Too Many Requests - API rate limit exceeded. The request has been rejected because the rate limit for this endpoint has been exceeded. Default rate limits: GET requests - 100 per 10 seconds, 500 per minute; POST/PUT/PATCH/DELETE requests - 20 per 10 seconds, 100 per minute. For increased access, please contact customer success.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiRateLimitResponse'
              examples:
                Rate limit exceeded example:
                  summary: API rate limit exceeded
                  value: "{\n        \"error\": \"API rate limit exceeded\",\n        \"message\": \"You have reached the maximum allowed requests. Please try again later or upgrade your plan for increased access\",\n        \"requestLimit\": 20,\n        \"requestCount\": 20,\n        \"limits\": [\n            {\n                \"requestLimit\": 20,\n                \"timeInSeconds\": 10\n            },\n            {\n                \"requestLimit\": 100,\n                \"timeInSeconds\": 60\n            }\n        ],\n        \"currentTime\": \"2026-01-15T10:30:00\",\n        \"nextResetAt\": \"2026-01-15T10:30:10\"\n    }"
  /public/v2/suppliers/sites/validation:
    get:
      tags:
      - Suppliers - Sites
      summary: Get validation status for a supplier
      description: 'Retrieve the status of the **most recent** validation request for a supplier site, using the same identifier query parameters as `GET /public/v2/suppliers/sites/find-by-identifier`.


        **Resolution:**

        - At least one of `supplierId`, `customerId`, `ownId`, or `prewaveId` must be provided.

        - **Exactly one** supplier must match (same rules as `DELETE /public/v2/suppliers/sites` and `POST /public/v2/suppliers/sites/validation`). If multiple suppliers match, `400` is returned.

        - The response reflects the latest validation request **you** created for that target.


        **Status values:**

        - `PENDING`: The validation request has been submitted and is being processed.

        - `COMPLETED`: The validation was successful. The `outcomeTargetId` field contains the Prewave target ID of the validated site (may differ from the original if a master record was identified).

        - `REJECTED`: The validation could not be completed. The `rejectionReason` and `rejectionReasonNotes` fields provide details.


        **Example:**

        ```

        GET /public/v2/suppliers/sites/validation?prewaveId=102006215

        ```


        **Required Permission**: `ACCESS_PUBLIC_VALIDATION_REQUEST`'
      operationId: getValidationStatus
      parameters:
      - name: supplierId
        in: query
        description: Supplier ID to search for. Can be combined with customerId, ownId, and/or prewaveId.
        required: false
        schema:
          type: string
        example: SAP-12345
      - name: customerId
        in: query
        description: Customer ID to search for. Can be combined with supplierId, ownId, and/or prewaveId.
        required: false
        schema:
          type: string
        example: CRM-67890
      - name: ownId
        in: query
        description: Own site ID to search for. Can be combined with supplierId, customerId, and/or prewaveId.
        required: false
        schema:
          type: string
        example: OWN-SITE-01
      - name: prewaveId
        in: query
        description: Prewave ID to search for. Can be combined with supplierId, customerId, and/or ownId.
        required: false
        schema:
          type: integer
          format: int32
        example: 12345
      - name: source
        in: query
        description: Optional source system to filter by. If not provided, matches IDs with any source or without a source. Applies to all provided ID parameters.
        required: false
        schema:
          type: string
        example: SAP
      responses:
        '200':
          description: Validation status returned
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicValidationStatusV2DTO'
              examples:
                Pending:
                  summary: Validation request is still being processed
                  description: Pending
                  value:
                    requestId: 550e8400-e29b-41d4-a716-446655440000
                    status: PENDING
                    prewaveTargetId: 102006215
                    outcomeTargetId: null
                    rejectionReason: null
                    rejectionReasonNotes: null
                    createdAt: '2026-01-01T12:00:00'
                    resolvedAt: null
                Completed:
                  summary: Validation request was completed successfully
                  description: Completed
                  value:
                    requestId: 550e8400-e29b-41d4-a716-446655440000
                    status: COMPLETED
                    prewaveTargetId: 102006215
                    outcomeTargetId: 102006220
                    rejectionReason: null
                    rejectionReasonNotes: null
                    createdAt: '2026-01-01T12:00:00'
                    resolvedAt: '2026-01-03T09:30:00'
                Rejected:
                  summary: Validation request was rejected
                  description: Rejected
                  value:
                    requestId: 550e8400-e29b-41d4-a716-446655440000
                    status: REJECTED
                    prewaveTargetId: 102006215
                    outcomeTargetId: null
                    rejectionReason: The address could not be validated.
                    rejectionReasonNotes: No matching location found for the provided address.
                    createdAt: '2026-01-01T12:00:00'
                    resolvedAt: '2026-01-03T09:30:00'
        '400':
          description: Bad Request - No identifier provided, or multiple suppliers match
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDTO'
              examples:
                Missing ID parameters:
                  summary: No identifier query parameters
                  description: Missing ID parameters
                  value:
                    code: invalid_request
                    message: At least one ID parameter (supplierId, customerId, ownId, or prewaveId) must be provided
                    solution: Fix the request
                Multiple suppliers found:
                  summary: Search criteria matches multiple suppliers
                  description: Multiple suppliers found
                  value:
                    code: invalid_request
                    message: 'Multiple suppliers found matching the provided identifiers. Found 2 suppliers with prewaveTargetIds: 102006215, 102006216. Please provide more specific identifiers or use the source parameter.'
                    solution: Fix the request
        '404':
          description: Not Found - No supplier matches the identifiers, or no validation request exists for that supplier (for your user)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDTO'
              examples:
                Supplier not found:
                  summary: No supplier matches the identifiers
                  description: Supplier not found
                  value:
                    code: resource_not_found
                    message: No supplier found matching the provided identifiers
                    solution: Verify the identifiers and ensure the supplier exists in your organization
                No validation request:
                  summary: Supplier exists but you have no validation request for it
                  description: No validation request
                  value:
                    code: resource_not_found
                    message: No validation request found for this supplier
                    solution: Submit validation with POST /public/v2/suppliers/sites/validation first
        '403':
          description: '403 Forbidden - Authentication or authorization failure. This status code is returned when: (1) the request lacks valid authentication credentials (missing or invalid X-Auth-Token header), or (2) the authenticated user does not have the required permission to access this resource.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessDeniedErrorDTO'
              examples:
                Access denied example:
                  summary: User lacks necessary permissions or authentication
                  value: "{\n        \"loggedIn\": true,\n        \"code\": \"access_denied\",\n        \"message\": \"Access denied: you don't have necessary permissions to access this resource\",\n        \"solution\": \"Contact support for appropriate permissions\"\n    }"
        '500':
          description: 500 Internal Server Error - An unexpected error occurred on the server. The request may or may not have been processed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDTO'
              examples:
                Error - Server Error:
                  summary: Unexpected server error
                  value: "{\n        \"code\": \"internal_error\",\n        \"message\": \"An unexpected error occurred\",\n        \"solution\": \"Please try again later or contact support\"\n    }"
        '429':
          description: '429 Too Many Requests - API rate limit exceeded. The request has been rejected because the rate limit for this endpoint has been exceeded. Default rate limits: GET requests - 100 per 10 seconds, 500 per minute; POST/PUT/PATCH/DELETE requests - 20 per 10 seconds, 100 per minute. For increased access, please contact customer success.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiRateLimitResponse'
              examples:
                Rate limit exceeded example:
                  summary: API rate limit exceeded
                  value: "{\n        \"error\": \"API rate limit exceeded\",\n        \"message\": \"You have reached the maximum allowed requests. Please try again later or upgrade your plan for increased access\",\n        \"requestLimit\": 100,\n        \"requestCount\": 100,\n        \"limits\": [\n            {\n                \"requestLimit\": 100,\n                \"timeInSeconds\": 10\n            },\n            {\n                \"requestLimit\": 500,\n                \"timeInSeconds\": 60\n            }\n        ],\n        \"currentTime\": \"2026-01-15T10:30:00\",\n        \"nextResetAt\": \"2026-01-15T10:30:10\"\n    }"
    post:
      tags:
      - Suppliers - Sites
      summary: Request validation for a supplier
      description: 'Request a validation (discovery) for an existing supplier site. Validation is the process of verifying and enriching a supplier''s data. Both endpoints (`POST` and `GET`) require the `ACCESS_PUBLIC_VALIDATION_REQUEST` permission.


        **Request body shape (OpenAPI schema: `PublicValidationRequestPayloadV2`):**

        ```json

        {

        "identifier": {

        "supplierId": null,

        "customerId": null,

        "ownId": null,

        "prewaveId": 102006215,

        "source": null

        }

        }

        ```

        - **`identifier`:** At least one of `supplierId`, `customerId`, `ownId`, or `prewaveId` must be non-empty / non-null. Optional `source` applies to the string IDs only.

        - **Exactly one supplier must match** (same rules as `DELETE /public/v2/suppliers/sites`). If your criteria match zero suppliers, `404` is returned; if more than one, `400` with a multiple-suppliers error.


        **Preconditions (enforced with 4xx responses):**

        - The target must be of type POI (not a site-group or freelancer).

        - The target must not already be at a fully-validated level (level 5, 2L, or 5L).

        - There must be no pending validation or screening request for this supplier.


        **Asynchronous Processing:**

        - The endpoint returns `202 Accepted` immediately with a `requestId` UUID.

        - Poll status with the **same** supplier identifiers you used in `identifier`, e.g. `GET /public/v2/suppliers/sites/validation?prewaveId=...` (see get validation status).


        **Required Permission**: `ACCESS_PUBLIC_VALIDATION_REQUEST`'
      operationId: requestValidation
      requestBody:
        description: JSON object with required `identifier` (how to find the supplier site).
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PublicValidationRequestPayloadV2'
            examples:
              By prewaveId:
                summary: Request validation by Prewave target id
                description: By prewaveId
                value:
                  identifier:
                    prewaveId: 102006215
              By supplierId and source:
                summary: Request validation by external supplier id
                description: By supplierId and source
                value:
                  identifier:
                    supplierId: SAP-12345
                    source: SAP
        required: true
      responses:
        '202':
          description: Validation request accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicValidationRequestResponseV2'
              examples:
                Validation request accepted:
                  summary: Successful validation request
                  description: Validation request accepted
                  value:
                    requestId: 550e8400-e29b-41d4-a716-446655440000
                    message: Validation request submitted successfully
        '400':
          description: Bad request — missing identifier, supplier not eligible for validation (wrong type, level already reached), a pending validation/screening request already exists, or multiple suppliers matched the identifiers
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDTO'
              examples:
                Missing identifiers:
                  summary: No identifier field values provided
                  description: Missing identifiers
                  value:
                    code: invalid_request
                    message: At least one identifier (supplierId, customerId, ownId, prewaveId) must be provided
                    solution: Fix the request
                Multiple suppliers found:
                  summary: Search criteria matches multiple suppliers
                  description: Multiple suppliers found
                  value:
                    code: invalid_request
                    message: 'Multiple suppliers found matching the provided identifiers. Found 2 suppliers with prewaveTargetIds: 102006215, 102006216. Please provide more specific identifiers or use the source parameter.'
                    solution: Fix the request
        '404':
          description: No supplier found matching the provided identifiers
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDTO'
              examples:
                Supplier not found:
                  summary: No supplier matches the identifiers
                  description: Supplier not found
                  value:
                    code: resource_not_found
                    message: No supplier found matching the provided identifiers
                    solution: Verify the identifiers and ensure the supplier exists in your organization
        '403':
          description: '403 Forbidden - Authentication or authorization failure. This status code is returned when: (1) the request lacks valid authentication credentials (missing or invalid X-Auth-Token header), or (2) the authenticated user does not have the required permission to access this resource.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessDeniedErrorDTO'
              examples:
                Access denied example:
                  summary: User lacks necessary permissions or authentication
                  value: "{\n        \"loggedIn\": true,\n        \"code\": \"access_denied\",\n        \"message\": \"Access denied: you don't have necessary permissions to access this resource\",\n        \"solution\": \"Contact support for appropriate permissions\"\n    }"
        '500':
          description: 500 Internal Server Error - An unexpected error occurred on the server. The request may or may not have been processed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDTO'
              examples:
                Error - Server Error:
                  summary: Unexpected server error
                  value: "{\n        \"code\": \"internal_error\",\n        \"message\": \"An unexpected error occurred\",\n        \"solution\": \"Please try again later or contact support\"\n    }"
        '429':
          description: '429 Too Many Requests - API rate limit exceeded. The request has been rejected because the rate limit for this endpoint has been exceeded. Default rate limits: GET requests - 100 per 10 seconds, 500 per minute; POST/PUT/PATCH/DELETE requests - 20 per 10 seconds, 100 per minute. For increased access, please contact customer success.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiRateLimitResponse'
              examples:
                Rate limit exceeded example:
                  summary: API rate limit exceeded
                  value: "{\n        \"error\": \"API rate limit exceeded\",\n        \"message\": \"You have reached the maximum allowed requests. Please try again later or upgrade your plan for increased access\",\n        \"requestLimit\": 20,\n        \"requestCount\": 20,\n        \"limits\": [\n            {\n                \"requestLimit\": 20,\n                \"timeInSeconds\": 10\n            },\n            {\n                \"requestLimit\": 100,\n                \"timeInSeconds\": 60\n            }\n        ],\n        \"currentTime\": \"2026-01-15T10:30:00\",\n        \"nextResetAt\": \"2026-01-15T10:30:10\"\n    }"
  /public/v2/suppliers/sites/screening:
    get:
      tags:
      - Suppliers - Sites
      summary: Get screening status for a supplier
      description: 'Retrieve the status of the **most recent** screening request for a supplier site, using the same identifier query parameters as `GET /public/v2/suppliers/sites/find-by-identifier`.


        This applies to screening started via `POST /public/v2/suppliers/sites/screening` and, once the target exists, to screening that was scheduled with `screeningPeriodInYears` on `POST /public/v2/suppliers/sites` (batch post-init screening is still attributed to your user when it runs).


        **Resolution:**

        - At least one of `supplierId`, `customerId`, `ownId`, or `prewaveId` must be provided.

        - **Exactly one** supplier must match (same rules as `DELETE /public/v2/suppliers/sites` and `POST /public/v2/suppliers/sites/screening`). If multiple suppliers match, `400` is returned.

        - The response reflects the latest screening request **you** created for that target (by request id). Use the same identifiers as in `POST /public/v2/suppliers/sites/screening` to track that request.


        **Status values:**

        - `New` — The request is still in progress.

        - `Finished` — Screening completed; findings were found.

        - `NoFindings` — Screening completed; no findings were found.

        - `Aborted` — The request was rejected or an error occurred.


        **Example:**

        ```

        GET /public/v2/suppliers/sites/screening?prewaveId=102006215

        ```


        **Required Permission**: `ACCESS_PUBLIC_SCREENING_REQUEST`'
      operationId: getScreeningStatus
      parameters:
      - name: supplierId
        in: query
        description: Supplier ID to search for. Can be combined with customerId, ownId, and/or prewaveId.
        required: false
        schema:
          type: string
        example: SAP-12345
      - name: customerId
        in: query
        description: Customer ID to search for. Can be combined with supplierId, ownId, and/or prewaveId.
        required: false
        schema:
          type: string
        example: CRM-67890
      - name: ownId
        in: query
        description: Own site ID to search for. Can be combined with supplierId, customerId, and/or prewaveId.
        required: false
        schema:
          type: string
        example: OWN-SITE-01
      - name: prewaveId
        in: query
        description: Prewave ID to search for. Can be combined with supplierId, customerId, and/or ownId.
        required: false
        schema:
          type: integer
          format: int32
        example: 12345
      - name: source
        in: query
        description: Optional source system to filter by. If not provided, matches IDs with any source or without a source. Applies to all provided ID parameters.
        required: false
        schema:
          type: string
        example: SAP
      responses:
        '200':
          description: Screening status returned
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicScreeningStatusResponseV2'
              examples:
                In progress:
                  summary: Screening still running
                  description: In progress
                  value:
                    id: 10042
                    status: New
                    periodInYears: 2
                Finished:
                  summary: Screening completed with findings
                  description: Finished
                  value:
                    id: 10042
                    status: Finished
                    periodInYears: 2
        '400':
          description: Bad Request - No identifier provided, or multiple suppliers match
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDTO'
              examples:
                Missing ID parameters:
                  summary: No identifier query parameters
                  description: Missing ID parameters
                  value:
                    code: invalid_request
                    message: At least one ID parameter (supplierId, customerId, ownId, or prewaveId) must be provided
                    solution: Fix the request
                Multiple suppliers found:
                  summary: Search criteria matches multiple suppliers
                  description: Multiple suppliers found
                  value:
                    code: invalid_request
                    message: 'Multiple suppliers found matching the provided identifiers. Found 2 suppliers with prewaveTargetIds: 102006215, 102006216. Please provide more specific identifiers or use the source parameter.'
                    solution: Fix the request
        '403':
          description: Forbidden - Missing ACCESS_PUBLIC_SCREENING_REQUEST permission
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDTO'
        '404':
          description: Not Found - No supplier matches the identifiers, or no screening request exists for that supplier (for your user)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDTO'
              examples:
                Supplier not found:
                  summary: No supplier matches the identifiers
                  description: Supplier not found
                  value:
                    code: resource_not_found
                    message: No supplier found matching the provided identifiers
                    solution: Verify the identifiers and ensure the supplier exists in your organization
                No screening request:
                  summary: Supplier exists but you have no screening request for it
                  description: No screening request
                  value:
                    code: resource_not_found
                    message: No screening request found for this supplier
                    solution: Submit screening with POST /public/v2/suppliers/sites/screening first
        '500':
          description: 500 Internal Server Error - An unexpected error occurred on the server. The request may or may not have been processed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDTO'
              examples:
                Error - Server Error:
                  summary: Unexpected server error
                  value: "{\n        \"code\": \"internal_error\",\n        \"message\": \"An unexpected error occurred\",\n        \"solution\": \"Please try again later or contact support\"\n    }"
        '429':
          description: '429 Too Many Requests - API rate limit exceeded. The request has been rejected because the rate limit for this endpoint has been exceeded. Default rate limits: GET requests - 100 per 10 seconds, 500 per minute; POST/PUT/PATCH/DELETE requests - 20 per 10 seconds, 100 per minute. For increased access, please contact customer success.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiRateLimitResponse'
              examples:
                Rate limit exceeded example:
                  summary: API rate limit exceeded
                  value: "{\n        \"error\": \"API rate limit exceeded\",\n        \"message\": \"You have reached the maximum allowed requests. Please try again later or upgrade your plan for increased access\",\n        \"requestLimit\": 100,\n        \"requestCount\": 100,\n        \"limits\": [\n            {\n                \"requestLimit\": 100,\n                \"timeInSeconds\": 10\n            },\n            {\n                \"requestLimit\": 500,\n                \"timeInSeconds\": 60\n            }\n        ],\n        \"currentTime\": \"2026-01-15T10:30:00\",\n        \"nextResetAt\": \"2026-01-15T10:30:10\"\n    }"
    post:
      tags:
      - Suppliers - Sites
      summary: Request screening for a supplier
      description: 'Request a history screening for a supplier site. The body has two parts: `identifier` (how to find the site) and `options` (screening parameters).


        **Request body shape (OpenAPI schema: `PublicScreeningRequestPayloadV2`):**

        ```json

        {

        "identifier": {

        "supplierId": null,

        "customerId": null,

        "ownId": null,

        "prewaveId": 102006215,

        "source": null

        },

        "options": {

        "periodInYears": 2

        }

        }

        ```

        - **`identifier`:** At least one of `supplierId`, `customerId`, `ownId`, or `prewaveId` must be non-empty / non-null (same semantics as query params on `find-by-identifier`). Optional `source` applies to the string IDs only.

        - **`options.periodInYears`:** Required. Must be **2**, **5**, or **10** (years).


        **Asynchronous Processing:**

        - Screening is an asynchronous process that may take several hours to complete.

        - The endpoint returns immediately with `202 Accepted` and the created screening request ID(s).

        - Poll status with the **same** supplier identifiers you used in `identifier`, e.g. `GET /public/v2/suppliers/sites/screening?prewaveId=...` (see get screening status).


        **Supplier Identification (`identifier`):**

        - At least one of supplierId, customerId, ownId, or prewaveId must be provided inside `identifier`.

        - **Exactly one supplier must match** (same rules as `DELETE /public/v2/suppliers/sites` and `POST /public/v2/suppliers/sites/identifiers`). If your criteria match zero suppliers, `404` is returned; if more than one, `400` with a multiple-suppliers error.

        - If the matched target is already screened or otherwise ineligible, it may be skipped (reflected by an empty `screeningRequestIds` list in the response).


        **Costs:**

        - Screening requests may incur additional costs or consume quota. Ensure your plan supports screening before calling this endpoint.


        **Required Permission**: `ACCESS_PUBLIC_SCREENING_REQUEST`'
      operationId: requestScreening
      requestBody:
        description: JSON object with required `identifier` and `options` (`options.periodInYears` = 2, 5, or 10).
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PublicScreeningRequestPayloadV2'
            examples:
              By prewaveId:
                summary: Screen 2 years by Prewave target id
                description: By prewaveId
                value:
                  identifier:
                    prewaveId: 102006215
                  options:
                    periodInYears: 2
              By supplierId and source:
                summary: Screen 5 years by external supplier id
                description: By supplierId and source
                value:
                  identifier:
                    supplierId: SAP-12345
                    source: SAP
                  options:
                    periodInYears: 5
        required: true
      responses:
        '202':
          description: Screening request accepted for processing
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicScreeningCreatedResponseV2'
              examples:
                Screening request accepted:
                  summary: Successfully submitted screening request
                  description: Screening request accepted
                  value:
                    screeningRequestIds:
                    - 10042
                    message: Screening request submitted successfully
        '400':
          description: Bad Request - Invalid payload (e.g. missing identifier/options, periodInYears out of range, or multiple suppliers match)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDTO'
              examples:
                Missing identifiers:
                  summary: No identifier field values provided
                  description: Missing identifiers
                  value:
                    code: invalid_request
                    message: At least one identifier (supplierId, customerId, ownId, prewaveId) must be provided
                    solution: Fix the request
                Multiple suppliers found:
                  summary: Search criteria matches multiple suppliers
                  description: Multiple suppliers found
                  value:
                    code: invalid_request
                    message: 'Multiple suppliers found matching the provided identifiers. Found 2 suppliers with prewaveTargetIds: 102006215, 102006216. Please provide more specific identifiers or use the source parameter.'
                    solution: Fix the request
        '403':
          description: Forbidden - Missing ACCESS_PUBLIC_SCREENING_REQUEST permission
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDTO'
        '404':
          description: Not Found - No supplier found matching the provided identifiers
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDTO'
              examples:
                Supplier not found:
                  summary: No supplier matches the identifiers
                  description: Supplier not found
                  value:
                    code: resource_not_found
                    message: No supplier found matching the provided identifiers
                    solution: Verify the identifiers and ensure the supplier exists in your organization
        '500':
          description: 500 Internal Server Error - An unexpected error occurred on the server. The request may or may not have been processed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDTO'
              examples:
                Error - Server Error:
                  summary: Unexpected server error
                  value: "{\n        \"code\": \"internal_error\",\n        \"message\": \"An unexpected error occurred\",\n        \"solution\": \"Please try again later or contact support\"\n    }"
        '429':
          description: '429 Too Many Requests - API rate limit exceeded. The request has been rejected because the rate limit for this endpoint has been exceeded. Default rate limits: GET requests - 100 per 10 seconds, 500 per minute; POST/PUT/PATCH/DELETE requests - 20 per 10 seconds, 100 per minute. For increased access, please contact customer success.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiRateLimitResponse'
              examples:
                Rate limit exceeded example:
                  summary: API rate limit exceeded
                  value: "{\n        \"error\": \"API rate limit exceeded\",\n        \"message\": \"You have reached the maximum allowed requests. Please try again later or upgrade your plan for increased access\",\n        \"requestLimit\": 20,\n        \"requestCount\": 20,\n        \"limits\": [\n            {\n                \"requestLimit\": 20,\n                \"timeInSeconds\": 10\n            },\n            {\n                \"requestLimit\": 100,\n                \"timeInSeconds\": 60\n            }\n        ],\n        \"currentTime\": \"2026-01-15T10:30:00\",\n        \"nextResetAt\": \"2026-01-15T10:30:10\"\n    }"
  /public/v2/suppliers/sites/identifiers:
    post:
      tags:
      - Suppliers - Sites
      summary: Create an identifier for a supplier
      description: 'Create a new identifier (supplier ID, customer ID, or own site ID) for a supplier using flexible search parameters.


        **Related Endpoints:**

        - To find suppliers by identifier, use `GET /public/v2/suppliers/sites/find-by-identifier`.

        - To delete an identifier, use `DELETE /public/v2/suppliers/sites/identifiers`.

        - To create a new supplier, use `POST /public/v2/suppliers/sites`.

        - To get all suppliers, use `GET /public/v2/suppliers/sites`.


        **How It Works:**


        1. **Find the Supplier**: Provide one or more search parameters to identify the supplier:

        - `supplierId` (optional): Search by supplier ID

        - `customerId` (optional): Search by customer ID

        - `ownId` (optional): Search by own site ID

        - `prewaveId` (optional): Search by Prewave ID

        - `source` (optional): Filter by source system (applies to supplierId, customerId, and ownId)


        2. **Create the Identifier**: In the request body, specify:

        - `type`: The type of identifier to create (`supplierId`, `customerId`, or `ownId`)

        - `id`: The identifier value

        - `source`: Optional source system (defaults to `PUBLIC_API` if not provided)


        **Search Parameters:**

        - `supplierId` (optional): Search by supplier ID

        - `customerId` (optional): Search by customer ID

        - `ownId` (optional): Search by own site ID

        - `prewaveId` (optional): Search by Prewave ID

        - `source` (optional): Filter by source system


        **Search Behavior:**

        - Parameters are combined with **OR** logic - suppliers matching ANY of the provided identifiers will be found

        - At least one search parameter must be provided

        - If multiple suppliers match, an error is returned (use `source` parameter to narrow down)

        - If no suppliers match, a 404 error is returned


        **Request Body:**

        The request body specifies what identifier to create:

        - `type`: Must be one of: `supplierId`, `customerId`, `ownId`

        - `id`: The identifier value (e.g., "SUP-12345")

        - `source`: Optional source system (e.g., "SAP", "Coupa")


        **Examples:**


        1. **Create a supplier ID by searching with prewaveId:**

        ```

        POST /public/v2/suppliers/sites/identifiers?prewaveId=102006215

        Body: {"type": "supplierId", "id": "SUP-12345", "source": "SAP"}

        ```


        2. **Create a customer ID by searching with existing supplier ID:**

        ```

        POST /public/v2/suppliers/sites/identifiers?supplierId=SUP-12345&source=SAP

        Body: {"type": "customerId", "id": "CUST-67890", "source": "SAP"}

        ```


        3. **Create an own site ID by searching with customer ID:**

        ```

        POST /public/v2/suppliers/sites/identifiers?customerId=CUST-67890

        Body: {"type": "ownId", "id": "OWN-SITE-01", "source": "SAP"}

        ```


        **Important Notes:**

        - The combination of identifier value and source must be unique within your organization

        - If the identifier already exists for this supplier, a 409 Conflict error is returned

        - If the identifier exists for a different supplier, a 409 Conflict error is returned

        - All identifier changes are automatically audited


        **Required Permission**: `MANAGE_PUBLIC_SUPPLIER_IDS`'
      operationId: createIdentifier
      parameters:
      - name: supplierId
        in: query
        description: Supplier ID to search for. Can be combined with customerId, ownId, and/or prewaveId.
        required: false
        schema:
          type: string
        example: SAP-12345
      - name: customerId
        in: query
        description: Customer ID to search for. Can be combined with supplierId, ownId, and/or prewaveId.
        required: false
        schema:
          type: string
        example: CRM-67890
      - name: ownId
        in: query
        description: Own site ID to search for. Can be combined with supplierId, customerId, and/or prewaveId.
        required: false
        schema:
          type: string
        example: OWN-SITE-01
      - name: prewaveId
        in: query
        description: Prewave ID to search for. Can be combined with supplierId, customerId, and/or ownId.
        required: false
        schema:
          type: integer
          format: int32
        example: 12345
      - name: source
        in: query
        description: Optional source system to filter by. Applies to supplierId, customerId, and ownId (not prewaveId).
        required: false
        schema:
          type: string
        example: SAP
      requestBody:
        description: Identifier creation payload
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PublicIdentifierCreatePayloadV2'
            examples:
              Create Supplier ID:
                summary: Create a supplier ID
                description: Create Supplier ID
                value:
                  type: supplierId
                  id: SUP-12345
                  source: SAP
              Create Customer ID:
                summary: Create a customer ID
                description: Create Customer ID
                value:
                  type: customerId
                  id: CUST-67890
                  source: SAP
              Create Own Site ID:
                summary: Create an own site ID
                description: Create Own Site ID
                value:
                  type: ownId
                  id: OWN-SITE-01
                  source: SAP
        required: true
      responses:
        '201':
          description: Created - Identifier created successfully.
          headers:
            Location:
              description: URI of the supplier that the identifier was added to
              required: true
              style: simple
              schema:
                type: string
                format: uri
              example: https://api.example.com/public/v2/suppliers/sites/101266998
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicIdentifierResponseV2'
              examples:
                Success response:
                  summary: Successful identifier creation
                  description: Success response
                  value:
                    type: supplierId
                    id: SUP-12345
                    source: SAP
                    prewaveTargetId: 101266998
        '400':
          description: '400 Bad Request - Invalid request. This can occur if: (1) no search parameters provided, (2) invalid identifier type, (3) missing required fields in request body, or (4) multiple suppliers found (use source parameter to narrow down).'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDTO'
              examples:
                No search parameters:
                  summary: No search parameters provided
                  description: No search parameters
                  value:
                    code: invalid_request
                    message: At least one ID parameter (supplierId, customerId, ownId, or prewaveId) must be provided
                    solution: Fix the request
                Invalid identifier type:
                  summary: Invalid identifier type
                  description: Invalid identifier type
                  value:
                    code: invalid_request
                    message: 'Invalid identifier type ''invalidType''. Must be one of: ''supplierId'', ''customerId'', ''ownId'''
                    solution: Fix the request
                Multiple suppliers found:
                  summary: Multiple suppliers match the search criteria
                  description: Multiple suppliers found
                  value:
                    code: invalid_request
                    message: 'Multiple suppliers found matching the provided identifiers. Found 2 suppliers with prewaveTargetIds: 102006215, 102006216. Please provide more specific identifiers or use the source parameter.'
                    solution: Fix the request
        '404':
          description: 404 Not Found - No supplier found matching the provided search parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDTO'
              examples:
                Supplier not found:
                  summary: No supplier matches the search criteria
                  description: Supplier not found
                  value:
                    code: resource_not_found
                    message: No supplier found matching the provided identifiers
        '409':
          description: '409 Conflict - The identifier already exists. This occurs when: (1) the identifier already exists for this supplier, or (2) the identifier exists for a different supplier in your organization.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDTO'
              examples:
                Duplicate identifier:
                  summary: Identifier already exists
                  description: Duplicate identifier
                  value:
                    code: duplicate_supplier_id
                    message: Duplicate supplier IDs - id=SUP-12345, others_found=1, source=SAP
                    solution: Please provide unique supplier IDs
        '403':
          description: '403 Forbidden - Authentication or authorization failure. This status code is returned when: (1) the request lacks valid authentication credentials (missing or invalid X-Auth-Token header), or (2) the authenticated user does not have the required permission to access this resource.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessDeniedErrorDTO'
              examples:
                Access denied example:
                  summary: User lacks necessary permissions or authentication
                  value: "{\n        \"loggedIn\": true,\n        \"code\": \"access_denied\",\n        \"message\": \"Access denied: you don't have necessary permissions to access this resource\",\n        \"solution\": \"Contact support for appropriate permissions\"\n    }"
        '500':
          description: 500 Internal Server Error - An unexpected error occurred on the server. The request may or may not have been processed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDTO'
              examples:
                Error - Server Error:
                  summary: Unexpected server error
                  value: "{\n        \"code\": \"internal_error\",\n        \"message\": \"An unexpected error occurred\",\n        \"solution\": \"Please try again later or contact support\"\n    }"
        '429':
          description: '429 Too Many Requests - API rate limit exceeded. The request has been rejected because the rate limit for this endpoint has been exceeded. Default rate limits: GET requests - 100 per 10 seconds, 500 per minute; POST/PUT/PATCH/DELETE requests - 20 per 10 seconds, 100 per minute. For increased access, please contact customer success.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiRateLimitResponse'
              examples:
                Rate limit exceeded example:
                  summary: API rate limit exceeded
                  value: "{\n        \"error\": \"API rate limit exceeded\",\n        \"message\": \"You have reached the maximum allowed requests. Please try again later or upgrade your plan for increased access\",\n        \"requestLimit\": 20,\n        \"requestCount\": 20,\n        \"limits\": [\n            {\n                \"requestLimit\": 20,\n                \"timeInSeconds\": 10\n            },\n            {\n                \"requestLimit\": 100,\n                \"timeInSeconds\": 60\n            }\n        ],\n        \"currentTime\": \"2026-01-15T10:30:00\",\n        \"nextResetAt\": \"2026-01-15T10:30:10\"\n    }"
    delete:
      tags:
      - Suppliers - Sites
      summary: Delete an identifier for a supplier
      description: 'Delete an identifier (supplier ID, customer ID, or own site ID) from all suppliers in your organization.


        **Related Endpoints:**

        - To create an identifier, use `POST /public/v2/suppliers/sites/identifiers`.

        - To find suppliers by identifier, use `GET /public/v2/suppliers/sites/find-by-identifier`.

        - To get all suppliers, use `GET /public/v2/suppliers/sites`.


        **How It Works:**


        This endpoint deletes a specific identifier across all suppliers that have it. You specify:

        - `type`: The type of identifier to delete (`supplierId`, `customerId`, or `ownId`)

        - `id`: The identifier value to delete

        - `source`: Optional source system of the identifier to delete


        **Query Parameters:**

        - `type` (required): Must be one of: `supplierId`, `customerId`, `ownId`

        - `id` (required): The identifier value (e.g., "SUP-12345")

        - `source` (optional): Source system (e.g., "SAP", "Coupa"). If not provided, will search for identifiers without a source or with the default source.


        **Examples:**


        1. **Delete a supplier ID:**

        ```

        DELETE /public/v2/suppliers/sites/identifiers?type=supplierId&id=SUP-12345&source=SAP

        ```


        2. **Delete a customer ID:**

        ```

        DELETE /public/v2/suppliers/sites/identifiers?type=customerId&id=CUST-67890&source=SAP

        ```


        3. **Delete an own site ID:**

        ```

        DELETE /public/v2/suppliers/sites/identifiers?type=ownId&id=OWN-SITE-01&source=SAP

        ```


        **Important Notes:**

        - The identifier must exist for at least one supplier

        - If the identifier doesn''t exist, a 404 Not Found error is returned

        - All identifier changes are automatically audited

        - If `source` is not provided, the system will search for identifiers without a source or with the default source


        **Required Permission**: `MANAGE_PUBLIC_SUPPLIER_IDS`'
      operationId: deleteIdentifier
      parameters:
      - name: type
        in: query
        description: The type of identifier to delete
        required: true
        schema:
          $ref: '#/components/schemas/IdentifierType'
        example: SUPPLIER_ID
      - name: id
        in: query
        description: The identifier value to delete
        required: true
        schema:
          type: string
        example: SUP-12345
      - name: source
        in: query
        description: Optional source system of the identifier to delete. If not provided, will search for identifiers without a source or with the default source.
        required: false
        schema:
          type: string
        example: SAP
      responses:
        '204':
          description: No Content - Identifier deleted successfully.
          content:
            application/json:
              examples:
                Success response:
                  summary: Successful identifier deletion
                  description: The response body is empty (204 No Content). The identifier has been deleted.
                  value: null
        '400':
          description: '400 Bad Request - Invalid request. This can occur if: (1) required parameters are missing, (2) invalid identifier type.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDTO'
              examples:
                Missing required parameters:
                  summary: Required parameters are missing
                  description: Missing required parameters
                  value:
                    code: invalid_request
                    message: Required parameters 'type' and 'id' must be provided
                    solution: Fix the request
                Invalid identifier type:
                  summary: Invalid identifier type
                  description: Invalid identifier type
                  value:
                    code: invalid_request
                    message: 'Invalid identifier type ''invalidType''. Must be one of: ''supplierId'', ''customerId'', ''ownId'''
                    solution: Fix the request
        '404':
          description: 404 Not Found - The identifier doesn't exist in your organization.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDTO'
              examples:
                Identifier not found:
                  summary: Identifier doesn't exist
                  description: Identifier not found
                  value:
                    code: resource_not_found
                    message: Supplier ID 'SUP-12345' with source 'SAP' not found
        '403':
          description: '403 Forbidden - Authentication or authorization failure. This status code is returned when: (1) the request lacks valid authentication credentials (missing or invalid X-Auth-Token header), or (2) the authenticated user does not have the required permission to access this resource.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessDeniedErrorDTO'
              examples:
                Access denied example:
                  summary: User lacks necessary permissions or authentication
                  value: "{\n        \"loggedIn\": true,\n        \"code\": \"access_denied\",\n        \"message\": \"Access denied: you don't have necessary permissions to access this resource\",\n        \"solution\": \"Contact support for appropriate permissions\"\n    }"
        '500':
          description: 500 Internal Server Error - An unexpected error occurred on the server. The request may or may not have been processed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDTO'
              examples:
                Error - Server Error:
                  summary: Unexpected server error
                  value: "{\n        \"code\": \"internal_error\",\n        \"message\": \"An unexpected error occurred\",\n        \"solution\": \"Please try again later or contact support\"\n    }"
        '429':
          description: '429 Too Many Requests - API rate limit exceeded. The request has been rejected because the rate limit for this endpoint has been exceeded. Default rate limits: GET requests - 100 per 10 seconds, 500 per minute; POST/PUT/PATCH/DELETE requests - 20 per 10 seconds, 100 per minute. For increased access, please contact customer success.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiRateLimitResponse'
              examples:
                Rate limit exceeded example:
                  summary: API rate limit exceeded
                  value: "{\n        \"error\": \"API rate limit exceeded\",\n        \"message\": \"You have reached the maximum allowed requests. Please try again later or upgrade your plan for increased access\",\n        \"requestLimit\": 20,\n        \"requestCount\": 20,\n        \"limits\": [\n            {\n                \"requestLimit\": 20,\n                \"timeInSeconds\": 10\n            },\n            {\n                \"requestLimit\": 100,\n                \"timeInSeconds\": 60\n            }\n        ],\n        \"currentTime\": \"2026-01-15T10:30:00\",\n        \"nextResetAt\": \"2026-01-15T10:30:10\"\n    }"
  /public/v2/suppliers/sites/pending:
    get:
      tags:
      - Suppliers - Sites
      summary: Get pending suppliers
      description: 'Retrieve all pending supplier creation requests for the authenticated user.


        This endpoint returns supplier creation requests that are currently pending processing. These are suppliers that have been submitted via `POST /public/v2/suppliers/sites` (create supplier endpoint) but have not yet been processed and made available in the main suppliers list.


        **Status Values:**

        - `New`: The supplier creation request has been submitted and is awaiting initial processing

        - `Pending`: The supplier creation request is being processed and is awaiting completion


        Once processing is complete, suppliers will transition to a resolved state and become available via `GET /public/v2/suppliers/sites` (get all suppliers) or `GET /public/v2/suppliers/sites/find-by-identifier` (find by identifier). Pending suppliers are automatically removed from this endpoint once they are processed.


        **Query Parameters:**

        - `uuid` (optional): Filter results by the UUID of a specific pending supplier. When provided, only the pending supplier with the matching UUID will be returned. This is useful for tracking a specific supplier creation request returned from `POST /public/v2/suppliers/sites`.


        **Response:**

        Returns an array of pending supplier objects. Each entry includes the UUID (returned when creating a supplier), supplier ID information, supplier name, location details (countryCode, city, address), and status information. See the `PublicPendingSupplierV2DTO` schema for complete field definitions.


        **Pagination:**

        This endpoint returns all pending suppliers for the authenticated user without pagination.


        **Required Permission**: `ACCESS_PUBLIC_SUPPLIERS`'
      operationId: getPendingSuppliers
      parameters:
      - name: uuid
        in: query
        description: Optional UUID to filter pending suppliers. When provided, only the pending supplier with the matching UUID will be returned.
        required: false
        schema:
          type: string
          format: uuid
        example: 550e8400-e29b-41d4-a716-446655440000
      responses:
        '200':
          description: Successfully retrieved pending suppliers
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PublicPendingSupplierV2DTO'
              examples:
                Pending Supplier - Multiple Results:
                  summary: Sample response with multiple pending suppliers
                  description: Pending Supplier - Multiple Results
                  value:
                  - uuid: 550e8400-e29b-41d4-a716-446655440000
                    supplierId:
                      id: SUP-12345
                      source: SAP
                    name: Acme Corporation
                    countryCode: AT
                    city: Vienna
                    address: 123 Main St, Vienna, Austria
                    status: Pending
                    reason: null
                  - uuid: 660e8400-e29b-41d4-a716-446655440001
                    supplierId:
                      id: COUPA-67890
                      source: Coupa
                    name: Beta Industries Ltd
                    countryCode: DE
                    city: Berlin
                    address: 456 Business Ave, Berlin, Germany
                    status: New
                    reason: null
                  - uuid: 770e8400-e29b-41d4-a716-446655440002
                    supplierId:
                      id: DNB-98765
                      source: DNB
                    name: Gamma Manufacturing Inc
                    countryCode: US
                    city: New York
                    address: 789 Industrial Blvd, New York, NY 10001
                    status: Pending
                    reason: Awaiting data enrichment
                Pending Supplier - Empty List:
                  summary: No pending suppliers
                  description: When there are no pending suppliers, an empty array is returned.
                  value: []
                Pending Supplier - Single Result:
                  summary: Response with one pending supplier
                  description: Pending Supplier - Single Result
                  value:
                  - uuid: 550e8400-e29b-41d4-a716-446655440000
                    supplierId:
                      id: SUP-12345
                      source: PUBLIC_API
                    name: Acme Corporation
                    countryCode: AT
                    city: Vienna
                    address: 123 Main St, Vienna, Austria
                    status: Pending
                    reason: null
        '403':
          description: '403 Forbidden - Authentication or authorization failure. This status code is returned when: (1) the request lacks valid authentication credentials (missing or invalid X-Auth-Token header), or (2) the authenticated user does not have the required permission to access this resource.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessDeniedErrorDTO'
              examples:
                Access denied example:
                  summary: User lacks necessary permissions or authentication
                  value: "{\n        \"loggedIn\": true,\n        \"code\": \"access_denied\",\n        \"message\": \"Access denied: you don't have necessary permissions to access this resource\",\n        \"solution\": \"Contact support for appropriate permissions\"\n    }"
        '500':
          description: 500 Internal Server Error - An unexpected error occurred on the server. The request may or may not have been processed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDTO'
              examples:
                Error - Server Error:
                  summary: Unexpected server error
                  value: "{\n        \"code\": \"internal_error\",\n        \"message\": \"An unexpected error occurred\",\n        \"solution\": \"Please try again later or contact support\"\n    }"
        '429':
          description: '429 Too Many Requests - API rate limit exceeded. The request has been rejected because the rate limit for this endpoint has been exceeded. Default rate limits: GET requests - 100 per 10 seconds, 500 per minute; POST/PUT/PATCH/DELETE requests - 20 per 10 seconds, 100 per minute. For increased access, please contact customer success.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiRateLimitResponse'
              examples:
                Rate limit exceeded example:
                  summary: API rate limit exceeded
                  value: "{\n        \"error\": \"API rate limit exceeded\",\n        \"message\": \"You have reached the maximum allowed requests. Please try again later or upgrade your plan for increased access\",\n        \"requestLimit\": 100,\n        \"requestCount\": 100,\n        \"limits\": [\n            {\n                \"requestLimit\": 100,\n                \"timeInSeconds\": 10\n            },\n            {\n                \"requestLimit\": 500,\n                \"timeInSeconds\": 60\n            }\n        ],\n        \"currentTime\": \"2026-01-15T10:30:00\",\n        \"nextResetAt\": \"2026-01-15T10:30:10\"\n    }"
  /public/v2/suppliers/sites/find-by-identifier:
    get:
      tags:
      - Suppliers - Sites
      summary: Find suppliers by ID
      description: 'Find suppliers/sites by their identifiers (supplier ID, customer ID, own site ID, or Prewave ID) with optional source.


        This unified endpoint allows you to search for suppliers using any type of identifier from external systems (e.g., SAP, Coupa, DNB). You can search by one or more ID types simultaneously.


        **Related Endpoints:**

        - To get all suppliers with pagination, use `GET /public/v2/suppliers/sites`.

        - To create a new supplier, use `POST /public/v2/suppliers/sites`.

        - To create an identifier for a supplier, use `POST /public/v2/suppliers/sites/identifiers`.

        - To delete an identifier, use `DELETE /public/v2/suppliers/sites/identifiers`.

        - To deactivate a supplier, use `DELETE /public/v2/suppliers/sites`.


        **Search Parameters:**

        - `supplierId` (optional): Search by supplier ID

        - `customerId` (optional): Search by customer ID

        - `ownId` (optional): Search by own site ID

        - `prewaveId` (optional): Search by Prewave ID

        - `source` (optional): Filter by source system (e.g., "SAP", "Coupa", "PUBLIC_API")


        **Search Behavior:**

        - **Multiple ID types**: If you provide multiple ID parameters (e.g., both `supplierId` and `customerId`), the endpoint returns suppliers that match **ANY** of the provided IDs (OR logic).

        - **Source filtering**: If `source` is provided, only IDs with that exact source are matched. If `source` is not provided, IDs with any source or without a source (legacy IDs) are matched. Note: `source` does not apply to `prewaveId` searches.

        - **Multiple results**: The same ID can be associated with multiple suppliers/sites in your organization, so the endpoint returns a list.

        - **Empty results**: Returns an empty list if no suppliers match the search criteria.


        **Response Format:**

        Returns a list of `PublicSupplierDetailV2DTO` objects with complete supplier information including:

        - Basic identification (Prewave Target ID, name, LinkedIn ID)

        - Location details (address, city, country code, postal code)

        - Company information (website, description, logo, year founded, size)

        - All supplier IDs, customer IDs, and own site IDs

        - Screening status and monitoring dates

        - Site-group reference

        - Connection contacts count


        **Use Cases:**


        1. **Find by single ID type:**

        ```

        GET /suppliers/sites/find-by-identifier?supplierId=SAP-12345&source=SAP

        ```


        2. **Find by multiple ID types (returns suppliers matching ANY):**

        ```

        GET /suppliers/sites/find-by-identifier?supplierId=SAP-12345&customerId=CRM-67890&source=SAP

        ```


        3. **Find without source filter (matches any source):**

        ```

        GET /suppliers/sites/find-by-identifier?supplierId=SUP-12345

        ```


        4. **Find by Prewave ID:**

        ```

        GET /suppliers/sites/find-by-identifier?prewaveId=12345

        ```


        **Important Notes:**

        - At least one ID parameter (supplierId, customerId, ownId, or prewaveId) must be provided

        - The endpoint returns full supplier details (PublicSupplierDetailV2DTO), not just basic info

        - All IDs for each supplier are included in the response (not just the matching ones)

        - Results are ordered alphabetically by name, then by ID for deterministic ordering


        **Required Permission**: `ACCESS_PUBLIC_SUPPLIERS`'
      operationId: findSuppliers
      parameters:
      - name: supplierId
        in: query
        description: Supplier ID to search for. Can be combined with customerId, ownId, and/or prewaveId.
        required: false
        schema:
          type: string
        example: SAP-12345
      - name: customerId
        in: query
        description: Customer ID to search for. Can be combined with supplierId, ownId, and/or prewaveId.
        required: false
        schema:
          type: string
        example: CRM-67890
      - name: ownId
        in: query
        description: Own site ID to search for. Can be combined with supplierId, customerId, and/or prewaveId.
        required: false
        schema:
          type: string
        example: OWN-SITE-01
      - name: prewaveId
        in: query
        description: Prewave ID to search for. Can be combined with supplierId, customerId, and/or ownId.
        required: false
        schema:
          type: integer
          format: int32
        example: 12345
      - name: source
        in: query
        description: Optional source system to filter by. If not provided, matches IDs with any source or without a source. Applies to all provided ID parameters.
        required: false
        schema:
          type: string
        example: SAP
      responses:
        '200':
          description: Successfully found suppliers. Returns empty list if no matches found.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PublicSupplierDetailV2DTO'
              examples:
                Single Supplier Found:
                  summary: Response with one supplier
                  description: Single Supplier Found
                  value:
                  - prewaveTargetId: 102006215
                    name: Acme Manufacturing
                    sname: Vienna Industrial District
                    linkedInId: acme-manufacturing
                    address: 123 Main St, Vienna, Austria
                    city: Vienna
                    countryCode: AT
                    postalCode: '1010'
                    website: https://www.acme-corp.com
                    description: Leading manufacturer of electronic components
                    logo: /images/company-img/acme-logo.jpg
                    yearFounded: 1999
                    size: Medium
                    supplierIds:
                    - id: SAP-12345
                      source: SAP
                    - id: COUPA-67890
                      source: Coupa
                    customerIds:
                    - id: CRM-ABC-001
                      source: Salesforce
                    ownIds: []
                    screened: true
                    screenedStatus: Screened
                    monitoredSince: '2023-01-01T12:00:00Z'
                    earliestAlert: '2023-02-15T10:30:00Z'
                    siteGroup:
                      id: 500001
                      name: Acme Corporation Group
                    connectionContactsCount: 5
                Multiple Suppliers Found:
                  summary: Response with multiple suppliers matching different IDs
                  description: Multiple Suppliers Found
                  value:
                  - prewaveTargetId: 102006215
                    name: Acme Manufacturing
                    address: 123 Main St, Vienna, Austria
                    city: Vienna
                    countryCode: AT
                    supplierIds:
                    - id: SAP-12345
                      source: SAP
                    customerIds: []
                    ownIds: []
                    screened: true
                    connectionContactsCount: 3
                  - prewaveTargetId: 102006216
                    name: Beta Industries
                    address: 456 Business Ave, Berlin, Germany
                    city: Berlin
                    countryCode: DE
                    supplierIds: []
                    customerIds:
                    - id: CRM-67890
                      source: Salesforce
                    ownIds: []
                    screened: false
                    connectionContactsCount: 1
                No Suppliers Found:
                  summary: Empty list when no suppliers match
                  description: No Suppliers Found
                  value: []
        '400':
          description: 400 Bad Request - Invalid request. At least one ID parameter must be provided.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDTO'
              examples:
                Missing ID parameters:
                  summary: No ID parameters provided
                  description: Missing ID parameters
                  value:
                    code: invalid_request
                    message: At least one ID parameter (supplierId, customerId, or ownId) must be provided
                    solution: Fix the request
        '403':
          description: '403 Forbidden - Authentication or authorization failure. This status code is returned when: (1) the request lacks valid authentication credentials (missing or invalid X-Auth-Token header), or (2) the authenticated user does not have the required permission to access this resource.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessDeniedErrorDTO'
              examples:
                Access denied example:
                  summary: User lacks necessary permissions or authentication
                  value: "{\n        \"loggedIn\": true,\n        \"code\": \"access_denied\",\n        \"message\": \"Access denied: you don't have necessary permissions to access this resource\",\n        \"solution\": \"Contact support for appropriate permissions\"\n    }"
        '500':
          description: 500 Internal Server Error - An unexpected error occurred on the server. The request may or may not have been processed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDTO'
              examples:
                Error - Server Error:
                  summary: Unexpected server error
                  value: "{\n        \"code\": \"internal_error\",\n        \"message\": \"An unexpected error occurred\",\n        \"solution\": \"Please try again later or contact support\"\n    }"
        '429':
          description: '429 Too Many Requests - API rate limit exceeded. The request has been rejected because the rate limit for this endpoint has been exceeded. Default rate limits: GET requests - 100 per 10 seconds, 500 per minute; POST/PUT/PATCH/DELETE requests - 20 per 10 seconds, 100 per minute. For increased access, please contact customer success.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiRateLimitResponse'
              examples:
                Rate limit exceeded example:
                  summary: API rate limit exceeded
                  value: "{\n        \"error\": \"API rate limit exceeded\",\n        \"message\": \"You have reached the maximum allowed requests. Please try again later or upgrade your plan for increased access\",\n        \"requestLimit\": 100,\n        \"requestCount\": 100,\n        \"limits\": [\n            {\n                \"requestLimit\": 100,\n                \"timeInSeconds\": 10\n            },\n            {\n                \"requestLimit\": 500,\n                \"timeInSeconds\": 60\n            }\n        ],\n        \"currentTime\": \"2026-01-15T10:30:00\",\n        \"nextResetAt\": \"2026-01-15T10:30:10\"\n    }"
components:
  schemas:
    PublicValidationRequestResponseV2:
      required:
      - message
      - requestId
[...]
