openapi: 3.0.1
info:
  title: Public Prewave Actions Collections - Network API
  description: 'Documentation of the Public Prewave API.


    ## What''s New


    ### Q1 2026 — Supplier Management, User Management, Actions and Feed


    This quarter introduces major v2 upgrades, expanded administrative capabilities, and the new Actions API.


    - **Core Releases:** Deployed Supplier Management API v2 and Feed API v2, alongside the all-new Actions API.

    - **Enhanced Functionality:** Added robust identifier management, granular user and role configuration, and endpoints for managing supplier connection contacts.

    - ⚠️ **Required Migration:** Legacy v1 endpoints for Suppliers and Sites Upsert have been deprecated. Developers must migrate existing integrations to v2 by **May 31, 2027** (original deadline was December 31, 2026).


    📖 **[Read the Q1 2026 changelog](https://docs.prewave.com/en/articles/699847-q1-2026-public-api-updates)**


    ### Q2 2026 — Supplier Screening and External Scores


    We have expanded our v2 documentation to include comprehensive integration guidance for supplier screening and validation workflows and identifier-based external score ingestion.


    - **New Capabilities:** Added support for optional post-onboarding screening and validation during the create event.

    - **External Scores:** Batch POST for multiple supplier sites, per-site history GET, and event-type discovery GET (`/public/v1/scores/externals` and `/public/v1/scores/externals/event-types`). Documented in OpenAPI when enabled for your organization.

    - **Developer Resources:** Published new integration examples and detailed identifier validation rules to streamline your implementation process.


    📖 **[Read the Q2 2026 changelog](https://docs.prewave.com/en/articles/699849-q2-2026-public-api-updates)**


    ### Q3 2026 — Scores Webhooks


    To support event-driven architectures and eliminate the need for continuous API polling, we are introducing webhooks for score state changes later this year.


    - **Event-Driven Architecture:** Register webhook URLs to receive real-time HTTP payloads whenever a supplier''s score updates, so you can drive immediate mitigation responses without polling the API.

    - **Availability:** Comprehensive OpenAPI specifications and payload schemas will be published closer to the release date.

    - **Note:** Schemas and behaviors are subject to refinement prior to general availability.


    Documentation updates will be provided prior to release.


    ### Q4 2026 — Feed V2


    We are enhancing Feed API v2 with additional capabilities on top of the existing `GET /public/v2/feed` contract (see Q1 changelog and OpenAPI for the current Feed v2 integration).


    - **Availability:** Details will be announced before release.

    - **Note:** Schemas and behaviors are subject to refinement prior to the official release.


    Documentation updates will be provided prior to release.


    ---


    ## Authentication

    Prewave’s public api uses *API tokens* to authenticate against our RESTful service. We’ll provide you an *API-token* that each

    endpoint needs present as a http header.


    To pass the token in a request, simply add it as a header-parameter with

    * key = X-Auth-Token

    * value = api-token


    See an example in curl below where the api-token would be 12345678-90ab-cdef-1234-567890abcdef

    ```

    curl --request GET \

    --url https://REPLACE_WITH_SERVER/public/v1/target/prewave/3975230/alerts \

    --header ''X-Auth-Token: 12345678-90ab-cdef-1234-567890abcdef''

    ```


    ---


    ## Manage API Tokens


    Before you can obtain your API token, you''ll need the credentials for your API user. These credentials will be

    sent to you as part of the company-onboarding. If you haven''t got your credentials yet, please reach out to

    your sales-contact at Prewave or contact us via info@prewave.ai


    To generate an API Token, navigate to https://www.prewave.com/management/api and log in with the

    credentials of your API user. Then click at the button "Create New" and use your new api-token authentication as a header parameter.


    You can create multiple API tokens and also remove existing API tokens on https://www.prewave.com/management/api.

    API tokens do not expire, therefore you have to maintain the list of API tokens you are using manually.


    ---


    ## Default Rate Limits


    We have two types of default rate limits. For increased access, please contact customer success.


    | Type                              | Requests per 10 seconds | Requests per Minute |

    |-----------------------------------|-------------------------|---------------------|

    | GET requests                      | 100                     | 500                 |

    | POST, PUT, PATCH, DELETE requests | 20                      | 100                 |


    '
  version: '1.0'
servers:
- url: https://api.prewave.com
  description: Production Environment
security:
- Token authentication: []
tags:
- name: Collections - Network
  description: Allows you to retrieve network information. Like tree-graph and commodity-graph.
paths:
  /public/v2/network/{collectionId}/tree-graph:
    get:
      tags:
      - Collections - Network
      summary: Get tree graph for a collection
      description: "\n⚠️ **DEPRECATED** - This endpoint is deprecated and will be removed at the end of December 2026.\n\n**Note**: Responses include a `Sunset` HTTP header (RFC 8594) indicating the removal date.\n\n---\n\n## Migration Required\n\nThis endpoint has been replaced by the v1 Collections Tier-N API. Please migrate to the new endpoint:\n\n### Replacement Endpoint\n\n| Old Endpoint | New Endpoint | Purpose |\n|--------------|--------------|---------|\n| `GET /public/v2/network/{collectionId}/tree-graph` | `GET /public/v1/collections/{collectionId}/tier-n/data` | Get collection-based supplier graphs |\n\n---\n\n## Why Migrate?\n\nThe v1 Collections Tier-N API provides significant improvements:\n\n### 1. Enhanced Functionality\n- **v2**: Basic tree graph with limited configuration\n- **v1 Tier-N**: Advanced filtering through collection settings\n- **v1 Tier-N**: Configurable data sources (customs, media, predictions)\n- **v1 Tier-N**: Better control over scope (private, shared, public targets)\n\n### 2. Better Performance\n- **v1 Tier-N**: Optimized queries for large collections\n- **v1 Tier-N**: More efficient data retrieval\n\n### 3. Improved Documentation\n- Comprehensive examples for all endpoints\n- Detailed error response documentation\n- Clear parameter descriptions\n\n---\n\n## Quick Migration Guide\n\n### Step 1: Update Endpoint URL\n\n**Before:**\n```http\nGET /public/v2/network/123/tree-graph?tierLevel=3\n```\n\n**After:**\n```http\nGET /public/v1/collections/123/tier-n/data?tierLevel=3\n```\n\n### Step 2: Update Response Parsing\n\n**Before:** Parse `PublicTreeTargetV2` structure\n\n**After:** Parse `PublicTierNCollectionGraphEntry` structure (different format)\n\n---\n\n**Required Permissions**: `ACCESS_PUBLIC_TREE_GRAPH` and `READ` on the collection\n\n**Performance Impact**: High\n\nFor detailed API reference and examples, see the v1 Collections Tier-N API documentation.\n        "
      operationId: treeGraph
      parameters:
      - name: collectionId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: commodityIds
        in: query
        required: false
        schema:
          type: array
          items:
            type: integer
            format: int32
      - name: commodityTreeId
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: fetchParents
        in: query
        required: false
        schema:
          type: boolean
          default: true
      - name: tierLevel
        in: query
        required: false
        schema:
          maximum: 4
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PublicTreeTargetV2'
        '403':
          description: '403 Forbidden - Authentication or authorization failure. This status code is returned when: (1) the request lacks valid authentication credentials (missing or invalid X-Auth-Token header), or (2) the authenticated user does not have the required permission to access this resource.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessDeniedErrorDTO'
              examples:
                Access denied example:
                  summary: User lacks necessary permissions or authentication
                  value: "{\n        \"loggedIn\": true,\n        \"code\": \"access_denied\",\n        \"message\": \"Access denied: you don't have necessary permissions to access this resource\",\n        \"solution\": \"Contact support for appropriate permissions\"\n    }"
        '500':
          description: 500 Internal Server Error - An unexpected error occurred on the server. The request may or may not have been processed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDTO'
              examples:
                Error - Server Error:
                  summary: Unexpected server error
                  value: "{\n        \"code\": \"internal_error\",\n        \"message\": \"An unexpected error occurred\",\n        \"solution\": \"Please try again later or contact support\"\n    }"
        '429':
          description: '429 Too Many Requests - API rate limit exceeded. The request has been rejected because the rate limit for this endpoint has been exceeded. Default rate limits: GET requests - 100 per 10 seconds, 500 per minute; POST/PUT/PATCH/DELETE requests - 20 per 10 seconds, 100 per minute. For increased access, please contact customer success.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiRateLimitResponse'
              examples:
                Rate limit exceeded example:
                  summary: API rate limit exceeded
                  value: "{\n        \"error\": \"API rate limit exceeded\",\n        \"message\": \"You have reached the maximum allowed requests. Please try again later or upgrade your plan for increased access\",\n        \"requestLimit\": 100,\n        \"requestCount\": 100,\n        \"limits\": [\n            {\n                \"requestLimit\": 100,\n                \"timeInSeconds\": 10\n            },\n            {\n                \"requestLimit\": 500,\n                \"timeInSeconds\": 60\n            }\n        ],\n        \"currentTime\": \"2026-01-15T10:30:00\",\n        \"nextResetAt\": \"2026-01-15T10:30:10\"\n    }"
      deprecated: true
  /public/v2/network/{collectionId}/targets:
    get:
      tags:
      - Collections - Network
      summary: Get targets for a collection
      description: "\n⚠️ **DEPRECATED** - This endpoint is deprecated and will be removed at the end of December 2026.\n\n**Note**: Responses include a `Sunset` HTTP header (RFC 8594) indicating the removal date.\n\n---\n\n## Migration Required\n\nThis endpoint has been replaced by the v1 Collections API. Please migrate to the new endpoint:\n\n### Replacement Endpoint\n\n| Old Endpoint | New Endpoint | Purpose |\n|--------------|--------------|---------|\n| `GET /public/v2/network/{collectionId}/targets` | `GET /public/v1/collections/{collectionId}/targets` | Get targets in a collection |\n\n---\n\n## Why Migrate?\n\nThe v1 Collections API provides better consistency and alignment with the rest of the Collections API:\n\n### 1. Consistent API Structure\n- **v2**: Uses `/public/v2/network/{collectionId}/targets` which mixes network and collection concepts\n- **v1**: Uses `/public/v1/collections/{collectionId}/targets` which is more intuitive and consistent with other collection endpoints\n\n### 2. Better API Organization\n- The v1 endpoint is part of the dedicated Collections API (`PublicTargetCollectionController`)\n- Better aligns with RESTful principles where collection-related operations are grouped together\n- More discoverable alongside other collection management endpoints\n\n### 3. Enhanced Functionality\n- The v1 Collections API provides additional endpoints for managing targets in collections:\n- `POST /public/v1/collections/{collectionId}/targets` - Add targets to a collection\n- `DELETE /public/v1/collections/{collectionId}/targets/{targetId}` - Remove a target from a collection\n- `GET /public/v1/collections/{collectionId}/targets` - List targets in a collection (replacement)\n\n### 4. Improved Documentation\n- Comprehensive examples for all endpoints\n- Detailed error response documentation\n- Clear parameter descriptions\n- Better Swagger/OpenAPI documentation\n\n---\n\n## Quick Migration Guide\n\n### Step 1: Update Endpoint URL\n**Before:**\n```http\nGET /public/v2/network/{collectionId}/targets?page=0&size=20\n```\n\n**After:**\n```http\nGET /public/v1/collections/{collectionId}/targets?page=0&size=20\n```\n\n### Step 2: Verify Response Structure\nThe response structure is **identical** - no changes needed to your response parsing logic:\n\n**Response Format (unchanged):**\n```json\n{\n\"content\": [\n{\n\"id\": 10422185,\n\"name\": \"Inter Cars SA\"\n},\n{\n\"id\": 101641243,\n\"name\": \"Asmet Sp. z o.o.\"\n}\n],\n\"size\": 10,\n\"number\": 0,\n\"totalElements\": 57,\n\"totalPages\": 6,\n\"numberOfElements\": 2\n}\n```\n\n### Step 3: Update Error Handling\nError responses remain the same:\n- `401` - Authentication required\n- `403` - Insufficient permissions to read this collection\n- `404` - Collection not found or not accessible to the user\n\n---\n\n## Breaking Changes\n\n**None** - This is a straightforward URL change with identical functionality:\n\n1. **URL Path Only**: Only the URL path changes from `/public/v2/network/{collectionId}/targets` to `/public/v1/collections/{collectionId}/targets`\n2. **Response Structure**: Identical - returns `Page<PublicTargetRef>` with `id` and `name` fields\n3. **Query Parameters**: Identical - supports standard Spring pagination parameters (`page`, `size`, `sort`)\n4. **Permissions**: Identical - requires `ACCESS_PUBLIC_TARGET` authority and `READ` permission on the collection\n5. **Performance**: Identical - uses the same underlying service method\n\n---\n\n## Migration Example\n\n### Before (v2)\n```http\nGET /public/v2/network/123/targets?page=0&size=20\n```\n\n### After (v1)\n```http\nGET /public/v1/collections/123/targets?page=0&size=20\n```\n\nThe response will be identical in both cases.\n\n---\n\n**Required Permissions**: `ACCESS_PUBLIC_TARGET` and `READ` on the collection\n\n**Performance Impact**: Low\n\nFor detailed API reference, see the v1 Collections API documentation.\n        "
      operationId: targets
      parameters:
      - name: collectionId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: pageable
        in: query
        required: true
        schema:
          $ref: '#/components/schemas/Pageable'
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: object
                properties:
                  content:
                    type: array
                    items:
                      $ref: '#/components/schemas/PublicTargetRef'
                  size:
                    type: integer
                    format: int32
                  number:
                    type: integer
                    format: int32
                  totalElements:
                    type: integer
                    format: int32
                  totalPages:
                    type: integer
                    format: int32
                  numberOfElements:
                    type: integer
                    format: int32
                  first:
                    type: boolean
                  last:
                    type: boolean
                  empty:
                    type: boolean
        '403':
          description: '403 Forbidden - Authentication or authorization failure. This status code is returned when: (1) the request lacks valid authentication credentials (missing or invalid X-Auth-Token header), or (2) the authenticated user does not have the required permission to access this resource.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessDeniedErrorDTO'
              examples:
                Access denied example:
                  summary: User lacks necessary permissions or authentication
                  value: "{\n        \"loggedIn\": true,\n        \"code\": \"access_denied\",\n        \"message\": \"Access denied: you don't have necessary permissions to access this resource\",\n        \"solution\": \"Contact support for appropriate permissions\"\n    }"
        '500':
          description: 500 Internal Server Error - An unexpected error occurred on the server. The request may or may not have been processed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDTO'
              examples:
                Error - Server Error:
                  summary: Unexpected server error
                  value: "{\n        \"code\": \"internal_error\",\n        \"message\": \"An unexpected error occurred\",\n        \"solution\": \"Please try again later or contact support\"\n    }"
        '429':
          description: '429 Too Many Requests - API rate limit exceeded. The request has been rejected because the rate limit for this endpoint has been exceeded. Default rate limits: GET requests - 100 per 10 seconds, 500 per minute; POST/PUT/PATCH/DELETE requests - 20 per 10 seconds, 100 per minute. For increased access, please contact customer success.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiRateLimitResponse'
              examples:
                Rate limit exceeded example:
                  summary: API rate limit exceeded
                  value: "{\n        \"error\": \"API rate limit exceeded\",\n        \"message\": \"You have reached the maximum allowed requests. Please try again later or upgrade your plan for increased access\",\n        \"requestLimit\": 100,\n        \"requestCount\": 100,\n        \"limits\": [\n            {\n                \"requestLimit\": 100,\n                \"timeInSeconds\": 10\n            },\n            {\n                \"requestLimit\": 500,\n                \"timeInSeconds\": 60\n            }\n        ],\n        \"currentTime\": \"2026-01-15T10:30:00\",\n        \"nextResetAt\": \"2026-01-15T10:30:10\"\n    }"
      deprecated: true
  /public/v2/network/{collectionId}/commodity-graph:
    get:
      tags:
      - Collections - Network
      summary: Get commodity graph for a collection
      description: "\nRetrieve a commodity-based network graph for a collection.\n\nThis endpoint returns a graph structure showing how targets in the collection are connected\nthrough commodity relationships. The graph represents supply chain relationships organized\nby commodity/product categories.\n\n**Use Cases**:\n- Analyze commodity-based supply chain networks\n- Visualize relationships organized by product categories\n- Identify commodity-specific supplier connections\n\n**Response Format**:\nReturns an array of tree nodes, where each node contains:\n- Target information\n- Commodity relationships\n- Nested supplier structures organized by commodities\n\n**Required Permissions**: `ACCESS_PUBLIC_COMMODITY_GRAPH` and `READ` on the collection\n\n**Performance Impact**: High\n        "
      operationId: commodityGraph
      parameters:
      - name: collectionId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Successfully retrieved commodity graph
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PublicTreeTargetV2'
        '404':
          description: 404 Not Found - Collection not found or not accessible
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDTO'
        '403':
          description: '403 Forbidden - Authentication or authorization failure. This status code is returned when: (1) the request lacks valid authentication credentials (missing or invalid X-Auth-Token header), or (2) the authenticated user does not have the required permission to access this resource.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessDeniedErrorDTO'
              examples:
                Access denied example:
                  summary: User lacks necessary permissions or authentication
                  value: "{\n        \"loggedIn\": true,\n        \"code\": \"access_denied\",\n        \"message\": \"Access denied: you don't have necessary permissions to access this resource\",\n        \"solution\": \"Contact support for appropriate permissions\"\n    }"
        '500':
          description: 500 Internal Server Error - An unexpected error occurred on the server. The request may or may not have been processed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDTO'
              examples:
                Error - Server Error:
                  summary: Unexpected server error
                  value: "{\n        \"code\": \"internal_error\",\n        \"message\": \"An unexpected error occurred\",\n        \"solution\": \"Please try again later or contact support\"\n    }"
        '429':
          description: '429 Too Many Requests - API rate limit exceeded. The request has been rejected because the rate limit for this endpoint has been exceeded. Default rate limits: GET requests - 100 per 10 seconds, 500 per minute; POST/PUT/PATCH/DELETE requests - 20 per 10 seconds, 100 per minute. For increased access, please contact customer success.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiRateLimitResponse'
              examples:
                Rate limit exceeded example:
                  summary: API rate limit exceeded
                  value: "{\n        \"error\": \"API rate limit exceeded\",\n        \"message\": \"You have reached the maximum allowed requests. Please try again later or upgrade your plan for increased access\",\n        \"requestLimit\": 100,\n        \"requestCount\": 100,\n        \"limits\": [\n            {\n                \"requestLimit\": 100,\n                \"timeInSeconds\": 10\n            },\n            {\n                \"requestLimit\": 500,\n                \"timeInSeconds\": 60\n            }\n        ],\n        \"currentTime\": \"2026-01-15T10:30:00\",\n        \"nextResetAt\": \"2026-01-15T10:30:10\"\n    }"
  /public/v2/network/tree/{commodityTreeId}/commodity-graph:
    get:
      tags:
      - Collections - Network
      summary: Get commodity graph for a commodity tree
      description: "\nRetrieve a commodity-based network graph using a commodity tree ID.\n\nThis endpoint is similar to the collection-based commodity graph endpoint but uses a commodity\ntree ID to identify the collection. The commodity tree represents a hierarchical organization\nof commodity categories.\n\n**Use Cases**:\n- Analyze commodity-based networks using commodity tree identifiers\n- Visualize relationships for specific commodity hierarchies\n- Integrate with systems that use commodity tree IDs\n\n**Response Format**:\nReturns an array of tree nodes organized by commodity relationships.\n\n**Required Permission**: `ACCESS_PUBLIC_COMMODITY_GRAPH`\n\n**Performance Impact**: High\n        "
      operationId: treeCommodityGraph
      parameters:
      - name: commodityTreeId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Successfully retrieved commodity graph
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PublicTreeTargetV2'
        '404':
          description: 404 Not Found - Commodity tree not found or no associated collection found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDTO'
        '403':
          description: '403 Forbidden - Authentication or authorization failure. This status code is returned when: (1) the request lacks valid authentication credentials (missing or invalid X-Auth-Token header), or (2) the authenticated user does not have the required permission to access this resource.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessDeniedErrorDTO'
              examples:
                Access denied example:
                  summary: User lacks necessary permissions or authentication
                  value: "{\n        \"loggedIn\": true,\n        \"code\": \"access_denied\",\n        \"message\": \"Access denied: you don't have necessary permissions to access this resource\",\n        \"solution\": \"Contact support for appropriate permissions\"\n    }"
        '500':
          description: 500 Internal Server Error - An unexpected error occurred on the server. The request may or may not have been processed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDTO'
              examples:
                Error - Server Error:
                  summary: Unexpected server error
                  value: "{\n        \"code\": \"internal_error\",\n        \"message\": \"An unexpected error occurred\",\n        \"solution\": \"Please try again later or contact support\"\n    }"
        '429':
          description: '429 Too Many Requests - API rate limit exceeded. The request has been rejected because the rate limit for this endpoint has been exceeded. Default rate limits: GET requests - 100 per 10 seconds, 500 per minute; POST/PUT/PATCH/DELETE requests - 20 per 10 seconds, 100 per minute. For increased access, please contact customer success.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiRateLimitResponse'
              examples:
                Rate limit exceeded example:
                  summary: API rate limit exceeded
                  value: "{\n        \"error\": \"API rate limit exceeded\",\n        \"message\": \"You have reached the maximum allowed requests. Please try again later or upgrade your plan for increased access\",\n        \"requestLimit\": 100,\n        \"requestCount\": 100,\n        \"limits\": [\n            {\n                \"requestLimit\": 100,\n                \"timeInSeconds\": 10\n            },\n            {\n                \"requestLimit\": 500,\n                \"timeInSeconds\": 60\n            }\n        ],\n        \"currentTime\": \"2026-01-15T10:30:00\",\n        \"nextResetAt\": \"2026-01-15T10:30:10\"\n    }"
  /public/v1/network/{collectionId}/tree-graph:
    get:
      tags:
      - Collections - Network
      summary: Get tree graph for a collection
      description: "\n⚠️ **DEPRECATED** - This endpoint is deprecated and will be removed at the end of December 2026.\n\n**Note**: Responses include a `Sunset` HTTP header (RFC 8594) indicating the removal date.\n\n---\n\nRetrieve a hierarchical tree structure showing supplier relationships within a collection.\n\nThis endpoint returns a tree graph representing the supply chain network, showing how suppliers\nare connected through multiple tiers. Each node in the tree represents a target (supplier/customer),\nand edges represent relationships between them.\n\n**Use Cases**:\n- Visualize supplier network structure\n- Analyze supply chain depth and breadth\n- Identify direct and indirect suppliers\n- Map relationships across multiple tiers\n\n**Filtering Options**:\n- **commodityIds**: Filter results to include only targets associated with specific commodities\n- **commodityTreeId**: Filter using a predefined commodity tree\n- **tierLevel**: Limit the depth of the tree (maximum 4 tiers)\n- **fetchParents**: Include parent organizations in the results\n\n**Response Format**:\nReturns an array of tree nodes, where each node contains:\n- Target information\n- Supplier relationships (nested structure)\n- Tier information\n- Edge source information\n\n**Required Permissions**: `ACCESS_PUBLIC_TREE_GRAPH` and `READ` on the collection\n\n**Performance Impact**: High\n        "
      operationId: treeGraph_1
      parameters:
      - name: collectionId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: commodityIds
        in: query
        required: false
        schema:
          type: array
          items:
            type: integer
            format: int32
      - name: commodityTreeId
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: fetchParents
        in: query
        required: false
        schema:
          type: boolean
          default: true
      - name: tierLevel
        in: query
        required: false
        schema:
          maximum: 4
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PublicTreeTargetV1'
        '403':
          description: '403 Forbidden - Authentication or authorization failure. This status code is returned when: (1) the request lacks valid authentication credentials (missing or invalid X-Auth-Token header), or (2) the authenticated user does not have the required permission to access this resource.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessDeniedErrorDTO'
              examples:
                Access denied example:
                  summary: User lacks necessary permissions or authentication
                  value: "{\n        \"loggedIn\": true,\n        \"code\": \"access_denied\",\n        \"message\": \"Access denied: you don't have necessary permissions to access this resource\",\n        \"solution\": \"Contact support for appropriate permissions\"\n    }"
        '500':
          description: 500 Internal Server Error - An unexpected error occurred on the server. The request may or may not have been processed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDTO'
              examples:
                Error - Server Error:
                  summary: Unexpected server error
                  value: "{\n        \"code\": \"internal_error\",\n        \"message\": \"An unexpected error occurred\",\n        \"solution\": \"Please try again later or contact support\"\n    }"
        '429':
          description: '429 Too Many Requests - API rate limit exceeded. The request has been rejected because the rate limit for this endpoint has been exceeded. Default rate limits: GET requests - 100 per 10 seconds, 500 per minute; POST/PUT/PATCH/DELETE requests - 20 per 10 seconds, 100 per minute. For increased access, please contact customer success.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiRateLimitResponse'
              examples:
                Rate limit exceeded example:
                  summary: API rate limit exceeded
                  value: "{\n        \"error\": \"API rate limit exceeded\",\n        \"message\": \"You have reached the maximum allowed requests. Please try again later or upgrade your plan for increased access\",\n        \"requestLimit\": 100,\n        \"requestCount\": 100,\n        \"limits\": [\n            {\n                \"requestLimit\": 100,\n                \"timeInSeconds\": 10\n            },\n            {\n                \"requestLimit\": 500,\n                \"timeInSeconds\": 60\n            }\n        ],\n        \"currentTime\": \"2026-01-15T10:30:00\",\n        \"nextResetAt\": \"2026-01-15T10:30:10\"\n    }"
      deprecated: true
  /public/v1/network/{collectionId}/commodity-graph:
    get:
      tags:
      - Collections - Network
      summary: Get commodity graph for a collection
      description: "\n⚠️ **DEPRECATED** - This endpoint is deprecated and will be removed at the end of December 2026.\n\n**Note**: Responses include a `Sunset` HTTP header (RFC 8594) indicating the removal date.\n\n---\n\n## Migration Required\n\nThis endpoint has been replaced by the v2 Network API. Please migrate to the new endpoint:\n\n### Replacement Endpoint\n\n| Old Endpoint | New Endpoint | Purpose |\n|--------------|--------------|---------|\n| `GET /public/v1/network/{collectionId}/commodity-graph` | `GET /public/v2/network/{collectionId}/commodity-graph` | Get commodity graph for a collection |\n\n---\n\n## Why Migrate?\n\nThe v2 Network API provides improvements:\n\n### 1. Enhanced Response Structure\n- **v1**: Returns `PublicTreeTargetV1` structure\n- **v2**: Returns `PublicTreeTargetV2` structure with additional metadata\n- **v2**: Better organized response format\n\n### 2. Improved Consistency\n- **v2**: Aligned with other v2 API endpoints\n- **v2**: Consistent response structures across network endpoints\n\n### 3. Better Documentation\n- Comprehensive examples for all endpoints\n- Detailed error response documentation\n- Clear parameter descriptions\n\n---\n\n## Quick Migration Guide\n\n### Step 1: Update Endpoint URL\n\n**Before:**\n```http\nGET /public/v1/network/123/commodity-graph\n```\n\n**After:**\n```http\nGET /public/v2/network/123/commodity-graph\n```\n\n### Step 2: Update Response Parsing\n\n**Before:** Parse `PublicTreeTargetV1` structure\n\n**After:** Parse `PublicTreeTargetV2` structure (may have additional fields)\n\n---\n\n## Breaking Changes\n\n1. **Endpoint Path**: Changed from `/public/v1/network/{collectionId}/commodity-graph` to `/public/v2/network/{collectionId}/commodity-graph`\n2. **Response Structure**: Returns `PublicTreeTargetV2` instead of `PublicTreeTargetV1` (may have additional fields)\n\n---\n\n**Required Permissions**: `ACCESS_PUBLIC_COMMODITY_GRAPH` and `READ` on the collection\n\n**Performance Impact**: High\n        "
      operationId: commodityGraph_1
      parameters:
      - name: collectionId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PublicTreeTargetV1'
        '403':
          description: '403 Forbidden - Authentication or authorization failure. This status code is returned when: (1) the request lacks valid authentication credentials (missing or invalid X-Auth-Token header), or (2) the authenticated user does not have the required permission to access this resource.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessDeniedErrorDTO'
              examples:
                Access denied example:
                  summary: User lacks necessary permissions or authentication
                  value: "{\n        \"loggedIn\": true,\n        \"code\": \"access_denied\",\n        \"message\": \"Access denied: you don't have necessary permissions to access this resource\",\n        \"solution\": \"Contact support for appropriate permissions\"\n    }"
        '500':
          description: 500 Internal Server Error - An unexpected error occurred on the server. The request may or may not have been processed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDTO'
              examples:
                Error - Server Error:
                  summary: Unexpected server error
                  value: "{\n        \"code\": \"internal_error\",\n        \"message\": \"An unexpected error occurred\",\n        \"solution\": \"Please try again later or contact support\"\n    }"
        '429':
          description: '429 Too Many Requests - API rate limit exceeded. The request has been rejected because the rate limit for this endpoint has been exceeded. Default rate limits: GET requests - 100 per 10 seconds, 500 per minute; POST/PUT/PATCH/DELETE requests - 20 per 10 seconds, 100 per minute. For increased access, please contact customer success.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiRateLimitResponse'
              examples:
                Rate limit exceeded example:
                  summary: API rate limit exceeded
                  value: "{\n        \"error\": \"API rate limit exceeded\",\n        \"message\": \"You have reached the maximum allowed requests. Please try again later or upgrade your plan for increased access\",\n        \"requestLimit\": 100,\n        \"requestCount\": 100,\n        \"limits\": [\n            {\n                \"requestLimit\": 100,\n                \"timeInSeconds\": 10\n            },\n            {\n                \"requestLimit\": 500,\n                \"timeInSeconds\": 60\n            }\n        ],\n        \"currentTime\": \"2026-01-15T10:30:00\",\n        \"nextResetAt\": \"2026-01-15T10:30:10\"\n    }"
      deprecated: true
  /public/v1/network/tree/{commodityTreeId}/commodity-graph:
    get:
      tags:
      - Collections - Network
      summary: Get commodity graph for a commodity tree
      description: "\n⚠️ **DEPRECATED** - This endpoint is deprecated and will be removed at the end of December 2026.\n\n**Note**: Responses include a `Sunset` HTTP header (RFC 8594) indicating the removal date.\n\n---\n\n## Migration Required\n\nThis endpoint has been replaced by the v2 Network API. Please migrate to the new endpoint:\n\n### Replacement Endpoint\n\n| Old Endpoint | New Endpoint | Purpose |\n|--------------|--------------|---------|\n| `GET /public/v1/network/tree/{commodityTreeId}/commodity-graph` | `GET /public/v2/network/tree/{commodityTreeId}/commodity-graph` | Get commodity graph for a commodity tree |\n\n---\n\n## Why Migrate?\n\nThe v2 Network API provides improvements:\n\n### 1. Enhanced Response Structure\n- **v1**: Returns `PublicTreeTargetV1` structure\n- **v2**: Returns `PublicTreeTargetV2` structure with additional metadata\n- **v2**: Better organized response format\n\n### 2. Improved Consistency\n- **v2**: Aligned with other v2 API endpoints\n- **v2**: Consistent response structures across network endpoints\n\n### 3. Better Documentation\n- Comprehensive examples for all endpoints\n- Detailed error response documentation\n- Clear parameter descriptions\n\n---\n\n## Quick Migration Guide\n\n### Step 1: Update Endpoint URL\n\n**Before:**\n```http\nGET /public/v1/network/tree/456/commodity-graph\n```\n\n**After:**\n```http\nGET /public/v2/network/tree/456/commodity-graph\n```\n\n### Step 2: Update Response Parsing\n\n**Before:** Parse `PublicTreeTargetV1` structure\n\n**After:** Parse `PublicTreeTargetV2` structure (may have additional fields)\n\n---\n\n## Breaking Changes\n\n1. **Endpoint Path**: Changed from `/public/v1/network/tree/{commodityTreeId}/commodity-graph` to `/public/v2/network/tree/{commodityTreeId}/commodity-graph`\n2. **Response Structure**: Returns `PublicTreeTargetV2` instead of `PublicTreeTargetV1` (may have additional fields)\n\n---\n\n**Required Permission**: `ACCESS_PUBLIC_COMMODITY_GRAPH`\n\n**Performance Impact**: High\n        "
      operationId: treeCommodityGraph_1
      parameters:
      - name: commodityTreeId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PublicTreeTargetV1'
        '403':
          description: '403 Forbidden - Authentication or authorization failure. This status code is returned when: (1) the request lacks valid authentication credentials (missing or invalid X-Auth-Token header), or (2) the authenticated user does not have the required permission to access this resource.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessDeniedErrorDTO'
              examples:
                Access denied example:
                  summary: User lacks necessary permissions or authentication
                  value: "{\n        \"loggedIn\": true,\n        \"code\": \"access_denied\",\n        \"message\": \"Access denied: you don't have necessary permissions to access this resource\",\n        \"solution\": \"Contact support for appropriate permissions\"\n    }"
        '500':
          description: 500 Internal Server Error - An unexpected error occurred on the server. The request may or may not have been processed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDTO'
              examples:
                Error - Server Error:
                  summary: Unexpected server error
                  value: "{\n        \"code\": \"internal_error\",\n        \"message\": \"An unexpected error occurred\",\n        \"solution\": \"Please try again later or contact support\"\n    }"
        '429':
          description: '429 Too Many Requests - API rate limit exceeded. The request has been rejected because the rate limit for this endpoint has been exceeded. Default rate limits: GET requests - 100 per 10 seconds, 500 per minute; POST/PUT/PATCH/DELETE requests - 20 per 10 seconds, 100 per minute. For increased access, please contact customer success.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiRateLimitResponse'
              examples:
                Rate limit exceeded example:
                  summary: API rate limit exceeded
                  value: "{\n        \"error\": \"API rate limit exceeded\",\n        \"message\": \"You have reached the maximum allowed requests. Please try again later or upgrade your plan for increased access\",\n        \"requestLimit\": 100,\n        \"requestCount\": 100,\n        \"limits\": [\n            {\n                \"requestLimit\": 100,\n                \"timeInSeconds\": 10\n            },\n            {\n                \"requestLimit\": 500,\n                \"timeInSeconds\": 60\n            }\n        ],\n        \"currentTime\": \"2026-01-15T10:30:00\",\n        \"nextResetAt\": \"2026-01-15T10:30:10\"\n    }"
      deprecated: true
components:
  schemas:
    TargetForeignSystemDTO:
      required:
      - id
      - system
      type: object
      properties:
        system:
          type: string
          example: null
        id:
          type: string
          example: null
        source:
          type: string
          nullable: true
          example: null
      example: null
    PermissionDTO:
      required:
      - authority
      - limits
      type: object
      properties:
        authority:
          type: string
          example: null
        limits:
          type: object
          additionalProperties:
            type: integer
            format: int32
          example: null
        description:
          type: string
          nullable: true
          example: null
        id:
          type: integer
          format: int32
          nullable: true
          example: null
      example: null
    InfotagTypeDTO:
      required:
      - active
      - display
      - ordering
      - type
      type: object
      properties:
        type:
          type: string
          example: null
        active:
          type: boolean
          example: null
        displayName:
          type: string
          nullable: true
          example: null
        icon:
          type: string
          nullable: true
          example: null
        ordering:
          type: integer
          format: int32
          example: null
        display:
          type: boolean
          example: null
      example: null
    InfotagDTO:
      required:
      - id
      - isTarget
      - type
      type: object
      properties:
        id:
          type: integer
          format: int32
          example: null
        type:
          $ref: '#/components/schemas/InfotagTypeDTO'
        value:
          type: string
          nullable: true
          example: null
        svalue:
          type: string
          nullable: true
          example: null
        icon:
          type: string
          nullable: true
          example: null
        numValue:
          type: number
          nullable: true
          example: null
        priority:
          type: string
          description: Obsolete
          nullable: true
          deprecated: true
          enum:
          - Low
          - Mid
          - High
          - Critical
          example: null
        impactScore:
          type: string
          nullable: true
          enum:
          - Low
          - Mid
          - High
          - Critical
          example: null
        isTarget:
          type: boolean
          example: null
        updatedAt:
          type: string
          format: date-time
          nullable: true
          example: null
      example: null
    InfotagGroup:
      required:
      - id
      - name
      - ordering
      - sname
      type: object
      properties:
        id:
          type: integer
          format: int32
          example: null
        name:
          type: string
          example: null
        sname:
          type: string
          example: null
        icon:
          type: string
          nullable: true
          example: null
        ordering:
          type: integer
          format: int32
          example: null
      example: null
    RiskAnalysis:
      required:
      - approvedForReport
      - collectionIds
      - date
      - diModel
      - id
      - impactT80
      - isArchived
      - locks
      - name
      - periodFrom
      - periodTo
      - perspective
      - reason
      - regularity
      - riskT80
      - scope
      - scopingCountryShare
      - targetType
      - tiern
      - type
      type: object
      properties:
        id:
          type: integer
          format: int32
          example: null
        name:
          type: string
          example: null
        perspective:
          $ref: '#/components/schemas/PerspectiveDTO'
        targetType:
          $ref: '#/components/schemas/TargetTypeDTO'
        periodFrom:
          type: string
          format: date
          example: null
        periodTo:
          type: string
          format: date
          example: null
        date:
          type: string
          format: date
          example: null
        riskT80:
          type: integer
          format: int32
          example: null
        impactT80:
          type: number
          format: double
          example: null
        diModel:
          type: string
          enum:
          - Direct
          - Parent
          - Auto
          example: null
        locks:
          type: array
          items:
            $ref: '#/components/schemas/RiskAnalysisLock'
          example: null
        isArchived:
          type: boolean
          example: null
        regularity:
          type: string
          enum:
          - Regular
          - Adhoc
          example: null
        reason:
          type: array
          items:
            type: string
            enum:
            - InternalDecisions
            - ExternalFactors
            - SubstantiatedKnowledge
            - ChangeNewProducts
            - ChangeNewAreas
            - Other
            example: null
          example: null
        specificOccasion:
          type: string
          nullable: true
          example: null
        approvedForReport:
          type: boolean
          example: null
        findings:
          type: string
          nullable: true
          example: null
        scope:
          type: string
          enum:
          - OwnBusinessArea
          - Suppliers
          - Customers
          example: null
        type:
          $ref: '#/components/schemas/RiskAnalysisType'
        tiern:
          type: boolean
          example: null
        countryScoreThreshold:
          type: number
          format: double
          nullable: true
          example: null
        industryScoreThreshold:
          type: number
          format: double
          nullable: true
          example: null
        purchaseVolumeThreshold:
          type: number
          format: double
          nullable: true
          example: null
        collectionIds:
          type: array
          items:
            type: integer
            format: int32
            example: null
          example: null
        scopingCountryShare:
          type: number
          format: double
          example: null
      example: null
    ApiRateLimitResponse:
      type: object
      properties:
        error:
          type: string
          description: Error type identifier
          example: RateLimitExceeded
        message:
          type: string
          description: Human-readable error message explaining the rate limit violation
          example: API rate limit exceeded. Please reduce your request rate.
        requestLimit:
          type: integer
          description: Maximum number of requests allowed in the current time window
          format: int32
          example: 100
        requestCount:
          type: integer
          description: Number of requests made in the current time window
          format: int32
          example: 101
        limits:
          type: array
          description: All rate limits that apply to this endpoint, showing different time windows
          items:
            $ref: '#/components/schemas/ApiRateLimitTimeRequestLimit'
          example: null
        currentTime:
          type: string
          description: Current server time in ISO 8601 format
          format: date-time
          example: '2026-01-19T10:30:00'
        nextResetAt:
          type: string
          description: Time when the rate limit will reset in ISO 8601 format
          format: date-time
          example: '2026-01-19T10:30:10'
      description: Response returned when API rate limit is exceeded (HTTP 429)
      example: null
    PublicTreeTargetV2:
      required:
      - edgeSource
      - suppliers
      - target
      - targetInfo
      type: object
      properties:
        target:
          type: integer
          description: The target id of the supplier
          format: int32
          example: null
        suppliers:
          type: array
          description: All sub-suppliers nested in the same structure
          items:
            $ref: '#/components/schemas/PublicTreeTargetV2'
          example: null
        targetInfo:
          $ref: '#/components/schemas/PublicTargetInfoDTO'
        edgeSource:
          type: string
          description: 'Allowed values "Public Media", "Public Customs", "Private", "Shared", "Prewave Prediction" '
          example: null
        edgeInfo:
          nullable: true
          allOf:
          - $ref: '#/components/schemas/PublicEdgeInfo'
          example: null
        merged_targets:
          type: array
          description: Target ids of past targets that were merged into this current target
          items:
            type: integer
            description: Target ids of past targets that were merged into this current target
            format: int32
            example: null
          default: []
          example: null
      example: null
    RiskAnalysisType:
      required:
      - availablePerspectives
      - hideDetails
      - products
      - recommended
      - scoping
      - tierNAnalysisEnabled
      - type
      type: object
      properties:
        type:
          type: string
          enum:
          - Default
          - LkSG
          - Norwegian Transparancy Act
          - CSDDD (Beta)
          - EU Battery Regulation
          example: null
        hideDetails:
          type: boolean
          example: null
        recommended:
          type: boolean
          example: null
        tierNAnalysisEnabled:
          type: boolean
          example: null
        scoping:
          type: boolean
          example: null
        products:
          type: boolean
          example: null
        component:
          type: string
          nullable: true
          enum:
          - PeerScore
          - AlertScore
          - SSAScore
          - ExternalScore
          - TierNScore
          example: null
        perspectiveId:
          type: integer
          format: int32
          nullable: true
          example: null
        availablePerspectives:
          type: array
          items:
            $ref: '#/components/schemas/PerspectiveDTO'
          example: null
        countryScoreThreshold:
          type: number
          format: double
          nullable: true
          example: null
        industryScoreThreshold:
          type: number
          format: double
          nullable: true
          example: null
        purchaseVolumeThreshold:
          type: number
          format: double
          nullable: true
          example: null
      example: null
    DeliverySettingTypeDTO:
      required:
      - displayName
      - frequency
      - inherited
      - minPriority
      - ordering
      - type
      type: object
      properties:
        type:
          type: string
          enum:
          - Feed
          - EmailRealtime
          - EmailDaily
          - EmailWeekly
          example: null
        displayName:
          type: string
          example: null
        ordering:
          type: integer
          format: int32
          example: null
        frequency:
          type: string
          example: null
        minPriority:
          type: string
          enum:
          - Low
          - Mid
          - High
          - Critical
          example: null
        inherited:
          type: boolean
          example: null
      example: null
    RoleTypeDTO:
      required:
      - displayName
      - id
      - type
      type: object
      properties:
        id:
          type: integer
          format: int32
          example: null
        type:
          type: string
          example: null
        displayName:
          type: string
          example: null
      example: null
    RoleDTO:
      required:
      - id
      - permissions
      - roleName
      type: object
      properties:
        id:
          type: integer
          format: int32
          example: null
        type:
          nullable: true
          allOf:
          - $ref: '#/components/schemas/RoleTypeDTO'
          example: null
        roleName:
          type: string
          example: null
        displayName:
          type: string
          nullable: true
          example: null
        description:
          type: string
          nullable: true
          example: null
        permissions:
          type: array
          items:
            $ref: '#/components/schemas/PermissionDTO'
          example: null
      example: null
    TargetRequestTypeStatusDto:
      type: object
      properties:
        id:
          type: integer
          format: int32
          nullable: true
          example: null
        customerId:
          type: integer
          format: int32
          nullable: true
          example: null
        status:
          type: string
          nullable: true
          enum:
          - NONE
          - PENDING
          - COMPLETED
          - REJECTED
          example: null
        rejectionReason:
          type: string
          nullable: true
          example: null
      example: null
    TeamDTO:
      required:
      - id
      - name
      - users
      type: object
      properties:
        id:
          type: integer
          format: int32
          example: null
        name:
          type: string
          example: null
        organizationId:
          type: integer
          format: int32
          nullable: true
          example: null
        users:
          type: array
          items:
            $ref: '#/components/schemas/UserDTO'
          example: null
      example: null
    TargetDTO:
      required:
      - children
      - collectionFollowing
      - collectionPath
      - collectionPaths
      - ctype
      - edges
      - followerCount
      - following
      - foreignSystems
      - geo
      - geoShape
      - hsCodes
      - id
      - industries
      - isAnonymous
      - managed
      - maturityAssessment
      - name
      - own
      - parents
      - path
      - paths
      - sanctionStatus
      - screened
      - type
      type: object
      properties:
        id:
          type: integer
          format: int32
          example: null
        name:
          type: string
          example: null
        sname:
          type: string
          nullable: true
          example: null
        logo:
          type: string
          nullable: true
          example: null
        backgroundPicture:
          type: string
          nullable: true
          example: null
        description:
          type: string
          nullable: true
          example: null
        website:
          type: string
          nullable: true
          example: null
        location:
          type: string
          nullable: true
          example: null
        yearFounded:
          type: integer
          format: int32
          nullable: true
          example: null
        size:
          type: string
          nullable: true
          enum:
          - Small
          - Medium
          - Large
          - Very large
          example: null
        screened:
          type: boolean
          example: null
        maturityAssessment:
          type: boolean
          example: null
        linkedInId:
          type: string
          nullable: true
          example: null
        type:
          $ref: '#/components/schemas/TargetTypeDTO'
        ctype:
          $ref: '#/components/schemas/TargetCTypeDTO'
        geo:
          $ref: '#/components/schemas/Geo'
        geoShape:
          $ref: '#/components/schemas/Geo'
        address:
          type: string
          nullable: true
          example: null
        muted:
          type: boolean
          nullable: true
          example: null
        hierarchyCustomerId:
          type: integer
          format: int32
          nullable: true
          example: null
        hierarchyOrganizationId:
          type: integer
          format: int32
          nullable: true
          example: null
        level:
          type: string
          nullable: true
          example: null
        parents:
          type: array
          items:
            $ref: '#/components/schemas/TargetDTO'
          example: null
        children:
          type: array
          items:
            $ref: '#/components/schemas/TargetDTO'
          example: null
        organization:
          $ref: '#/components/schemas/TargetDTO'
        customer:
          nullable: true
          allOf:
          - $ref: '#/components/schemas/CustomerDTO'
          example: null
        industries:
          type: array
          items:
            $ref: '#/components/schemas/TargetDTO'
          example: null
        monitoredSince:
          type: string
          format: date-time
          nullable: true
          example: null
        earliestAlert:
          type: string
          format: date-time
          nullable: true
          example: null
        followerCount:
          type: integer
          format: int32
          example: null
        ordering:
          type: integer
          format: int32
          nullable: true
          example: null
        disruptionStatusUpdate:
          $ref: '#/components/schemas/ComplexDisruptionStatusUpdate'
        sustainabilityStatus:
          type: string
          nullable: true
          enum:
          - NoRisk
          - AtRisk
          - RedFlag
          example: null
        own:
          type: boolean
          example: null
        managed:
          type: boolean
          example: null
        isPublic:
          type: boolean
          nullable: true
          example: null
        edges:
          type: array
          items:
            $ref: '#/components/schemas/EdgeDTO'
          example: null
        connection:
          nullable: true
          allOf:
          - $ref: '#/components/schemas/Connection'
          example: null
        connectionContactsCount:
          type: integer
          format: int32
          nullable: true
          example: null
        population:
          type: integer
          format: int32
          nullable: true
          example: null
        following:
          type: boolean
          example: null
        collectionFollowing:
          type: boolean
          example: null
        tier:
          type: integer
          format: int32
          nullable: true
          example: null
        path:
          type: array
          items:
            $ref: '#/components/schemas/TargetRef'
          example: null
        paths:
          type: array
          items:
            type: array
            items:
              $ref: '#/components/schemas/TargetRef'
            example: null
          example: null
        collectionLevel:
          type: integer
          format: int32
          nullable: true
          example: null
        collectionPath:
          type: array
          items:
            $ref: '#/components/schemas/CollectionRef'
          example: null
        collectionPaths:
          type: array
          items:
            type: array
            items:
              $ref: '#/components/schemas/CollectionRef'
            example: null
          example: null
        foreignSystems:
          type: array
          items:
            $ref: '#/components/schemas/TargetForeignSystemDTO'
          example: null
        scoreAvail:
          type: string
          nullable: true
          enum:
          - None
          - Peer
          - Alert
          - SSA
          - External
          example: null
        revenue:
          type: number
          nullable: true
          example: null
        isRevenueEstimated:
          type: boolean
          nullable: true
          example: null
        actualRevenue:
          type: number
          nullable: true
          example: null
        revenueAvailability:
          type: string
          nullable: true
          enum:
          - Unknown
          - Available
          example: null
        hsCodes:
          type: array
          items:
            $ref: '#/components/schemas/HSCode'
          example: null
        grievanceUrl:
          type: string
          nullable: true
          example: null
        sanctionStatus:
          type: string
          enum:
          - DIRECT
          - INDIRECT
          - NONE
          example: null
        countryScoreAvailable:
          type: boolean
          nullable: true
          example: null
        industryScoreAvailable:
          type: boolean
          nullable: true
          example: null
        commodityScoreAvailable:
          type: boolean
          nullable: true
          example: null
        isAnonymous:
          type: boolean
          example: null
        customName:
          type: string
          nullable: true
          example: null
        latestRequest:
          nullable: true
          allOf:
          - $ref: '#/components/schemas/TargetRequestInfoDto'
          example: null
        public:
          type: boolean
          writeOnly: true
          example: null
      example: null
    EdgeDTO:
      required:
      - active
      - customerId
      - derived
      - fromId
      - id
      - mediaSources
      - numbers
      - priority
      - source
      - toId
      - type
      type: object
      properties:
        id:
          type: integer
          format: int32
          example: null
        type:
          type: string
          enum:
          - Supplier
          - Customer
          - PrimaryMaterial
          - SecondaryMaterial
          - Equipment
          - Own
          example: null
        priority:
          type: string
          enum:
          - Low
          - Mid
          - High
          - Critical
          example: null
        fromId:
          type: integer
          format: int32
          example: null
        toId:
          type: integer
          format: int32
          example: null
        customerId:
          type: integer
          format: int32
          example: null
        scope:
          type: string
          nullable: true
          enum:
          - Private
          - Shared
          - Public
          example: null
        source:
          type: string
          description: Source of the supplier relationship edge
          enum:
          - Customer
          - Media
          - Customs
          - PrewavePrediction
          example: null
        numberShipments:
          type: integer
          format: int32
          nullable: true
          example: null
        numberHSCodes:
          type: integer
          format: int32
          nullable: true
          example: null
        lastShipmentDate:
          type: string
          format: date
          nullable: true
          example: null
        probability:
          type: number
          format: double
          nullable: true
          example: null
        mediaSources:
          type: array
          items:
            type: string
            example: null
          example: null
        active:
          type: boolean
          example: null
        derived:
          type: boolean
          example: null
        impactData:
          nullable: true
          allOf:
          - $ref: '#/components/schemas/EdgeImpactData'
          example: null
        edgeNumbers:
          type: array
          nullable: true
          items:
            $ref: '#/components/schemas/EdgeNumber'
          example: null
        numbers:
          type: array
          readOnly: true
          items:
            type: string
            example: null
          example: null
      example: null
    SupplierOnboardingData:
      required:
      - customerId
      - supplierId
      type: object
      properties:
        supplierId:
          type: integer
          format: int32
          example: null
        customerId:
          type: integer
          format: int32
          example: null
      example: null
    AccessDeniedErrorDTO:
      required:
      - code
      - loggedIn
      - message
      type: object
      properties:
        loggedIn:
          type: boolean
          example: null
        permission:
          type: string
          nullable: true
          example: null
        code:
          type: string
          description: Error code
          example: null
        message:
          type: string
          description: Error message
          example: null
        solution:
          type: string
          description: Possible solution to the error
          nullable: true
          example: null
      example: null
    ErrorDTO:
      required:
      - code
      - message
      type: object
      properties:
        code:
          type: string
          description: Error code
          example: null
        message:
          type: string
          description: Error message
          example: null
        solution:
          type: string
          description: Possible solution to the error
          nullable: true
          example: null
      description: Error response
      example: null
    UserDTO:
      required:
      - firstname
      - id
      - lastname
      type: object
      properties:
        id:
          type: integer
          format: int32
          example: null
        email:
          type: string
          format: email
          nullable: true
          example: null
        firstname:
          minLength: 1
          type: string
          nullable: true
          example: null
        lastname:
          minLength: 1
          type: string
          nullable: true
          example: null
        department:
          type: string
          nullable: true
          example: null
        position:
          type: string
          nullable: true
          example: null
        profilePic:
          type: string
          nullable: true
          example: null
        customer:
          nullable: true
          allOf:
          - $ref: '#/components/schemas/CustomerDTO'
          example: null
        userHash:
          type: string
          nullable: true
          example: null
        settings:
          nullable: true
          allOf:
          - $ref: '#/components/schemas/UserSettings'
          example: null
        activePlan:
          nullable: true
          allOf:
          - $ref: '#/components/schemas/PlanDTO'
          example: null
        active:
          type: boolean
          nullable: true
          example: null
        confirmed:
          type: boolean
          nullable: true
          example: null
        roles:
          type: array
          nullable: true
          items:
            $ref: '#/components/schemas/RoleDTO'
          example: null
        teams:
          type: array
          nullable: true
          items:
            $ref: '#/components/schemas/TeamDTO'
          example: null
        perspective:
          nullable: true
          allOf:
          - $ref: '#/components/schemas/PerspectiveDTO'
          example: null
        organization:
          $ref: '#/components/schemas/TargetDTO'
        organizations:
          type: array
          nullable: true
          items:
            $ref: '#/components/schemas/TargetDTO'
          example: null
        defaultEdgeType:
          type: string
          nullable: true
          enum:
          - Supplier
          - Customer
          - PrimaryMaterial
          - SecondaryMaterial
          - Equipment
          - Own
          example: null
        language:
          type: string
          nullable: true
          enum:
          - en
          - de
          - fr
          - it
          - ch
          example: null
        collection:
          $ref: '#/components/schemas/CollectionDTO'
        passwordValidUntil:
          type: string
          format: date-time
          nullable: true
          example: null
        riskAnalysis:
          $ref: '#/components/schemas/RiskAnalysis'
        phone:
          type: string
          nullable: true
          example: null
        wechatId:
          type: string
          nullable: true
          example: null
        peerScoreToggle:
          type: boolean
          nullable: true
          example: null
        resilienceScoreToggle:
          type: boolean
          nullable: true
          example: null
      example: null
    UserSystemAttributes:
      required:
      - incognitoOnboarding
      - onboardingFlowComplete
      type: object
      properties:
        onboardingFlowComplete:
          type: boolean
          example: null
        incognitoOnboarding:
          type: boolean
          example: null
        joinCustomer:
          type: integer
          format: int32
          nullable: true
          example: null
        supplierOnboardingData:
          nullable: true
          allOf:
          - $ref: '#/components/schemas/SupplierOnboardingData'
          example: null
      example: null
    Connection:
      required:
      - createdAt
      - customer1Id
      - customer2Id
      - initiatorCustomerId
      - pending
      - state
      - targetCustomerId
      type: object
      properties:
        customer1Id:
          type: integer
          format: int32
          example: null
        customer2Id:
          type: integer
          format: int32
          example: null
        initiatorCustomerId:
          type: integer
          format: int32
          example: null
        state:
          type: string
          enum:
          - Confirmed
          - Rejected
          - Failed
          example: null
        pending:
          type: boolean
          example: null
        initiatorId:
          type: integer
          format: int32
          nullable: true
          example: null
        comment:
          type: string
          nullable: true
          example: null
        email:
          type: string
          nullable: true
          example: null
        text:
          type: string
          nullable: true
          example: null
        createdAt:
          type: string
          format: date-time
          example: null
        targetCustomerId:
          type: integer
          format: int32
          example: null
      example: null
    DisruptionStatusUpdate:
      required:
      - assignedAt
      - assignmentMethod
      - status
      - targetId
      type: object
      properties:
        id:
          type: integer
          format: int32
          nullable: true
          example: null
        targetId:
          type: integer
          format: int32
          example: null
        assignedAt:
          type: string
          format: date-time
          example: null
        assignedBy:
          $ref: '#/components/schemas/UserDTO'
        comment:
          type: string
          nullable: true
          example: null
        continuity:
          type: integer
          format: int32
          nullable: true
          example: null
        impactedParts:
          type: array
          nullable: true
          items:
            type: string
            example: null
          example: null
        forCustomer:
          nullable: true
          allOf:
          - $ref: '#/components/schemas/CustomerDTO'
          example: null
        status:
          $ref: '#/components/schemas/DisruptionStatus'
        assignmentMethod:
          type: string
          enum:
          - MANUAL
          - AUTOMATIC
          example: null
      example: null
    PlanLimitDTO:
      required:
      - name
      - value
      type: object
      properties:
        name:
          type: string
          example: null
        value:
          type: integer
          format: int32
          example: null
      example: null
    RiskAnalysisLock:
      required:
      - locked
      - type
      type: object
      properties:
        type:
          type: string
          enum:
          - Form
          - Suppliers
          - Matrix
          - Actions
          - Scoping
          - Products
          example: null
        locked:
          type: boolean
          example: null
        user:
          $ref: '#/components/schemas/UserDTO'
        lockedAt:
          type: string
          format: date-time
          nullable: true
          example: null
      example: null
    CollectionRef:
      required:
      - id
      - name
      type: object
      properties:
        id:
          type: integer
          format: int32
          example: null
        name:
          type: string
          example: null
      description: Paths of the target in the collection hierarchy
      example: null
    PublicTargetDTO:
      required:
      - collectionFollowing
      - collectionPath
      - collectionPaths
      - ctype
      - following
      - foreignSystems
      - geo
      - geoShape
      - hsCode
      - id
      - industries
      - managed
      - mergedTargets
      - name
      - own
      - parents
      - path
      - scoreAvail
      - screened
      - type
      type: object
      properties:
        id:
          type: integer
          description: Prewave target id
          format: int32
          example: 102006215
        name:
          type: string
          description: Name of the Prewave target
          example: Høyanger
        sname:
          type: string
          description: Geonames Id (see https://geonames.org)
          nullable: true
          example: '3191281'
        logo:
          type: string
          description: URL to the logo shown in the target profile
          nullable: true
          example: null
        backgroundPicture:
          type: string
          description: URL to the background picture shown in the target profile
          nullable: true
          example: null
        description:
          type: string
          description: Description of the Prewave target
          nullable: true
          example: Description shown in the target profile
        website:
          type: string
          description: URL to the website shown in the target profile
          nullable: true
          example: null
        location:
          type: string
          description: Location of the target
          nullable: true
          example: Mistelbach
        yearFounded:
          type: integer
          description: Year the target was founded shown in the target profile
          format: int32
          nullable: true
          example: 1999
        size:
          type: string
          description: Size of the target shown in the target profile
          nullable: true
          example: Small
          enum:
          - Small
          - Medium
          - Large
          - Very large
        screened:
          type: boolean
          description: Whether the target is screened or not
          example: true
        screenedStatus:
          type: string
          description: Screening status of the target
          nullable: true
          example: Screened
          enum:
          - Required
          - Pending
          - Screened
          - NotPossible
        linkedInId:
          type: string
          description: LinkedIn ID of the target
          nullable: true
          example: general-motors
        type:
          $ref: '#/components/schemas/PublicTargetTypeDTO'
        ctype:
          $ref: '#/components/schemas/PublicTargetCTypeDTO'
        geo:
          $ref: '#/components/schemas/Geo'
        geoShape:
          $ref: '#/components/schemas/Geo'
        parents:
          type: array
          description: List of parent targets
          items:
            $ref: '#/components/schemas/PublicTargetDTO'
          example: null
        organization:
          $ref: '#/components/schemas/PublicTargetDTO'
        industries:
          type: array
          description: List of industries the target belongs to
          items:
            $ref: '#/components/schemas/PublicTargetDTO'
          example: null
        monitoredSince:
          type: string
          description: Date the target was monitored since
          format: date-time
          nullable: true
          example: null
        earliestAlert:
          type: string
          description: Date of the earliest alert
          format: date-time
          nullable: true
          example: null
        ordering:
          type: integer
          description: Ordering of the target
          format: int32
          nullable: true
          example: null
        disruptionStatusUpdate:
          $ref: '#/components/schemas/ComplexDisruptionStatusUpdate'
        own:
          type: boolean
          description: Whether the target is owned by user customer or not
          example: null
        managed:
          type: boolean
          description: '`true` if user is target connection contact or target is owned by user customer, `false` otherwise'
          example: null
        isPublic:
          type: boolean
          description: Whether the target is public or not
          nullable: true
          example: null
        connectionContactsCount:
          type: integer
          description: Number of connection contacts of the target
          format: int32
          nullable: true
          example: null
        population:
          type: integer
          description: Population of the target. Generally applies to locations
          format: int32
          nullable: true
          example: null
        following:
          type: boolean
          description: Target resides in "My follows" collection
          example: null
        collectionFollowing:
          type: boolean
          description: Target resides in any followed collection (including children)
          example: null
        tier:
          type: integer
          description: Tier of the target (relevant when fetching Tier-N)
          format: int32
          nullable: true
          example: null
        path:
          type: array
          description: Path of the target (relevant when fetching Tier-N)
          items:
            $ref: '#/components/schemas/PublicTargetRefExtended'
          example: null
        collectionLevel:
          type: integer
          description: How deep the target is in the collection hierarchy
          format: int32
          nullable: true
          example: null
        collectionPath:
          type: array
          description: Path of the target in the collection hierarchy
          items:
            $ref: '#/components/schemas/CollectionRef'
          example: null
        collectionPaths:
          type: array
          description: Paths of the target in the collection hierarchy
          items:
            type: array
            description: Paths of the target in the collection hierarchy
            items:
              $ref: '#/components/schemas/CollectionRef'
            example: null
          example: null
        foreignSystems:
          type: array
          description: List of foreign systems the target is connected to
          items:
            $ref: '#/components/schemas/PublicTargetForeignSystemDTO'
          example: null
        scoreAvail:
          type: string
          description: Score availability of the target
          enum:
          - None
          - Peer
          - Alert
          - SSA
          - External
          example: null
        revenue:
          type: number
          description: Revenue of the target
          nullable: true
          example: null
        impact:
          type: string
          description: Impact of the target
          nullable: true
          enum:
          - NA
          - 'No'
          - Low
          - Mid
          - High
          - Critical
          example: null
        hsCode:
          type: array
          description: List of HS Codes of the target
          items:
            $ref: '#/components/schemas/PublicHSCode'
          example: null
        mergedTargets:
          type: array
          description: Target ids of past targets that were merged into this current target
          items:
            type: integer
            description: Target ids of past targets that were merged into this current target
            format: int32
            example: null
          example: null
        public:
          type: boolean
          writeOnly: true
          example: null
      example: null
    PublicTreeTargetV1:
      required:
      - edgeSource
      - filtered
      - suppliers
      - target
      type: object
      properties:
        target:
          $ref: '#/components/schemas/PublicTargetDTO'
        suppliers:
          type: array
          items:
            $ref: '#/components/schemas/PublicTreeTargetV1'
          example: null
        edgeSource:
          type: string
          example: null
        edgeInfo:
          nullable: true
          allOf:
          - $ref: '#/components/schemas/PublicEdgeInfo'
          example: null
        filtered:
          type: boolean
          example: null
      example: null
    PublicTargetRef:
      required:
      - id
      - name
      type: object
      properties:
        id:
          type: integer
          description: Prewave Target ID
          format: int32
          example: 102006215
        name:
          type: string
          description: Target name
          example: Acme Corporation
      description: Reference to a target (supplier/site)
      example: null
    TargetCTypeDTO:
      required:
      - bgColor
      - connectable
      - ctype
      - displayName
      - icon
      - id
      - pluralName
      - priority
      - targetTypeId
      - textColor
      type: object
      properties:
        id:
          type: integer
          format: int32
          example: null
        ctype:
          type: string
          example: null
        targetTypeId:
          type: integer
          format: int32
          example: null
        displayName:
          type: string
          example: null
        pluralName:
          type: string
          example: null
        icon:
          type: string
          example: null
        ordering:
          type: integer
          format: int32
          nullable: true
          example: null
        priority:
          type: integer
          format: int32
          example: null
        connectable:
          type: boolean
          example: null
        bgColor:
          type: string
          example: null
        textColor:
          type: string
          example: null
      example: null
    PerspectiveDTO:
      required:
      - actualImpactT80
      - actualRiskT80
      - commodityMissingScore
      - countryMissingScore
      - diModel
      - eventTypes
      - groups
      - id
      - industryMissingScore
      - insolvencyLoss
      - isGlobal
      - massDisruptionFactor
      - name
      - riskModel
      - sname
      - type
      type: object
      properties:
        id:
          type: integer
          format: int32
          example: null
        perspective:
          type: string
          nullable: true
          example: null
        name:
          type: string
          example: null
        sname:
          type: string
          example: null
        type:
          $ref: '#/components/schemas/PerspectiveTypeDTO'
        isGlobal:
          type: boolean
          example: null
        groups:
          type: array
          items:
            $ref: '#/components/schemas/InfotagGroup'
          example: null
        eventTypes:
          type: array
          items:
            $ref: '#/components/schemas/InfotagDTO'
          example: null
        massDisruptionFactor:
          type: boolean
          example: null
        description:
          type: string
          nullable: true
          example: null
        riskModel:
          type: string
          enum:
          - Sustainability
          - Disruption
          example: null
        diModel:
          type: string
          enum:
          - Direct
          - Parent
          - Auto
          example: null
        riskT80:
          type: integer
          format: int32
          nullable: true
          example: null
        impactT80:
          type: number
          format: double
          nullable: true
          example: null
        insolvencyLoss:
          type: boolean
          example: null
        industryMissingScore:
          type: string
          enum:
          - Zero
          - Skip
          example: null
        commodityMissingScore:
          type: string
          enum:
          - Zero
          - Skip
          example: null
        countryMissingScore:
          type: string
          enum:
          - Zero
          - Skip
          example: null
        actualRiskT80:
          type: integer
          format: int32
          example: null
        actualImpactT80:
          type: number
          format: double
          example: null
      example: null
    TargetRequestInfoDto:
      required:
      - targetId
      type: object
      properties:
        targetId:
          type: integer
          format: int32
          example: null
        validationRequest:
          nullable: true
          allOf:
          - $ref: '#/components/schemas/TargetRequestTypeStatusDto'
          example: null
        screeningRequest:
          nullable: true
          allOf:
          - $ref: '#/components/schemas/TargetRequestTypeStatusDto'
          example: null
        reportedTargetRequest:
          nullable: true
          allOf:
          - $ref: '#/components/schemas/TargetRequestTypeStatusDto'
          example: null
      example: null
    GeoProperties:
      type: object
      properties:
        name:
          type: string
          nullable: true
          example: null
        countryCode:
          type: string
          nullable: true
          example: null
        alertCount:
          type: integer
          format: int32
          nullable: true
          example: null
        boundingBox:
          type: array
          nullable: true
          items:
            type: integer
            format: int32
            example: null
          example: null
      example: null
    TargetTypeDTO:
      required:
      - displayName
      - id
      - pluralName
      - scoring
      - type
      type: object
      properties:
        id:
          type: integer
          format: int32
          example: null
        type:
          type: string
          example: null
        displayName:
          type: string
          example: null
        pluralName:
          type: string
          example: null
        ordering:
          type: integer
          format: int32
          nullable: true
          example: null
        scoring:
          type: string
          enum:
          - Alert
          - Peer
          example: null
      example: null
    PlanDTO:
      required:
      - limits
      type: object
      properties:
        id:
          type: integer
          format: int32
          nullable: true
          example: null
        planType:
          nullable: true
          allOf:
          - $ref: '#/components/schemas/PlanTypeDTO'
          example: null
        name:
          type: string
          nullable: true
          example: null
        pricePerUser:
          type: number
          nullable: true
          example: null
        limits:
          type: array
          items:
            $ref: '#/components/schemas/PlanLimitDTO'
          example: null
        validFrom:
          type: string
          format: date-time
          nullable: true
          example: null
        validTo:
          type: string
          format: date-time
          nullable: true
          example: null
      example: null
    PublicHSCode:
      required:
      - code
      type: object
      properties:
        code:
          type: string
          example: null
        nShipments:
          type: integer
          format: int32
          nullable: true
          writeOnly: true
          example: null
        nshipments:
          type: integer
          format: int32
          example: null
      description: List of HS Codes of the target
      example: null
    EdgeImpactData:
      required:
      - causalContribution
      - coc
      - daysOnHand
      - deviation
      - edgeId
      - stockAtSupplier
      - stockOnPremise
      - validFrom
      - validTo
      type: object
      properties:
        edgeId:
          type: integer
          format: int32
          example: null
        validFrom:
          type: string
          format: date-time
          example: null
        validTo:
          type: string
          format: date-time
          example: null
        purchase:
          type: number
          nullable: true
          example: null
        actualPurchase:
          type: number
          nullable: true
          example: null
        diForced:
          type: string
          nullable: true
          enum:
          - NA
          - 'No'
          - Low
          - Mid
          - High
          - Critical
          example: null
        di:
          type: number
          format: double
          nullable: true
          example: null
        causalContribution:
          type: boolean
          example: null
        bi12:
          type: number
          nullable: true
          example: null
        coc:
          type: boolean
          example: null
        mttrGrossE:
          type: number
          format: double
          nullable: true
          example: null
        mttrNetE:
          type: number
          format: double
          nullable: true
          example: null
        mttrGrossI:
          type: number
          format: double
          nullable: true
          example: null
        mttrNetI:
          type: number
          format: double
          nullable: true
          example: null
        stockOnPremise:
          type: number
          format: double
          example: null
        stockAtSupplier:
          type: number
          format: double
          example: null
        daysOnHand:
          type: number
          format: double
          example: null
        deviation:
          type: string
          enum:
          - NotApplicable
          - OnTarget
          - Below
          - Above
          example: null
        location:
          type: string
          nullable: true
          enum:
          - SameBuilding
          - DifferentFireSection
          - DifferentBuilding
          - NotApplicable
          example: null
        lastConfirmationDate:
          type: string
          format: date
          nullable: true
          example: null
        birsInfo:
          type: string
          nullable: true
          example: null
        biForced:
          type: string
          nullable: true
          enum:
          - NA
          - 'No'
          - Low
          - Mid
          - High
          - Critical
          example: null
        bi:
          type: number
          format: double
          nullable: true
          example: null
        biEffE:
          type: number
          format: double
          nullable: true
          example: null
        biEffI:
          type: number
          format: double
          nullable: true
          example: null
        impact:
          type: string
          nullable: true
          enum:
          - NA
          - 'No'
          - Low
          - Mid
          - High
          - Critical
          example: null
      example: null
    EdgeNumber:
      required:
      - number
      type: object
      properties:
        number:
          type: string
          example: null
        source:
          type: string
          nullable: true
          example: null
        existingEdgeId:
          type: integer
          format: int32
          nullable: true
          example: null
      example: null
    PublicTargetCTypeDTO:
      required:
      - bgColor
      - connectable
      - ctype
      - displayName
      - icon
      - id
      - pluralName
      - priority
      - targetTypeId
      - textColor
      type: object
      properties:
        id:
          type: integer
          description: Prewave-internal id of the target ctype
          format: int32
          example: 1234
        ctype:
          type: string
          description: Name of the target ctype
          example: mine
        targetTypeId:
          type: integer
          description: Identifier of the target ctype
          format: int32
          example: 1234
        displayName:
          type: string
          description: Display name of the target ctype
          example: Mine
        pluralName:
          type: string
          description: Plural name of the target ctype
          example: Mines
        icon:
          type: string
          description: Icon of the target ctype. Fontawesome icon name. See https://fontawesome.com/icons for more information
          example: fas fa-mine
        ordering:
          type: integer
          description: Ordering of the target ctype
          format: int32
          nullable: true
          example: null
        priority:
          type: integer
          description: Priority of the target ctype
          format: int32
          example: null
        connectable:
          type: boolean
          description: Whether it is possible to connect to targets of this type or not
          example: null
        bgColor:
          type: string
          description: Background color of the target ctype. Valid CSS color value
          example: '#ff0000'
        textColor:
          type: string
          description: Text color of the target ctype. Valid CSS color value
          example: '#ffffff'
      description: CTypes are what is known as "Facility Types" in the Prewave system (e.g in Network > Filters). They provide a slightly more specific categorization of what the target is. Examples for ctypes are "mine", "factory" etc.
      example: null
    UserAttributes:
      required:
      - scenarioWelcomeScreenShown
      type: object
      properties:
        scenarioWelcomeScreenShown:
          type: boolean
          example: null
      example: null
    PublicEdgeInfo:
      required:
      - hsCodes
      type: object
      properties:
        hsCodes:
          type: array
          items:
            $ref: '#/components/schemas/PublicHSCode'
          example: null
        probability:
          type: number
          format: double
          nullable: true
          example: null
      example: null
    TierSettingsDTO:
      required:
      - logisticsProvider
      - maxTier
      - scopePrivate
      - scopePublic
      - scopeShared
      - sourceCustomer
      - sourceCustoms
      - sourceMedia
      - sourcePrewavePrediction
      - suspectedSuppliers
      - tier2MinPrio
      - tier2TargetPrio
      - tier3PlusMinPrio
      - tier3PlusTargetPrio
      type: object
      properties:
        maxTier:
          type: integer
          format: int32
          example: null
        tier2TargetPrio:
          type: string
          enum:
          - Low
          - Mid
          - High
          - Critical
          example: null
        tier3PlusTargetPrio:
          type: string
          enum:
          - Low
          - Mid
          - High
          - Critical
          example: null
        tier2MinPrio:
          type: string
          enum:
          - Low
          - Mid
          - High
[...]
