openapi: 3.0.1
info:
  title: Public Prewave Actions Suppliers - Sites API
  description: 'Documentation of the Public Prewave API.


    ## What''s New


    ### Q1 2026 — Supplier Management, User Management, Actions and Feed


    This quarter introduces major v2 upgrades, expanded administrative capabilities, and the new Actions API.


    - **Core Releases:** Deployed Supplier Management API v2 and Feed API v2, alongside the all-new Actions API.

    - **Enhanced Functionality:** Added robust identifier management, granular user and role configuration, and endpoints for managing supplier connection contacts.

    - ⚠️ **Required Migration:** Legacy v1 endpoints for Suppliers and Sites Upsert have been deprecated. Developers must migrate existing integrations to v2 by **May 31, 2027** (original deadline was December 31, 2026).


    📖 **[Read the Q1 2026 changelog](https://docs.prewave.com/en/articles/699847-q1-2026-public-api-updates)**


    ### Q2 2026 — Supplier Screening and External Scores


    We have expanded our v2 documentation to include comprehensive integration guidance for supplier screening and validation workflows and identifier-based external score ingestion.


    - **New Capabilities:** Added support for optional post-onboarding screening and validation during the create event.

    - **External Scores:** Batch POST for multiple supplier sites, per-site history GET, and event-type discovery GET (`/public/v1/scores/externals` and `/public/v1/scores/externals/event-types`). Documented in OpenAPI when enabled for your organization.

    - **Developer Resources:** Published new integration examples and detailed identifier validation rules to streamline your implementation process.


    📖 **[Read the Q2 2026 changelog](https://docs.prewave.com/en/articles/699849-q2-2026-public-api-updates)**


    ### Q3 2026 — Scores Webhooks


    To support event-driven architectures and eliminate the need for continuous API polling, we are introducing webhooks for score state changes later this year.


    - **Event-Driven Architecture:** Register webhook URLs to receive real-time HTTP payloads whenever a supplier''s score updates, so you can drive immediate mitigation responses without polling the API.

    - **Availability:** Comprehensive OpenAPI specifications and payload schemas will be published closer to the release date.

    - **Note:** Schemas and behaviors are subject to refinement prior to general availability.


    Documentation updates will be provided prior to release.


    ### Q4 2026 — Feed V2


    We are enhancing Feed API v2 with additional capabilities on top of the existing `GET /public/v2/feed` contract (see Q1 changelog and OpenAPI for the current Feed v2 integration).


    - **Availability:** Details will be announced before release.

    - **Note:** Schemas and behaviors are subject to refinement prior to the official release.


    Documentation updates will be provided prior to release.


    ---


    ## Authentication

    Prewave’s public api uses *API tokens* to authenticate against our RESTful service. We’ll provide you an *API-token* that each

    endpoint needs present as a http header.


    To pass the token in a request, simply add it as a header-parameter with

    * key = X-Auth-Token

    * value = api-token


    See an example in curl below where the api-token would be 12345678-90ab-cdef-1234-567890abcdef

    ```

    curl --request GET \

    --url https://REPLACE_WITH_SERVER/public/v1/target/prewave/3975230/alerts \

    --header ''X-Auth-Token: 12345678-90ab-cdef-1234-567890abcdef''

    ```


    ---


    ## Manage API Tokens


    Before you can obtain your API token, you''ll need the credentials for your API user. These credentials will be

    sent to you as part of the company-onboarding. If you haven''t got your credentials yet, please reach out to

    your sales-contact at Prewave or contact us via info@prewave.ai


    To generate an API Token, navigate to https://www.prewave.com/management/api and log in with the

    credentials of your API user. Then click at the button "Create New" and use your new api-token authentication as a header parameter.


    You can create multiple API tokens and also remove existing API tokens on https://www.prewave.com/management/api.

    API tokens do not expire, therefore you have to maintain the list of API tokens you are using manually.


    ---


    ## Default Rate Limits


    We have two types of default rate limits. For increased access, please contact customer success.


    | Type                              | Requests per 10 seconds | Requests per Minute |

    |-----------------------------------|-------------------------|---------------------|

    | GET requests                      | 100                     | 500                 |

    | POST, PUT, PATCH, DELETE requests | 20                      | 100                 |


    '
  version: '1.0'
servers:
- url: https://api.prewave.com
  description: Production Environment
security:
- Token authentication: []
tags:
- name: Suppliers - Sites
  description: 🆕 NEW - Supplier and site management endpoints. Available from January 2026.
paths:
  /public/v2/suppliers/sites:
    get:
      tags:
      - Suppliers - Sites
      summary: Get all suppliers
      description: "\nRetrieve all supplier sites accessible to the authenticated user with pagination support.\n\nThis endpoint returns a list of supplier sites (physical locations/branches with addresses), not site-groups (general company owners). Each site represents a specific physical location where the supplier operates.\n\n**Related Endpoints:**\n- To find suppliers by specific identifiers, use `GET /public/v2/suppliers/sites/find-by-identifier`.\n- To create a new supplier, use `POST /public/v2/suppliers/sites`.\n- To check pending supplier creation requests, use `GET /public/v2/suppliers/sites/pending`.\n- To deactivate a supplier, use `DELETE /public/v2/suppliers/sites`.\n\nReturns supplier sites that the user has access to with simplified information:\n- Prewave Target ID\n- Name\n- Address (physical address of the site, if available)\n- City\n- Country Code\n- Supplier IDs\n\n**Ordering:**\n- Supplier sites are ordered alphabetically by name (case-insensitive), then by ID for deterministic pagination\n- Supplier IDs within each supplier site are ordered alphabetically by number, with null sources appearing last\n\n**Pagination:**\n- Results are paginated for efficient data retrieval\n- Use query parameters to control pagination:\n  - `page`: Page number (0-indexed, default: 0)\n  - `size`: Number of items per page (default: 10)\n- Ordering is fixed (alphabetically by name, then by ID) to ensure consistent results across pagination requests\n\n**Required Permission**: `ACCESS_PUBLIC_SUPPLIERS`\n    "
      operationId: getAllSuppliers
      parameters:
      - name: page
        in: query
        description: Zero-based page index (0..N)
        required: false
        schema:
          minimum: 0
          type: integer
          default: 0
      - name: size
        in: query
        description: The size of the page to be returned
        required: false
        schema:
          minimum: 1
          type: integer
          default: 10
      - name: sort
        in: query
        description: 'Sorting criteria in the format: property,(asc|desc). Default sort order is ascending. Multiple sort criteria are supported.'
        required: false
        schema:
          type: array
          items:
            type: string
      responses:
        '200':
          description: Successfully retrieved suppliers
          content:
            application/json:
              schema:
                type: object
                properties:
                  content:
                    type: array
                    items:
                      $ref: '#/components/schemas/PublicSupplierV2DTO'
                  size:
                    type: integer
                    format: int32
                  number:
                    type: integer
                    format: int32
                  totalElements:
                    type: integer
                    format: int32
                  totalPages:
                    type: integer
                    format: int32
                  numberOfElements:
                    type: integer
                    format: int32
                  first:
                    type: boolean
                  last:
                    type: boolean
                  empty:
                    type: boolean
              examples:
                Supplier - Multiple Results:
                  summary: Sample paginated supplier response
                  description: Supplier - Multiple Results
                  value:
                    content:
                    - prewaveTargetId: 102006215
                      name: Acme Corporation
                      address: 123 Main St, Vienna, Austria
                      city: Vienna
                      countryCode: AT
                      supplierIds:
                      - id: SUP-12345
                        source: SAP
                      - id: BNOID-67890
                    - prewaveTargetId: 102006216
                      name: Beta Industries Ltd
                      address: 456 Business Ave, Berlin, Germany
                      city: Berlin
                      countryCode: DE
                      supplierIds:
                      - id: SUP-54321
                        source: Oracle
                    size: 20
                    number: 0
                    totalElements: 57
                    totalPages: 3
                    numberOfElements: 2
        '403':
          description: '403 Forbidden - Authentication or authorization failure. This status code is returned when: (1) the request lacks valid authentication credentials (missing or invalid X-Auth-Token header), or (2) the authenticated user does not have the required permission to access this resource.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessDeniedErrorDTO'
              examples:
                Access denied example:
                  summary: User lacks necessary permissions or authentication
                  value: "{\n        \"loggedIn\": true,\n        \"code\": \"access_denied\",\n        \"message\": \"Access denied: you don't have necessary permissions to access this resource\",\n        \"solution\": \"Contact support for appropriate permissions\"\n    }"
        '500':
          description: 500 Internal Server Error - An unexpected error occurred on the server. The request may or may not have been processed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDTO'
              examples:
                Error - Server Error:
                  summary: Unexpected server error
                  value: "{\n        \"code\": \"internal_error\",\n        \"message\": \"An unexpected error occurred\",\n        \"solution\": \"Please try again later or contact support\"\n    }"
        '429':
          description: '429 Too Many Requests - API rate limit exceeded. The request has been rejected because the rate limit for this endpoint has been exceeded. Default rate limits: GET requests - 100 per 10 seconds, 500 per minute; POST/PUT/PATCH/DELETE requests - 20 per 10 seconds, 100 per minute. For increased access, please contact customer success.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiRateLimitResponse'
              examples:
                Rate limit exceeded example:
                  summary: API rate limit exceeded
                  value: "{\n        \"error\": \"API rate limit exceeded\",\n        \"message\": \"You have reached the maximum allowed requests. Please try again later or upgrade your plan for increased access\",\n        \"requestLimit\": 100,\n        \"requestCount\": 100,\n        \"limits\": [\n            {\n                \"requestLimit\": 100,\n                \"timeInSeconds\": 10\n            },\n            {\n                \"requestLimit\": 500,\n                \"timeInSeconds\": 60\n            }\n        ],\n        \"currentTime\": \"2026-01-15T10:30:00\",\n        \"nextResetAt\": \"2026-01-15T10:30:10\"\n    }"
    post:
      tags:
      - Suppliers - Sites
      summary: Create a new supplier
      description: "\nCreate a new supplier with the specified properties.\n\nThe supplier will be created and automatically added to the user's supplier connections.\nAll required fields must be provided and will be validated.\n\n**Asynchronous Processing:**\n- Supplier creation is an asynchronous process that may take a few hours to complete.\n- The endpoint returns immediately with a `202 Accepted` status and a UUID for tracking.\n- The `202 Accepted` status indicates that the request has been accepted for processing but the resource is not yet fully created.\n- Use the returned UUID to track the request status via `GET /public/v2/suppliers/sites/pending?uuid={UUID}` (the Location header also points to this endpoint with the UUID query parameter).\n- Once processing is complete, the supplier will be available via `GET /public/v2/suppliers/sites` (get all suppliers) or `GET /public/v2/suppliers/sites/find-by-identifier` (find by identifier).\n\n**Request:**\nThe request body includes required fields (name, countryCode, city, address, supplierId) and optional fields (postalCode, industries, screeningPeriodInYears, requestValidationOnCreate). See the `PublicSupplierCreatePayloadV2` schema for complete field definitions, validation rules, and formatting requirements.\n\n**Optional post-init screening and validation:**\n- **`screeningPeriodInYears`** (optional): If set to **2**, **5**, or **10**, a history screening for that many years is scheduled automatically after the supplier is created and onboarding completes. Requires `ACCESS_PUBLIC_SCREENING_REQUEST` in addition to `ACCESS_PUBLIC_CONNECT_TARGET`. Omit or null to skip. Invalid values (e.g. 3) return `400 Bad Request` (`Failed to map screening period …`). After onboarding, poll `GET /public/v2/suppliers/sites/screening` with the same supplier identifiers.\n- **`requestValidationOnCreate`** (optional): If `true`, a validation (discovery) request is scheduled automatically after onboarding completes. Requires `ACCESS_PUBLIC_VALIDATION_REQUEST` in addition to `ACCESS_PUBLIC_CONNECT_TARGET`. Omit, null, or `false` to skip. After onboarding, poll `GET /public/v2/suppliers/sites/validation` with the same supplier identifiers.\n\n**Validation Rules:**\n- The combination of `supplierId.id` + `supplierId.source` must be unique within your organization.\n- A supplier creation request cannot be created if there's already a pending request with the same `supplierId.id` + `supplierId.source` combination (returns `409 Conflict`).\n- The `supplierId.id` must not already exist as a supplier ID for another supplier in your organization (returns `409 Conflict`).\n- All string fields are automatically trimmed of leading/trailing whitespace.\n\n**Idempotency:**\nThis endpoint is not idempotent. Multiple requests with the same data will create multiple pending requests unless a duplicate is detected (which returns `409 Conflict`).\n\n**Use Case Example: Creating a Supplier and Adding a Supplier ID from SAP Ariba**\n\nThis example demonstrates the complete workflow of creating a new supplier, waiting for it to be processed, and then adding an additional supplier ID from SAP Ariba.\n\n**Step 1: Create the Supplier**\n\n```http\nPOST /public/v2/suppliers/sites\nContent-Type: application/json\n\n{\n  \"name\": \"Acme Manufacturing Corp\",\n  \"countryCode\": \"AT\",\n  \"city\": \"Vienna\",\n  \"address\": \"123 Industrial Park, Vienna, Austria\",\n  \"postalCode\": \"1010\",\n  \"supplierId\": {\n    \"id\": \"SUP-ACME-001\",\n    \"source\": \"PUBLIC_API\"\n  },\n  \"industries\": [\"Manufacturing\", \"Electronics\"]\n}\n```\n\n**Response (202 Accepted):**\n```json\n{\n  \"uuid\": \"550e8400-e29b-41d4-a716-446655440000\",\n  \"message\": \"Supplier creation request submitted successfully\",\n  \"pendingEndpoint\": \"GET /public/v2/suppliers/sites/pending\"\n}\n```\n\nThe `202 Accepted` status indicates that the request has been accepted for processing but the supplier resource is not yet fully created. Use the returned UUID or the Location header to track the request status.\n\n**Step 2: Wait for Supplier Creation to Complete**\n\nPoll the pending suppliers endpoint until the supplier is no longer in the pending list:\n\n```http\nGET /public/v2/suppliers/sites/pending?uuid=550e8400-e29b-41d4-a716-446655440000\n```\n\n**While pending, you'll see:**\n```json\n[\n  {\n    \"uuid\": \"550e8400-e29b-41d4-a716-446655440000\",\n    \"supplierId\": {\n      \"id\": \"SUP-ACME-001\",\n      \"source\": \"PUBLIC_API\"\n    },\n    \"name\": \"Acme Manufacturing Corp\",\n    \"countryCode\": \"AT\",\n    \"city\": \"Vienna\",\n    \"address\": \"123 Industrial Park, Vienna, Austria\",\n    \"status\": \"Pending\",\n    \"reason\": null\n  }\n]\n```\n\n**Once processed, the supplier will no longer appear in the pending list** (the array will be empty or won't contain this UUID).\n\n**Step 3: Find the Supplier by Supplier ID**\n\nAfter processing is complete, find the supplier using the supplier ID you provided during creation:\n\n```http\nGET /public/v2/suppliers/sites/find-by-identifier?supplierId=SUP-ACME-001&source=Public_API\n```\n\n**Response:**\n```json\n[\n  {\n    \"prewaveTargetId\": 102006215,\n    \"name\": \"Acme Manufacturing Corp\",\n    \"address\": \"123 Industrial Park, Vienna, Austria\",\n    \"city\": \"Vienna\",\n    \"countryCode\": \"AT\",\n    \"supplierIds\": [\n      {\n        \"id\": \"SUP-ACME-001\",\n        \"source\": \"PUBLIC_API\"\n      }\n    ]\n  }\n]\n```\n\n**Step 4: Add Supplier ID from SAP Ariba**\n\nNow that you have the `prewaveTargetId` (102006215), add the SAP Ariba ERP vendor ID using the create identifier endpoint:\n\n```http\nPOST /public/v2/suppliers/sites/identifiers?prewaveId=102006215\nContent-Type: application/json\n\n{\n  \"type\": \"supplierId\",\n  \"id\": \"0000123456\",\n  \"source\": \"SAP_ARIBA_ERP_VENDOR_ID\"\n}\n```\n\n**Response (201 Created):**\n```json\n{\n  \"type\": \"supplierId\",\n  \"id\": \"0000123456\",\n  \"source\": \"SAP_ARIBA_ERP_VENDOR_ID\",\n  \"prewaveTargetId\": 102006215\n}\n```\n\n**Step 5: Verify the Supplier ID Was Added**\n\nVerify that both supplier IDs are now associated with the supplier by finding the supplier again:\n\n```http\nGET /public/v2/suppliers/sites/find-by-identifier?prewaveId=102006215\n```\n\n**Response:**\n```json\n[\n  {\n    \"prewaveTargetId\": 102006215,\n    \"name\": \"Acme Manufacturing Corp\",\n    \"address\": \"123 Industrial Park, Vienna, Austria\",\n    \"city\": \"Vienna\",\n    \"countryCode\": \"AT\",\n    \"supplierIds\": [\n      {\n        \"id\": \"SUP-ACME-001\",\n        \"source\": \"PUBLIC_API\"\n      },\n      {\n        \"id\": \"0000123456\",\n        \"source\": \"SAP_ARIBA_ERP_VENDOR_ID\"\n      }\n    ]\n  }\n]\n```\n\n**Alternative: Find Supplier by SAP Ariba Supplier ID**\n\nYou can now also find the supplier using the SAP Ariba ERP vendor ID:\n\n```http\nGET /public/v2/suppliers/sites/find-by-identifier?supplierId=0000123456&source=SAP_ARIBA_ERP_VENDOR_ID\n```\n\n**Notes:**\n- Supplier creation is asynchronous and may take a few hours. Poll `GET /public/v2/suppliers/sites/pending` periodically until the supplier is processed.\n- You can add multiple supplier IDs to the same supplier from different systems (SAP Ariba ERP vendor IDs, Coupa, DNB, etc.) using `POST /public/v2/suppliers/sites/identifiers`.\n- To find suppliers by their identifiers, use `GET /public/v2/suppliers/sites/find-by-identifier`.\n- To remove identifiers from suppliers, use `DELETE /public/v2/suppliers/sites/identifiers`.\n- To deactivate a supplier, use `DELETE /public/v2/suppliers/sites`.\n- Supplier IDs allow you to map suppliers in Prewave to identifiers used in your external systems.\n- SAP Ariba ERP vendor IDs typically follow a 10-digit format (e.g., \"0000123456\").\n- The `prewaveTargetId` is stable once the supplier is created, but may change in rare cases due to target merges.\n\n**Required permissions:** `ACCESS_PUBLIC_CONNECT_TARGET`.\n        "
      operationId: createSupplier
      requestBody:
        description: Supplier creation payload. Content-Type must be `application/json`. All required fields must be provided and will be validated. The `supplierId` field contains the supplier ID object with `id` (required) and `source` (optional, defaults to 'PUBLIC_API'). Optional `screeningPeriodInYears` (2, 5, or 10) and `requestValidationOnCreate` schedule post-init screening/validation after onboarding. String values are automatically trimmed of leading/trailing whitespace.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PublicSupplierCreatePayloadV2'
            examples:
              Supplier Create - SAP Source:
                summary: Example with SAP as the supplier ID source
                description: Supplier Create - SAP Source
                value:
                  name: Acme Corporation
                  countryCode: AT
                  city: Vienna
                  address: 123 Main St, Vienna, Austria
                  supplierId:
                    id: SUP-12345
                    source: SAP
                  postalCode: '1010'
                  industries:
                  - Manufacturing
                  - Technology
              Supplier Create - No Source:
                summary: Example without supplier ID source (defaults to 'PUBLIC_API')
                description: Supplier Create - No Source
                value:
                  name: Acme Corporation
                  countryCode: AT
                  city: Vienna
                  address: 123 Main St, Vienna, Austria
                  supplierId:
                    number: SUP-12345
              Supplier Create - Coupa Source:
                summary: Example with Coupa as the supplier ID source
                description: Supplier Create - Coupa Source
                value:
                  name: Beta Industries Ltd
                  countryCode: DE
                  city: Berlin
                  address: 456 Business Ave, Berlin, Germany
                  supplierId:
                    id: COUPA-67890
                    source: Coupa
                  postalCode: '10115'
                  industries:
                  - Automotive
                  - Electronics
              Supplier Create - DNB Source:
                summary: Example with DNB as the supplier ID source
                description: Supplier Create - DNB Source
                value:
                  name: Gamma Manufacturing Inc
                  countryCode: US
                  city: New York
                  address: 789 Industrial Blvd, New York, NY 10001
                  supplierId:
                    id: DNB-98765
                    source: DNB
              Supplier Create - Screening on create:
                summary: Schedule 2-year history screening after onboarding (requires ACCESS_PUBLIC_SCREENING_REQUEST)
                description: Supplier Create - Screening on create
                value:
                  name: Acme Corporation
                  countryCode: AT
                  city: Vienna
                  address: 123 Main St, Vienna, Austria
                  supplierId:
                    id: SUP-12345
                    source: PUBLIC_API
                  screeningPeriodInYears: 2
              Supplier Create - Validation on create:
                summary: Schedule validation after onboarding (requires ACCESS_PUBLIC_VALIDATION_REQUEST)
                description: Supplier Create - Validation on create
                value:
                  name: Acme Corporation
                  countryCode: AT
                  city: Vienna
                  address: 123 Main St, Vienna, Austria
                  supplierId:
                    id: SUP-12345
                    source: PUBLIC_API
                  requestValidationOnCreate: true
        required: true
      responses:
        '202':
          description: Accepted - Supplier creation request has been accepted for asynchronous processing. The request is being processed asynchronously and the resource is not yet fully created. Use the Location header or the returned UUID to track the request status via the pending suppliers endpoint.
          headers:
            Location:
              description: Absolute URL to the pending suppliers endpoint where the request status can be monitored. The URL includes the UUID query parameter to filter for this specific pending supplier. Follow this header to check the status of the pending request.
              required: true
              style: simple
              schema:
                type: string
                format: uri
              example: https://api.example.com/public/v2/suppliers/sites/pending?uuid=550e8400-e29b-41d4-a716-446655440000
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicSupplierCreateResponseV2'
              examples:
                Success response:
                  summary: Supplier creation request accepted for processing
                  description: The request has been accepted for asynchronous processing. The UUID can be used to track this specific request in the pending suppliers endpoint. The Location header also points to the pending endpoint for status monitoring.
                  value:
                    uuid: 550e8400-e29b-41d4-a716-446655440000
                    message: Supplier creation request submitted successfully
                    pendingEndpoint: GET /public/v2/suppliers/sites/pending
        '400':
          description: 400 Bad Request - Invalid request payload or validation errors. The request body is malformed or contains invalid data.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDTO'
              examples:
                Missing required field:
                  summary: Required field is missing
                  description: Missing required field
                  value:
                    code: invalid_request
                    message: Name is required
                    solution: Fix the request
                Blank field validation:
                  summary: Required field is blank or contains only whitespace
                  description: Blank field validation
                  value:
                    code: invalid_request
                    message: Supplier ID is required
                    solution: Fix the request
                Invalid JSON:
                  summary: Request body is not valid JSON
                  description: Invalid JSON
                  value:
                    code: invalid_request
                    message: 'JSON parse error: Unexpected character'
                    solution: Fix the request
        '403':
          description: Forbidden — the API token does not have the permissions required for supplier creation (`ACCESS_PUBLIC_CONNECT_TARGET`), or optional post-init screening (`ACCESS_PUBLIC_SCREENING_REQUEST` when `screeningPeriodInYears` is set) or validation (`ACCESS_PUBLIC_VALIDATION_REQUEST` when `requestValidationOnCreate` is true).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDTO'
        '409':
          description: '409 Conflict - A resource with the same identifier already exists. This occurs when: (1) a pending supplier creation request with the same `supplierId.id` + `supplierId.source` combination already exists, or (2) the `supplierId.id` already exists as a supplier ID for another supplier in your organization.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDTO'
              examples:
                Duplicate pending supplier:
                  summary: Pending request already exists with same supplier ID
                  description: Another supplier creation request with the same supplier ID and source is already pending. Wait for it to be processed or check the pending suppliers endpoint.
                  value:
                    code: invalid_request
                    message: A supplier creation request with supplier ID 'SUP-12345' and source 'SAP' is already pending. Please wait for the existing request to be processed or check pending suppliers at GET /public/v2/suppliers/sites/pending
                    solution: Fix the request
                Duplicate supplier ID:
                  summary: Supplier ID already exists for another supplier
                  description: The supplier ID already exists for a different supplier in your organization.
                  value:
                    code: duplicate_supplier_id
                    message: Duplicate supplier IDs - id=SUP-12345, others_found=1, source=SAP
                    solution: Please provide unique supplier IDs
        '500':
          description: 500 Internal Server Error - An unexpected error occurred on the server. The request may or may not have been processed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDTO'
              examples:
                Error - Server Error:
                  summary: Unexpected server error
                  value: "{\n        \"code\": \"internal_error\",\n        \"message\": \"An unexpected error occurred\",\n        \"solution\": \"Please try again later or contact support\"\n    }"
        '429':
          description: '429 Too Many Requests - API rate limit exceeded. The request has been rejected because the rate limit for this endpoint has been exceeded. Default rate limits: GET requests - 100 per 10 seconds, 500 per minute; POST/PUT/PATCH/DELETE requests - 20 per 10 seconds, 100 per minute. For increased access, please contact customer success.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiRateLimitResponse'
              examples:
                Rate limit exceeded example:
                  summary: API rate limit exceeded
                  value: "{\n        \"error\": \"API rate limit exceeded\",\n        \"message\": \"You have reached the maximum allowed requests. Please try again later or upgrade your plan for increased access\",\n        \"requestLimit\": 20,\n        \"requestCount\": 20,\n        \"limits\": [\n            {\n                \"requestLimit\": 20,\n                \"timeInSeconds\": 10\n            },\n            {\n                \"requestLimit\": 100,\n                \"timeInSeconds\": 60\n            }\n        ],\n        \"currentTime\": \"2026-01-15T10:30:00\",\n        \"nextResetAt\": \"2026-01-15T10:30:10\"\n    }"
    delete:
      tags:
      - Suppliers - Sites
      summary: Deactivate a supplier by identifier
      description: "\nDeactivate (disconnect) a supplier from your organization using any identifier (supplier ID, customer ID, own site ID, or Prewave ID).\n\nThis unified endpoint allows you to deactivate suppliers using any type of identifier. You can search by one or more ID types, but **exactly one supplier must be found** for the deletion to proceed.\n\n**Related Endpoints:**\n- To find suppliers by identifier before deactivating, use `GET /public/v2/suppliers/sites/find-by-identifier`.\n- To create a new supplier, use `POST /public/v2/suppliers/sites`.\n- To manage supplier identifiers, use `POST /public/v2/suppliers/sites/identifiers` or `DELETE /public/v2/suppliers/sites/identifiers`.\n\n**Search Parameters:**\n- `supplierId` (optional): Search by supplier ID\n- `customerId` (optional): Search by customer ID\n- `ownId` (optional): Search by own site ID\n- `prewaveId` (optional): Search by Prewave ID\n- `source` (optional): Filter by source system (applies to supplierId, customerId, ownId only)\n\n**Search Behavior:**\n- **Multiple ID types**: If you provide multiple ID parameters, the endpoint searches for suppliers matching **ANY** of the provided IDs (OR logic)\n- **Exactly one match required**: The supplier must be uniquely identified. Returns `400 Bad Request` if zero or multiple suppliers are found\n- **Source filtering**: If `source` is provided, only IDs with that exact source are matched\n\n**What happens when you deactivate a supplier:**\n\n1. **Identifier Deactivation**: All supplier identifier connections are deactivated\n2. **Collection Management**: The supplier target is moved to an inactive collection\n3. **Audit Trail**: All changes are recorded with user information and timestamps\n\n**Important Notes:**\n- At least one ID parameter must be provided\n- Exactly one supplier must match the search criteria\n- This is a soft deletion (data is preserved but marked inactive)\n- The operation can be reversed using the reactivate endpoint\n\n**Required Permission**: `ACCESS_PUBLIC_REMOVE_TARGET`\n        "
      operationId: deleteSupplierByIdentifier
      parameters:
      - name: supplierId
        in: query
        description: Supplier ID to search for. Can be combined with customerId, ownId, and/or prewaveId.
        required: false
        schema:
          type: string
        example: SAP-12345
      - name: customerId
        in: query
        description: Customer ID to search for. Can be combined with supplierId, ownId, and/or prewaveId.
        required: false
        schema:
          type: string
        example: CRM-67890
      - name: ownId
        in: query
        description: Own site ID to search for. Can be combined with supplierId, customerId, and/or prewaveId.
        required: false
        schema:
          type: string
        example: OWN-SITE-01
      - name: prewaveId
        in: query
        description: Prewave ID to search for. Can be combined with supplierId, customerId, and/or ownId.
        required: false
        schema:
          type: integer
          format: int32
        example: 12345
      - name: source
        in: query
        description: Optional source system to filter by. Applies to supplierId, customerId, and ownId (not prewaveId).
        required: false
        schema:
          type: string
        example: SAP
      responses:
        '204':
          description: Supplier successfully deactivated (No Content)
        '400':
          description: 400 Bad Request - Invalid request. Either no ID parameters provided, or multiple suppliers found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDTO'
              examples:
                No ID parameters:
                  summary: No identifier provided
                  description: No ID parameters
                  value:
                    code: invalid_request
                    message: At least one ID parameter (supplierId, customerId, ownId, or prewaveId) must be provided
                    solution: Fix the request
                Multiple suppliers found:
                  summary: Search criteria matches multiple suppliers
                  description: Multiple suppliers found
                  value:
                    code: invalid_request
                    message: 'Multiple suppliers found matching the provided identifiers. Found 2 suppliers with prewaveTargetIds: 102006215, 102006216. Please provide more specific identifiers or use the source parameter.'
                    solution: Fix the request
        '404':
          description: 404 Not Found - No supplier found matching the provided identifiers.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDTO'
              examples:
                Supplier not found:
                  summary: No supplier matches the identifiers
                  description: Supplier not found
                  value:
                    code: resource_not_found
                    message: No supplier found matching the provided identifiers
                    solution: Verify the identifiers and ensure the supplier exists in your organization
        '403':
          description: '403 Forbidden - Authentication or authorization failure. This status code is returned when: (1) the request lacks valid authentication credentials (missing or invalid X-Auth-Token header), or (2) the authenticated user does not have the required permission to access this resource.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessDeniedErrorDTO'
              examples:
                Access denied example:
                  summary: User lacks necessary permissions or authentication
                  value: "{\n        \"loggedIn\": true,\n        \"code\": \"access_denied\",\n        \"message\": \"Access denied: you don't have necessary permissions to access this resource\",\n        \"solution\": \"Contact support for appropriate permissions\"\n    }"
        '500':
          description: 500 Internal Server Error - An unexpected error occurred on the server. The request may or may not have been processed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDTO'
              examples:
                Error - Server Error:
                  summary: Unexpected server error
                  value: "{\n        \"code\": \"internal_error\",\n        \"message\": \"An unexpected error occurred\",\n        \"solution\": \"Please try again later or contact support\"\n    }"
        '429':
          description: '429 Too Many Requests - API rate limit exceeded. The request has been rejected because the rate limit for this endpoint has been exceeded. Default rate limits: GET requests - 100 per 10 seconds, 500 per minute; POST/PUT/PATCH/DELETE requests - 20 per 10 seconds, 100 per minute. For increased access, please contact customer success.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiRateLimitResponse'
              examples:
                Rate limit exceeded example:
                  summary: API rate limit exceeded
                  value: "{\n        \"error\": \"API rate limit exceeded\",\n        \"message\": \"You have reached the maximum allowed requests. Please try again later or upgrade your plan for increased access\",\n        \"requestLimit\": 20,\n        \"requestCount\": 20,\n        \"limits\": [\n            {\n                \"requestLimit\": 20,\n                \"timeInSeconds\": 10\n            },\n            {\n                \"requestLimit\": 100,\n                \"timeInSeconds\": 60\n            }\n        ],\n        \"currentTime\": \"2026-01-15T10:30:00\",\n        \"nextResetAt\": \"2026-01-15T10:30:10\"\n    }"
  /public/v2/suppliers/sites/validation:
    get:
      tags:
      - Suppliers - Sites
      summary: Get validation status for a supplier
      description: "\nRetrieve the status of the **most recent** validation request for a supplier site, using the same identifier query parameters as `GET /public/v2/suppliers/sites/find-by-identifier`.\n\n**Resolution:**\n- At least one of `supplierId`, `customerId`, `ownId`, or `prewaveId` must be provided.\n- **Exactly one** supplier must match (same rules as `DELETE /public/v2/suppliers/sites` and `POST /public/v2/suppliers/sites/validation`). If multiple suppliers match, `400` is returned.\n- The response reflects the latest validation request **you** created for that target.\n\n**Status values:**\n- `PENDING`: The validation request has been submitted and is being processed.\n- `COMPLETED`: The validation was successful. The `outcomeTargetId` field contains the Prewave target ID of the validated site (may differ from the original if a master record was identified).\n- `REJECTED`: The validation could not be completed. The `rejectionReason` and `rejectionReasonNotes` fields provide details.\n\n**Example:**\n```\nGET /public/v2/suppliers/sites/validation?prewaveId=102006215\n```\n\n**Required Permission**: `ACCESS_PUBLIC_VALIDATION_REQUEST`\n    "
      operationId: getValidationStatus
      parameters:
      - name: supplierId
        in: query
        description: Supplier ID to search for. Can be combined with customerId, ownId, and/or prewaveId.
        required: false
        schema:
          type: string
        example: SAP-12345
      - name: customerId
        in: query
        description: Customer ID to search for. Can be combined with supplierId, ownId, and/or prewaveId.
        required: false
        schema:
          type: string
        example: CRM-67890
      - name: ownId
        in: query
        description: Own site ID to search for. Can be combined with supplierId, customerId, and/or prewaveId.
        required: false
        schema:
          type: string
        example: OWN-SITE-01
      - name: prewaveId
        in: query
        description: Prewave ID to search for. Can be combined with supplierId, customerId, and/or ownId.
        required: false
        schema:
          type: integer
          format: int32
        example: 12345
      - name: source
        in: query
        description: Optional source system to filter by. If not provided, matches IDs with any source or without a source. Applies to all provided ID parameters.
        required: false
        schema:
          type: string
        example: SAP
      responses:
        '200':
          description: Validation status returned
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicValidationStatusV2DTO'
              examples:
                Pending:
                  summary: Validation request is still being processed
                  description: Pending
                  value:
                    requestId: 550e8400-e29b-41d4-a716-446655440000
                    status: PENDING
                    prewaveTargetId: 102006215
                    outcomeTargetId: null
                    rejectionReason: null
                    rejectionReasonNotes: null
                    createdAt: '2026-01-01T12:00:00'
                    resolvedAt: null
                Completed:
                  summary: Validation request was completed successfully
                  description: Completed
                  value:
                    requestId: 550e8400-e29b-41d4-a716-446655440000
                    status: COMPLETED
                    prewaveTargetId: 102006215
                    outcomeTargetId: 102006220
                    rejectionReason: null
                    rejectionReasonNotes: null
                    createdAt: '2026-01-01T12:00:00'
                    resolvedAt: '2026-01-03T09:30:00'
                Rejected:
                  summary: Validation request was rejected
                  description: Rejected
                  value:
                    requestId: 550e8400-e29b-41d4-a716-446655440000
                    status: REJECTED
                    prewaveTargetId: 102006215
                    outcomeTargetId: null
                    rejectionReason: The address could not be validated.
                    rejectionReasonNotes: No matching location found for the provided address.
                    createdAt: '2026-01-01T12:00:00'
                    resolvedAt: '2026-01-03T09:30:00'
        '400':
          description: Bad Request - No identifier provided, or multiple suppliers match
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDTO'
              examples:
                Missing ID parameters:
                  summary: No identifier query parameters
                  description: Missing ID parameters
                  value:
                    code: invalid_request
                    message: At least one ID parameter (supplierId, customerId, ownId, or prewaveId) must be provided
                    solution: Fix the request
                Multiple suppliers found:
                  summary: Search criteria matches multiple suppliers
                  description: Multiple suppliers found
                  value:
                    code: invalid_request
                    message: 'Multiple suppliers found matching the provided identifiers. Found 2 suppliers with prewaveTargetIds: 102006215, 102006216. Please provide more specific identifiers or use the source parameter.'
                    solution: Fix the request
        '404':
          description: Not Found - No supplier matches the identifiers, or no validation request exists for that supplier (for your user)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDTO'
              examples:
                Supplier not found:
                  summary: No supplier matches the identifiers
                  description: Supplier not found
                  value:
                    code: resource_not_found
                    message: No supplier found matching the provided identifiers
                    solution: Verify the identifiers and ensure the supplier exists in your organization
                No validation request:
                  summary: Supplier exists but you have no validation request for it
                  description: No validation request
                  value:
                    code: resource_not_found
                    message: No validation request found for this supplier
                    solution: Submit validation with POST /public/v2/suppliers/sites/validation first
        '403':
          description: '403 Forbidden - Authentication or authorization failure. This status code is returned when: (1) the request lacks valid authentication credentials (missing or invalid X-Auth-Token header), or (2) the authenticated user does not have the required permission to access this resource.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessDeniedErrorDTO'
              examples:
                Access denied example:
                  summary: User lacks necessary permissions or authentication
                  value: "{\n        \"loggedIn\": true,\n        \"code\": \"access_denied\",\n        \"message\": \"Access denied: you don't have necessary permissions to access this resource\",\n        \"solution\": \"Contact support for appropriate permissions\"\n    }"
        '500':
          description: 500 Internal Server Error - An unexpected error occurred on the server. The request may or may not have been processed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDTO'
              examples:
                Error - Server Error:
                  summary: Unexpected server error
                  value: "{\n        \"code\": \"internal_error\",\n        \"message\": \"An unexpected error occurred\",\n        \"solution\": \"Please try again later or contact support\"\n    }"
        '429':
          description: '429 Too Many Requests - API rate limit exceeded. The request has been rejected because the rate limit for this endpoint has been exceeded. Default rate limits: GET requests - 100 per 10 seconds, 500 per minute; POST/PUT/PATCH/DELETE requests - 20 per 10 seconds, 100 per minute. For increased access, please contact customer success.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiRateLimitResponse'
              examples:
                Rate limit exceeded example:
                  summary: API rate limit exceeded
                  value: "{\n        \"error\": \"API rate limit exceeded\",\n        \"message\": \"You have reached the maximum allowed requests. Please try again later or upgrade your plan for increased access\",\n        \"requestLimit\": 100,\n        \"requestCount\": 100,\n        \"limits\": [\n            {\n                \"requestLimit\": 100,\n                \"timeInSeconds\": 10\n            },\n            {\n                \"requestLimit\": 500,\n                \"timeInSeconds\": 60\n            }\n        ],\n        \"currentTime\": \"2026-01-15T10:30:00\",\n        \"nextResetAt\": \"2026-01-15T10:30:10\"\n    }"
    post:
      tags:
      - Suppliers - Sites
      summary: Request validation for a supplier
      description: "\nRequest a validation (discovery) for an existing supplier site. Validation is the process of verifying and enriching a supplier's data. Both endpoints (`POST` and `GET`) require the `ACCESS_PUBLIC_VALIDATION_REQUEST` permission.\n\n**Request body shape (OpenAPI schema: `PublicValidationRequestPayloadV2`):**\n```json\n{\n  \"identifier\": {\n    \"supplierId\": null,\n    \"customerId\": null,\n    \"ownId\": null,\n    \"prewaveId\": 102006215,\n    \"source\": null\n  }\n}\n```\n- **`identifier`:** At least one of `supplierId`, `customerId`, `ownId`, or `prewaveId` must be non-empty / non-null. Optional `source` applies to the string IDs only.\n- **Exactly one supplier must match** (same rules as `DELETE /public/v2/suppliers/sites`). If your criteria match zero suppliers, `404` is returned; if more than one, `400` with a multiple-suppliers error.\n\n**Preconditions (enforced with 4xx responses):**\n- The target must be of type POI (not a site-group or freelancer).\n- The target must not already be at a fully-validated level (level 5, 2L, or 5L).\n- There must be no pending validation or screening request for this supplier.\n\n**Asynchronous Processing:**\n- The endpoint returns `202 Accepted` immediately with a `requestId` UUID.\n- Poll status with the **same** supplier identifiers you used in `identifier`, e.g. `GET /public/v2/suppliers/sites/validation?prewaveId=...` (see get validation status).\n\n**Required Permission**: `ACCESS_PUBLIC_VALIDATION_REQUEST`\n    "
      operationId: requestValidation
      requestBody:
        description: JSON object with required `identifier` (how to find the supplier site).
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PublicValidationRequestPayloadV2'
            examples:
              By prewaveId:
                summary: Request validation by Prewave target id
                description: By prewaveId
                value:
                  identifier:
                    prewaveId: 102006215
              By supplierId and source:
                summary: Request validation by external supplier id
                description: By supplierId and source
                value:
                  identifier:
                    supplierId: SAP-12345
                    source: SAP
        required: true
      responses:
        '202':
          description: Validation request accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicValidationRequestResponseV2'
              examples:
                Validation request accepted:
                  summary: Successful validation request
                  description: Validation request accepted
                  value:
                    requestId: 550e8400-e29b-41d4-a716-446655440000
                    message: Validation request submitted successfully
        '400':
          description: Bad request — missing identifier, supplier not eligible for validation (wrong type, level already reached), a pending validation/screening request already exists, or multiple suppliers matched the identifiers
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDTO'
              examples:
                Missing identifiers:
                  summary: No identifier field values provided
                  description: Missing identifiers
                  value:
                    code: invalid_request
                    message: At least one identifier (supplierId, customerId, ownId, prewaveId) must be provided
                    solution: Fix the request
                Multiple suppliers found:
                  summary: Search criteria matches multiple suppliers
                  description: Multiple suppliers found
                  value:
                    code: invalid_request
                    message: 'Multiple suppliers found matching the provided identifiers. Found 2 suppliers with prewaveTargetIds: 102006215, 102006216. Please provide more specific identifiers or use the source parameter.'
                    solution: Fix the request
        '404':
          description: No supplier found matching the provided identifiers
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDTO'
              examples:
                Supplier not found:
                  summary: No supplier matches the identifiers
                  description: Supplier not found
                  value:
                    code: resource_not_found
                    message: No supplier found matching the provided identifiers
                    solution: Verify the identifiers and ensure the supplier exists in your organization
        '403':
          description: '403 Forbidden - Authentication or authorization failure. This status code is returned when: (1) the request lacks valid authentication credentials (missing or invalid X-Auth-Token header), or (2) the authenticated user does not have the required permission to access this resource.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessDeniedErrorDTO'
              examples:
                Access denied example:
                  summary: User lacks necessary permissions or authentication
                  value: "{\n        \"loggedIn\": true,\n        \"code\": \"access_denied\",\n        \"message\": \"Access denied: you don't have necessary permissions to access this resource\",\n        \"solution\": \"Contact support for appropriate permissions\"\n    }"
        '500':
          description: 500 Internal Server Error - An unexpected error occurred on the server. The request may or may not have been processed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDTO'
              examples:
                Error - Server Error:
                  summary: Unexpected server error
                  value: "{\n        \"code\": \"internal_error\",\n        \"message\": \"An unexpected error occurred\",\n        \"solution\": \"Please try again later or contact support\"\n    }"
        '429':
          description: '429 Too Many Requests - API rate limit exceeded. The request has been rejected because the rate limit for this endpoint has been exceeded. Default rate limits: GET requests - 100 per 10 seconds, 500 per minute; POST/PUT/PATCH/DELETE requests - 20 per 10 seconds, 100 per minute. For increased access, please contact customer success.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiRateLimitResponse'
              examples:
                Rate limit exceeded example:
                  summary: API rate limit exceeded
                  value: "{\n        \"error\": \"API rate limit exceeded\",\n        \"message\": \"You have reached the maximum allowed requests. Please try again later or upgrade your plan for increased access\",\n        \"requestLimit\": 20,\n        \"requestCount\": 20,\n        \"limits\": [\n            {\n                \"requestLimit\": 20,\n                \"timeInSeconds\": 10\n            },\n            {\n                \"requestLimit\": 100,\n                \"timeInSeconds\": 60\n            }\n        ],\n        \"currentTime\": \"2026-01-15T10:30:00\",\n        \"nextResetAt\": \"2026-01-15T10:30:10\"\n    }"
  /public/v2/suppliers/sites/screening:
    get:
      tags:
      - Suppliers - Sites
      summary: Get screening status for a supplier
      description: "\nRetrieve the status of the **most recent** screening request for a supplier site, using the same identifier query parameters as `GET /public/v2/suppliers/sites/find-by-identifier`.\n\nThis applies to screening started via `POST /public/v2/suppliers/sites/screening` and, once the target exists, to screening that was scheduled with `screeningPeriodInYears` on `POST /public/v2/suppliers/sites` (batch post-init screening is still attributed to your user when it runs).\n\n**Resolution:**\n- At least one of `supplierId`, `customerId`, `ownId`, or `prewaveId` must be provided.\n- **Exactly one** supplier must match (same rules as `DELETE /public/v2/suppliers/sites` and `POST /public/v2/suppliers/sites/screening`). If multiple suppliers match, `400` is returned.\n- The response reflects the latest screening request **you** created for that target (by request id). Use the same identifiers as in `POST /public/v2/suppliers/sites/screening` to track that request.\n\n**Status values:**\n- `New` — The request is still in progress.\n- `Finished` — Screening completed; findings were found.\n- `NoFindings` — Screening completed; no findings were found.\n- `Aborted` — The request was rejected or an error occurred.\n\n**Example:**\n```\nGET /public/v2/suppliers/sites/screening?prewaveId=102006215\n```\n\n**Required Permission**: `ACCESS_PUBLIC_SCREENING_REQUEST`\n    "
      operationId: getScreeningStatus
      parameters:
      - name: supplierId
        in: query
        description: Supplier ID to search for. Can be combined with customerId, ownId, and/or prewaveId.
        required: false
        schema:
          type: string
        example: SAP-12345
      - name: customerId
        in: query
        description: Customer ID to search for. Can be combined with supplierId, ownId, and/or prewaveId.
        required: false
        schema:
          type: string
        example: CRM-67890
      - name: ownId
        in: query
        description: Own site ID to search for. Can be combined with supplierId, customerId, and/or prewaveId.
        required: false
        schema:
          type: string
        example: OWN-SITE-01
      - name: prewaveId
        in: query
        description: Prewave ID to search for. Can be combined with supplierId, customerId, and/or ownId.
        required: false
        schema:
          type: integer
          format: int32
        example: 12345
      - name: source
        in: query
        description: Optional source system to filter by. If not provided, matches IDs with any source or without a source. Applies to all provided ID parameters.
        required: false
        schema:
          type: string
        example: SAP
      responses:
        '200':
          description: Screening status returned
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicScreeningStatusResponseV2'
              examples:
                In progress:
                  summary: Screening still running
                  description: In progress
                  value:
                    id: 10042
                    status: New
                    periodInYears: 2
                Finished:
                  summary: Screening completed with findings
                  description: Finished
                  value:
                    id: 10042
                    status: Finished
                    periodInYears: 2
        '400':
          description: Bad Request - No identifier provided, or multiple suppliers match
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDTO'
              examples:
                Missing ID parameters:
                  summary: No identifier query parameters
                  description: Missing ID parameters
                  value:
                    code: invalid_request
                    message: At least one ID parameter (supplierId, customerId, ownId, or prewaveId) must be provided
                    solution: Fix the request
                Multiple suppliers found:
                  summary: Search criteria matches multiple suppliers
                  description: Multiple suppliers found
                  value:
                    code: invalid_request
                    message: 'Multiple suppliers found matching the provided identifiers. Found 2 suppliers with prewaveTargetIds: 102006215, 102006216. Please provide more specific identifiers or use the source parameter.'
                    solution: Fix the request
        '403':
          description: Forbidden - Missing ACCESS_PUBLIC_SCREENING_REQUEST permission
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDTO'
        '404':
          description: Not Found - No supplier matches the identifiers, or no screening request exists for that supplier (for your user)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDTO'
              examples:
                Supplier not found:
                  summary: No supplier matches the identifiers
                  description: Supplier not found
                  value:
                    code: resource_not_found
                    message: No supplier found matching the provided identifiers
                    solution: Verify the identifiers and ensure the supplier exists in your organization
                No screening request:
                  summary: Supplier exists but you have no screening request for it
                  description: No screening request
                  value:
                    code: resource_not_found
                    message: No screening request found for this supplier
                    solution: Submit screening with POST /public/v2/suppliers/sites/screening first
        '500':
          description: 500 Internal Server Error - An unexpected error occurred on the server. The request may or may not have been processed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDTO'
              examples:
                Error - Server Error:
                  summary: Unexpected server error
                  value: "{\n        \"code\": \"internal_error\",\n        \"message\": \"An unexpected error occurred\",\n        \"solution\": \"Please try again later or contact support\"\n    }"
        '429':
          description: '429 Too Many Requests - API rate limit exceeded. The request has been rejected because the rate limit for this endpoint has been exceeded. Default rate limits: GET requests - 100 per 10 seconds, 500 per minute; POST/PUT/PATCH/DELETE requests - 20 per 10 seconds, 100 per minute. For increased access, please contact customer success.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiRateLimitResponse'
              examples:
                Rate limit exceeded example:
                  summary: API rate limit exceeded
                  value: "{\n        \"error\": \"API rate limit exceeded\",\n        \"message\": \"You have reached the maximum allowed requests. Please try again later or upgrade your plan for increased access\",\n        \"requestLimit\": 100,\n        \"requestCount\": 100,\n        \"limits\": [\n            {\n                \"requestLimit\": 100,\n                \"timeInSeconds\": 10\n            },\n            {\n                \"requestLimit\": 500,\n                \"timeInSeconds\": 60\n            }\n        ],\n        \"currentTime\": \"2026-01-15T10:30:00\",\n        \"nextResetAt\": \"2026-01-15T10:30:10\"\n    }"
    post:
      tags:
      - Suppliers - Sites
      summary: Request screening for a supplier
      description: "\nRequest a history screening for a supplier site. The body has two parts: `identifier` (how to find the site) and `options` (screening parameters).\n\n**Request body shape (OpenAPI schema: `PublicScreeningRequestPayloadV2`):**\n```json\n{\n  \"identifier\": {\n    \"supplierId\": null,\n    \"customerId\": null,\n    \"ownId\": null,\n    \"prewaveId\": 102006215,\n    \"source\": null\n  },\n  \"options\": {\n    \"periodInYears\": 2\n  }\n}\n```\n- **`identifier`:** At least one of `supplierId`, `customerId`, `ownId`, or `prewaveId` must be non-empty / non-null (same semantics as query params on `find-by-identifier`). Optional `source` applies to the string IDs only.\n- **`options.periodInYears`:** Required. Must be **2**, **5**, or **10** (years).\n\n**Asynchronous Processing:**\n- Screening is an asynchronous process that may take several hours to complete.\n- The endpoint returns immediately with `202 Accepted` and the created screening request ID(s).\n- Poll status with the **same** supplier identifiers you used in `identifier`, e.g. `GET /public/v2/suppliers/sites/screening?prewaveId=...` (see get screening status).\n\n**Supplier Identification (`identifier`):**\n- At least one of supplierId, customerId, ownId, or prewaveId must be provided inside `identifier`.\n- **Exactly one supplier must match** (same rules as `DELETE /public/v2/suppliers/sites` and `POST /public/v2/suppliers/sites/identifiers`). If your criteria match zero suppliers, `404` is returned; if more than one, `400` with a multiple-suppliers error.\n- If the matched target is already screened or otherwise ineligible, it may be skipped (reflected by an empty `screeningRequestIds` list in the response).\n\n**Costs:**\n- Screening requests may incur additional costs or consume quota. Ensure your plan supports screening before calling this endpoint.\n\n**Required Permission**: `ACCESS_PUBLIC_SCREENING_REQUEST`\n    "
      operationId: requestScreening
      requestBody:
        description: JSON object with required `identifier` and `options` (`options.periodInYears` = 2, 5, or 10).
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PublicScreeningRequestPayloadV2'
            examples:
              By prewaveId:
                summary: Screen 2 years by Prewave target id
                description: By prewaveId
                value:
                  identifier:
                    prewaveId: 102006215
                  options:
                    periodInYears: 2
              By supplierId and source:
                summary: Screen 5 years by external supplier id
                description: By supplierId and source
                value:
                  identifier:
                    supplierId: SAP-12345
                    source: SAP
                  options:
                    periodInYears: 5
        required: true
      responses:
        '202':
          description: Screening request accepted for processing
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicScreeningCreatedResponseV2'
              examples:
                Screening request accepted:
                  summary: Successfully submitted screening request
                  description: Screening request accepted
                  value:
                    screeningRequestIds:
                    - 10042
                    message: Screening request submitted successfully
        '400':
          description: Bad Request - Invalid payload (e.g. missing identifier/options, periodInYears out of range, or multiple suppliers match)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDTO'
              examples:
                Missing identifiers:
                  summary: No identifier field values provided
                  description: Missing identifiers
                  value:
                    code: invalid_request
                    message: At least one identifier (supplierId, customerId, ownId, prewaveId) must be provided
                    solution: Fix the request
                Multiple suppliers found:
                  summary: Search criteria matches multiple suppliers
                  description: Multiple suppliers found
                  value:
                    code: invalid_request
                    message: 'Multiple suppliers found matching the provided identifiers. Found 2 suppliers with prewaveTargetIds: 102006215, 102006216. Please provide more specific identifiers or use the source parameter.'
                    solution: Fix the request
        '403':
          description: Forbidden - Missing ACCESS_PUBLIC_SCREENING_REQUEST permission
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDTO'
        '404':
          description: Not Found - No supplier found matching the provided identifiers
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDTO'
              examples:
                Supplier not found:
                  summary: No supplier matches the identifiers
                  description: Supplier not found
                  value:
                    code: resource_not_found
                    message: No supplier found matching the provided identifiers
                    solution: Verify the identifiers and ensure the supplier exists in your organization
        '500':
          description: 500 Internal Server Error - An unexpected error occurred on the server. The request may or may not have been processed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDTO'
              examples:
                Error - Server Error:
                  summary: Unexpected server error
                  value: "{\n        \"code\": \"internal_error\",\n        \"message\": \"An unexpected error occurred\",\n        \"solution\": \"Please try again later or contact support\"\n    }"
        '429':
          description: '429 Too Many Requests - API rate limit exceeded. The request has been rejected because the rate limit for this endpoint has been exceeded. Default rate limits: GET requests - 100 per 10 seconds, 500 per minute; POST/PUT/PATCH/DELETE requests - 20 per 10 seconds, 100 per minute. For increased access, please contact customer success.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiRateLimitResponse'
              examples:
                Rate limit exceeded example:
                  summary: API rate limit exceeded
                  value: "{\n        \"error\": \"API rate limit exceeded\",\n        \"message\": \"You have reached the maximum allowed requests. Please try again later or upgrade your plan for increased access\",\n        \"requestLimit\": 20,\n        \"requestCount\": 20,\n        \"limits\": [\n            {\n                \"requestLimit\": 20,\n                \"timeInSeconds\": 10\n            },\n            {\n                \"requestLimit\": 100,\n                \"timeInSeconds\": 60\n            }\n        ],\n        \"currentTime\": \"2026-01-15T10:30:00\",\n        \"nextResetAt\": \"2026-01-15T10:30:10\"\n    }"
  /public/v2/suppliers/sites/identifiers:
    post:
      tags:
      - Suppliers - Sites
      summary: Create an identifier for a supplier
      description: "\nCreate a new identifier (supplier ID, customer ID, or own site ID) for a supplier using flexible search parameters.\n\n**Related Endpoints:**\n- To find suppliers by identifier, use `GET /public/v2/suppliers/sites/find-by-identifier`.\n- To delete an identifier, use `DELETE /public/v2/suppliers/sites/identifiers`.\n- To create a new supplier, use `POST /public/v2/suppliers/sites`.\n- To get all suppliers, use `GET /public/v2/suppliers/sites`.\n\n**How It Works:**\n\n1. **Find the Supplier**: Provide one or more search parameters to identify the supplier:\n   - `supplierId` (optional): Search by supplier ID\n   - `customerId` (optional): Search by customer ID\n   - `ownId` (optional): Search by own site ID\n   - `prewaveId` (optional): Search by Prewave ID\n   - `source` (optional): Filter by source system (applies to supplierId, customerId, and ownId)\n\n2. **Create the Identifier**: In the request body, specify:\n   - `type`: The type of identifier to create (`supplierId`, `customerId`, or `ownId`)\n   - `id`: The identifier value\n   - `source`: Optional source system (defaults to `PUBLIC_API` if not provided)\n\n**Search Parameters:**\n- `supplierId` (optional): Search by supplier ID\n- `customerId` (optional): Search by customer ID\n- `ownId` (optional): Search by own site ID\n- `prewaveId` (optional): Search by Prewave ID\n- `source` (optional): Filter by source system\n\n**Search Behavior:**\n- Parameters are combined with **OR** logic - suppliers matching ANY of the provided identifiers will be found\n- At least one search parameter must be provided\n- If multiple suppliers match, an error is returned (use `source` parameter to narrow down)\n- If no suppliers match, a 404 error is returned\n\n**Request Body:**\nThe request body specifies what identifier to create:\n- `type`: Must be one of: `supplierId`, `customerId`, `ownId`\n- `id`: The identifier value (e.g., \"SUP-12345\")\n- `source`: Optional source system (e.g., \"SAP\", \"Coupa\")\n\n**Examples:**\n\n1. **Create a supplier ID by searching with prewaveId:**\n   ```\n   POST /public/v2/suppliers/sites/identifiers?prewaveId=102006215\n   Body: {\"type\": \"supplierId\", \"id\": \"SUP-12345\", \"source\": \"SAP\"}\n   ```\n\n2. **Create a customer ID by searching with existing supplier ID:**\n   ```\n   POST /public/v2/suppliers/sites/identifiers?supplierId=SUP-12345&source=SAP\n   Body: {\"type\": \"customerId\", \"id\": \"CUST-67890\", \"source\": \"SAP\"}\n   ```\n\n3. **Create an own site ID by searching with customer ID:**\n   ```\n   POST /public/v2/suppliers/sites/identifiers?customerId=CUST-67890\n   Body: {\"type\": \"ownId\", \"id\": \"OWN-SITE-01\", \"source\": \"SAP\"}\n   ```\n\n**Important Notes:**\n- The combination of identifier value and source must be unique within your organization\n- If the identifier already exists for this supplier, a 409 Conflict error is returned\n- If the identifier exists for a different supplier, a 409 Conflict error is returned\n- All identifier changes are automatically audited\n\n**Required Permission**: `MANAGE_PUBLIC_SUPPLIER_IDS`\n        "
      operationId: createIdentifier
      parameters:
      - name: supplierId
        in: query
        description: Supplier ID to search for. Can be combined with customerId, ownId, and/or prewaveId.
        required: false
        schema:
          type: string
        example: SAP-12345
      - name: customerId
        in: query
        description: Customer ID to search for. Can be combined with supplierId, ownId, and/or prewaveId.
        required: false
        schema:
          type: string
        example: CRM-67890
      - name: ownId
        in: query
        description: Own site ID to search for. Can be combined with supplierId, customerId, and/or prewaveId.
        required: false
        schema:
          type: string
        example: OWN-SITE-01
      - name: prewaveId
        in: query
        description: Prewave ID to search for. Can be combined with supplierId, customerId, and/or ownId.
        required: false
        schema:
          type: integer
          format: int32
        example: 12345
      - name: source
        in: query
        description: Optional source system to filter by. Applies to supplierId, customerId, and ownId (not prewaveId).
        required: false
        schema:
          type: string
        example: SAP
      requestBody:
        description: Identifier creation payload
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PublicIdentifierCreatePayloadV2'
            examples:
              Create Supplier ID:
                summary: Create a supplier ID
                description: Create Supplier ID
                value:
                  type: supplierId
                  id: SUP-12345
                  source: SAP
              Create Customer ID:
                summary: Create a customer ID
                description: Create Customer ID
                value:
                  type: customerId
                  id: CUST-67890
                  source: SAP
              Create Own Site ID:
                summary: Create an own site ID
                description: Create Own Site ID
                value:
                  type: ownId
                  id: OWN-SITE-01
                  source: SAP
        required: true
      responses:
        '201':
          description: Created - Identifier created successfully.
          headers:
            Location:
              description: URI of the supplier that the identifier was added to
              required: true
              style: simple
              schema:
                type: string
                format: uri
              example: https://api.example.com/public/v2/suppliers/sites/101266998
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicIdentifierResponseV2'
              examples:
                Success response:
                  summary: Successful identifier creation
                  description: Success response
                  value:
                    type: supplierId
                    id: SUP-12345
                    source: SAP
                    prewaveTargetId: 101266998
        '400':
          description: '400 Bad Request - Invalid request. This can occur if: (1) no search parameters provided, (2) invalid identifier type, (3) missing required fields in request body, or (4) multiple suppliers found (use source parameter to narrow down).'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDTO'
              examples:
                No search parameters:
                  summary: No search parameters provided
                  description: No search parameters
                  value:
                    code: invalid_request
                    message: At least one ID parameter (supplierId, customerId, ownId, or prewaveId) must be provided
                    solution: Fix the request
                Invalid identifier type:
                  summary: Invalid identifier type
                  description: Invalid identifier type
                  value:
                    code: invalid_request
                    message: 'Invalid identifier type ''invalidType''. Must be one of: ''supplierId'', ''customerId'', ''ownId'''
                    solution: Fix the request
                Multiple suppliers found:
                  summary: Multiple suppliers match the search criteria
                  description: Multiple suppliers found
                  value:
                    code: invalid_request
                    message: 'Multiple suppliers found matching the provided identifiers. Found 2 suppliers with prewaveTargetIds: 102006215, 102006216. Please provide more specific identifiers or use the source parameter.'
                    solution: Fix the request
        '404':
          description: 404 Not Found - No supplier found matching the provided search parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDTO'
              examples:
                Supplier not found:
                  summary: No supplier matches the search criteria
                  description: Supplier not found
                  value:
                    code: resource_not_found
                    message: No supplier found matching the provided identifiers
        '409':
          description: '409 Conflict - The identifier already exists. This occurs when: (1) the identifier already exists for this supplier, or (2) the identifier exists for a different supplier in your organization.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDTO'
              examples:
                Duplicate identifier:
                  summary: Identifier already exists
                  description: Duplicate identifier
                  value:
                    code: duplicate_supplier_id
                    message: Duplicate supplier IDs - id=SUP-12345, others_found=1, source=SAP
                    solution: Please provide unique supplier IDs
        '403':
          description: '403 Forbidden - Authentication or authorization failure. This status code is returned when: (1) the request lacks valid authentication credentials (missing or invalid X-Auth-Token header), or (2) the authenticated user does not have the required permission to access this resource.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessDeniedErrorDTO'
              examples:
                Access denied example:
                  summary: User lacks necessary permissions or authentication
                  value: "{\n        \"loggedIn\": true,\n        \"code\": \"access_denied\",\n        \"message\": \"Access denied: you don't have necessary permissions to access this resource\",\n        \"solution\": \"Contact support for appropriate permissions\"\n    }"
        '500':
          description: 500 Internal Server Error - An unexpected error occurred on the server. The request may or may not have been processed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDTO'
              examples:
                Error - Server Error:
                  summary: Unexpected server error
                  value: "{\n        \"code\": \"internal_error\",\n        \"message\": \"An unexpected error occurred\",\n        \"solution\": \"Please try again later or contact support\"\n    }"
        '429':
          description: '429 Too Many Requests - API rate limit exceeded. The request has been rejected because the rate limit for this endpoint has been exceeded. Default rate limits: GET requests - 100 per 10 seconds, 500 per minute; POST/PUT/PATCH/DELETE requests - 20 per 10 seconds, 100 per minute. For increased access, please contact customer success.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiRateLimitResponse'
              examples:
                Rate limit exceeded example:
                  summary: API rate limit exceeded
                  value: "{\n        \"error\": \"API rate limit exceeded\",\n        \"message\": \"You have reached the maximum allowed requests. Please try again later or upgrade your plan for increased access\",\n        \"requestLimit\": 20,\n        \"requestCount\": 20,\n        \"limits\": [\n            {\n                \"requestLimit\": 20,\n                \"timeInSeconds\": 10\n            },\n            {\n                \"requestLimit\": 100,\n                \"timeInSeconds\": 60\n            }\n        ],\n        \"currentTime\": \"2026-01-15T10:30:00\",\n        \"nextResetAt\": \"2026-01-15T10:30:10\"\n    }"
    delete:
      tags:
      - Suppliers - Sites
      summary: Delete an identifier for a supplier
      description: "\nDelete an identifier (supplier ID, customer ID, or own site ID) from all suppliers in your organization.\n\n**Related Endpoints:**\n- To create an identifier, use `POST /public/v2/suppliers/sites/identifiers`.\n- To find suppliers by identifier, use `GET /public/v2/suppliers/sites/find-by-identifier`.\n- To get all suppliers, use `GET /public/v2/suppliers/sites`.\n\n**How It Works:**\n\nThis endpoint deletes a specific identifier across all suppliers that have it. You specify:\n- `type`: The type of identifier to delete (`supplierId`, `customerId`, or `ownId`)\n- `id`: The identifier value to delete\n- `source`: Optional source system of the identifier to delete\n\n**Query Parameters:**\n- `type` (required): Must be one of: `supplierId`, `customerId`, `ownId`\n- `id` (required): The identifier value (e.g., \"SUP-12345\")\n- `source` (optional): Source system (e.g., \"SAP\", \"Coupa\"). If not provided, will search for identifiers without a source or with the default source.\n\n**Examples:**\n\n1. **Delete a supplier ID:**\n   ```\n   DELETE /public/v2/suppliers/sites/identifiers?type=supplierId&id=SUP-12345&source=SAP\n   ```\n\n2. **Delete a customer ID:**\n   ```\n   DELETE /public/v2/suppliers/sites/identifiers?type=customerId&id=CUST-67890&source=SAP\n   ```\n\n3. **Delete an own site ID:**\n   ```\n   DELETE /public/v2/suppliers/sites/identifiers?type=ownId&id=OWN-SITE-01&source=SAP\n   ```\n\n**Important Notes:**\n- The identifier must exist for at least one supplier\n- If the identifier doesn't exist, a 404 Not Found error is returned\n- All identifier changes are automatically audited\n- If `source` is not provided, the system will search for identifiers without a source or with the default source\n\n**Required Permission**: `MANAGE_PUBLIC_SUPPLIER_IDS`\n        "
      operationId: deleteIdentifier
      parameters:
      - name: type
        in: query
        description: The type of identifier to delete
        required: true
        schema:
          $ref: '#/components/schemas/IdentifierType'
        example: SUPPLIER_ID
      - name: id
        in: query
        description: The identifier value to delete
        required: true
        schema:
          type: string
        example: SUP-12345
      - name: source
        in: query
        description: Optional source system of the identifier to delete. If not provided, will search for identifiers without a source or with the default source.
        required: false
        schema:
          type: string
        example: SAP
      responses:
        '204':
          description: No Content - Identifier deleted successfully.
          content:
            application/json:
              examples:
                Success response:
                  summary: Successful identifier deletion
                  description: The response body is empty (204 No Content). The identifier has been deleted.
                  value: null
        '400':
          description: '400 Bad Request - Invalid request. This can occur if: (1) required parameters are missing, (2) invalid identifier type.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDTO'
              examples:
                Missing required parameters:
                  summary: Required parameters are missing
                  description: Missing required parameters
                  value:
                    code: invalid_request
                    message: Required parameters 'type' and 'id' must be provided
                    solution: Fix the request
                Invalid identifier type:
                  summary: Invalid identifier type
                  description: Invalid identifier type
                  value:
                    code: invalid_request
                    message: 'Invalid identifier type ''invalidType''. Must be one of: ''supplierId'', ''customerId'', ''ownId'''
                    solution: Fix the request
        '404':
          description: 404 Not Found - The identifier doesn't exist in your organization.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDTO'
              examples:
                Identifier not found:
                  summary: Identifier doesn't exist
                  description: Identifier not found
                  value:
                    code: resource_not_found
                    message: Supplier ID 'SUP-12345' with source 'SAP' not found
        '403':
          description: '403 Forbidden - Authentication or authorization failure. This status code is returned when: (1) the request lacks valid authentication credentials (missing or invalid X-Auth-Token header), or (2) the authenticated user does not have the required permission to access this resource.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessDeniedErrorDTO'
              examples:
                Access denied example:
                  summary: User lacks necessary permissions or authentication
                  value: "{\n        \"loggedIn\": true,\n        \"code\": \"access_denied\",\n        \"message\": \"Access denied: you don't have necessary permissions to access this resource\",\n        \"solution\": \"Contact support for appropriate permissions\"\n    }"
        '500':
          description: 500 Internal Server Error - An unexpected error occurred on the server. The request may or may not have been processed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDTO'
              examples:
                Error - Server Error:
                  summary: Unexpected server error
                  value: "{\n        \"code\": \"internal_error\",\n        \"message\": \"An unexpected error occurred\",\n        \"solution\": \"Please try again later or contact support\"\n    }"
        '429':
          description: '429 Too Many Requests - API rate limit exceeded. The request has been rejected because the rate limit for this endpoint has been exceeded. Default rate limits: GET requests - 100 per 10 seconds, 500 per minute; POST/PUT/PATCH/DELETE requests - 20 per 10 seconds, 100 per minute. For increased access, please contact customer success.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiRateLimitResponse'
              examples:
                Rate limit exceeded example:
                  summary: API rate limit exceeded
                  value: "{\n        \"error\": \"API rate limit exceeded\",\n        \"message\": \"You have reached the maximum allowed requests. Please try again later or upgrade your plan for increased access\",\n        \"requestLimit\": 20,\n        \"requestCount\": 20,\n        \"limits\": [\n            {\n                \"requestLimit\": 20,\n                \"timeInSeconds\": 10\n            },\n            {\n                \"requestLimit\": 100,\n                \"timeInSeconds\": 60\n            }\n        ],\n        \"currentTime\": \"2026-01-15T10:30:00\",\n        \"nextResetAt\": \"2026-01-15T10:30:10\"\n    }"
  /public/v2/suppliers/sites/pending:
    get:
      tags:
      - Suppliers - Sites
      summary: Get pending suppliers
      description: "\nRetrieve all pending supplier creation requests for the authenticated user.\n\nThis endpoint returns supplier creation requests that are currently pending processing. These are suppliers that have been submitted via `POST /public/v2/suppliers/sites` (create supplier endpoint) but have not yet been processed and made available in the main suppliers list.\n\n**Status Values:**\n- `New`: The supplier creation request has been submitted and is awaiting initial processing\n- `Pending`: The supplier creation request is being processed and is awaiting completion\n\nOnce processing is complete, suppliers will transition to a resolved state and become available via `GET /public/v2/suppliers/sites` (get all suppliers) or `GET /public/v2/suppliers/sites/find-by-identifier` (find by identifier). Pending suppliers are automatically removed from this endpoint once they are processed.\n\n**Query Parameters:**\n- `uuid` (optional): Filter results by the UUID of a specific pending supplier. When provided, only the pending supplier with the matching UUID will be returned. This is useful for tracking a specific supplier creation request returned from `POST /public/v2/suppliers/sites`.\n\n**Response:**\nReturns an array of pending supplier objects. Each entry includes the UUID (returned when creating a supplier), supplier ID information, supplier name, location details (countryCode, city, address), and status information. See the `PublicPendingSupplierV2DTO` schema for complete field definitions.\n\n**Pagination:**\nThis endpoint returns all pending suppliers for the authenticated user without pagination.\n\n**Required Permission**: `ACCESS_PUBLIC_SUPPLIERS`\n        "
      operationId: getPendingSuppliers
      parameters:
      - name: uuid
        in: query
        description: Optional UUID to filter pending suppliers. When provided, only the pending supplier with the matching UUID will be returned.
        required: false
        schema:
          type: string
          format: uuid
        example: 550e8400-e29b-41d4-a716-446655440000
      responses:
        '200':
          description: Successfully retrieved pending suppliers
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PublicPendingSupplierV2DTO'
              examples:
                Pending Supplier - Multiple Results:
                  summary: Sample response with multiple pending suppliers
                  description: Pending Supplier - Multiple Results
                  value:
                  - uuid: 550e8400-e29b-41d4-a716-446655440000
                    supplierId:
                      id: SUP-12345
                      source: SAP
                    name: Acme Corporation
                    countryCode: AT
                    city: Vienna
                    address: 123 Main St, Vienna, Austria
                    status: Pending
                    reason: null
                  - uuid: 660e8400-e29b-41d4-a716-446655440001
                    supplierId:
                      id: COUPA-67890
                      source: Coupa
                    name: Beta Industries Ltd
                    countryCode: DE
                    city: Berlin
                    address: 456 Business Ave, Berlin, Germany
                    status: New
                    reason: null
                  - uuid: 770e8400-e29b-41d4-a716-446655440002
                    supplierId:
                      id: DNB-98765
                      source: DNB
                    name: Gamma Manufacturing Inc
                    countryCode: US
                    city: New York
                    address: 789 Industrial Blvd, New York, NY 10001
                    status: Pending
                    reason: Awaiting data enrichment
                Pending Supplier - Empty List:
                  summary: No pending suppliers
                  description: When there are no pending suppliers, an empty array is returned.
                  value: []
                Pending Supplier - Single Result:
                  summary: Response with one pending supplier
                  description: Pending Supplier - Single Result
                  value:
                  - uuid: 550e8400-e29b-41d4-a716-446655440000
                    supplierId:
                      id: SUP-12345
                      source: PUBLIC_API
                    name: Acme Corporation
                    countryCode: AT
                    city: Vienna
                    address: 123 Main St, Vienna, Austria
                    status: Pending
                    reason: null
        '403':
          description: '403 Forbidden - Authentication or authorization failure. This status code is returned when: (1) the request lacks valid authentication credentials (missing or invalid X-Auth-Token header), or (2) the authenticated user does not have the required permission to access this resource.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessDeniedErrorDTO'
              examples:
                Access denied example:
                  summary: User lacks necessary permissions or authentication
                  value: "{\n        \"loggedIn\": true,\n        \"code\": \"access_denied\",\n        \"message\": \"Access denied: you don't have necessary permissions to access this resource\",\n        \"solution\": \"Contact support for appropriate permissions\"\n    }"
        '500':
          description: 500 Internal Server Error - An unexpected error occurred on the server. The request may or may not have been processed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDTO'
              examples:
                Error - Server Error:
                  summary: Unexpected server error
                  value: "{\n        \"code\": \"internal_error\",\n        \"message\": \"An unexpected error occurred\",\n        \"solution\": \"Please try again later or contact support\"\n    }"
        '429':
          description: '429 Too Many Requests - API rate limit exceeded. The request has been rejected because the rate limit for this endpoint has been exceeded. Default rate limits: GET requests - 100 per 10 seconds, 500 per minute; POST/PUT/PATCH/DELETE requests - 20 per 10 seconds, 100 per minute. For increased access, please contact customer success.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiRateLimitResponse'
              examples:
                Rate limit exceeded example:
                  summary: API rate limit exceeded
                  value: "{\n        \"error\": \"API rate limit exceeded\",\n        \"message\": \"You have reached the maximum allowed requests. Please try again later or upgrade your plan for increased access\",\n        \"requestLimit\": 100,\n        \"requestCount\": 100,\n        \"limits\": [\n            {\n                \"requestLimit\": 100,\n                \"timeInSeconds\": 10\n            },\n            {\n                \"requestLimit\": 500,\n                \"timeInSeconds\": 60\n            }\n        ],\n        \"currentTime\": \"2026-01-15T10:30:00\",\n        \"nextResetAt\": \"2026-01-15T10:30:10\"\n    }"
  /public/v2/suppliers/sites/find-by-identifier:
    get:
      tags:
      - Suppliers - Sites
      summary: Find suppliers by ID
[...]
