openapi: 3.2.0
info:
  title: Public Prewave Alerts API
  description: Documentation of the Public Prewave API.
  version: '1.0'
servers:
- url: https://api.prewave.com
  description: Production Environment
security:
- Token authentication: []
tags:
- name: Alerts
  description: Endpoints for retrieving alert information from user feeds, disruption maps, and specific targets. Supports filtering by collections, dates, priorities, geographic regions, target identifiers, and other criteria.
paths:
  /public/v2/feed:
    get:
      tags:
      - Alerts
      summary: Get all alerts of the current user's feed (V2)
      description: 'Retrieve all alerts for targets that are in collections with feed delivery enabled. Results are ordered by newest first. V2 uses the same filtering and feed logic as the Prewave dashboard.


        **Response:** A `Page` containing a list of alert objects. Standard pagination fields: `content`, `totalElements`, `totalPages`, `size`, `number`, `first`, `last`. Each alert includes id, title, timestamps (ISO 8601 UTC), event, priority, classification, locations, links, media, primary/mentioned targets, collection paths, and optional geo (see `includeGeo`).


        **Pagination:** Use query parameters `page` (0-based index) and `size` (items per page). Default page size is 20 when not specified.


        **Required permission:** `access_public_user_feed`


        **Note:** Geographic information (`geo`) is only included when `includeGeo=true`. Fields with null values are omitted from the JSON response.


        ---


        ## Migration from V1 (`/public/v1/feed`)


        ### What changed


        | Aspect | V1 | V2 |

        |--------|----|----|

        | **URL** | `/public/v1/feed` | `/public/v2/feed` |

        | **Collections** | `collectionId` (singular) | `collectionIds` (plural); same comma-separated IDs |

        | **Date filter** | `from` or `newerThan` (milliseconds) | `from` only; UTC ISO 8601 (e.g. `2024-01-01T00:00:00Z`) |

        | **Omit date** | (varies) | Last **90 days** of data |

        | **Timestamps in response** | Numeric (e.g. milliseconds) | **ISO 8601 strings in UTC** for `createdAt`, `predictedAtStart`, `predictedAtEnd` |


        ### What is new in V2


        - **Tier control:** `minTier` and `maxTier` to include specific supply chain tiers (Tier 1 = direct suppliers, Tier 2 = their suppliers, etc.). Omit both for Tier 1 only (default).

        - **Classification:** `isSituationReport`, `active`, `relevancy` on each alert.

        - **Structured metadata:** `eventTypes`, `eventTypeGroups`, `alertTypes`, `labels`—easier to filter and display than the previous `infotags` list.

        - **Context:** `mentionedTargets`, `previousAlerts`, `flagged`, `useCaseDetails` for richer context.

        - **Performance:** V2 is significantly faster than V1—lower latency and higher throughput.


        ### What is removed in V2


        - **`statusId`** — no longer returned.

        - **`infotags`** — use the new structured fields instead: `eventTypes`, `eventTypeGroups`, `alertTypes`, `labels`.'
      operationId: alertFeed
      parameters:
      - name: collectionIds
        in: query
        description: Collection IDs to filter the feed by. Only alerts for targets in these collections will be returned. In V1 this was collectionId (singular); same comma-separated IDs.
        required: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: integer
            format: int32
        example: 123, 456
      - name: from
        in: query
        description: Start of the date range (inclusive). Use UTC ISO 8601 format (e.g. `2024-01-01T00:00:00Z`). If omitted, V2 returns alerts from the last 90 days filtered by `createdAt`. In V1 you could use `newerThan` (milliseconds) or `from`; V2 uses `from` only.
        required: false
        schema:
          type: string
          format: date-time
        example: '2024-01-01T00:00:00Z'
      - name: perspectiveId
        in: query
        description: Perspective ID to filter the feed by. Defaults to the user's default perspective.
        required: false
        schema:
          type: integer
          format: int32
        example: 1
      - name: priorities
        in: query
        description: 'List of priorities to filter the feed by Allowed values: Low, Mid, High, Critical (comma-separated).'
        required: false
        schema:
          type: array
          items:
            type: string
            enum:
            - Low
            - Mid
            - High
            - Critical
        example: High, Critical
      - name: includeGeo
        in: query
        description: If set to true, the response will include the geo information. Set to true when you need coordinates or shapes for mapping.
        required: false
        schema:
          type: boolean
          default: false
        example: true
      - name: impactLevelIds
        in: query
        description: Impact level IDs to filter the feed by. Valid IDs depend on your tenant configuration.
        required: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: integer
            format: int32
        example: 1, 2
      - name: minTier
        in: query
        description: Minimum supply chain tier depth to include (V2 only). Tier 1 = direct suppliers, Tier 2 = their suppliers, etc. Default 1. Must be ≤ maxTier; max value 5.
        required: false
        schema:
          maximum: 5
          minimum: 1
          type: integer
          format: int32
          default: 1
        example: 1
      - name: maxTier
        in: query
        description: Maximum supply chain tier depth to include (V2 only). Tier 1 = direct suppliers, Tier 2 = their suppliers, etc. Default 1. Must be ≥ minTier; max value 5.
        required: false
        schema:
          maximum: 5
          minimum: 1
          type: integer
          format: int32
          default: 1
        example: 1
      - name: pageable
        in: query
        required: true
        schema:
          $ref: '#/components/schemas/Pageable'
      responses:
        '200':
          description: Successfully retrieved alerts
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SchemaPublicAlertV2DTO'
              examples:
                Alert feed with results:
                  summary: Paginated feed containing one alert with V2 structured metadata
                  description: Alert feed with results
                  value: '{"content":[{"id":12345,"uuid":"a1b2c3d4-e5f6-7890-abcd-ef1234567890","title":"Labor strike begins at Acme Manufacturing Inc","createdAt":1768473000.000000000,"predictedAtStart":1768456800.000000000,"predictedAtEnd":null,"description":"Workers at Acme Manufacturing Inc began a strike affecting production lines.","isSituationReport":false,"event":{"uuid":"b2c3d4e5-f6a7-8901-bcde-f23456789012"},"active":true,"relevancy":"Relevant","locations":[{"id":102006216,"name":"Acme Manufacturing Plant","sname":null,"logo":null,"backgroundPicture":null,"description":null,"website":null,"location":"Sample City, US","yearFounded":null,"size":null,"screened":true,"screenedStatus":null,"linkedInId":null,"type":{"id":1,"type":"organization","displayName":"Site Group","pluralName":"Site Groups","ordering":null,"scoring":null},"ctype":{"id":1,"ctype":"company","targetTypeId":1,"displayName":"Company","pluralName":"Companies","icon":"fas fa-building","ordering":null,"priority":0,"connectable":false,"bgColor":"#cccccc","textColor":"#000000"},"geo":{"geometry":null,"properties":{"name":null,"countryCode":null,"alertCount":null,"boundingBox":null},"type":"Feature"},"geoShape":{"geometry":null,"properties":{"name":null,"countryCode":null,"alertCount":null,"boundingBox":null},"type":"Feature"},"parents":[],"organization":null,"industries":[],"monitoredSince":null,"earliestAlert":null,"ordering":null,"disruptionStatusUpdate":null,"own":false,"managed":false,"isPublic":null,"connectionContactsCount":null,"population":null,"following":false,"collectionFollowing":false,"tier":1,"path":[],"collectionLevel":null,"collectionPath":[],"collectionPaths":[],"foreignSystems":[],"scoreAvail":"None","revenue":null,"impact":null,"hsCode":[],"mergedTargets":[]}],"links":[{"id":null,"url":"https://example.com/news/labor-strike-acme-manufacturing","title":"Labor strike begins at Acme Manufacturing Inc","description":"Workers at Acme Manufacturing Inc began a strike affecting production lines.","pictureUrl":null,"originalLang":null,"originalTitle":null,"originalDescription":null}],"media":[],"primaryTargets":[{"target":{"id":102006215,"name":"Acme Manufacturing Inc","sname":null,"logo":null,"backgroundPicture":null,"description":null,"website":null,"location":"Sample City, US","yearFounded":null,"size":null,"screened":true,"screenedStatus":null,"linkedInId":null,"type":{"id":1,"type":"organization","displayName":"Site Group","pluralName":"Site Groups","ordering":null,"scoring":null},"ctype":{"id":1,"ctype":"company","targetTypeId":1,"displayName":"Company","pluralName":"Companies","icon":"fas fa-building","ordering":null,"priority":0,"connectable":false,"bgColor":"#cccccc","textColor":"#000000"},"geo":{"geometry":null,"properties":{"name":null,"countryCode":null,"alertCount":null,"boundingBox":null},"type":"Feature"},"geoShape":{"geometry":null,"properties":{"name":null,"countryCode":null,"alertCount":null,"boundingBox":null},"type":"Feature"},"parents":[],"organization":null,"industries":[],"monitoredSince":null,"earliestAlert":null,"ordering":null,"disruptionStatusUpdate":null,"own":false,"managed":false,"isPublic":null,"connectionContactsCount":null,"population":null,"following":false,"collectionFollowing":false,"tier":1,"path":[],"collectionLevel":null,"collectionPath":[],"collectionPaths":[],"foreignSystems":[],"scoreAvail":"None","revenue":null,"impact":null,"hsCode":[],"mergedTargets":[]},"impactLevel":{"id":4222469,"level":"company","displayName":"Site Group","ordering":10},"impactScore":"High","priority":"High"}],"mentionedTargets":[{"id":102006217,"name":"Pacific Components Ltd","sname":null,"logo":null,"backgroundPicture":null,"description":null,"website":null,"location":"Port City, US","yearFounded":null,"size":null,"screened":true,"screenedStatus":null,"linkedInId":null,"type":{"id":1,"type":"organization","displayName":"Site Group","pluralName":"Site Groups","ordering":null,"scoring":null},"ctype":{"id":1,"ctype":"company","targetTypeId":1,"displayName":"Company","pluralName":"Companies","icon":"fas fa-building","ordering":null,"priority":0,"connectable":false,"bgColor":"#cccccc","textColor":"#000000"},"geo":{"geometry":null,"properties":{"name":null,"countryCode":null,"alertCount":null,"boundingBox":null},"type":"Feature"},"geoShape":{"geometry":null,"properties":{"name":null,"countryCode":null,"alertCount":null,"boundingBox":null},"type":"Feature"},"parents":[],"organization":null,"industries":[],"monitoredSince":null,"earliestAlert":null,"ordering":null,"disruptionStatusUpdate":null,"own":false,"managed":false,"isPublic":null,"connectionContactsCount":null,"population":null,"following":false,"collectionFollowing":false,"tier":2,"path":[],"collectionLevel":null,"collectionPath":[],"collectionPaths":[],"foreignSystems":[],"scoreAvail":"None","revenue":null,"impact":null,"hsCode":[],"mergedTargets":[]}],"priority":"High","priorityDetails":{"massDisruption":true,"brandMention":false,"rumour":false,"lowPeerRisk":false,"terminates":false},"previousAlerts":[{"alertId":12340,"eventId":5678,"title":"Labor strike announced at Acme Manufacturing Inc","description":"Union announces planned strike action beginning next week.","createdAt":1768032000.000000000}],"flagged":{"reason":"Needs review","comment":"Escalated for supplier risk assessment","flaggedAt":1768474800.000000000},"useCaseDetails":{"relevant":true,"reason":"Direct tier-1 supplier in monitored collection"},"labels":[{"id":42,"scope":"Customer","name":"High impact","bgColor":"#FF5733","textColor":"#FFFFFF"}],"eventTypes":[{"id":501,"value":"Labor dispute","svalue":"labor_dispute","icon":"fa-kit fa-strike"}],"eventTypeGroups":[{"id":10,"name":"Labor and workforce","sname":"labor_workforce","eventTypeIds":[501]}],"alertTypes":[{"id":201,"value":"happens","svalue":"happens","icon":"fa-kit fa-alert"}],"collectionPath":[{"id":123,"name":"Tier 1 suppliers","path":[{"id":1,"name":"Supply chain monitoring"},{"id":123,"name":"Tier 1 suppliers"}]}],"geo":{"geometry":null,"properties":{"name":null,"countryCode":null,"alertCount":null,"boundingBox":null},"type":"Feature"}}],"pageable":{"pageNumber":0,"pageSize":20,"sort":{"empty":true,"sorted":false,"unsorted":true},"offset":0,"paged":true,"unpaged":false},"totalPages":1,"totalElements":1,"last":true,"size":20,"number":0,"numberOfElements":1,"sort":{"empty":true,"sorted":false,"unsorted":true},"first":true,"empty":false}'
                Empty alert feed:
                  summary: No alerts match the current filters
                  description: Empty alert feed
                  value: '{"content":[],"pageable":{"pageNumber":0,"pageSize":20,"sort":{"empty":true,"sorted":false,"unsorted":true},"offset":0,"paged":true,"unpaged":false},"totalPages":0,"totalElements":0,"last":true,"size":20,"number":0,"numberOfElements":0,"sort":{"empty":true,"sorted":false,"unsorted":true},"first":true,"empty":true}'
        '400':
          description: Bad Request - Invalid parameters (e.g. invalid date format, tier bounds, or priority values)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDTO'
              examples:
                Invalid request parameters:
                  summary: Error when a query parameter has an invalid value
                  description: Invalid request parameters
                  value: '{"code":"invalid_request","message":"Email must be a valid email address."}'
        '403':
          description: '403 Forbidden - Authentication or authorization failure. This status code is returned when: (1) the request lacks valid authentication credentials (missing or invalid X-Auth-Token header), or (2) the authenticated user does not have the required permission to access this resource.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessDeniedErrorDTO'
              examples:
                Access denied example:
                  summary: User lacks necessary permissions or authentication
                  value: "{\n        \"loggedIn\": true,\n        \"code\": \"access_denied\",\n        \"message\": \"Access denied: you don't have necessary permissions to access this resource\",\n        \"solution\": \"Contact support for appropriate permissions\"\n    }"
        '500':
          description: 500 Internal Server Error - An unexpected error occurred on the server. The request may or may not have been processed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDTO'
              examples:
                Error - Server Error:
                  summary: Unexpected server error
                  value: "{\n        \"code\": \"internal_error\",\n        \"message\": \"An unexpected error occurred\",\n        \"solution\": \"Please try again later or contact support\"\n    }"
        '429':
          description: '429 Too Many Requests - API rate limit exceeded. The request has been rejected because the rate limit for this endpoint has been exceeded. Default rate limits: GET requests - 100 per 10 seconds, 500 per minute; POST/PUT/PATCH/DELETE requests - 20 per 10 seconds, 100 per minute. For increased access, please contact customer success.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiRateLimitResponse'
              examples:
                Rate limit exceeded example:
                  summary: API rate limit exceeded
                  value: "{\n        \"error\": \"API rate limit exceeded\",\n        \"message\": \"You have reached the maximum allowed requests. Please try again later or upgrade your plan for increased access\",\n        \"requestLimit\": 100,\n        \"requestCount\": 100,\n        \"limits\": [\n            {\n                \"requestLimit\": 100,\n                \"timeInSeconds\": 10\n            },\n            {\n                \"requestLimit\": 500,\n                \"timeInSeconds\": 60\n            }\n        ],\n        \"currentTime\": \"2026-01-15T10:30:00\",\n        \"nextResetAt\": \"2026-01-15T10:30:10\"\n    }"
  /public/v1/target/{systemId}/{targetId}/alerts:
    get:
      tags:
      - Alerts
      summary: Get alerts for a specific target
      description: 'Retrieve alerts for a specific target identified by system ID and target ID.


        This endpoint returns paginated alerts for a single target, supporting foreign system ID mapping.

        The target can be identified using Prewave internal IDs or foreign system IDs (e.g., customer,

        supplier, SAP IDs).


        **Response:**

        Returns a paginated list of alert objects. Each alert includes basic information (id, uuid, title, timestamps), event grouping, priority and classification details, location/geographic data, source links and media, infotags, primary target information, and collection paths. The response is wrapped in a Spring Data `Page` object with standard pagination fields. See the response schema for complete field definitions.


        **Note**: Fields with null values are omitted from the JSON response. This is standard JSON serialization behavior. Geographic information (`geo`) is only available if `includeGeo` query parameter is set to `true`.


        **Use Cases**:

        - Monitor alerts for a specific supplier

        - Track alerts for targets identified by external system IDs

        - Filter alerts by priority, date, or perspective

        - Export target-specific alerts for reporting


        **Target Identification**:

        - Supports Prewave internal IDs (`systemId="prewave"`)

        - Supports foreign system IDs (e.g., `systemId="customer"`, `systemId="supplier"`)

        - Automatically resolves foreign IDs to Prewave target IDs


        **Filtering Options**:

        - **priorities**: Filter by alert priority levels (Low, Mid, High, Critical)

        - **newerThan**: Filter alerts newer than a timestamp (milliseconds)

        - **perspectiveId**: Filter by perspective (defaults to user''s perspective)

        - **includeGeo**: Include geographic coordinates in response


        **Pagination**:

        - Results are paginated (default: 20 items per page)

        - Use `page` and `size` query parameters to control pagination


        **Required Permission**: `access_public_target_feed`


        **Performance Impact**: Medium'
      operationId: targetAlerts
      parameters:
      - name: systemId
        in: path
        description: An identifier that indicates which system the targetId originates from. Supported values are "prewave", "customer", "supplier", "own".
        required: true
        schema:
          type: string
        example: prewave
      - name: targetId
        in: path
        description: The target ID can be the target's prewaveId or an external id (edge number) representing the site in another system.
        required: true
        schema:
          type: string
        example: 102006215
      - name: newerThan
        in: query
        description: Only return alerts that are newer than the given timestamp (Timestamp in milliseconds since epoch)
        required: false
        schema:
          type: integer
          format: int64
        example: 1705312800000
      - name: priorities
        in: query
        description: List of priorities to filter the feed by
        required: false
        schema:
          type: array
          items:
            type: string
            enum:
            - Low
            - Mid
            - High
            - Critical
        example: High,Critical
      - name: includeGeo
        in: query
        description: If set to true, the response will include the geo information.
        required: false
        schema:
          type: boolean
        example: true
      - name: perspectiveId
        in: query
        description: The perspective ID to filter the alerts. If not provided, the user's perspective ID will be used.
        required: false
        schema:
          type: integer
          format: int32
        example: 1
      - name: pageable
        in: query
        required: true
        schema:
          $ref: '#/components/schemas/Pageable'
      responses:
        '200':
          description: Successfully retrieved target alerts
          content:
            application/json:
              schema:
                type: object
                properties:
                  content:
                    type: array
                    items:
                      $ref: '#/components/schemas/PublicAlertDTO'
                  size:
                    type: integer
                    format: int32
                  number:
                    type: integer
                    format: int32
                  totalElements:
                    type: integer
                    format: int32
                  totalPages:
                    type: integer
                    format: int32
                  numberOfElements:
                    type: integer
                    format: int32
                  first:
                    type: boolean
                  last:
                    type: boolean
                  empty:
                    type: boolean
              examples:
                Target alerts example:
                  summary: Sample paginated alerts response for a target
                  description: Target alerts example
                  value: '{"content":[{"id":12345,"uuid":"a1b2c3d4-e5f6-7890-abcd-ef1234567890","title":"Insolvency announced at Acme Manufacturing Inc","createdAt":1704067200000,"predictedAtStart":1703980800000,"predictedAtEnd":1704067199000,"description":"Insolvency announced for Acme Manufacturing Inc on 15-01-2025","event":{"uuid":"b2c3d4e5-f6a7-8901-bcde-f23456789012"},"statusId":null,"locations":[],"links":[{"id":null,"url":"https://example.com/news/insolvency-acme-manufacturing","title":"Insolvency announced for Acme Manufacturing Inc","description":"Insolvency announced for Acme Manufacturing Inc on 15-01-2025","pictureUrl":null,"originalLang":null,"originalTitle":null,"originalDescription":null}],"media":[],"infotags":[{"id":1001,"type":{"type":"event_type","active":true,"displayName":"Event Type","icon":null,"ordering":10001,"display":true},"value":"Insolvency","svalue":"insolvency","icon":"fa-kit fa-financial-stress","numValue":null,"priority":null,"impactScore":null}],"primaryTargets":[{"target":{"id":102006215,"name":"Acme Manufacturing Inc","sname":null,"logo":null,"backgroundPicture":null,"description":null,"website":null,"location":"Sample City, US","yearFounded":null,"size":null,"screened":true,"screenedStatus":null,"linkedInId":null,"type":{"id":1,"type":"organization","displayName":"Site Group","pluralName":"Site Groups","ordering":null,"scoring":null},"ctype":{"id":1,"ctype":"company","targetTypeId":1,"displayName":"Company","pluralName":"Companies","icon":"fas fa-building","ordering":null,"priority":0,"connectable":false,"bgColor":"#cccccc","textColor":"#000000"},"geo":{"geometry":null,"properties":{"name":null,"countryCode":null,"alertCount":null,"boundingBox":null},"type":"Feature"},"geoShape":{"geometry":null,"properties":{"name":null,"countryCode":null,"alertCount":null,"boundingBox":null},"type":"Feature"},"parents":[],"organization":null,"industries":[],"monitoredSince":null,"earliestAlert":null,"ordering":null,"disruptionStatusUpdate":null,"own":false,"managed":false,"isPublic":null,"connectionContactsCount":null,"population":null,"following":false,"collectionFollowing":false,"tier":null,"path":[],"collectionLevel":null,"collectionPath":[],"collectionPaths":[],"foreignSystems":[],"scoreAvail":"None","revenue":null,"impact":null,"hsCode":[],"mergedTargets":[]},"impactLevel":{"id":4222469,"level":"company","displayName":"Site Group","ordering":10},"impactScore":null,"priority":"Mid"}],"priority":"Critical","priorityDetails":{"massDisruption":false,"brandMention":false,"rumour":false,"lowPeerRisk":false,"terminates":false},"collectionPath":[],"geo":null}],"pageable":{"pageNumber":0,"pageSize":20,"sort":{"empty":true,"sorted":false,"unsorted":true},"offset":0,"paged":true,"unpaged":false},"totalPages":1,"totalElements":1,"last":true,"size":20,"number":0,"numberOfElements":1,"sort":{"empty":true,"sorted":false,"unsorted":true},"first":true,"empty":false}'
        '400':
          description: Bad Request - Invalid parameters (e.g., invalid timestamp, invalid priority values)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDTO'
        '404':
          description: Target not found or foreign system ID mapping not found
          content:
            application/json:
              examples:
                Target not found:
                  summary: Error when target ID is invalid
                  description: Target not found
                  value: '{"code":"resource_not_found","message":"Target not found: systemId=customer, targetId=INVALID_ID","solution":"Verify target ID and system ID are correct"}'
        '403':
          description: '403 Forbidden - Authentication or authorization failure. This status code is returned when: (1) the request lacks valid authentication credentials (missing or invalid X-Auth-Token header), or (2) the authenticated user does not have the required permission to access this resource.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessDeniedErrorDTO'
              examples:
                Access denied example:
                  summary: User lacks necessary permissions or authentication
                  value: "{\n        \"loggedIn\": true,\n        \"code\": \"access_denied\",\n        \"message\": \"Access denied: you don't have necessary permissions to access this resource\",\n        \"solution\": \"Contact support for appropriate permissions\"\n    }"
        '500':
          description: 500 Internal Server Error - An unexpected error occurred on the server. The request may or may not have been processed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDTO'
              examples:
                Error - Server Error:
                  summary: Unexpected server error
                  value: "{\n        \"code\": \"internal_error\",\n        \"message\": \"An unexpected error occurred\",\n        \"solution\": \"Please try again later or contact support\"\n    }"
        '429':
          description: '429 Too Many Requests - API rate limit exceeded. The request has been rejected because the rate limit for this endpoint has been exceeded. Default rate limits: GET requests - 100 per 10 seconds, 500 per minute; POST/PUT/PATCH/DELETE requests - 20 per 10 seconds, 100 per minute. For increased access, please contact customer success.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiRateLimitResponse'
              examples:
                Rate limit exceeded example:
                  summary: API rate limit exceeded
                  value: "{\n        \"error\": \"API rate limit exceeded\",\n        \"message\": \"You have reached the maximum allowed requests. Please try again later or upgrade your plan for increased access\",\n        \"requestLimit\": 100,\n        \"requestCount\": 100,\n        \"limits\": [\n            {\n                \"requestLimit\": 100,\n                \"timeInSeconds\": 10\n            },\n            {\n                \"requestLimit\": 500,\n                \"timeInSeconds\": 60\n            }\n        ],\n        \"currentTime\": \"2026-01-15T10:30:00\",\n        \"nextResetAt\": \"2026-01-15T10:30:10\"\n    }"
  /public/v1/feed:
    get:
      tags:
      - Alerts
      summary: Get all alerts of the current user's feed
      description: '## Current Endpoint Behavior


        Retrieve all alerts for targets that are in collections with feed delivery enabled.


        This endpoint returns paginated alerts filtered by various criteria. Alerts are returned for targets

        that belong to collections where feed delivery is enabled. Results are ordered by newest first.


        **Response:**

        Returns a paginated list of alert objects. Each alert includes basic information (id, uuid, title, timestamps), event grouping, priority and classification details, location/geographic data, source links and media, infotags, primary target information, and collection paths. The response is wrapped in a Spring Data `Page` object with standard pagination fields. See the response schema for complete field definitions.


        **Note**: Fields with null values are omitted from the JSON response. This is standard JSON serialization behavior. Geographic information (`geo`) is only available if `includeGeo` query parameter is set to `true`.


        **Required Permission**: `access_public_user_feed`


        **Performance Impact**: Medium'
      operationId: alertFeed_1
      parameters:
      - name: collectionId
        in: query
        description: Collection IDs to filter the feed by. Only alerts for targets in these collections will be returned. Obtain collection IDs from `GET /public/v1/collections` endpoint.
        required: false
        schema:
          type: array
          items:
            type: integer
            format: int32
        example: 123,456
      - name: newerThan
        in: query
        description: ⚠️ **DEPRECATED** - Use `from` parameter instead. Only return alerts that are newer than the given timestamp (Timestamp in milliseconds). This parameter is deprecated in favor of ISO 8601 date format.
        required: false
        deprecated: true
        schema:
          type: integer
          format: int64
      - name: from
        in: query
        description: Only return alerts that are newer than the given date. Use ISO 8601 format (e.g., 2020-12-31T23:59). This parameter replaces the deprecated `newerThan` parameter.
        required: false
        schema:
          type: string
          format: date-time
        example: 2020-12-31T23:59
      - name: perspectiveId
        in: query
        description: Perspective ID to filter the feed by. Defaults to the user's default perspective. The perspective determines which risk factors and scoring weights are applied to alerts.
        required: false
        schema:
          type: integer
          format: int32
        example: 1
      - name: priorities
        in: query
        description: List of priorities to filter the feed by
        required: false
        schema:
          type: array
          items:
            type: string
            enum:
            - Low
            - Mid
            - High
            - Critical
        example: High,Critical
      - name: includeGeo
        in: query
        description: If set to true, the response will include the geo information.
        required: false
        schema:
          type: boolean
        example: true
      - name: impactLevelIds
        in: query
        description: Impact level IDs to filter the feed by. Only alerts with these impact levels will be returned.
        required: false
        schema:
          type: array
          items:
            type: integer
            format: int32
        example: 1,2,3
      - name: pageable
        in: query
        required: true
        schema:
          $ref: '#/components/schemas/Pageable'
      responses:
        '200':
          description: Successfully retrieved alerts
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SchemaPublicAlertDTO'
              examples:
                Alerts feed example:
                  summary: Sample paginated alerts response
                  description: Alerts feed example
                  value:
                    content:
                    - id: 12345
                      uuid: a1b2c3d4-e5f6-7890-abcd-ef1234567890
                      title: Industry Update happens at Acme Corporation
                      createdAt: 1704067200000
                      predictedAtStart: 1703980800000
                      predictedAtEnd: 1704067199000
                      description: Acme Corporation is implementing new sustainability measures following industry best practices. The company has announced a comprehensive plan to reduce carbon emissions and improve supply chain transparency.
                      event:
                        uuid: b2c3d4e5-f6a7-8901-bcde-f23456789012
                      locations: []
                      links:
                      - url: https://example.com/news/acme-sustainability-initiative
                        title: Acme Corporation announces sustainability initiative
                        description: Acme Corporation has announced a comprehensive plan to reduce carbon emissions and improve supply chain transparency.
                      media:
                      - url: /images/twitter-img/example-image.jpg
                        mimeType: image/jpeg
                      infotags:
                      - id: 1001
                        type:
                          type: alert_type
                          active: false
                          displayName: Alert Status
                          icon: far fa-bell
                          ordering: 1
                          display: true
                        value: happens / occurs
                        svalue: happens
                      - id: 2001
                        type:
                          type: event_type
                          active: false
                          displayName: Event Type
                          ordering: 10001
                          display: true
                        value: Industry Update
                        svalue: industry_update
                        icon: fas fa-bullhorn
                        priority: Low
                      primaryTargets:
                      - target:
                          id: 102006215
                          name: Acme Corporation
                          logo: /images/company-img/8258b578a63d8e9ea222e66fd6f578b12fa32c14cdb04779fc9d42b215bd2aeb.svg
                          screened: false
                          type:
                            id: 5195261
                            type: organization
                            displayName: Site Group
                            pluralName: ''
                            ordering: 0
                            scoring: Alert
                          ctype:
                            id: 972417
                            ctype: company
                            targetTypeId: 5195261
                            displayName: Site Group
                            pluralName: ''
                            icon: fas fa-building
                            ordering: 0
                            priority: 0
                            connectable: false
                            bgColor: ''
                            textColor: ''
                          geo:
                            properties: {}
                            type: Feature
                          geoShape:
                            properties: {}
                            type: Feature
                          parents: []
                          industries: []
                          own: false
                          managed: false
                          following: false
                          collectionFollowing: false
                          tier: 1
                          path:
                          - id: 102006215
                            name: Acme Corporation
                            foreignSystems: []
                          collectionPath: []
                          collectionPaths: []
                          foreignSystems: []
                          scoreAvail: None
                          hsCode: []
                          merged_targets: []
                        impactLevel:
                          id: 7513328
                          level: tier2
                          displayName: Tier-2
                          ordering: 100
                        priority: Mid
                      priority: Low
                      priorityDetails:
                        massDisruption: false
                        brandMention: false
                        rumour: false
                        lowPeerRisk: false
                        terminates: false
                      collectionPath: []
                      geo:
                        properties: {}
                        type: Feature
                    size: 20
                    number: 0
                    totalElements: 150
                    totalPages: 8
                    numberOfElements: 20
        '400':
          description: Bad Request - Invalid parameters (e.g., invalid date format, invalid priority values)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDTO'
              examples:
                Invalid date format:
                  summary: Error when date format is invalid
                  description: Invalid date format
                  value:
                    code: invalid_request
                    message: Invalid date format for parameter 'from'. Expected ISO 8601 format (e.g., 2020-12-31T23:59)
                    solution: 'Use ISO 8601 date format: YYYY-MM-DDTHH:mm'
        '404':
          description: Collection not found or not accessible
          content:
            application/json:
              examples:
                Collection not found:
                  summary: Error when collection ID is invalid
                  description: Collection not found
                  value:
                    code: resource_not_found
                    message: Collection [999] not found
                    solution: Verify collection IDs using GET /public/v1/collections
        '403':
          description: '403 Forbidden - Authentication or authorization failure. This status code is returned when: (1) the request lacks valid authentication credentials (missing or invalid X-Auth-Token header), or (2) the authenticated user does not have the required permission to access this resource.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessDeniedErrorDTO'
              examples:
                Access denied example:
                  summary: User lacks necessary permissions or authentication
                  value: "{\n        \"loggedIn\": true,\n        \"code\": \"access_denied\",\n        \"message\": \"Access denied: you don't have necessary permissions to access this resource\",\n        \"solution\": \"Contact support for appropriate permissions\"\n    }"
        '500':
          description: 500 Internal Server Error - An unexpected error occurred on the server. The request may or may not have been processed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDTO'
              examples:
                Error - Server Error:
                  summary: Unexpected server error
                  value: "{\n        \"code\": \"internal_error\",\n        \"message\": \"An unexpected error occurred\",\n        \"solution\": \"Please try again later or contact support\"\n    }"
        '429':
          description: '429 Too Many Requests - API rate limit exceeded. The request has been rejected because the rate limit for this endpoint has been exceeded. Default rate limits: GET requests - 100 per 10 seconds, 500 per minute; POST/PUT/PATCH/DELETE requests - 20 per 10 seconds, 100 per minute. For increased access, please contact customer success.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiRateLimitResponse'
              examples:
                Rate limit exceeded example:
                  summary: API rate limit exceeded
                  value: "{\n        \"error\": \"API rate limit exceeded\",\n        \"message\": \"You have reached the maximum allowed requests. Please try again later or upgrade your plan for increased access\",\n        \"requestLimit\": 100,\n        \"requestCount\": 100,\n        \"limits\": [\n            {\n                \"requestLimit\": 100,\n                \"timeInSeconds\": 10\n            },\n            {\n                \"requestLimit\": 500,\n                \"timeInSeconds\": 60\n            }\n        ],\n        \"currentTime\": \"2026-01-15T10:30:00\",\n        \"nextResetAt\": \"2026-01-15T10:30:10\"\n    }"
components:
  schemas:
    SortObject:
      type: object
      properties:
        empty:
          type: boolean
          example: null
        sorted:
          type: boolean
          example: null
        unsorted:
          type: boolean
          example: null
      example: null
    TargetRequestTypeStatusDto:
      type: object
      properties:
        id:
          type:
          - integer
          - 'null'
          format: int32
          example: null
        customerId:
          type:
          - integer
          - 'null'
          format: int32
          example: null
        status:
          type:
          - string
          - 'null'
          enum:
          - NONE
          - PENDING
          - COMPLETED
          - REJECTED
          example: null
        rejectionReason:
          type:
          - string
          - 'null'
          example: null
      example: null
    DeliverySettingTypeDTO:
      required:
      - displayName
      - frequency
      - inherited
      - minPriority
      - ordering
      - type
      type: object
      properties:
        type:
          type: string
          enum:
          - Feed
          - EmailRealtime
          - EmailDaily
          - EmailWeekly
          example: null
        displayName:
          type: string
          example: null
        ordering:
          type: integer
          format: int32
          example: null
        frequency:
          type: string
          example: null
        minPriority:
          type: string
          enum:
          - Low
          - Mid
          - High
          - Critical
          example: null
        inherited:
          type: boolean
          example: null
      example: null
    ApiRateLimitTimeRequestLimit:
      type: object
      properties:
        requestLimit:
          type: integer
          description: Maximum number of requests allowed in this time window
          format: int32
          example: 100
        timeInSeconds:
          type: integer
          description: Time window duration in seconds
          format: int32
          example: 10
      description: Rate limit configuration for a specific time window
      example: null
    InfotagDTO:
      required:
      - id
      - isTarget
      - type
      type: object
      properties:
        id:
          type: integer
          format: int32
          example: null
        type:
          $ref: '#/components/schemas/InfotagTypeDTO'
        value:
          type:
          - string
          - 'null'
          example: null
        svalue:
          type:
          - string
          - 'null'
          example: null
        icon:
          type:
          - string
          - 'null'
          example: null
        numValue:
          type:
          - number
          - 'null'
          example: null
        priority:
          type:
          - string
          - 'null'
          description: Obsolete
          deprecated: true
          enum:
          - Low
          - Mid
          - High
          - Critical
          example: null
        impactScore:
          type:
          - string
          - 'null'
          enum:
          - Low
          - Mid
          - High
          - Critical
          example: null
        isTarget:
          type: boolean
          example: null
        updatedAt:
          type:
          - string
          - 'null'
          format: date-time
          example: null
      example: null
    TargetRequestInfoDto:
      required:
      - targetId
      type: object
      properties:
        targetId:
          type: integer
          format: int32
          example: null
        validationRequest:
          allOf:
          - $ref: '#/components/schemas/TargetRequestTypeStatusDto'
          example: null
        screeningRequest:
          allOf:
          - $ref: '#/components/schemas/TargetRequestTypeStatusDto'
          example: null
        reportedTargetRequest:
          allOf:
          - $ref: '#/components/schemas/TargetRequestTypeStatusDto'
          example: null
      example: null
    PublicAlertFlaggedDTO:
      required:
      - flaggedAt
      - reason
      type: object
      properties:
        reason:
          type: string
          description: Reason why the alert was flagged
          example: null
        comment:
          type:
          - string
          - 'null'
          description: Optional comment on the flagging
          example: null
        flaggedAt:
          type: string
          description: When the alert was flagged
          format: date-time
          example: null
      description: Flagging information for this alert
      example: null
    GeoProperties:
      type: object
      properties:
        name:
          type:
          - string
          - 'null'
          example: null
        countryCode:
          type:
          - string
          - 'null'
          example: null
        alertCount:
          type:
          - integer
          - 'null'
          format: int32
          example: null
        boundingBox:
          type:
          - array
          - 'null'
          items:
            type: integer
            format: int32
            example: null
          example: null
      example: null
    SchemaPublicAlertDTO:
      type: object
      properties:
        totalPages:
          type: integer
          format: int32
          example: null
        totalElements:
          type: integer
          format: int64
          example: null
        size:
          type: integer
          format: int32
          example: null
        content:
          type: array
          items:
            $ref: '#/components/schemas/PublicAlertDTO'
          example: null
        number:
          type: integer
          format: int32
          example: null
        numberOfElements:
          type: integer
          format: int32
          example: null
        sort:
          $ref: '#/components/schemas/SortObject'
        pageable:
          $ref: '#/components/schemas/Pageable'
        first:
          type: boolean
          example: null
        last:
          type: boolean
          example: null
        empty:
          type: boolean
          example: null
      example: null
    UserSystemAttributes:
      required:
      - incognitoOnboarding
      - onboardingFlowComplete
      type: object
      properties:
        onboardingFlowComplete:
          type: boolean
          example: null
        incognitoOnboarding:
          type: boolean
          example: null
        joinCustomer:
          type:
          - integer
          - 'null'
          format: int32
          example: null
        supplierOnboardingData:
          allOf:
          - $ref: '#/components/schemas/SupplierOnboardingData'
          example: null
      example: null
    PublicCollectionPathRef:
      required:
      - id
      - name
      - path
      type: object
      properties:
        id:
          type: integer
          format: int32
          example: null
        name:
          type: string
          example: null
        path:
          type: array
          items:
            $ref: '#/components/schemas/CollectionRef'
          example: null
      description: The collections and their hierarchy for the target
      example: null
    RiskAnalysisType:
      required:
      - availablePerspectives
      - hideDetails
      - products
      - recommended
      - scoping
      - tierNAnalysisEnabled
      - type
      type: object
      properties:
        type:
          type: string
          enum:
          - Default
          - LkSG
          - Norwegian Transparancy Act
          - CSDDD (Beta)
          - EU Battery Regulation
          example: null
        hideDetails:
          type: boolean
          example: null
        recommended:
          type: boolean
          example: null
        tierNAnalysisEnabled:
          type: boolean
          example: null
        scoping:
          type: boolean
          example: null
        products:
          type: boolean
          example: null
        component:
          type:
          - string
          - 'null'
          enum:
          - PeerScore
          - AlertScore
          - SSAScore
          - ExternalScore
          - TierNScore
          example: null
        perspectiveId:
          type:
          - integer
          - 'null'
          format: int32
          example: null
        availablePerspectives:
          type: array
          items:
            $ref: '#/components/schemas/PerspectiveDTO'
          example: null
        countryScoreThreshold:
          type:
          - number
          - 'null'
          format: double
          example: null
        industryScoreThreshold:
          type:
          - number
          - 'null'
          format: double
          example: null
        purchaseVolumeThreshold:
          type:
          - number
          - 'null'
          format: double
          example: null
      example: null
    PublicInfotagDTO:
      required:
      - id
      - type
      - value
      type: object
      properties:
        id:
          type: integer
          format: int32
          example: null
        type:
          $ref: '#/components/schemas/PublicInfotagTypeDTO'
        value:
          type: string
          example: null
        svalue:
          type:
          - string
          - 'null'
          example: null
        icon:
          type:
          - string
          - 'null'
          example: null
        numValue:
          type:
          - number
          - 'null'
          example: null
        priority:
          type:
          - string
          - 'null'
          deprecated: true
          enum:
          - Low
          - Mid
          - High
          - Critical
          example: null
        impactScore:
          type:
          - string
          - 'null'
          enum:
          - Low
          - Mid
          - High
          - Critical
          example: null
      example: null
    PublicMediaDTO:
      type: object
      properties:
        id:
          type:
          - integer
          - 'null'
          format: int32
          example: null
        url:
          type:
          - string
          - 'null'
          example: null
        mimeType:
          type:
          - string
          - 'null'
          example: null
      description: Media files attached to the alert
      example: null
    PublicInfotagTypeDTO:
      required:
      - active
      - display
      - type
      type: object
      properties:
        type:
          type: string
          example: null
        active:
          type: boolean
          example: null
        displayName:
          type:
          - string
          - 'null'
          example: null
        icon:
          type:
          - string
          - 'null'
          example: null
        ordering:
          type:
          - integer
          - 'null'
          format: int32
          example: null
        display:
          type: boolean
          example: null
      example: null
    TeamDTO:
      required:
      - id
      - name
      - users
      type: object
      properties:
        id:
          type: integer
          format: int32
          example: null
        name:
          type: string
          example: null
        organizationId:
          type:
          - integer
          - 'null'
          format: int32
          example: null
        users:
          type: array
          items:
            $ref: '#/components/schemas/UserDTO'
          example: null
      example: null
    PublicImpactLevelDTO:
      required:
      - displayName
      - id
      - level
      - ordering
      type: object
      properties:
        id:
          type: integer
          format: int32
          example: null
        level:
          type: string
          enum:
          - company_poi_to_eoi
          - direct
          - related_target
          - company
          - industry
          - regional
          - tier2
          - tier3plus
          - in-company
          - commodity
          - country
          - mention
          example: null
        displayName:
          type: string
          example: null
        ordering:
          type: integer
          format: int32
          example: null
      example: null
    PublicAlertTargetDTO:
      required:
      - impactLevel
      - target
      type: object
      properties:
        target:
          $ref: '#/components/schemas/PublicTargetDTO'
        impactLevel:
          $ref: '#/components/schemas/PublicImpactLevelDTO'
        impactScore:
          type:
          - string
          - 'null'
          enum:
          - Low
          - Mid
          - High
          - Critical
          example: null
        priority:
          type:
          - string
          - 'null'
          enum:
          - Low
          - Mid
          - High
          - Critical
          example: null
      description: The targets affected by this alert.
      example: null
    UserAttributes:
      required:
      - scenarioWelcomeScreenShown
      type: object
      properties:
        scenarioWelcomeScreenShown:
          type: boolean
          example: null
      example: null
    EdgeImpactData:
      required:
      - causalContribution
      - coc
      - daysOnHand
      - deviation
      - edgeId
      - stockAtSupplier
      - stockOnPremise
      - validFrom
      - validTo
      type: object
      properties:
        edgeId:
          type: integer
          format: int32
          example: null
        validFrom:
          type: string
          format: date-time
          example: null
        validTo:
          type: string
          format: date-time
          example: null
        purchase:
          type:
          - number
          - 'null'
          example: null
        actualPurchase:
          type:
          - number
          - 'null'
          example: null
        diForced:
          type:
          - string
          - 'null'
          enum:
          - NA
          - 'No'
          - Low
          - Mid
          - High
          - Critical
          example: null
        di:
          type:
          - number
          - 'null'
          format: double
          example: null
        causalContribution:
          type: boolean
          example: null
        bi12:
          type:
          - number
          - 'null'
          example: null
        coc:
          type: boolean
          example: null
        mttrGrossE:
          type:
          - number
          - 'null'
          format: double
          example: null
        mttrNetE:
          type:
          - number
          - 'null'
          format: double
          example: null
        mttrGrossI:
          type:
          - number
          - 'null'
          format: double
          example: null
        mttrNetI:
          type:
          - number
          - 'null'
          format: double
          example: null
        stockOnPremise:
          type: number
          format: double
          example: null
        stockAtSupplier:
          type: number
          format: double
          example: null
        daysOnHand:
          type: number
          format: double
          example: null
        deviation:
          type: string
          enum:
          - NotApplicable
          - OnTarget
          - Below
          - Above
          example: null
        location:
          type:
          - string
          - 'null'
          enum:
          - SameBuilding
          - DifferentFireSection
          - DifferentBuilding
          - NotApplicable
          example: null
        lastConfirmationDate:
          type:
          - string
          - 'null'
          format: date
          example: null
        birsInfo:
          type:
          - string
          - 'null'
          example: null
        biForced:
          type:
          - string
          - 'null'
          enum:
          - NA
          - 'No'
          - Low
          - Mid
          - High
          - Critical
          example: null
        bi:
          type:
          - number
          - 'null'
          format: double
          example: null
        biEffE:
          type:
          - number
          - 'null'
          format: double
          example: null
        biEffI:
          type:
          - number
          - 'null'
          format: double
          example: null
        impact:
          type:
          - string
          - 'null'
          enum:
          - NA
          - 'No'
          - Low
          - Mid
          - High
          - Critical
          example: null
      example: null
    HSCode:
      required:
      - children
      - code
      - level
      type: object
      properties:
        code:
          type: string
          example: null
        description:
          type:
          - string
          - 'null'
          example: null
        numberShipments:
          type:
          - integer
          - 'null'
          format: int32
          example: null
        lastShipment:
          type:
          - string
          - 'null'
          format: date-time
          example: null
        children:
          type: array
          items:
            $ref: '#/components/schemas/HSCode'
          example: null
        level:
          type: integer
          format: int32
          example: null
      example: null
    ApiRateLimitResponse:
      type: object
      properties:
        error:
          type: string
          description: Error type identifier
          example: RateLimitExceeded
        message:
          type: string
          description: Human-readable error message explaining the rate limit violation
          example: API rate limit exceeded. Please reduce your request rate.
        requestLimit:
          type: integer
          description: Maximum number of requests allowed in the current time window
          format: int32
          example: 100
        requestCount:
          type: integer
          description: Number of requests made in the current time window
          format: int32
          example: 101
        limits:
          type: array
          description: All rate limits that apply to this endpoint, showing different time windows
          items:
            $ref: '#/components/schemas/ApiRateLimitTimeRequestLimit'
          example: null
        currentTime:
          type: string
          description: Current server time in ISO 8601 format
          format: date-time
          example: '2026-01-19T10:30:00'
        nextResetAt:
          type: string
          description: Time when the rate limit will reset in ISO 8601 format
          format: date-time
          example: '2026-01-19T10:30:10'
      description: Response returned when API rate limit is exceeded (HTTP 429)
      example: null
    PublicTargetDTO:
      required:
      - collectionFollowing
      - collectionPath
      - collectionPaths
      - ctype
      - following
      - foreignSystems
      - geo
      - geoShape
      - hsCode
      - id
      - industries
      - managed
      - mergedTargets
      - name
      - own
      - parents
      - path
      - scoreAvail
      - screened
      - type
      type: object
      properties:
        id:
          type: integer
          description: Prewave target id
          format: int32
          example: 102006215
        name:
          type: string
          description: Name of the Prewave target
          example: Høyanger
        sname:
          type:
          - string
          - 'null'
          description: Geonames Id (see https://geonames.org)
          example: '3191281'
        logo:
          type:
          - string
          - 'null'
          description: URL to the logo shown in the target profile
          example: null
        backgroundPicture:
          type:
          - string
          - 'null'
          description: URL to the background picture shown in the target profile
          example: null
        description:
          type:
          - string
          - 'null'
          description: Description of the Prewave target
          example: Description shown in the target profile
        website:
          type:
          - string
          - 'null'
          description: URL to the website shown in the target profile
          example: null
        location:
          type:
          - string
          - 'null'
          description: Location of the target
          example: Mistelbach
        yearFounded:
          type:
          - integer
          - 'null'
          description: Year the target was founded shown in the target profile
          format: int32
          example: 1999
        size:
          type:
          - string
          - 'null'
          description: Size of the target shown in the target profile
          example: Small
          enum:
          - Small
          - Medium
          - Large
          - Very large
        screened:
          type: boolean
          description: Whether the target is screened or not
          example: true
        screenedStatus:
          type:
          - string
          - 'null'
          description: Screening status of the target
          example: Screened
          enum:
          - Required
          - Pending
          - Screened
          - NotPossible
        linkedInId:
          type:
          - string
          - 'null'
          description: LinkedIn ID of the target
          example: general-motors
        type:
          $ref: '#/components/schemas/PublicTargetTypeDTO'
        ctype:
          $ref: '#/components/schemas/PublicTargetCTypeDTO'
        geo:
          $ref: '#/components/schemas/Geo'
        geoShape:
          $ref: '#/components/schemas/Geo'
        parents:
          type: array
          description: List of parent targets
          items:
            $ref: '#/components/schemas/PublicTargetDTO'
          example: null
        organization:
          $ref: '#/components/schemas/PublicTargetDTO'
        industries:
          type: array
          description: List of industries the target belongs to
          items:
            $ref: '#/components/schemas/PublicTargetDTO'
          example: null
        monitoredSince:
          type:
          - string
          - 'null'
          description: Date the target was monitored since
          format: date-time
          example: null
        earliestAlert:
          type:
          - string
          - 'null'
          description: Date of the earliest alert
          format: date-time
          example: null
        ordering:
          type:
          - integer
          - 'null'
          description: Ordering of the target
          format: int32
          example: null
        disruptionStatusUpdate:
          $ref: '#/components/schemas/ComplexDisruptionStatusUpdate'
        own:
          type: boolean
          description: Whether the target is owned by user customer or not
          example: null
        managed:
          type: boolean
          description: '`true` if user is target connection contact or target is owned by user customer, `false` otherwise'
          example: null
        isPublic:
          type:
          - boolean
          - 'null'
          description: Whether the target is public or not
          example: null
        connectionContactsCount:
          type:
          - integer
          - 'null'
          description: Number of connection contacts of the target
          format: int32
          example: null
        population:
          type:
          - integer
          - 'null'
          description: Population of the target. Generally applies to locations
          format: int32
          example: null
        following:
          type: boolean
          description: Target resides in "My follows" collection
          example: null
        collectionFollowing:
          type: boolean
          description: Target resides in any followed collection (including children)
          example: null
        tier:
          type:
          - integer
          - 'null'
          description: Tier of the target (relevant when fetching Tier-N)
          format: int32
          example: null
        path:
          type: array
          description: Path of the target (relevant when fetching Tier-N)
          items:
            $ref: '#/components/schemas/PublicTargetRefExtended'
          example: null
        collectionLevel:
          type:
          - integer
          - 'null'
          description: How deep the target is in the collection hierarchy
          format: int32
          example: null
        collectionPath:
          type: array
          description: Path of the target in the collection hierarchy
          items:
            $ref: '#/components/schemas/CollectionRef'
          example: null
        collectionPaths:
          type: array
          description: Paths of the target in the collection hierarchy
          items:
            type: array
            description: Paths of the target in the collection hierarchy
            items:
              $ref: '#/components/schemas/CollectionRef'
            example: null
          example: null
        foreignSystems:
          type: array
          description: List of foreign systems the target is connected to
          items:
            $ref: '#/components/schemas/PublicTargetForeignSystemDTO'
          example: null
        scoreAvail:
          type: string
          description: Score availability of the target
          enum:
          - None
          - Peer
          - Alert
          - SSA
          - External
          example: null
        revenue:
          type:
          - number
          - 'null'
          description: Revenue of the target
          example: null
        impact:
          type:
          - string
          - 'null'
          description: Impact of the target
          enum:
          - NA
          - 'No'
          - Low
          - Mid
          - High
          - Critical
          example: null
        hsCode:
          type: array
          description: List of HS Codes of the target
          items:
            $ref: '#/components/schemas/PublicHSCode'
          example: null
        mergedTargets:
          type: array
          description: Target ids of past targets that were merged into this current target
          items:
            type: integer
            description: Target ids of past targets that were merged into this current target
            format: int32
            example: null
          example: null
        public:
          type: boolean
          writeOnly: true
          example: null
      example: null
    PerspectiveTypeDTO:
      required:
      - displayName
      - id
      - ordering
      - type
      type: object
      properties:
        id:
          type: integer
          format: int32
          example: null
        type:
          type: string
          example: null
        displayName:
          type: string
          example: null
        ordering:
          type: integer
          format: int32
          example: null
      example: null
    CustomerDTO:
      required:
      - defaultEdgeType
      - id
      - name
      type: object
      properties:
        id:
          type: integer
          format: int32
          example: null
        name:
          type: string
          example: null
        logo:
          type:
          - string
          - 'null'
          example: null
        defaultEdgeType:
          type: string
          enum:
          - Supplier
          - Customer
          - PrimaryMaterial
          - SecondaryMaterial
          - Equipment
          - Own
          example: null
        pristine:
          type:
          - boolean
          - 'null'
          example: null
        confidentialSticker:
          type:
          - string
          - 'null'
          example: null
        forceDefaultConnectionContact:
          type:
          - boolean
          - 'null'
          example: null
      example: null
    TargetForeignSystemDTO:
      required:
      - id
      - system
      type: object
      properties:
        system:
          type: string
          example: null
        id:
          type: string
          example: null
        source:
          type:
          - string
          - 'null'
          example: null
      example: null
    SchemaPublicAlertV2DTO:
      type: object
      properties:
        totalPages:
          type: integer
          format: int32
          example: null
        totalElements:
          type: integer
          format: int64
          example: null
        size:
          type: integer
          format: int32
          example: null
        content:
          type: array
          items:
            $ref: '#/components/schemas/PublicAlertV2DTO'
          example: null
        number:
          type: integer
          format: int32
          example: null
        numberOfElements:
          type: integer
          format: int32
          example: null
        sort:
          $ref: '#/components/schemas/SortObject'
        pageable:
          $ref: '#/components/schemas/Pageable'
        first:
          type: boolean
          example: null
        last:
          type: boolean
          example: null
        empty:
          type: boolean
          example: null
      example: null
    AccessDeniedErrorDTO:
      required:
      - code
      - loggedIn
      - message
      type: object
      properties:
        loggedIn:
          type: boolean
          example: null
        permission:
          type:
          - string
          - 'null'
          example: null
        code:
          type: string
          description: Error code
          example: null
        message:
          type: string
          description: Error message
          example: null
        solution:
          type:
          - string
          - 'null'
          description: Possible solution to the error
          example: null
      example: null
    PublicAlertLabelDTO:
      required:
      - bgColor
      - name
      - scope
      - textColor
      type: object
      properties:
        id:
          type:
          - integer
          - 'null'
          description: Prewave-internal label id
          format: int32
          example: null
        scope:
          type: string
          description: Scope of the label
          enum:
          - Public
          - Customer
          - User
          example: null
        name:
          type: string
          description: Name of the label
          example: null
        bgColor:
          type: string
          description: Background color of the label
          example: null
        textColor:
          type: string
          description: Text color of the label
          example: null
      description: Labels assigned to this alert
      example: null
    DisruptionStatus:
      required:
      - displayName
      - icon
      - id
      - ordering
      - status
      type: object
      properties:
        id:
          type: integer
          format: int32
          example: null
        status:
          type: string
          example: null
        displayName:
          type: string
          example: null
        icon:
          type: string
          example: null
        ordering:
          type: integer
          format: int32
          example: null
      example: null
    InfotagGroup:
      required:
      - id
      - name
      - ordering
      - sname
      type: object
      properties:
        id:
          type: integer
          format: int32
          example: null
        name:
          type: string
          example: null
        sname:
          type: string
          example: null
        icon:
          type:
          - string
          - 'null'
          example: null
        ordering:
          type: integer
          format: int32
          example: null
      example: null
    PlanDTO:
      required:
      - limits
      type: object
      properties:
        id:
          type:
          - integer
          - 'null'
          format: int32
          example: null
        planType:
          allOf:
          - $ref: '#/components/schemas/PlanTypeDTO'
          example: null
        name:
          type:
          - string
          - 'null'
          example: null
        pricePerUser:
          type:
          - number
          - 'null'
          example: null
        limits:
          type: array
          items:
            $ref: '#/components/schemas/PlanLimitDTO'
          example: null
        validFrom:
          type:
          - string
          - 'null'
          format: date-time
          example: null
        validTo:
          type:
          - string
          - 'null'
          format: date-time
          example: null
      example: null
    PublicLinkDTO:
      type: object
      properties:
        id:
          type:
          - integer
          - 'null'
          format: int32
          example: null
        url:
          type:
          - string
          - 'null'
          example: null
        title:
          type:
          - string
          - 'null'
          example: null
        description:
          type:
          - string
          - 'null'
          example: null
        pictureUrl:
          type:
          - string
          - 'null'
          example: null
        originalLang:
          type:
          - string
          - 'null'
          example: null
        originalTitle:
          type:
          - string
          - 'null'
          example: null
        originalDescription:
          type:
          - string
          - 'null'
          example: null
      description: Source links the alert is based on
      example: null
    TierSettingsDTO:
      required:
      - logisticsProvider
      - maxTier
      - scopePrivate
      - scopePublic
      - scopeShared
      - sourceCustomer
      - sourceCustoms
      - sourceMedia
      - sourcePrewavePrediction
      - suspectedSuppliers
      - tier2MinPrio
      - tier2TargetPrio
      - tier3PlusMinPrio
      - tier3PlusTargetPrio
      type: object
      properties:
        maxTier:
          type: integer
          format: int32
          example: null
        tier2TargetPrio:
          type: string
          enum:
          - Low
          - Mid
          - High
          - Critical
          example: null
        tier3PlusTargetPrio:
          type: string
          enum:
          - Low
          - Mid
          - High
          - Critical
          example: null
        tier2MinPrio:
          type: string
          enum:
          - Low
          - Mid
          - High
          - Critical
          example: null
        tier3PlusMinPrio:
          type: string
          enum:
          - Low
          - Mid
          - High
          - Critical
          example: null
        scopePrivate:
          type: boolean
          example: null
        scopeShared:
          type: boolean
          example: null
        scopePublic:
          type: boolean
          example: null
        sourceCustoms:
          type: boolean
          example: null
        sourcePrewavePrediction:
          type: boolean
          example: null
        sourceMedia:
          type: boolean
          example: null
        sourceCustomer:
          type: boolean
          example: null
        minShipments:
          type:
          - integer
          - 'null'
          format: int32
          example: null
        probability:
          type:
          - integer
          - 'null'
          format: int32
          example: null
        lastShipmentsPeriodFrom:
          type:
          - string
          - 'null'
          format: date
          example: null
        lastShipmentsPeriodTo:
          type:
          - string
          - 'null'
          format: date
          example: null
        suspectedSuppliers:
          type: boolean
          example: null
        logisticsProvider:
          type: boolean
          example: null
      example: null
    EdgeNumber:
      required:
      - number
      type: object
      properties:
        number:
          type: string
          example: null
        source:
          type:
          - string
          - 'null'
          example: null
        existingEdgeId:
          type:
          - integer
          - 'null'
          format: int32
          example: null
      example: null
    PerspectiveDTO:
      required:
      - actualImpactT80
      - actualRiskT80
      - commodityMissingScore
      - countryMissingScore
      - diModel
      - eventTypes
      - groups
      - id
      - industryMissingScore
      - insolvencyLoss
      - isGlobal
      - massDisruptionFactor
      - name
      - riskModel
      - sname
      - type
      type: object
      properties:
        id:
          type: integer
          format: int32
          example: null
        perspective:
          type:
          - string
          - 'null'
          example: null
        name:
          type: string
          example: null
        sname:
          type: string
          example: null
        type:
          $ref: '#/components/schemas/PerspectiveTypeDTO'
        isGlobal:
          type: boolean
          example: null
        groups:
          type: array
          items:
            $ref: '#/components/schemas/InfotagGroup'
          example: null
        eventTypes:
          type: array
          items:
            $ref: '#/components/schemas/InfotagDTO'
          example: null
        massDisruptionFactor:
          type: boolean
          example: null
        description:
          type:
          - string
          - 'null'
          example: null
        riskModel:
          type: string
          enum:
          - Sustainability
          - Disruption
          example: null
        diModel:
          type: string
          enum:
          - Direct
          - Parent
          - Auto
          example: null
        riskT80:
          type:
          - integer
          - 'null'
          format: int32
          example: null
        impactT80:
          type:
          - number
          - 'null'
          format: double
          example: null
        insolvencyLoss:
          type: boolean
          example: null
        industryMissingScore:
          type: string
          enum:
          - Zero
          - Skip
          example: null
        commodityMissingScore:
          type: string
          enum:
          - Zero
          - Skip
          example: null
        countryMissingScore:
          type: string
          enum:
          - Zero
          - Skip
          example: null
        actualRiskT80:
          type: integer
          format: int32
          example: null
        actualImpactT80:
          type: number
          format: double
          example: null
      example: null
    CollectionRef:
      required:
      - id
      - name
      type: object
      properties:
        id:
          type: integer
          format: int32
          example: null
        name:
          type: string
          example: null
      description: Paths of the target in the collection hierarchy
      example: null
    PermissionDTO:
      required:
      - authority
      - limits
      type: object
      properties:
        authority:
          type: string
          example: null
        limits:
          type: object
          additionalProperties:
            type: integer
            format: int32
          example: null
        description:
          type:
          - string
          - 'null'
          example: null
        id:
          type:
          - integer
          - 'null'
          format: int32
          example: null
      example: null
    PublicAlertV2DTO:
      required:
      - active
      - alertTypes
      - collectionPath
      - createdAt
      - event
      - eventTypeGroups
      - eventTypes
      - id
      - isSituationReport
      - labels
      - links
      - locations
      - media
      - mentionedTargets
      - previousAlerts
      - primaryTargets
      - uuid
      type: object
      properties:
        id:
          type: integer
          description: Prewave-internal alert id
          format: int32
          example: null
        uuid:
          type: string
          description: Prewave-internal alert uuid
          format: uuid
          example: null
        title:
          type:
          - string
          - 'null'
          description: Alert title
          example: Hurricane happens at Norsk Hydro in Høyanger, NO
        createdAt:
          type: string
          description: When the alert was generated/created at prewave
          format: date-time
          example: null
        predictedAtStart:
          type:
          - string
          - 'null'
          description: When the event - that this alert is describing - started
          format: date-time
          example: null
        predictedAtEnd:
          type:
          - string
          - 'null'
          description: When the event - that this alert is describing - ended
          format: date-time
          example: null
        description:
          type:
          - string
          - 'null'
          description: Detailed description of alert. Usually an excerpt taken from one of the links
          example: It's windy in Høyanger
        isSituationReport:
          type: boolean
          description: Whether this alert is a situation report
          example: null
        event:
          $ref: '#/components/schemas/PublicEventDTO'
        active:
          type: boolean
          description: Whether the alert is active
          example: null
        relevancy:
          type:
          - string
          - 'null'
          description: Relevancy of the alert
          enum:
          - Relevant
          - Irrelevant
          - NotYetAssigned
          example: null
        locations:
          type: array
          description: Locations where the alert happened
          items:
            $ref: '#/components/schemas/PublicTargetDTO'
          example: null
        links:
          type: array
          description: Source links the alert is based on
          items:
            $ref: '#/components/schemas/PublicLinkDTO'
          example: null
        media:
          type: array
          description: Media files attached to the alert
          items:
            $ref: '#/components/schemas/PublicMediaDTO'
          example: null
        primaryTargets:
          type: array
          description: The targets affected by this alert.
          items:
            $ref: '#/components/schemas/PublicAlertTargetDTO'
          example: null
        mentionedTargets:
          type: array
          description: The targets mentioned in this alert.
          items:
            $ref: '#/components/schemas/PublicTargetDTO'
          example: null
        priority:
          type:
          - string
          - 'null'
          description: Priority of alert
          enum:
          - Low
          - Mid
          - High
          - Critical
          example: null
        priorityDetails:
          allOf:
          - $ref: '#/components/schemas/PublicPriorityDetailsDTO'
          example: null
        previousAlerts:
          type: array
          description: Previous alerts related to this alert's event
          items:
            $ref: '#/components/schemas/PublicPreviousAlertDTO'
          example: null
        flagged:
          allOf:
          - $ref: '#/components/schemas/PublicAlertFlaggedDTO'
          example: null
        useCaseDetails:
          allOf:
          - $ref: '#/components/schemas/PublicUseCaseDetailsDTO'
          example: null
        labels:
          type: array
          description: Labels assigned to this alert
          items:
            $ref: '#/components/schemas/PublicAlertLabelDTO'
          example: null
        eventTypes:
          type: array
          description: Event types associated with this alert
          items:
            $ref: '#/components/schemas/PublicEventTypeDTO'
          example: null
        eventTypeGroups:
          type: array
          description: Event type groups associated with this alert
          items:
            $ref: '#/components/schemas/PublicEventTypeGroupDTO'
          example: null
        alertTypes:
          type: array
          description: Alert types (e.g. happens, terminates) associated with this alert
          items:
            $ref: '#/components/schemas/PublicAlertTypeDTO'
          example: null
        collectionPath:
          type: array
          description: The collections and their hierarchy for the target
          items:
            $ref: '#/components/schemas/PublicCollectionPathRef'
          example: null
        geo:
          $ref: '#/components/schemas/Geo'
      example: null
    PublicEventDTO:
      required:
      - uuid
      type: object
      properties:
        uuid:
          type: string
          description: Prewave event uuid
          format: uuid
          example: null
      description: Way of grouping alerts that belong to the same event, e.g. Strike announcement, Strike happens, Strike terminates
      example: null
    PublicPreviousAlertDTO:
      required:
      - alertId
      - createdAt
      - eventId
      type: object
      properties:
        alertId:
          type: integer
          description: Prewave-internal alert id of the previous alert
          format: int32
          example: null
        eventId:
          type: integer
          description: Prewave-internal event id
          format: int32
          example: null
        title:
          type:
          - string
          - 'null'
          description: Title of the previous alert
          example: null
        description:
          type:
          - string
          - 'null'
          description: Description of the previous alert
          example: null
        createdAt:
          type: string
          description: When the previous alert was created
          format: date-time
          example: null
      description: Previous alerts related to this alert's event
      example: null
    RoleDTO:
      required:
      - id
      - permissions
      - roleName
      type: object
      properties:
        id:
          type: integer
          format: int32
          example: null
        type:
          allOf:
          - $ref: '#/components/schemas/RoleTypeDTO'
          example: null
        roleName:
          type: string
          example: null
        displayName:
          type:
          - string
          - 'null'
          example: null
        description:
          type:
          - string
          - 'null'
          example: null
        permissions:
          type: array
          items:
            $ref: '#/components/schemas/PermissionDTO'
          example: null
      example: null
    Geo:
      required:
      - properties
      - type
      type: object
      properties:
        geometry:
          $ref: '#/components/schemas/Geometry'
        properties:
          $ref: '#/components/schemas/GeoProperties'
        type:
          type: string
          example: null
      description: Geo information for this alert. Only available if includeGeo is set to true.
      example: null
    PublicEventTypeGroupDTO:
      required:
      - eventTypeIds
      - id
      - name
      - sname
      type: object
      properties:
        id:
          type: integer
          description: ID of the event type group
          format: int32
          example: null
        name:
          type: string
          description: Name of the event type group
          example: Natural Disasters
        sname:
          type: string
          description: Technical name of the event type group
          example: natural_disasters
        eventTypeIds:
          type: array
          description: List of event type IDs in this group
          items:
            type: integer
            description: List of event type IDs in this group
            format: int32
            example: null
          example: null
      description: Event type groups associated with this alert
      example: null
    ComplexDisruptionStatusUpdate:
      required:
      - customer
      - general
      type: object
      properties:
        general:
          $ref: '#/components/schemas/DisruptionStatusUpdate'
        customer:
          $ref: '#/components/schemas/DisruptionStatusUpdate'
      description: Disruption status update of the target
      example: null
    TargetDTO:
      required:
      - children
      - collectionFollowing
      - collectionPath
      - collectionPaths
      - ctype
      - edges
      - followerCount
      - following
      - foreignSystems
      - geo
      - geoShape
      - hsCodes
      - id
      - industries
      - isAnonymous
      - managed
      - maturityAssessment
      - name
      - own
      - parents
      - path
      - paths
      - sanctionStatus
      - screened
      - type
      type: object
      properties:
        id:
          type: integer
          format: int32
          example: null
        name:
          type: string
          example: null
        sname:
          type:
          - string
          - 'null'
          example: null
        logo:
          type:
          - string
          - 'null'
          example: null
        backgroundPicture:
          type:
          - string
          - 'null'
          example: null
        description:
          type:
          - string
          - 'null'
          example: null
        website:
          type:
          - string
          - 'null'
          example: null
        location:
          type:
          - string
          - 'null'
          example: null
        yearFounded:
          type:
          - integer
          - 'null'
          format: int32
          example: null
        size:
          type:
          - string
          - 'null'
          enum:
          - Small
          - Medium
          - Large
          - Very large
          example: null
        screened:
          type: boolean
          example: null
        maturityAssessment:
          type: boolean
          example: null
        linkedInId:
          type:
          - string
          - 'null'
          example: null
        type:
          $ref: '#/components/schemas/TargetTypeDTO'
        ctype:
          $ref: '#/components/schemas/TargetCTypeDTO'
        geo:
          $ref: '#/components/schemas/Geo'
        geoShape:
          $ref: '#/components/schemas/Geo'
        address:
          type:
          - string
          - 'null'
          example: null
        muted:
          type:
          - boolean
          - 'null'
          example: null
        hierarchyCustomerId:
          type:
          - integer
          - 'null'
          format: int32
          example: null
        hierarchyOrganizationId:
          type:
          - integer
          - 'null'
          format: int32
          example: null
        level:
          type:
          - string
          - 'null'
          example: null
        parents:
          type: array
          items:
            $ref: '#/components/schemas/TargetDTO'
          example: null
        children:
          type: array
          items:
            $ref: '#/components/schemas/TargetDTO'
          example: null
        organization:
          $ref: '#/components/schemas/TargetDTO'
        customer:
          allOf:
          - $ref: '#/components/schemas/CustomerDTO'
          example: null
        industries:
          type: array
          items:
            $ref: '#/components/schemas/TargetDTO'
          example: null
        monitoredSince:
          type:
          - string
          - 'null'
          format: date-time
          example: null
        earliestAlert:
          type:
          - string
          - 'null'
          format: date-time
          example: null
        followerCount:
          type: integer
          format: int32
          example: null
        ordering:
          type:
          - integer
          - 'null'
          format: int32
          example: null
        disruptionStatusUpdate:
          $ref: '#/components/schemas/ComplexDisruptionStatusUpdate'
        sustainabilityStatus:
          type:
          - string
          - 'null'
          enum:
          - NoRisk
          - AtRisk
          - RedFlag
          example: null
        own:
          type: boolean
          example: null
        managed:
          type: boolean
          example: null
        isPublic:
          type:
          - boolean
          - 'null'
          example: null
        edges:
          type: array
          items:
            $ref: '#/components/schemas/EdgeDTO'
          example: null
        connection:
          allOf:
          - $ref: '#/components/schemas/Connection'
          example: null
        connectionContactsCount:
          type:
          - integer
          - 'null'
          format: int32
          example: null
        population:
          type:
          - integer
          - 'null'
          format: int32
          example: null
        following:
          type: boolean
          example: null
        collectionFollowing:
          type: boolean
          example: null
        tier:
          type:
          - integer
          - 'null'
          format: int32
          example: null
        path:
          type: array
          items:
            $ref: '#/components/schemas/TargetRef'
          example: null
        paths:
          type: array
          items:
            type: array
            items:
              $ref: '#/components/schemas/TargetRef'
            example: null
          example: null
        collectionLevel:
          type:
          - integer
          - 'null'
          format: int32
          example: null
        collectionPath:
          type: array
          items:
            $ref: '#/components/schemas/CollectionRef'
          example: null
        collectionPaths:
          type: array
          items:
            type: array
            items:
              $ref: '#/components/schemas/CollectionRef'
            example: null
          example: null
        foreignSystems:
          type: array
          items:
            $ref: '#/components/schemas/TargetForeignSystemDTO'
          example: null
        scoreAvail:
          type:
          - string
          - 'null'
          enum:
          - None
          - Peer
          - Alert
          - SSA
          - External
          example: null
        revenue:
          type:
          - number
          - 'null'
          example: null
        isRevenueEstimated:
          type:
          - boolean
          - 'null'
          example: null
        actualRevenue:
          type:
          - number
          - 'null'
          example: null
        revenueAvailability:
          type:
          - string
          - 'null'
          enum:
          - Unknown
          - Available
          example: null
        hsCodes:
          type: array
          items:
            $ref: '#/components/schemas/HSCode'
          example: null
        grievanceUrl:
          type:
          - string
          - 'null'
          example: null
        sanctionStatus:
          type: string
          enum:
          - DIRECT
          - INDIRECT
          - NONE
          example: null
        countryScoreAvailable:
          type:
          - boolean
          - 'null'
          example: null
        industryScoreAvailable:
          type:
          - boolean
          - 'null'
          example: null
        commodityScoreAvailable:
          type:
          - boolean
          - 'null'
          example: null
        isAnonymous:
          type: boolean
          example: null
        customName:
          type:
          - string
          - 'null'
          example: null
        latestRequest:
          allOf:
          - $ref: '#/components/schemas/TargetRequestInfoDto'
          example: null
        public:
          type: boolean
          writeOnly: true
          example: null
      example: null
    PublicTargetRefExtended:
      required:
      - foreignSystems
      - id
      - name
      type: object
      properties:
        id:
          type: integer
          format: int32
          example: null
        name:
          type: string
          example: null
        customName:
          type:
          - string
          - 'null'
          example: null
        latestRequest:
          allOf:
          - $ref: '#/components/schemas/TargetRequestInfoDto'
          example: null
        foreignSystems:
          type: array
          items:
            $ref: '#/components/schemas/EdgeNumber'
          example: null
      description: Path of the target (relevant when fetching Tier-N)
      example: null
    PublicTargetTypeDTO:
      required:
      - displayName
      - id
      - pluralName
      - type
      type: object
      properties:
        id:
          type: integer
          description: Prewave-internal ID of the target type
          format: int32
          example: null
        type:
          type: string
          description: Machine-readable name of the target type
          example: null
        displayName:
          type: string
          description: Display name of the target type
          example: null
        pluralName:
          type: string
          description: Plural name of the target type
          example: null
        ordering:
          type:
          - integer
          - 'null'
          description: Ordering of the target type
[...]
