openapi: 3.2.0
info:
  title: Public Prewave Collections - Management API
  description: Documentation of the Public Prewave API.
  version: '1.0'
servers:
- url: https://api.prewave.com
  description: Production Environment
security:
- Token authentication: []
tags:
- name: Collections - Management
  description: Public API for managing collections in Prewave's supply chain network. Collections are used to organize and group suppliers (targets) in your supply chain.
paths:
  /public/v1/collections/{collectionId}:
    get:
      tags:
      - Collections - Management
      summary: Get collection by ID
      description: 'Retrieve a specific collection by its unique identifier.


        The collection must be accessible to the authenticated user and must be active (not deactivated). This includes:

        - Collections owned by the user

        - Collections shared with the user''s teams

        - Organization-wide collections (if user has appropriate permissions)


        **Note**: Inactive (deactivated) collections will return `404 Not Found`, even if you have `READ` permission on them.


        **Response:**

        Returns a collection object with full details including nested child collections. The response includes the same fields as the list endpoint, but with the complete collection tree structure recursively populated. See the `PublicCollectionDTO` schema for complete field definitions.


        **Response Details:**

        - The response includes the full collection tree structure with all child collections recursively populated

        - Child collections have the same structure as the parent collection, allowing for nested hierarchies

        - Only active collections are returned (inactive/deactivated collections are filtered out)

        - Fields with null values (`parentId`, `updatedAt`) are omitted from the JSON response. This is standard JSON serialization behavior.


        **Required Permissions**: `ACCESS_COLLECTION` and `READ` on the collection.'
      operationId: getCollectionById
      parameters:
      - name: collectionId
        in: path
        description: The unique identifier (ID) of the collection to retrieve. This is the same identifier returned in the `id` field when retrieving collections via GET /public/v1/collections.
        required: true
        schema:
          type: integer
          format: int32
        example: 123
      responses:
        '200':
          description: 200 OK - Collection found and returned successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicCollectionDTO'
              examples:
                Collection - Single Result:
                  summary: Sample collection response
                  description: 'Note: Fields with null values (such as `updatedAt`) are omitted from the JSON response. The `parentId` field is included when it has a value.'
                  value: '{"id":123,"uuid":"550e8400-e29b-41d4-a716-446655440000","scope":"User","type":"Default","name":"European Suppliers","count":15,"lanes":true,"tiersEnabled":true,"parentId":100,"children":[{"id":124,"uuid":"660e8400-e29b-41d4-a716-446655440001","scope":"Customer","type":"Default","name":"Tier 1 Suppliers","count":8,"lanes":false,"tiersEnabled":true,"parentId":123,"children":[],"updatedAt":null}],"updatedAt":null}'
                Collection - No Children:
                  summary: Collection without child collections
                  description: 'Note: Fields with null values (such as `parentId` and `updatedAt`) are omitted from the JSON response.'
                  value: '{"id":125,"uuid":"770e8400-e29b-41d4-a716-446655440002","scope":"Customer","type":"Default","name":"My Suppliers","count":45,"lanes":false,"tiersEnabled":false,"parentId":null,"children":[],"updatedAt":null}'
        '404':
          description: '404 Not Found - The collection with the specified ID was not found, is inactive (deactivated), or is not accessible to your organization. This may occur if: (1) the collection ID doesn''t exist, (2) the collection was deactivated (soft-deleted), (3) the collection was never accessible to your organization, or (4) the collection is inactive and filtered out by the system.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDTO'
              examples:
                Collection not found:
                  summary: Collection ID does not exist or is not accessible
                  description: Collection not found
                  value: '{"code":"resource_not_found","message":"Collection with id 123 not found","solution":"Verify the collection ID and ensure it belongs to your organization"}'
        '403':
          description: '403 Forbidden - Authentication or authorization failure. This status code is returned when: (1) the request lacks valid authentication credentials (missing or invalid X-Auth-Token header), or (2) the authenticated user does not have the required permission to access this resource.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessDeniedErrorDTO'
              examples:
                Access denied example:
                  summary: User lacks necessary permissions or authentication
                  value: "{\n        \"loggedIn\": true,\n        \"code\": \"access_denied\",\n        \"message\": \"Access denied: you don't have necessary permissions to access this resource\",\n        \"solution\": \"Contact support for appropriate permissions\"\n    }"
        '500':
          description: 500 Internal Server Error - An unexpected error occurred on the server. The request may or may not have been processed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDTO'
              examples:
                Error - Server Error:
                  summary: Unexpected server error
                  value: "{\n        \"code\": \"internal_error\",\n        \"message\": \"An unexpected error occurred\",\n        \"solution\": \"Please try again later or contact support\"\n    }"
        '429':
          description: '429 Too Many Requests - API rate limit exceeded. The request has been rejected because the rate limit for this endpoint has been exceeded. Default rate limits: GET requests - 100 per 10 seconds, 500 per minute; POST/PUT/PATCH/DELETE requests - 20 per 10 seconds, 100 per minute. For increased access, please contact customer success.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiRateLimitResponse'
              examples:
                Rate limit exceeded example:
                  summary: API rate limit exceeded
                  value: "{\n        \"error\": \"API rate limit exceeded\",\n        \"message\": \"You have reached the maximum allowed requests. Please try again later or upgrade your plan for increased access\",\n        \"requestLimit\": 100,\n        \"requestCount\": 100,\n        \"limits\": [\n            {\n                \"requestLimit\": 100,\n                \"timeInSeconds\": 10\n            },\n            {\n                \"requestLimit\": 500,\n                \"timeInSeconds\": 60\n            }\n        ],\n        \"currentTime\": \"2026-01-15T10:30:00\",\n        \"nextResetAt\": \"2026-01-15T10:30:10\"\n    }"
    put:
      tags:
      - Collections - Management
      summary: Update an existing collection
      description: 'Update an existing collection''s name and lanes settings.


        Only active collections that the user has update permissions for can be modified. Only the collection name and lanes setting can be updated through this endpoint. Other properties like `scope` and `tiersEnabled` cannot be changed after creation.


        **Note**: Inactive (deactivated) collections will return `404 Not Found`, even if you have `UPDATE` permission on them.


        **Request:**

        Only `name` (required) and `lanes` (optional) fields can be updated. All other fields (`scope`, `tiersEnabled`, `parentId`) cannot be changed through this endpoint. See the `PublicCollectionUpdatePayload` schema for complete field definitions.


        **Validation Rules:**

        - Collection names must be unique within the user''s scope (duplicate names will result in `409 Conflict`)

        - The collection must exist, be active (not deactivated), and be accessible to the user

        - The user must have `UPDATE` permission on the collection

        - The user must be the collection creator OR have been granted access to the collection


        **What happens when you update a collection:**


        1. **Collection Update**: The collection''s name and/or lanes setting are updated

        2. **Audit Trail**: The update is recorded in the audit log with:

        - The user who updated the collection

        - Timestamp of the operation

        - Previous and new values for changed fields

        - Reference to the public API endpoint used

        - Audit comment: "Collection name and lanes updated via Public API"


        **Important Notes:**


        - Collection names must be unique within the user''s scope - attempting to use a duplicate name will result in `409 Conflict`

        - Only `name` and `lanes` can be updated through this endpoint - all other fields (`scope`, `type`, `tiersEnabled`, `parentId`) are preserved from the existing collection

        - The `scope` and `tiersEnabled` fields are immutable after creation

        - Inactive (deactivated) collections cannot be updated and will return `404 Not Found`

        - All collection operations are audited for compliance and tracking purposes


        **Required Permissions**: `MANAGE_COLLECTION` and `UPDATE` on the collection.'
      operationId: updateCollection
      parameters:
      - name: collectionId
        in: path
        description: The unique identifier (ID) of the collection to update. This is the same identifier returned in the `id` field when retrieving collections via GET /public/v1/collections.
        required: true
        schema:
          type: integer
          format: int32
        example: 123
      requestBody:
        description: Collection update payload. Content-Type must be `application/json`. Only `name` and `lanes` fields can be updated. All other fields (`scope`, `tiersEnabled`, `parentId`) cannot be changed through this endpoint.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PublicCollectionUpdatePayload'
            examples:
              Update Collection - Name and Lanes:
                summary: Example updating both name and lanes
                description: Update Collection - Name and Lanes
                value: '{"name":"Updated Supplier Collection","lanes":false}'
              Update Collection - Name Only:
                summary: Example updating only the name
                description: Update Collection - Name Only
                value: '{"name":"Renamed Collection","lanes":false}'
              Update Collection - Lanes Only:
                summary: Example updating only lanes setting
                description: Update Collection - Lanes Only
                value: '{"name":"My Suppliers","lanes":true}'
        required: true
      responses:
        '200':
          description: 200 OK - Collection updated successfully. The update has been audited with the comment 'Collection name and lanes updated via Public API'.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicCollectionDTO'
              examples:
                Updated collection response:
                  summary: Example of an updated collection
                  description: 'Note: Fields with null values (such as `updatedAt`) are omitted from the JSON response. The `parentId` field is included when it has a value.'
                  value: '{"id":123,"uuid":"550e8400-e29b-41d4-a716-446655440000","scope":"User","type":"Default","name":"Updated Supplier Collection","count":15,"lanes":false,"tiersEnabled":true,"parentId":100,"children":[],"updatedAt":null}'
        '400':
          description: 400 Bad Request - Invalid request payload or validation errors. The request body is malformed or contains invalid data.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDTO'
              examples:
                Missing required field:
                  summary: Required field is missing
                  description: Missing required field
                  value: '{"code":"invalid_request","message":"Name is required","solution":"Fix the request"}'
                Blank field validation:
                  summary: Required field is blank or contains only whitespace
                  description: Blank field validation
                  value: '{"code":"invalid_request","message":"Name is required","solution":"Fix the request"}'
                Invalid JSON:
                  summary: Request body is not valid JSON
                  description: Invalid JSON
                  value: '{"code":"invalid_request","message":"Name is required","solution":"Fix the request"}'
        '404':
          description: '404 Not Found - The collection with the specified ID was not found, is inactive (deactivated), or is not accessible to your organization. This may occur if: (1) the collection ID doesn''t exist, (2) the collection was deactivated (soft-deleted), (3) the collection was never accessible to your organization, (4) you don''t have update access (you must be the collection creator OR have been granted access), or (5) the collection is inactive and filtered out by the system.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDTO'
              examples:
                Collection not found:
                  summary: Collection ID does not exist or is not accessible
                  description: Collection not found
                  value: '{"code":"resource_not_found","message":"Collection with id 123 not found or access denied","solution":"Verify the collection ID and ensure you have the required permission on the collection"}'
        '409':
          description: 409 Conflict - A collection with the same name already exists in the user's scope. Collection names must be unique within each scope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDTO'
              examples:
                Duplicate collection name:
                  summary: Collection name already exists in scope
                  description: Duplicate collection name
                  value: '{"code":"duplicate_resource","message":"Collection with name ''New Supplier Collection'' already exists in Customer scope","solution":"Use a different collection name or a different scope"}'
        '403':
          description: '403 Forbidden - Authentication or authorization failure. This status code is returned when: (1) the request lacks valid authentication credentials (missing or invalid X-Auth-Token header), or (2) the authenticated user does not have the required permission to access this resource.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessDeniedErrorDTO'
              examples:
                Access denied example:
                  summary: User lacks necessary permissions or authentication
                  value: "{\n        \"loggedIn\": true,\n        \"code\": \"access_denied\",\n        \"message\": \"Access denied: you don't have necessary permissions to access this resource\",\n        \"solution\": \"Contact support for appropriate permissions\"\n    }"
        '500':
          description: 500 Internal Server Error - An unexpected error occurred on the server. The request may or may not have been processed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDTO'
              examples:
                Error - Server Error:
                  summary: Unexpected server error
                  value: "{\n        \"code\": \"internal_error\",\n        \"message\": \"An unexpected error occurred\",\n        \"solution\": \"Please try again later or contact support\"\n    }"
        '429':
          description: '429 Too Many Requests - API rate limit exceeded. The request has been rejected because the rate limit for this endpoint has been exceeded. Default rate limits: GET requests - 100 per 10 seconds, 500 per minute; POST/PUT/PATCH/DELETE requests - 20 per 10 seconds, 100 per minute. For increased access, please contact customer success.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiRateLimitResponse'
              examples:
                Rate limit exceeded example:
                  summary: API rate limit exceeded
                  value: "{\n        \"error\": \"API rate limit exceeded\",\n        \"message\": \"You have reached the maximum allowed requests. Please try again later or upgrade your plan for increased access\",\n        \"requestLimit\": 20,\n        \"requestCount\": 20,\n        \"limits\": [\n            {\n                \"requestLimit\": 20,\n                \"timeInSeconds\": 10\n            },\n            {\n                \"requestLimit\": 100,\n                \"timeInSeconds\": 60\n            }\n        ],\n        \"currentTime\": \"2026-01-15T10:30:00\",\n        \"nextResetAt\": \"2026-01-15T10:30:10\"\n    }"
    delete:
      tags:
      - Collections - Management
      summary: Deactivate a collection
      description: 'Deactivate (soft delete) an existing collection.


        This operation performs a **soft deletion** by marking the collection as inactive. The collection data remains in the database but is no longer accessible through the API.


        **Parameter:**

        - `{collectionId}` (path parameter): The unique identifier of the collection to deactivate.


        **What happens when you deactivate a collection:**


        1. **Collection Deactivation**: The collection is soft-deleted (marked as inactive)

        2. **API Visibility**: The collection will no longer appear in collection list queries (`GET /public/v1/collections`) or be accessible via `GET /public/v1/collections/{collectionId}`

        3. **Target Relationships**: Target-collection relationships remain in the database, but since the collection is inactive, targets linked to this collection become inaccessible through the API. The targets themselves are not deleted.

        4. **Cleanup**: Collection filters and tree filters associated with the collection are removed

        5. **User Default Collection**: If this collection was set as the user''s default collection, it will be cleared

        6. **Audit Trail**: The deactivation is recorded in the audit log with:

        - The user who deactivated the collection

        - Timestamp of the operation

        - Collection details (name, scope, type, ID)

        - Reference to the public API endpoint used

        - Audit comment: "Collection deleted via Public API"


        **Important Notes:**


        - This is a **soft delete** - the collection is marked as inactive but data remains in the database

        - Deactivated collections are filtered out from all API queries automatically

        - **Only the creator of the collection can deactivate it** - even if you have `DELETE` permission through a role, you must be the collection creator

        - Target-collection relationships remain in the database, but targets become inaccessible through the API since the collection is inactive

        - The targets themselves are not deleted - only the collection becomes inactive

        - The collection cannot be reactivated through this API (no reactivation endpoint is available)

        - All collection operations are audited for compliance and tracking purposes


        **Required Permissions**:

        - `MANAGE_COLLECTION` permission

        - `DELETE` permission on the collection

        - **You must be the creator of the collection** (collection.userId must match your user ID)'
      operationId: deleteCollection
      parameters:
      - name: collectionId
        in: path
        description: The unique identifier (ID) of the collection to deactivate. This is the same identifier returned in the `id` field when retrieving collections via GET /public/v1/collections.
        required: true
        schema:
          type: integer
          format: int32
        example: 123
      responses:
        '204':
          description: 204 No Content - Collection deactivated successfully. The collection has been soft-deleted (marked as inactive), and the deactivation has been audited with the comment 'Collection deleted via Public API'. The collection will no longer appear in API queries. Target-collection relationships remain in the database but become inaccessible since the collection is inactive.
          content:
            application/json:
              examples:
                Success response:
                  summary: Collection successfully deactivated
                  description: The response body is empty (204 No Content). The collection has been soft-deleted (marked as inactive) and all changes have been audited. The collection will no longer be accessible through the API.
                  value: null
        '400':
          description: '400 Bad Request - Invalid request. This status code is returned when the request is malformed or validation fails. This may occur if: (1) the collection cannot be deleted due to validation constraints, (2) the request parameters are invalid, or (3) there are other validation errors preventing the deletion.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDTO'
              examples:
                Invalid request:
                  summary: Request validation failed
                  description: Invalid request
                  value: '{"message":"Invalid request","code":"invalid_request","solution":"Fix the request"}'
        '404':
          description: '404 Not Found - The collection with the specified ID was not found, is inactive (deactivated), or is not accessible to your organization. This may occur if: (1) the collection ID doesn''t exist, (2) the collection was deactivated (soft-deleted), (3) the collection was never accessible to your organization, or (4) you don''t have read access to the collection.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDTO'
              examples:
                Collection not found:
                  summary: Collection ID does not exist or is not accessible
                  description: Collection not found
                  value: '{"code":"resource_not_found","message":"Collection with id 123 not found or access denied","solution":"Verify the collection ID and ensure you have the required permission on the collection"}'
        '403':
          description: '403 Forbidden - Authentication or authorization failure. This status code is returned when: (1) the request lacks valid authentication credentials (missing or invalid X-Auth-Token header), or (2) the authenticated user does not have the required permission to access this resource.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessDeniedErrorDTO'
              examples:
                Access denied example:
                  summary: User lacks necessary permissions or authentication
                  value: "{\n        \"loggedIn\": true,\n        \"code\": \"access_denied\",\n        \"message\": \"Access denied: you don't have necessary permissions to access this resource\",\n        \"solution\": \"Contact support for appropriate permissions\"\n    }"
        '500':
          description: 500 Internal Server Error - An unexpected error occurred on the server. The request may or may not have been processed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDTO'
              examples:
                Error - Server Error:
                  summary: Unexpected server error
                  value: "{\n        \"code\": \"internal_error\",\n        \"message\": \"An unexpected error occurred\",\n        \"solution\": \"Please try again later or contact support\"\n    }"
        '429':
          description: '429 Too Many Requests - API rate limit exceeded. The request has been rejected because the rate limit for this endpoint has been exceeded. Default rate limits: GET requests - 100 per 10 seconds, 500 per minute; POST/PUT/PATCH/DELETE requests - 20 per 10 seconds, 100 per minute. For increased access, please contact customer success.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiRateLimitResponse'
              examples:
                Rate limit exceeded example:
                  summary: API rate limit exceeded
                  value: "{\n        \"error\": \"API rate limit exceeded\",\n        \"message\": \"You have reached the maximum allowed requests. Please try again later or upgrade your plan for increased access\",\n        \"requestLimit\": 20,\n        \"requestCount\": 20,\n        \"limits\": [\n            {\n                \"requestLimit\": 20,\n                \"timeInSeconds\": 10\n            },\n            {\n                \"requestLimit\": 100,\n                \"timeInSeconds\": 60\n            }\n        ],\n        \"currentTime\": \"2026-01-15T10:30:00\",\n        \"nextResetAt\": \"2026-01-15T10:30:10\"\n    }"
  /public/v1/collections:
    get:
      tags:
      - Collections - Management
      summary: List all collections
      description: 'Retrieve all active collections accessible to the authenticated user with pagination support.


        This endpoint returns collections that the user has read access to, including:

        - User-owned collections (`scope: User`)

        - Customer collections (`scope: Customer`) - organization-wide collections accessible to the user

        - Team-shared collections (via collection roles)


        **Note**:

        - Only active (non-deactivated) collections are returned

        - Featured collections (`scope: Featured`) are excluded from this endpoint

        - Inactive (deactivated) collections are automatically filtered out


        **Response:**

        Returns a paginated list of collection objects. Each collection includes basic information such as id, uuid, scope, type, name, count, lanes, tiersEnabled, and optional parentId and children fields. See the `PublicCollectionDTO` schema for complete field definitions.


        **Note**: Fields with null values (`parentId`, `updatedAt`) are omitted from the JSON response. This is standard JSON serialization behavior. In the list endpoint, `children` arrays are typically empty - use `GET /public/v1/collections/{collectionId}` to retrieve a collection with its full children tree populated.


        **Pagination:**

        - Results are paginated for efficient data retrieval

        - Use query parameters to control pagination:

        - `page`: Page number (0-indexed, default: 0)

        - `size`: Number of items per page (default: 500)

        - Results are sorted alphabetically by collection name

        - Only active collections are included in pagination (inactive/deactivated collections are filtered out)


        **Access Control:**

        - Collections are filtered to include only those accessible to you:

        - Collections owned by you (`scope: User`)

        - Customer collections accessible to your organization (`scope: Customer`)

        - Collections where you have been granted access (via collection roles)

        - Featured collections are excluded from this endpoint

        - Inactive (deactivated) collections are automatically excluded


        **Required Permission**: `ACCESS_COLLECTION`'
      operationId: getAllCollections
      parameters:
      - name: page
        in: query
        description: Zero-based page index (0..N)
        required: false
        schema:
          minimum: 0
          type: integer
          default: 0
      - name: size
        in: query
        description: The size of the page to be returned
        required: false
        schema:
          minimum: 1
          type: integer
          default: 500
      - name: sort
        in: query
        description: 'Sorting criteria in the format: property,(asc|desc). Default sort order is ascending. Multiple sort criteria are supported.'
        required: false
        schema:
          type: array
          items:
            type: string
      responses:
        '200':
          description: 200 OK - Successfully retrieved collections
          content:
            application/json:
              schema:
                type: object
                properties:
                  content:
                    type: array
                    items:
                      $ref: '#/components/schemas/PublicCollectionDTO'
                  size:
                    type: integer
                    format: int32
                  number:
                    type: integer
                    format: int32
                  totalElements:
                    type: integer
                    format: int32
                  totalPages:
                    type: integer
                    format: int32
                  numberOfElements:
                    type: integer
                    format: int32
                  first:
                    type: boolean
                  last:
                    type: boolean
                  empty:
                    type: boolean
              examples:
                Collections - Multiple Results:
                  summary: Sample paginated collection response
                  description: 'Note: Fields with null values (such as `parentId` and `updatedAt`) are omitted from the JSON response.'
                  value: '{"content":[{"id":123,"uuid":"550e8400-e29b-41d4-a716-446655440000","scope":"User","type":"Default","name":"My Suppliers","count":45,"lanes":true,"tiersEnabled":false,"parentId":null,"children":[],"updatedAt":null},{"id":124,"uuid":"660e8400-e29b-41d4-a716-446655440001","scope":"Customer","type":"Default","name":"Tier 1 Suppliers","count":12,"lanes":false,"tiersEnabled":true,"parentId":100,"children":[],"updatedAt":null}],"size":20,"number":0,"totalElements":2,"totalPages":1,"numberOfElements":2}'
                Collections - Empty Page:
                  summary: No collections found
                  description: When there are no collections accessible to the user, an empty content array is returned.
                  value: '{"content":[],"size":20,"number":0,"totalElements":0,"totalPages":0,"numberOfElements":0}'
        '403':
          description: '403 Forbidden - Authentication or authorization failure. This status code is returned when: (1) the request lacks valid authentication credentials (missing or invalid X-Auth-Token header), or (2) the authenticated user does not have the required permission to access this resource.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessDeniedErrorDTO'
              examples:
                Access denied example:
                  summary: User lacks necessary permissions or authentication
                  value: "{\n        \"loggedIn\": true,\n        \"code\": \"access_denied\",\n        \"message\": \"Access denied: you don't have necessary permissions to access this resource\",\n        \"solution\": \"Contact support for appropriate permissions\"\n    }"
        '500':
          description: 500 Internal Server Error - An unexpected error occurred on the server. The request may or may not have been processed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDTO'
              examples:
                Error - Server Error:
                  summary: Unexpected server error
                  value: "{\n        \"code\": \"internal_error\",\n        \"message\": \"An unexpected error occurred\",\n        \"solution\": \"Please try again later or contact support\"\n    }"
        '429':
          description: '429 Too Many Requests - API rate limit exceeded. The request has been rejected because the rate limit for this endpoint has been exceeded. Default rate limits: GET requests - 100 per 10 seconds, 500 per minute; POST/PUT/PATCH/DELETE requests - 20 per 10 seconds, 100 per minute. For increased access, please contact customer success.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiRateLimitResponse'
              examples:
                Rate limit exceeded example:
                  summary: API rate limit exceeded
                  value: "{\n        \"error\": \"API rate limit exceeded\",\n        \"message\": \"You have reached the maximum allowed requests. Please try again later or upgrade your plan for increased access\",\n        \"requestLimit\": 100,\n        \"requestCount\": 100,\n        \"limits\": [\n            {\n                \"requestLimit\": 100,\n                \"timeInSeconds\": 10\n            },\n            {\n                \"requestLimit\": 500,\n                \"timeInSeconds\": 60\n            }\n        ],\n        \"currentTime\": \"2026-01-15T10:30:00\",\n        \"nextResetAt\": \"2026-01-15T10:30:10\"\n    }"
    post:
      tags:
      - Collections - Management
      summary: Create a new collection
      description: 'Create a new collection with the specified properties.


        The collection will be created with "Customer" scope by default unless explicitly specified otherwise. All required fields must be provided and will be validated.


        **Note**: The collection will be automatically subscribed to your account upon creation, and you will become the collection owner.


        **Request:**

        The request body includes collection name (required) and optional fields for scope, lanes, tiersEnabled, and parentId. See the `PublicCollectionPayload` schema for complete field definitions and validation rules.


        **Validation Rules:**

        - Collection names must be unique within the specified scope

        - The `tiersEnabled` field cannot be changed after collection creation

        - The `parentId` field is accepted but currently not used - collection hierarchy is managed internally


        **What happens when you create a collection:**


        1. **Collection Creation**: A new active collection is created with the specified properties

        2. **User Subscription**: You are automatically subscribed to the collection and become its owner

        3. **User Activity**: For Customer scope collections, the creation is logged in your user activity

        4. **Audit Trail**: The creation is recorded in the audit log with:

        - The user who created the collection

        - Timestamp of the operation

        - Collection details (name, scope, type)

        - Reference to the public API endpoint used

        - Audit comment: "Collection created via Public API"


        **Important Notes:**


        - Collection names must be unique within the specified scope - attempting to use a duplicate name will result in `409 Conflict`

        - Once created, the `scope` and `tiersEnabled` fields cannot be changed

        - The collection will be empty (no targets) initially - use the Collection Targets API (`POST /public/v1/collections/{collectionId}/targets`) to add suppliers to the collection

        - You automatically become the owner of the collection upon creation

        - All collection operations are audited for compliance and tracking purposes


        **Required Permission**: `CREATE_COLLECTION`'
      operationId: createCollection
      requestBody:
        description: Collection creation payload. Content-Type must be `application/json`. All required fields must be provided and will be validated. The `scope` field defaults to `Customer` if not provided.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PublicCollectionPayload'
            examples:
              Create Collection - Default Scope:
                summary: Example with default Customer scope
                description: Create Collection - Default Scope
                value: '{"scope":"Customer","name":"New Supplier Collection","lanes":true,"tiersEnabled":false,"parentId":null}'
              Create Collection - User Scope:
                summary: Example with User scope explicitly set
                description: Create Collection - User Scope
                value: '{"scope":"User","name":"My Personal Suppliers","lanes":false,"tiersEnabled":false,"parentId":null}'
              Create Collection - Minimal:
                summary: Minimal example with only required fields
                description: Create Collection - Minimal
                value: '{"name":"Basic Collection"}'
        required: true
      responses:
        '201':
          description: 201 Created - Collection created successfully. The creation has been audited with the comment 'Collection created via Public API'.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicCollectionDTO'
              examples:
                Created collection response:
                  summary: Example of a newly created collection
                  description: 'Note: Fields with null values (such as `parentId` and `updatedAt`) are omitted from the JSON response.'
                  value: '{"id":124,"uuid":"a1b2c3d4-e5f6-7890-1234-567890abcdef","scope":"Customer","type":"Default","name":"New Supplier Collection","count":0,"lanes":true,"tiersEnabled":false,"parentId":null,"children":[],"updatedAt":null}'
        '400':
          description: 400 Bad Request - Invalid request payload or validation errors. The request body is malformed or contains invalid data.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDTO'
              examples:
                Missing required field:
                  summary: Required field is missing
                  description: Missing required field
                  value: '{"code":"invalid_request","message":"Name is required","solution":"Fix the request"}'
                Blank field validation:
                  summary: Required field is blank or contains only whitespace
                  description: Blank field validation
                  value: '{"code":"invalid_request","message":"Name is required","solution":"Fix the request"}'
                Invalid JSON:
                  summary: Request body is not valid JSON
                  description: Invalid JSON
                  value: '{"code":"invalid_request","message":"Name is required","solution":"Fix the request"}'
        '409':
          description: 409 Conflict - A collection with the same name already exists in the specified scope. Collection names must be unique within each scope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDTO'
              examples:
                Duplicate collection name:
                  summary: Collection name already exists in scope
                  description: Duplicate collection name
                  value: '{"code":"duplicate_resource","message":"Collection with name ''New Supplier Collection'' already exists in Customer scope","solution":"Use a different collection name or a different scope"}'
        '403':
          description: '403 Forbidden - Authentication or authorization failure. This status code is returned when: (1) the request lacks valid authentication credentials (missing or invalid X-Auth-Token header), or (2) the authenticated user does not have the required permission to access this resource.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessDeniedErrorDTO'
              examples:
                Access denied example:
                  summary: User lacks necessary permissions or authentication
                  value: "{\n        \"loggedIn\": true,\n        \"code\": \"access_denied\",\n        \"message\": \"Access denied: you don't have necessary permissions to access this resource\",\n        \"solution\": \"Contact support for appropriate permissions\"\n    }"
        '500':
          description: 500 Internal Server Error - An unexpected error occurred on the server. The request may or may not have been processed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDTO'
              examples:
                Error - Server Error:
                  summary: Unexpected server error
                  value: "{\n        \"code\": \"internal_error\",\n        \"message\": \"An unexpected error occurred\",\n        \"solution\": \"Please try again later or contact support\"\n    }"
        '429':
          description: '429 Too Many Requests - API rate limit exceeded. The request has been rejected because the rate limit for this endpoint has been exceeded. Default rate limits: GET requests - 100 per 10 seconds, 500 per minute; POST/PUT/PATCH/DELETE requests - 20 per 10 seconds, 100 per minute. For increased access, please contact customer success.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiRateLimitResponse'
              examples:
                Rate limit exceeded example:
                  summary: API rate limit exceeded
                  value: "{\n        \"error\": \"API rate limit exceeded\",\n        \"message\": \"You have reached the maximum allowed requests. Please try again later or upgrade your plan for increased access\",\n        \"requestLimit\": 20,\n        \"requestCount\": 20,\n        \"limits\": [\n            {\n                \"requestLimit\": 20,\n                \"timeInSeconds\": 10\n            },\n            {\n                \"requestLimit\": 100,\n                \"timeInSeconds\": 60\n            }\n        ],\n        \"currentTime\": \"2026-01-15T10:30:00\",\n        \"nextResetAt\": \"2026-01-15T10:30:10\"\n    }"
components:
  schemas:
    ApiRateLimitResponse:
      type: object
      properties:
        error:
          type: string
          description: Error type identifier
          example: RateLimitExceeded
        message:
          type: string
          description: Human-readable error message explaining the rate limit violation
          example: API rate limit exceeded. Please reduce your request rate.
        requestLimit:
          type: integer
          description: Maximum number of requests allowed in the current time window
          format: int32
          example: 100
        requestCount:
          type: integer
          description: Number of requests made in the current time window
          format: int32
          example: 101
        limits:
          type: array
          description: All rate limits that apply to this endpoint, showing different time windows
          items:
            $ref: '#/components/schemas/ApiRateLimitTimeRequestLimit'
          example: null
        currentTime:
          type: string
          description: Current server time in ISO 8601 format
          format: date-time
          example: '2026-01-19T10:30:00'
        nextResetAt:
          type: string
          description: Time when the rate limit will reset in ISO 8601 format
          format: date-time
          example: '2026-01-19T10:30:10'
      description: Response returned when API rate limit is exceeded (HTTP 429)
      example: null
    PublicCollectionPayload:
      required:
      - lanes
      - name
      - scope
      - tiersEnabled
      type: object
      properties:
        scope:
          type: string
          enum:
          - User
          - Customer
          - Featured
          example: null
        name:
          minLength: 1
          type: string
          example: null
        lanes:
          type: boolean
          example: null
        tiersEnabled:
          type: boolean
          example: null
        parentId:
          type:
          - integer
          - 'null'
          format: int32
          example: null
      example: null
    ApiRateLimitTimeRequestLimit:
      type: object
      properties:
        requestLimit:
          type: integer
          description: Maximum number of requests allowed in this time window
          format: int32
          example: 100
        timeInSeconds:
          type: integer
          description: Time window duration in seconds
          format: int32
          example: 10
      description: Rate limit configuration for a specific time window
      example: null
    AccessDeniedErrorDTO:
      required:
      - code
      - loggedIn
      - message
      type: object
      properties:
        loggedIn:
          type: boolean
          example: null
        permission:
          type:
          - string
          - 'null'
          example: null
        code:
          type: string
          description: Error code
          example: null
        message:
          type: string
          description: Error message
          example: null
        solution:
          type:
          - string
          - 'null'
          description: Possible solution to the error
          example: null
      example: null
    PublicCollectionDTO:
      required:
      - children
      - id
      - lanes
      - name
      - scope
      - tiersEnabled
      - type
      - uuid
      type: object
      properties:
        id:
          type: integer
          format: int32
          example: null
        uuid:
          type: string
          format: uuid
          example: null
        scope:
          type: string
          enum:
          - User
          - Customer
          - Featured
          example: null
        type:
          type: string
          enum:
          - Default
          - Commodity
          - Ariba
          example: null
        name:
          type: string
          example: null
        count:
          type:
          - integer
          - 'null'
          format: int32
          example: null
        lanes:
          type: boolean
          example: null
        tiersEnabled:
          type: boolean
          example: null
        parentId:
          type:
          - integer
          - 'null'
          format: int32
          example: null
        children:
          type: array
          items:
            $ref: '#/components/schemas/PublicCollectionDTO'
          example: null
        updatedAt:
          type:
          - string
          - 'null'
          format: date-time
          example: null
      example: null
    PublicCollectionUpdatePayload:
      required:
      - lanes
      - name
      type: object
      properties:
        name:
          minLength: 1
          type: string
          example: null
        lanes:
          type: boolean
          example: null
      example: null
    ErrorDTO:
      required:
      - code
      - message
      type: object
      properties:
        code:
          type: string
          description: Error code
          example: null
        message:
          type: string
          description: Error message
          example: null
        solution:
          type:
          - string
          - 'null'
          description: Possible solution to the error
          example: null
      description: Error response
      example: null
  securitySchemes:
    Token_authentication:
      type: apiKey
      description: Generate an API token at https://www.prewave.com/management/api and paste it in here.
      name: X-Auth-Token
      in: header
