openapi: 3.0.1
info:
  title: Public Prewave Actions Alerts API
  description: 'Documentation of the Public Prewave API.


    ## What''s New


    ### Q1 2026 — Supplier Management, User Management, Actions and Feed


    This quarter introduces major v2 upgrades, expanded administrative capabilities, and the new Actions API.


    - **Core Releases:** Deployed Supplier Management API v2 and Feed API v2, alongside the all-new Actions API.

    - **Enhanced Functionality:** Added robust identifier management, granular user and role configuration, and endpoints for managing supplier connection contacts.

    - ⚠️ **Required Migration:** Legacy v1 endpoints for Suppliers and Sites Upsert have been deprecated. Developers must migrate existing integrations to v2 by **May 31, 2027** (original deadline was December 31, 2026).


    📖 **[Read the Q1 2026 changelog](https://docs.prewave.com/en/articles/699847-q1-2026-public-api-updates)**


    ### Q2 2026 — Supplier Screening and External Scores


    We have expanded our v2 documentation to include comprehensive integration guidance for supplier screening and validation workflows and identifier-based external score ingestion.


    - **New Capabilities:** Added support for optional post-onboarding screening and validation during the create event.

    - **External Scores:** Batch POST for multiple supplier sites, per-site history GET, and event-type discovery GET (`/public/v1/scores/externals` and `/public/v1/scores/externals/event-types`). Documented in OpenAPI when enabled for your organization.

    - **Developer Resources:** Published new integration examples and detailed identifier validation rules to streamline your implementation process.


    📖 **[Read the Q2 2026 changelog](https://docs.prewave.com/en/articles/699849-q2-2026-public-api-updates)**


    ### Q3 2026 — Scores Webhooks


    To support event-driven architectures and eliminate the need for continuous API polling, we are introducing webhooks for score state changes later this year.


    - **Event-Driven Architecture:** Register webhook URLs to receive real-time HTTP payloads whenever a supplier''s score updates, so you can drive immediate mitigation responses without polling the API.

    - **Availability:** Comprehensive OpenAPI specifications and payload schemas will be published closer to the release date.

    - **Note:** Schemas and behaviors are subject to refinement prior to general availability.


    Documentation updates will be provided prior to release.


    ### Q4 2026 — Feed V2


    We are enhancing Feed API v2 with additional capabilities on top of the existing `GET /public/v2/feed` contract (see Q1 changelog and OpenAPI for the current Feed v2 integration).


    - **Availability:** Details will be announced before release.

    - **Note:** Schemas and behaviors are subject to refinement prior to the official release.


    Documentation updates will be provided prior to release.


    ---


    ## Authentication

    Prewave’s public api uses *API tokens* to authenticate against our RESTful service. We’ll provide you an *API-token* that each

    endpoint needs present as a http header.


    To pass the token in a request, simply add it as a header-parameter with

    * key = X-Auth-Token

    * value = api-token


    See an example in curl below where the api-token would be 12345678-90ab-cdef-1234-567890abcdef

    ```

    curl --request GET \

    --url https://REPLACE_WITH_SERVER/public/v1/target/prewave/3975230/alerts \

    --header ''X-Auth-Token: 12345678-90ab-cdef-1234-567890abcdef''

    ```


    ---


    ## Manage API Tokens


    Before you can obtain your API token, you''ll need the credentials for your API user. These credentials will be

    sent to you as part of the company-onboarding. If you haven''t got your credentials yet, please reach out to

    your sales-contact at Prewave or contact us via info@prewave.ai


    To generate an API Token, navigate to https://www.prewave.com/management/api and log in with the

    credentials of your API user. Then click at the button "Create New" and use your new api-token authentication as a header parameter.


    You can create multiple API tokens and also remove existing API tokens on https://www.prewave.com/management/api.

    API tokens do not expire, therefore you have to maintain the list of API tokens you are using manually.


    ---


    ## Default Rate Limits


    We have two types of default rate limits. For increased access, please contact customer success.


    | Type                              | Requests per 10 seconds | Requests per Minute |

    |-----------------------------------|-------------------------|---------------------|

    | GET requests                      | 100                     | 500                 |

    | POST, PUT, PATCH, DELETE requests | 20                      | 100                 |


    '
  version: '1.0'
servers:
- url: https://api.prewave.com
  description: Production Environment
security:
- Token authentication: []
tags:
- name: Alerts
  description: Endpoints for retrieving alert information from user feeds, disruption maps, and specific targets. Supports filtering by collections, dates, priorities, geographic regions, target identifiers, and other criteria.
paths:
  /public/v2/feed:
    get:
      tags:
      - Alerts
      summary: Get all alerts of the current user's feed (V2)
      description: "\nRetrieve all alerts for targets that are in collections with feed delivery enabled. Results are ordered by newest first. V2 uses the same filtering and feed logic as the Prewave dashboard.\n\n**Response:** A `Page` containing a list of alert objects. Standard pagination fields: `content`, `totalElements`, `totalPages`, `size`, `number`, `first`, `last`. Each alert includes id, title, timestamps (ISO 8601 UTC), event, priority, classification, locations, links, media, primary/mentioned targets, collection paths, and optional geo (see `includeGeo`).\n\n**Pagination:** Use query parameters `page` (0-based index) and `size` (items per page). Default page size is 20 when not specified.\n\n**Required permission:** `access_public_user_feed`\n\n**Note:** Geographic information (`geo`) is only included when `includeGeo=true`. Fields with null values are omitted from the JSON response.\n\n---\n\n## Migration from V1 (`/public/v1/feed`)\n\n### What changed\n\n| Aspect | V1 | V2 |\n|--------|----|----|\n| **URL** | `/public/v1/feed` | `/public/v2/feed` |\n| **Collections** | `collectionId` (singular) | `collectionIds` (plural); same comma-separated IDs |\n| **Date filter** | `from` or `newerThan` (milliseconds) | `from` only; UTC ISO 8601 (e.g. `2024-01-01T00:00:00Z`) |\n| **Omit date** | (varies) | Last **90 days** of data |\n| **Timestamps in response** | Numeric (e.g. milliseconds) | **ISO 8601 strings in UTC** for `createdAt`, `predictedAtStart`, `predictedAtEnd` |\n\n### What is new in V2\n\n- **Tier control:** `minTier` and `maxTier` to include specific supply chain tiers (Tier 1 = direct suppliers, Tier 2 = their suppliers, etc.). Omit both for Tier 1 only (default).\n- **Classification:** `isSituationReport`, `active`, `relevancy` on each alert.\n- **Structured metadata:** `eventTypes`, `eventTypeGroups`, `alertTypes`, `labels`—easier to filter and display than the previous `infotags` list.\n- **Context:** `mentionedTargets`, `previousAlerts`, `flagged`, `useCaseDetails` for richer context.\n- **Performance:** V2 is significantly faster than V1—lower latency and higher throughput.\n\n### What is removed in V2\n\n- **`statusId`** — no longer returned.\n- **`infotags`** — use the new structured fields instead: `eventTypes`, `eventTypeGroups`, `alertTypes`, `labels`.\n        "
      operationId: alertFeed
      parameters:
      - name: collectionIds
        in: query
        description: Collection IDs to filter the feed by. Only alerts for targets in these collections will be returned. In V1 this was collectionId (singular); same comma-separated IDs.
        required: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: integer
            format: int32
        example: 123, 456
      - name: from
        in: query
        description: Start of the date range (inclusive). Use UTC ISO 8601 format (e.g. `2024-01-01T00:00:00Z`). If omitted, V2 returns alerts from the last 90 days filtered by `createdAt`. In V1 you could use `newerThan` (milliseconds) or `from`; V2 uses `from` only.
        required: false
        schema:
          type: string
          format: date-time
        example: '2024-01-01T00:00:00Z'
      - name: perspectiveId
        in: query
        description: Perspective ID to filter the feed by. Defaults to the user's default perspective.
        required: false
        schema:
          type: integer
          format: int32
        example: 1
      - name: priorities
        in: query
        description: 'List of priorities to filter the feed by Allowed values: Low, Mid, High, Critical (comma-separated).'
        required: false
        schema:
          type: array
          items:
            type: string
            enum:
            - Low
            - Mid
            - High
            - Critical
        example: High, Critical
      - name: includeGeo
        in: query
        description: If set to true, the response will include the geo information. Set to true when you need coordinates or shapes for mapping.
        required: false
        schema:
          type: boolean
          default: false
        example: true
      - name: impactLevelIds
        in: query
        description: Impact level IDs to filter the feed by. Valid IDs depend on your tenant configuration.
        required: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: integer
            format: int32
        example: 1, 2
      - name: minTier
        in: query
        description: Minimum supply chain tier depth to include (V2 only). Tier 1 = direct suppliers, Tier 2 = their suppliers, etc. Default 1. Must be ≤ maxTier; max value 5.
        required: false
        schema:
          maximum: 5
          minimum: 1
          type: integer
          format: int32
          default: 1
        example: 1
      - name: maxTier
        in: query
        description: Maximum supply chain tier depth to include (V2 only). Tier 1 = direct suppliers, Tier 2 = their suppliers, etc. Default 1. Must be ≥ minTier; max value 5.
        required: false
        schema:
          maximum: 5
          minimum: 1
          type: integer
          format: int32
          default: 1
        example: 1
      - name: pageable
        in: query
        required: true
        schema:
          $ref: '#/components/schemas/Pageable'
      responses:
        '200':
          description: Successfully retrieved alerts
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SchemaPublicAlertV2DTO'
              examples:
                Alert feed with results:
                  summary: Paginated feed containing one alert with V2 structured metadata
                  description: Alert feed with results
                  value: '{"content":[{"id":12345,"uuid":"a1b2c3d4-e5f6-7890-abcd-ef1234567890","title":"Labor strike begins at Acme Manufacturing Inc","createdAt":1768473000.000000000,"predictedAtStart":1768456800.000000000,"predictedAtEnd":null,"description":"Workers at Acme Manufacturing Inc began a strike affecting production lines.","isSituationReport":false,"event":{"uuid":"b2c3d4e5-f6a7-8901-bcde-f23456789012"},"active":true,"relevancy":"Relevant","locations":[{"id":102006216,"name":"Acme Manufacturing Plant","sname":null,"logo":null,"backgroundPicture":null,"description":null,"website":null,"location":"Sample City, US","yearFounded":null,"size":null,"screened":true,"screenedStatus":null,"linkedInId":null,"type":{"id":1,"type":"organization","displayName":"Site Group","pluralName":"Site Groups","ordering":null,"scoring":null},"ctype":{"id":1,"ctype":"company","targetTypeId":1,"displayName":"Company","pluralName":"Companies","icon":"fas fa-building","ordering":null,"priority":0,"connectable":false,"bgColor":"#cccccc","textColor":"#000000"},"geo":{"geometry":null,"properties":{"name":null,"countryCode":null,"alertCount":null,"boundingBox":null},"type":"Feature"},"geoShape":{"geometry":null,"properties":{"name":null,"countryCode":null,"alertCount":null,"boundingBox":null},"type":"Feature"},"parents":[],"organization":null,"industries":[],"monitoredSince":null,"earliestAlert":null,"ordering":null,"disruptionStatusUpdate":null,"own":false,"managed":false,"isPublic":null,"connectionContactsCount":null,"population":null,"following":false,"collectionFollowing":false,"tier":1,"path":[],"collectionLevel":null,"collectionPath":[],"collectionPaths":[],"foreignSystems":[],"scoreAvail":"None","revenue":null,"impact":null,"hsCode":[],"mergedTargets":[]}],"links":[{"id":null,"url":"https://example.com/news/labor-strike-acme-manufacturing","title":"Labor strike begins at Acme Manufacturing Inc","description":"Workers at Acme Manufacturing Inc began a strike affecting production lines.","pictureUrl":null,"originalLang":null,"originalTitle":null,"originalDescription":null}],"media":[],"primaryTargets":[{"target":{"id":102006215,"name":"Acme Manufacturing Inc","sname":null,"logo":null,"backgroundPicture":null,"description":null,"website":null,"location":"Sample City, US","yearFounded":null,"size":null,"screened":true,"screenedStatus":null,"linkedInId":null,"type":{"id":1,"type":"organization","displayName":"Site Group","pluralName":"Site Groups","ordering":null,"scoring":null},"ctype":{"id":1,"ctype":"company","targetTypeId":1,"displayName":"Company","pluralName":"Companies","icon":"fas fa-building","ordering":null,"priority":0,"connectable":false,"bgColor":"#cccccc","textColor":"#000000"},"geo":{"geometry":null,"properties":{"name":null,"countryCode":null,"alertCount":null,"boundingBox":null},"type":"Feature"},"geoShape":{"geometry":null,"properties":{"name":null,"countryCode":null,"alertCount":null,"boundingBox":null},"type":"Feature"},"parents":[],"organization":null,"industries":[],"monitoredSince":null,"earliestAlert":null,"ordering":null,"disruptionStatusUpdate":null,"own":false,"managed":false,"isPublic":null,"connectionContactsCount":null,"population":null,"following":false,"collectionFollowing":false,"tier":1,"path":[],"collectionLevel":null,"collectionPath":[],"collectionPaths":[],"foreignSystems":[],"scoreAvail":"None","revenue":null,"impact":null,"hsCode":[],"mergedTargets":[]},"impactLevel":{"id":4222469,"level":"company","displayName":"Site Group","ordering":10},"impactScore":"High","priority":"High"}],"mentionedTargets":[{"id":102006217,"name":"Pacific Components Ltd","sname":null,"logo":null,"backgroundPicture":null,"description":null,"website":null,"location":"Port City, US","yearFounded":null,"size":null,"screened":true,"screenedStatus":null,"linkedInId":null,"type":{"id":1,"type":"organization","displayName":"Site Group","pluralName":"Site Groups","ordering":null,"scoring":null},"ctype":{"id":1,"ctype":"company","targetTypeId":1,"displayName":"Company","pluralName":"Companies","icon":"fas fa-building","ordering":null,"priority":0,"connectable":false,"bgColor":"#cccccc","textColor":"#000000"},"geo":{"geometry":null,"properties":{"name":null,"countryCode":null,"alertCount":null,"boundingBox":null},"type":"Feature"},"geoShape":{"geometry":null,"properties":{"name":null,"countryCode":null,"alertCount":null,"boundingBox":null},"type":"Feature"},"parents":[],"organization":null,"industries":[],"monitoredSince":null,"earliestAlert":null,"ordering":null,"disruptionStatusUpdate":null,"own":false,"managed":false,"isPublic":null,"connectionContactsCount":null,"population":null,"following":false,"collectionFollowing":false,"tier":2,"path":[],"collectionLevel":null,"collectionPath":[],"collectionPaths":[],"foreignSystems":[],"scoreAvail":"None","revenue":null,"impact":null,"hsCode":[],"mergedTargets":[]}],"priority":"High","priorityDetails":{"massDisruption":true,"brandMention":false,"rumour":false,"lowPeerRisk":false,"terminates":false},"previousAlerts":[{"alertId":12340,"eventId":5678,"title":"Labor strike announced at Acme Manufacturing Inc","description":"Union announces planned strike action beginning next week.","createdAt":1768032000.000000000}],"flagged":{"reason":"Needs review","comment":"Escalated for supplier risk assessment","flaggedAt":1768474800.000000000},"useCaseDetails":{"relevant":true,"reason":"Direct tier-1 supplier in monitored collection"},"labels":[{"id":42,"scope":"Customer","name":"High impact","bgColor":"#FF5733","textColor":"#FFFFFF"}],"eventTypes":[{"id":501,"value":"Labor dispute","svalue":"labor_dispute","icon":"fa-kit fa-strike"}],"eventTypeGroups":[{"id":10,"name":"Labor and workforce","sname":"labor_workforce","eventTypeIds":[501]}],"alertTypes":[{"id":201,"value":"happens","svalue":"happens","icon":"fa-kit fa-alert"}],"collectionPath":[{"id":123,"name":"Tier 1 suppliers","path":[{"id":1,"name":"Supply chain monitoring"},{"id":123,"name":"Tier 1 suppliers"}]}],"geo":{"geometry":null,"properties":{"name":null,"countryCode":null,"alertCount":null,"boundingBox":null},"type":"Feature"}}],"pageable":{"pageNumber":0,"pageSize":20,"sort":{"empty":true,"sorted":false,"unsorted":true},"offset":0,"paged":true,"unpaged":false},"totalPages":1,"totalElements":1,"last":true,"size":20,"number":0,"numberOfElements":1,"sort":{"empty":true,"sorted":false,"unsorted":true},"first":true,"empty":false}'
                Empty alert feed:
                  summary: No alerts match the current filters
                  description: Empty alert feed
                  value: '{"content":[],"pageable":{"pageNumber":0,"pageSize":20,"sort":{"empty":true,"sorted":false,"unsorted":true},"offset":0,"paged":true,"unpaged":false},"totalPages":0,"totalElements":0,"last":true,"size":20,"number":0,"numberOfElements":0,"sort":{"empty":true,"sorted":false,"unsorted":true},"first":true,"empty":true}'
        '400':
          description: Bad Request - Invalid parameters (e.g. invalid date format, tier bounds, or priority values)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDTO'
              examples:
                Invalid request parameters:
                  summary: Error when a query parameter has an invalid value
                  description: Invalid request parameters
                  value: '{"code":"invalid_request","message":"Email must be a valid email address."}'
        '403':
          description: '403 Forbidden - Authentication or authorization failure. This status code is returned when: (1) the request lacks valid authentication credentials (missing or invalid X-Auth-Token header), or (2) the authenticated user does not have the required permission to access this resource.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessDeniedErrorDTO'
              examples:
                Access denied example:
                  summary: User lacks necessary permissions or authentication
                  value: "{\n        \"loggedIn\": true,\n        \"code\": \"access_denied\",\n        \"message\": \"Access denied: you don't have necessary permissions to access this resource\",\n        \"solution\": \"Contact support for appropriate permissions\"\n    }"
        '500':
          description: 500 Internal Server Error - An unexpected error occurred on the server. The request may or may not have been processed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDTO'
              examples:
                Error - Server Error:
                  summary: Unexpected server error
                  value: "{\n        \"code\": \"internal_error\",\n        \"message\": \"An unexpected error occurred\",\n        \"solution\": \"Please try again later or contact support\"\n    }"
        '429':
          description: '429 Too Many Requests - API rate limit exceeded. The request has been rejected because the rate limit for this endpoint has been exceeded. Default rate limits: GET requests - 100 per 10 seconds, 500 per minute; POST/PUT/PATCH/DELETE requests - 20 per 10 seconds, 100 per minute. For increased access, please contact customer success.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiRateLimitResponse'
              examples:
                Rate limit exceeded example:
                  summary: API rate limit exceeded
                  value: "{\n        \"error\": \"API rate limit exceeded\",\n        \"message\": \"You have reached the maximum allowed requests. Please try again later or upgrade your plan for increased access\",\n        \"requestLimit\": 100,\n        \"requestCount\": 100,\n        \"limits\": [\n            {\n                \"requestLimit\": 100,\n                \"timeInSeconds\": 10\n            },\n            {\n                \"requestLimit\": 500,\n                \"timeInSeconds\": 60\n            }\n        ],\n        \"currentTime\": \"2026-01-15T10:30:00\",\n        \"nextResetAt\": \"2026-01-15T10:30:10\"\n    }"
  /public/v1/target/{systemId}/{targetId}/alerts:
    get:
      tags:
      - Alerts
      summary: Get alerts for a specific target
      description: "\nRetrieve alerts for a specific target identified by system ID and target ID.\n\nThis endpoint returns paginated alerts for a single target, supporting foreign system ID mapping.\nThe target can be identified using Prewave internal IDs or foreign system IDs (e.g., customer,\nsupplier, SAP IDs).\n\n**Response:**\nReturns a paginated list of alert objects. Each alert includes basic information (id, uuid, title, timestamps), event grouping, priority and classification details, location/geographic data, source links and media, infotags, primary target information, and collection paths. The response is wrapped in a Spring Data `Page` object with standard pagination fields. See the response schema for complete field definitions.\n\n**Note**: Fields with null values are omitted from the JSON response. This is standard JSON serialization behavior. Geographic information (`geo`) is only available if `includeGeo` query parameter is set to `true`.\n\n**Use Cases**:\n- Monitor alerts for a specific supplier\n- Track alerts for targets identified by external system IDs\n- Filter alerts by priority, date, or perspective\n- Export target-specific alerts for reporting\n\n**Target Identification**:\n- Supports Prewave internal IDs (`systemId=\"prewave\"`)\n- Supports foreign system IDs (e.g., `systemId=\"customer\"`, `systemId=\"supplier\"`)\n- Automatically resolves foreign IDs to Prewave target IDs\n\n**Filtering Options**:\n- **priorities**: Filter by alert priority levels (Low, Mid, High, Critical)\n- **newerThan**: Filter alerts newer than a timestamp (milliseconds)\n- **perspectiveId**: Filter by perspective (defaults to user's perspective)\n- **includeGeo**: Include geographic coordinates in response\n\n**Pagination**:\n- Results are paginated (default: 20 items per page)\n- Use `page` and `size` query parameters to control pagination\n\n**Required Permission**: `access_public_target_feed`\n\n**Performance Impact**: Medium\n    "
      operationId: targetAlerts
      parameters:
      - name: systemId
        in: path
        description: An identifier that indicates which system the targetId originates from. Supported values are "prewave", "customer", "supplier", "own".
        required: true
        schema:
          type: string
        example: prewave
      - name: targetId
        in: path
        description: The target ID can be the target's prewaveId or an external id (edge number) representing the site in another system.
        required: true
        schema:
          type: string
        example: 102006215
      - name: newerThan
        in: query
        description: Only return alerts that are newer than the given timestamp (Timestamp in milliseconds since epoch)
        required: false
        schema:
          type: integer
          format: int64
        example: 1705312800000
      - name: priorities
        in: query
        description: List of priorities to filter the feed by
        required: false
        schema:
          type: array
          items:
            type: string
            enum:
            - Low
            - Mid
            - High
            - Critical
        example: High,Critical
      - name: includeGeo
        in: query
        description: If set to true, the response will include the geo information.
        required: false
        schema:
          type: boolean
        example: true
      - name: perspectiveId
        in: query
        description: The perspective ID to filter the alerts. If not provided, the user's perspective ID will be used.
        required: false
        schema:
          type: integer
          format: int32
        example: 1
      - name: pageable
        in: query
        required: true
        schema:
          $ref: '#/components/schemas/Pageable'
      responses:
        '200':
          description: Successfully retrieved target alerts
          content:
            application/json:
              schema:
                type: object
                properties:
                  content:
                    type: array
                    items:
                      $ref: '#/components/schemas/PublicAlertDTO'
                  size:
                    type: integer
                    format: int32
                  number:
                    type: integer
                    format: int32
                  totalElements:
                    type: integer
                    format: int32
                  totalPages:
                    type: integer
                    format: int32
                  numberOfElements:
                    type: integer
                    format: int32
                  first:
                    type: boolean
                  last:
                    type: boolean
                  empty:
                    type: boolean
              examples:
                Target alerts example:
                  summary: Sample paginated alerts response for a target
                  description: Target alerts example
                  value: '{"content":[{"id":12345,"uuid":"a1b2c3d4-e5f6-7890-abcd-ef1234567890","title":"Insolvency announced at Acme Manufacturing Inc","createdAt":1704067200000,"predictedAtStart":1703980800000,"predictedAtEnd":1704067199000,"description":"Insolvency announced for Acme Manufacturing Inc on 15-01-2025","event":{"uuid":"b2c3d4e5-f6a7-8901-bcde-f23456789012"},"statusId":null,"locations":[],"links":[{"id":null,"url":"https://example.com/news/insolvency-acme-manufacturing","title":"Insolvency announced for Acme Manufacturing Inc","description":"Insolvency announced for Acme Manufacturing Inc on 15-01-2025","pictureUrl":null,"originalLang":null,"originalTitle":null,"originalDescription":null}],"media":[],"infotags":[{"id":1001,"type":{"type":"event_type","active":true,"displayName":"Event Type","icon":null,"ordering":10001,"display":true},"value":"Insolvency","svalue":"insolvency","icon":"fa-kit fa-financial-stress","numValue":null,"priority":null,"impactScore":null}],"primaryTargets":[{"target":{"id":102006215,"name":"Acme Manufacturing Inc","sname":null,"logo":null,"backgroundPicture":null,"description":null,"website":null,"location":"Sample City, US","yearFounded":null,"size":null,"screened":true,"screenedStatus":null,"linkedInId":null,"type":{"id":1,"type":"organization","displayName":"Site Group","pluralName":"Site Groups","ordering":null,"scoring":null},"ctype":{"id":1,"ctype":"company","targetTypeId":1,"displayName":"Company","pluralName":"Companies","icon":"fas fa-building","ordering":null,"priority":0,"connectable":false,"bgColor":"#cccccc","textColor":"#000000"},"geo":{"geometry":null,"properties":{"name":null,"countryCode":null,"alertCount":null,"boundingBox":null},"type":"Feature"},"geoShape":{"geometry":null,"properties":{"name":null,"countryCode":null,"alertCount":null,"boundingBox":null},"type":"Feature"},"parents":[],"organization":null,"industries":[],"monitoredSince":null,"earliestAlert":null,"ordering":null,"disruptionStatusUpdate":null,"own":false,"managed":false,"isPublic":null,"connectionContactsCount":null,"population":null,"following":false,"collectionFollowing":false,"tier":null,"path":[],"collectionLevel":null,"collectionPath":[],"collectionPaths":[],"foreignSystems":[],"scoreAvail":"None","revenue":null,"impact":null,"hsCode":[],"mergedTargets":[]},"impactLevel":{"id":4222469,"level":"company","displayName":"Site Group","ordering":10},"impactScore":null,"priority":"Mid"}],"priority":"Critical","priorityDetails":{"massDisruption":false,"brandMention":false,"rumour":false,"lowPeerRisk":false,"terminates":false},"collectionPath":[],"geo":null}],"pageable":{"pageNumber":0,"pageSize":20,"sort":{"empty":true,"sorted":false,"unsorted":true},"offset":0,"paged":true,"unpaged":false},"totalPages":1,"totalElements":1,"last":true,"size":20,"number":0,"numberOfElements":1,"sort":{"empty":true,"sorted":false,"unsorted":true},"first":true,"empty":false}'
        '400':
          description: Bad Request - Invalid parameters (e.g., invalid timestamp, invalid priority values)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDTO'
        '404':
          description: Target not found or foreign system ID mapping not found
          content:
            application/json:
              examples:
                Target not found:
                  summary: Error when target ID is invalid
                  description: Target not found
                  value: '{"code":"resource_not_found","message":"Target not found: systemId=customer, targetId=INVALID_ID","solution":"Verify target ID and system ID are correct"}'
        '403':
          description: '403 Forbidden - Authentication or authorization failure. This status code is returned when: (1) the request lacks valid authentication credentials (missing or invalid X-Auth-Token header), or (2) the authenticated user does not have the required permission to access this resource.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessDeniedErrorDTO'
              examples:
                Access denied example:
                  summary: User lacks necessary permissions or authentication
                  value: "{\n        \"loggedIn\": true,\n        \"code\": \"access_denied\",\n        \"message\": \"Access denied: you don't have necessary permissions to access this resource\",\n        \"solution\": \"Contact support for appropriate permissions\"\n    }"
        '500':
          description: 500 Internal Server Error - An unexpected error occurred on the server. The request may or may not have been processed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDTO'
              examples:
                Error - Server Error:
                  summary: Unexpected server error
                  value: "{\n        \"code\": \"internal_error\",\n        \"message\": \"An unexpected error occurred\",\n        \"solution\": \"Please try again later or contact support\"\n    }"
        '429':
          description: '429 Too Many Requests - API rate limit exceeded. The request has been rejected because the rate limit for this endpoint has been exceeded. Default rate limits: GET requests - 100 per 10 seconds, 500 per minute; POST/PUT/PATCH/DELETE requests - 20 per 10 seconds, 100 per minute. For increased access, please contact customer success.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiRateLimitResponse'
              examples:
                Rate limit exceeded example:
                  summary: API rate limit exceeded
                  value: "{\n        \"error\": \"API rate limit exceeded\",\n        \"message\": \"You have reached the maximum allowed requests. Please try again later or upgrade your plan for increased access\",\n        \"requestLimit\": 100,\n        \"requestCount\": 100,\n        \"limits\": [\n            {\n                \"requestLimit\": 100,\n                \"timeInSeconds\": 10\n            },\n            {\n                \"requestLimit\": 500,\n                \"timeInSeconds\": 60\n            }\n        ],\n        \"currentTime\": \"2026-01-15T10:30:00\",\n        \"nextResetAt\": \"2026-01-15T10:30:10\"\n    }"
  /public/v1/feed:
    get:
      tags:
      - Alerts
      summary: Get all alerts of the current user's feed
      description: "\n## Current Endpoint Behavior\n\nRetrieve all alerts for targets that are in collections with feed delivery enabled.\n\nThis endpoint returns paginated alerts filtered by various criteria. Alerts are returned for targets\nthat belong to collections where feed delivery is enabled. Results are ordered by newest first.\n\n**Response:**\nReturns a paginated list of alert objects. Each alert includes basic information (id, uuid, title, timestamps), event grouping, priority and classification details, location/geographic data, source links and media, infotags, primary target information, and collection paths. The response is wrapped in a Spring Data `Page` object with standard pagination fields. See the response schema for complete field definitions.\n\n**Note**: Fields with null values are omitted from the JSON response. This is standard JSON serialization behavior. Geographic information (`geo`) is only available if `includeGeo` query parameter is set to `true`.\n\n**Required Permission**: `access_public_user_feed`\n\n**Performance Impact**: Medium\n        "
      operationId: alertFeed_1
      parameters:
      - name: collectionId
        in: query
        description: Collection IDs to filter the feed by. Only alerts for targets in these collections will be returned. Obtain collection IDs from `GET /public/v1/collections` endpoint.
        required: false
        schema:
          type: array
          items:
            type: integer
            format: int32
        example: 123,456
      - name: newerThan
        in: query
        description: ⚠️ **DEPRECATED** - Use `from` parameter instead. Only return alerts that are newer than the given timestamp (Timestamp in milliseconds). This parameter is deprecated in favor of ISO 8601 date format.
        required: false
        deprecated: true
        schema:
          type: integer
          format: int64
      - name: from
        in: query
        description: Only return alerts that are newer than the given date. Use ISO 8601 format (e.g., 2020-12-31T23:59). This parameter replaces the deprecated `newerThan` parameter.
        required: false
        schema:
          type: string
          format: date-time
        example: 2020-12-31T23:59
      - name: perspectiveId
        in: query
        description: Perspective ID to filter the feed by. Defaults to the user's default perspective. The perspective determines which risk factors and scoring weights are applied to alerts.
        required: false
        schema:
          type: integer
          format: int32
        example: 1
      - name: priorities
        in: query
        description: List of priorities to filter the feed by
        required: false
        schema:
          type: array
          items:
            type: string
            enum:
            - Low
            - Mid
            - High
            - Critical
        example: High,Critical
      - name: includeGeo
        in: query
        description: If set to true, the response will include the geo information.
        required: false
        schema:
          type: boolean
        example: true
      - name: impactLevelIds
        in: query
        description: Impact level IDs to filter the feed by. Only alerts with these impact levels will be returned.
        required: false
        schema:
          type: array
          items:
            type: integer
            format: int32
        example: 1,2,3
      - name: pageable
        in: query
        required: true
        schema:
          $ref: '#/components/schemas/Pageable'
      responses:
        '200':
          description: Successfully retrieved alerts
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SchemaPublicAlertDTO'
              examples:
                Alerts feed example:
                  summary: Sample paginated alerts response
                  description: Alerts feed example
                  value:
                    content:
                    - id: 12345
                      uuid: a1b2c3d4-e5f6-7890-abcd-ef1234567890
                      title: Industry Update happens at Acme Corporation
                      createdAt: 1704067200000
                      predictedAtStart: 1703980800000
                      predictedAtEnd: 1704067199000
                      description: Acme Corporation is implementing new sustainability measures following industry best practices. The company has announced a comprehensive plan to reduce carbon emissions and improve supply chain transparency.
                      event:
                        uuid: b2c3d4e5-f6a7-8901-bcde-f23456789012
                      locations: []
                      links:
                      - url: https://example.com/news/acme-sustainability-initiative
                        title: Acme Corporation announces sustainability initiative
                        description: Acme Corporation has announced a comprehensive plan to reduce carbon emissions and improve supply chain transparency.
                      media:
                      - url: /images/twitter-img/example-image.jpg
                        mimeType: image/jpeg
                      infotags:
                      - id: 1001
                        type:
                          type: alert_type
                          active: false
                          displayName: Alert Status
                          icon: far fa-bell
                          ordering: 1
                          display: true
                        value: happens / occurs
                        svalue: happens
                      - id: 2001
                        type:
                          type: event_type
                          active: false
                          displayName: Event Type
                          ordering: 10001
                          display: true
                        value: Industry Update
                        svalue: industry_update
                        icon: fas fa-bullhorn
                        priority: Low
                      primaryTargets:
                      - target:
                          id: 102006215
                          name: Acme Corporation
                          logo: /images/company-img/8258b578a63d8e9ea222e66fd6f578b12fa32c14cdb04779fc9d42b215bd2aeb.svg
                          screened: false
                          type:
                            id: 5195261
                            type: organization
                            displayName: Site Group
                            pluralName: ''
                            ordering: 0
                            scoring: Alert
                          ctype:
                            id: 972417
                            ctype: company
                            targetTypeId: 5195261
                            displayName: Site Group
                            pluralName: ''
                            icon: fas fa-building
                            ordering: 0
                            priority: 0
                            connectable: false
                            bgColor: ''
                            textColor: ''
                          geo:
                            properties: {}
                            type: Feature
                          geoShape:
                            properties: {}
                            type: Feature
                          parents: []
                          industries: []
                          own: false
                          managed: false
                          following: false
                          collectionFollowing: false
                          tier: 1
                          path:
                          - id: 102006215
                            name: Acme Corporation
                            foreignSystems: []
                          collectionPath: []
                          collectionPaths: []
                          foreignSystems: []
                          scoreAvail: None
                          hsCode: []
                          merged_targets: []
                        impactLevel:
                          id: 7513328
                          level: tier2
                          displayName: Tier-2
                          ordering: 100
                        priority: Mid
                      priority: Low
                      priorityDetails:
                        massDisruption: false
                        brandMention: false
                        rumour: false
                        lowPeerRisk: false
                        terminates: false
                      collectionPath: []
                      geo:
                        properties: {}
                        type: Feature
                    size: 20
                    number: 0
                    totalElements: 150
                    totalPages: 8
                    numberOfElements: 20
        '400':
          description: Bad Request - Invalid parameters (e.g., invalid date format, invalid priority values)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDTO'
              examples:
                Invalid date format:
                  summary: Error when date format is invalid
                  description: Invalid date format
                  value:
                    code: invalid_request
                    message: Invalid date format for parameter 'from'. Expected ISO 8601 format (e.g., 2020-12-31T23:59)
                    solution: 'Use ISO 8601 date format: YYYY-MM-DDTHH:mm'
        '404':
          description: Collection not found or not accessible
          content:
            application/json:
              examples:
                Collection not found:
                  summary: Error when collection ID is invalid
                  description: Collection not found
                  value:
                    code: resource_not_found
                    message: Collection [999] not found
                    solution: Verify collection IDs using GET /public/v1/collections
        '403':
          description: '403 Forbidden - Authentication or authorization failure. This status code is returned when: (1) the request lacks valid authentication credentials (missing or invalid X-Auth-Token header), or (2) the authenticated user does not have the required permission to access this resource.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessDeniedErrorDTO'
              examples:
                Access denied example:
                  summary: User lacks necessary permissions or authentication
                  value: "{\n        \"loggedIn\": true,\n        \"code\": \"access_denied\",\n        \"message\": \"Access denied: you don't have necessary permissions to access this resource\",\n        \"solution\": \"Contact support for appropriate permissions\"\n    }"
        '500':
          description: 500 Internal Server Error - An unexpected error occurred on the server. The request may or may not have been processed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDTO'
              examples:
                Error - Server Error:
                  summary: Unexpected server error
                  value: "{\n        \"code\": \"internal_error\",\n        \"message\": \"An unexpected error occurred\",\n        \"solution\": \"Please try again later or contact support\"\n    }"
        '429':
          description: '429 Too Many Requests - API rate limit exceeded. The request has been rejected because the rate limit for this endpoint has been exceeded. Default rate limits: GET requests - 100 per 10 seconds, 500 per minute; POST/PUT/PATCH/DELETE requests - 20 per 10 seconds, 100 per minute. For increased access, please contact customer success.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiRateLimitResponse'
              examples:
                Rate limit exceeded example:
                  summary: API rate limit exceeded
                  value: "{\n        \"error\": \"API rate limit exceeded\",\n        \"message\": \"You have reached the maximum allowed requests. Please try again later or upgrade your plan for increased access\",\n        \"requestLimit\": 100,\n        \"requestCount\": 100,\n        \"limits\": [\n            {\n                \"requestLimit\": 100,\n                \"timeInSeconds\": 10\n            },\n            {\n                \"requestLimit\": 500,\n                \"timeInSeconds\": 60\n            }\n        ],\n        \"currentTime\": \"2026-01-15T10:30:00\",\n        \"nextResetAt\": \"2026-01-15T10:30:10\"\n    }"
components:
  schemas:
    TargetForeignSystemDTO:
      required:
      - id
      - system
      type: object
      properties:
        system:
          type: string
          example: null
        id:
          type: string
          example: null
        source:
          type: string
          nullable: true
          example: null
      example: null
    PermissionDTO:
      required:
      - authority
      - limits
      type: object
      properties:
        authority:
          type: string
          example: null
        limits:
          type: object
          additionalProperties:
            type: integer
            format: int32
          example: null
        description:
          type: string
          nullable: true
          example: null
        id:
          type: integer
          format: int32
          nullable: true
          example: null
      example: null
    PublicAlertLabelDTO:
      required:
      - bgColor
      - name
      - scope
      - textColor
      type: object
      properties:
        id:
          type: integer
          description: Prewave-internal label id
          format: int32
          nullable: true
          example: null
        scope:
          type: string
          description: Scope of the label
          enum:
          - Public
          - Customer
          - User
          example: null
        name:
          type: string
          description: Name of the label
          example: null
        bgColor:
          type: string
          description: Background color of the label
          example: null
        textColor:
          type: string
          description: Text color of the label
          example: null
      description: Labels assigned to this alert
      example: null
    InfotagTypeDTO:
      required:
      - active
      - display
      - ordering
      - type
      type: object
      properties:
        type:
          type: string
          example: null
        active:
          type: boolean
          example: null
        displayName:
          type: string
          nullable: true
          example: null
        icon:
          type: string
          nullable: true
          example: null
        ordering:
          type: integer
          format: int32
          example: null
        display:
          type: boolean
          example: null
      example: null
    PublicImpactLevelDTO:
      required:
      - displayName
      - id
      - level
      - ordering
      type: object
      properties:
        id:
          type: integer
          format: int32
          example: null
        level:
          type: string
          enum:
          - company_poi_to_eoi
          - direct
          - related_target
          - company
          - industry
          - regional
          - tier2
          - tier3plus
          - in-company
          - commodity
          - country
          - mention
          example: null
        displayName:
          type: string
          example: null
        ordering:
          type: integer
          format: int32
          example: null
      example: null
    InfotagDTO:
      required:
      - id
      - isTarget
      - type
      type: object
      properties:
        id:
          type: integer
          format: int32
          example: null
        type:
          $ref: '#/components/schemas/InfotagTypeDTO'
        value:
          type: string
          nullable: true
          example: null
        svalue:
          type: string
          nullable: true
          example: null
        icon:
          type: string
          nullable: true
          example: null
        numValue:
          type: number
          nullable: true
          example: null
        priority:
          type: string
          description: Obsolete
          nullable: true
          deprecated: true
          enum:
          - Low
          - Mid
          - High
          - Critical
          example: null
        impactScore:
          type: string
          nullable: true
          enum:
          - Low
          - Mid
          - High
          - Critical
          example: null
        isTarget:
          type: boolean
          example: null
        updatedAt:
          type: string
          format: date-time
          nullable: true
          example: null
      example: null
    InfotagGroup:
      required:
      - id
      - name
      - ordering
      - sname
      type: object
      properties:
        id:
          type: integer
          format: int32
          example: null
        name:
          type: string
          example: null
        sname:
          type: string
          example: null
        icon:
          type: string
          nullable: true
          example: null
        ordering:
          type: integer
          format: int32
          example: null
      example: null
    RiskAnalysis:
      required:
      - approvedForReport
      - collectionIds
      - date
      - diModel
      - id
      - impactT80
      - isArchived
      - locks
      - name
      - periodFrom
      - periodTo
      - perspective
      - reason
      - regularity
      - riskT80
      - scope
      - scopingCountryShare
      - targetType
      - tiern
      - type
      type: object
      properties:
        id:
          type: integer
          format: int32
          example: null
        name:
          type: string
          example: null
        perspective:
          $ref: '#/components/schemas/PerspectiveDTO'
        targetType:
          $ref: '#/components/schemas/TargetTypeDTO'
        periodFrom:
          type: string
          format: date
          example: null
        periodTo:
          type: string
          format: date
          example: null
        date:
          type: string
          format: date
          example: null
        riskT80:
          type: integer
          format: int32
          example: null
        impactT80:
          type: number
          format: double
          example: null
        diModel:
          type: string
          enum:
          - Direct
          - Parent
          - Auto
          example: null
        locks:
          type: array
          items:
            $ref: '#/components/schemas/RiskAnalysisLock'
          example: null
        isArchived:
          type: boolean
          example: null
        regularity:
          type: string
          enum:
          - Regular
          - Adhoc
          example: null
        reason:
          type: array
          items:
            type: string
            enum:
            - InternalDecisions
            - ExternalFactors
            - SubstantiatedKnowledge
            - ChangeNewProducts
            - ChangeNewAreas
            - Other
            example: null
          example: null
        specificOccasion:
          type: string
          nullable: true
          example: null
        approvedForReport:
          type: boolean
          example: null
        findings:
          type: string
          nullable: true
          example: null
        scope:
          type: string
          enum:
          - OwnBusinessArea
          - Suppliers
          - Customers
          example: null
        type:
          $ref: '#/components/schemas/RiskAnalysisType'
        tiern:
          type: boolean
          example: null
        countryScoreThreshold:
          type: number
          format: double
          nullable: true
          example: null
        industryScoreThreshold:
          type: number
          format: double
          nullable: true
          example: null
        purchaseVolumeThreshold:
          type: number
          format: double
          nullable: true
          example: null
        collectionIds:
          type: array
          items:
            type: integer
            format: int32
            example: null
          example: null
        scopingCountryShare:
          type: number
          format: double
          example: null
      example: null
    SortObject:
      type: object
      properties:
        empty:
          type: boolean
          example: null
        sorted:
          type: boolean
          example: null
        unsorted:
          type: boolean
          example: null
      example: null
    ApiRateLimitResponse:
      type: object
      properties:
        error:
          type: string
          description: Error type identifier
          example: RateLimitExceeded
        message:
          type: string
          description: Human-readable error message explaining the rate limit violation
          example: API rate limit exceeded. Please reduce your request rate.
        requestLimit:
          type: integer
          description: Maximum number of requests allowed in the current time window
          format: int32
          example: 100
        requestCount:
          type: integer
          description: Number of requests made in the current time window
          format: int32
          example: 101
        limits:
          type: array
          description: All rate limits that apply to this endpoint, showing different time windows
          items:
            $ref: '#/components/schemas/ApiRateLimitTimeRequestLimit'
          example: null
        currentTime:
          type: string
          description: Current server time in ISO 8601 format
          format: date-time
          example: '2026-01-19T10:30:00'
        nextResetAt:
          type: string
          description: Time when the rate limit will reset in ISO 8601 format
          format: date-time
          example: '2026-01-19T10:30:10'
      description: Response returned when API rate limit is exceeded (HTTP 429)
      example: null
    RiskAnalysisType:
      required:
      - availablePerspectives
      - hideDetails
      - products
      - recommended
      - scoping
      - tierNAnalysisEnabled
      - type
      type: object
      properties:
        type:
          type: string
          enum:
          - Default
          - LkSG
          - Norwegian Transparancy Act
          - CSDDD (Beta)
          - EU Battery Regulation
          example: null
        hideDetails:
          type: boolean
          example: null
        recommended:
          type: boolean
          example: null
        tierNAnalysisEnabled:
          type: boolean
          example: null
        scoping:
          type: boolean
          example: null
        products:
          type: boolean
          example: null
        component:
          type: string
          nullable: true
          enum:
          - PeerScore
          - AlertScore
          - SSAScore
          - ExternalScore
          - TierNScore
          example: null
        perspectiveId:
          type: integer
          format: int32
          nullable: true
          example: null
        availablePerspectives:
          type: array
          items:
            $ref: '#/components/schemas/PerspectiveDTO'
          example: null
        countryScoreThreshold:
          type: number
          format: double
          nullable: true
          example: null
        industryScoreThreshold:
          type: number
          format: double
          nullable: true
          example: null
        purchaseVolumeThreshold:
          type: number
          format: double
          nullable: true
          example: null
      example: null
    DeliverySettingTypeDTO:
      required:
      - displayName
      - frequency
      - inherited
      - minPriority
      - ordering
      - type
      type: object
      properties:
        type:
          type: string
          enum:
          - Feed
          - EmailRealtime
          - EmailDaily
          - EmailWeekly
          example: null
        displayName:
          type: string
          example: null
        ordering:
          type: integer
          format: int32
          example: null
        frequency:
          type: string
          example: null
        minPriority:
          type: string
          enum:
          - Low
          - Mid
          - High
          - Critical
          example: null
        inherited:
          type: boolean
          example: null
      example: null
    PublicAlertTargetDTO:
      required:
      - impactLevel
      - target
      type: object
      properties:
        target:
          $ref: '#/components/schemas/PublicTargetDTO'
        impactLevel:
          $ref: '#/components/schemas/PublicImpactLevelDTO'
        impactScore:
          type: string
          nullable: true
          enum:
          - Low
          - Mid
          - High
          - Critical
          example: null
        priority:
          type: string
          nullable: true
          enum:
          - Low
          - Mid
          - High
          - Critical
          example: null
      description: The targets affected by this alert.
      example: null
    PublicPriorityDetailsDTO:
      required:
      - brandMention
      - lowPeerRisk
      - massDisruption
      - rumour
      - terminates
      type: object
      properties:
        massDisruption:
          type: boolean
          example: null
        brandMention:
          type: boolean
          example: null
        rumour:
          type: boolean
          example: null
        lowPeerRisk:
          type: boolean
          example: null
        terminates:
          type: boolean
          example: null
      description: Priority details of alert
      example: null
    RoleTypeDTO:
      required:
      - displayName
      - id
      - type
      type: object
      properties:
        id:
          type: integer
          format: int32
          example: null
        type:
          type: string
          example: null
        displayName:
          type: string
          example: null
      example: null
    RoleDTO:
      required:
      - id
      - permissions
      - roleName
      type: object
      properties:
        id:
          type: integer
          format: int32
          example: null
        type:
          nullable: true
          allOf:
          - $ref: '#/components/schemas/RoleTypeDTO'
          example: null
        roleName:
          type: string
          example: null
        displayName:
          type: string
          nullable: true
          example: null
        description:
          type: string
          nullable: true
          example: null
        permissions:
          type: array
          items:
            $ref: '#/components/schemas/PermissionDTO'
          example: null
      example: null
    TargetRequestTypeStatusDto:
      type: object
      properties:
        id:
          type: integer
          format: int32
          nullable: true
          example: null
        customerId:
          type: integer
          format: int32
          nullable: true
          example: null
        status:
          type: string
          nullable: true
          enum:
          - NONE
          - PENDING
          - COMPLETED
          - REJECTED
          example: null
        rejectionReason:
          type: string
          nullable: true
          example: null
      example: null
    PublicAlertV2DTO:
      required:
      - active
      - alertTypes
      - collectionPath
      - createdAt
      - event
      - eventTypeGroups
      - eventTypes
      - id
      - isSituationReport
      - labels
      - links
      - locations
      - media
      - mentionedTargets
      - previousAlerts
      - primaryTargets
      - uuid
      type: object
      properties:
        id:
          type: integer
          description: Prewave-internal alert id
          format: int32
          example: null
        uuid:
          type: string
          description: Prewave-internal alert uuid
          format: uuid
          example: null
        title:
          type: string
          description: Alert title
          nullable: true
          example: Hurricane happens at Norsk Hydro in Høyanger, NO
        createdAt:
          type: string
          description: When the alert was generated/created at prewave
          format: date-time
          example: null
        predictedAtStart:
          type: string
          description: When the event - that this alert is describing - started
          format: date-time
          nullable: true
          example: null
        predictedAtEnd:
          type: string
          description: When the event - that this alert is describing - ended
          format: date-time
          nullable: true
          example: null
        description:
          type: string
          description: Detailed description of alert. Usually an excerpt taken from one of the links
          nullable: true
          example: It's windy in Høyanger
        isSituationReport:
          type: boolean
          description: Whether this alert is a situation report
          example: null
        event:
          $ref: '#/components/schemas/PublicEventDTO'
        active:
          type: boolean
          description: Whether the alert is active
          example: null
        relevancy:
          type: string
          description: Relevancy of the alert
          nullable: true
          enum:
          - Relevant
          - Irrelevant
          - NotYetAssigned
          example: null
        locations:
          type: array
          description: Locations where the alert happened
          items:
            $ref: '#/components/schemas/PublicTargetDTO'
          example: null
        links:
          type: array
          description: Source links the alert is based on
          items:
            $ref: '#/components/schemas/PublicLinkDTO'
          example: null
        media:
          type: array
          description: Media files attached to the alert
          items:
            $ref: '#/components/schemas/PublicMediaDTO'
          example: null
        primaryTargets:
          type: array
          description: The targets affected by this alert.
          items:
            $ref: '#/components/schemas/PublicAlertTargetDTO'
          example: null
        mentionedTargets:
          type: array
          description: The targets mentioned in this alert.
          items:
            $ref: '#/components/schemas/PublicTargetDTO'
          example: null
        priority:
          type: string
          description: Priority of alert
          nullable: true
          enum:
          - Low
          - Mid
          - High
          - Critical
          example: null
        priorityDetails:
          nullable: true
          allOf:
          - $ref: '#/components/schemas/PublicPriorityDetailsDTO'
          example: null
        previousAlerts:
          type: array
          description: Previous alerts related to this alert's event
          items:
            $ref: '#/components/schemas/PublicPreviousAlertDTO'
          example: null
        flagged:
          nullable: true
          allOf:
          - $ref: '#/components/schemas/PublicAlertFlaggedDTO'
          example: null
        useCaseDetails:
          nullable: true
          allOf:
          - $ref: '#/components/schemas/PublicUseCaseDetailsDTO'
          example: null
        labels:
          type: array
          description: Labels assigned to this alert
          items:
            $ref: '#/components/schemas/PublicAlertLabelDTO'
          example: null
        eventTypes:
          type: array
          description: Event types associated with this alert
          items:
            $ref: '#/components/schemas/PublicEventTypeDTO'
          example: null
        eventTypeGroups:
          type: array
          description: Event type groups associated with this alert
          items:
            $ref: '#/components/schemas/PublicEventTypeGroupDTO'
          example: null
        alertTypes:
          type: array
          description: Alert types (e.g. happens, terminates) associated with this alert
          items:
            $ref: '#/components/schemas/PublicAlertTypeDTO'
          example: null
        collectionPath:
          type: array
          description: The collections and their hierarchy for the target
          items:
            $ref: '#/components/schemas/PublicCollectionPathRef'
          example: null
        geo:
          $ref: '#/components/schemas/Geo'
      example: null
    TeamDTO:
      required:
      - id
      - name
      - users
      type: object
      properties:
        id:
          type: integer
          format: int32
          example: null
        name:
          type: string
          example: null
        organizationId:
          type: integer
          format: int32
          nullable: true
          example: null
        users:
          type: array
          items:
            $ref: '#/components/schemas/UserDTO'
          example: null
      example: null
    TargetDTO:
      required:
      - children
      - collectionFollowing
      - collectionPath
      - collectionPaths
      - ctype
      - edges
      - followerCount
      - following
      - foreignSystems
      - geo
      - geoShape
      - hsCodes
      - id
      - industries
      - isAnonymous
      - managed
      - maturityAssessment
      - name
      - own
      - parents
      - path
      - paths
      - sanctionStatus
      - screened
      - type
      type: object
      properties:
        id:
          type: integer
          format: int32
          example: null
        name:
          type: string
          example: null
        sname:
          type: string
          nullable: true
          example: null
        logo:
          type: string
          nullable: true
          example: null
        backgroundPicture:
          type: string
          nullable: true
          example: null
        description:
          type: string
          nullable: true
          example: null
        website:
          type: string
          nullable: true
          example: null
        location:
          type: string
          nullable: true
          example: null
        yearFounded:
          type: integer
          format: int32
          nullable: true
          example: null
        size:
          type: string
          nullable: true
          enum:
          - Small
          - Medium
          - Large
          - Very large
          example: null
        screened:
          type: boolean
          example: null
        maturityAssessment:
          type: boolean
          example: null
        linkedInId:
          type: string
          nullable: true
          example: null
        type:
          $ref: '#/components/schemas/TargetTypeDTO'
        ctype:
          $ref: '#/components/schemas/TargetCTypeDTO'
        geo:
          $ref: '#/components/schemas/Geo'
        geoShape:
          $ref: '#/components/schemas/Geo'
        address:
          type: string
          nullable: true
          example: null
        muted:
          type: boolean
          nullable: true
          example: null
        hierarchyCustomerId:
          type: integer
          format: int32
          nullable: true
          example: null
        hierarchyOrganizationId:
          type: integer
          format: int32
          nullable: true
          example: null
        level:
          type: string
          nullable: true
          example: null
        parents:
          type: array
          items:
            $ref: '#/components/schemas/TargetDTO'
          example: null
        children:
          type: array
          items:
            $ref: '#/components/schemas/TargetDTO'
          example: null
        organization:
          $ref: '#/components/schemas/TargetDTO'
        customer:
          nullable: true
          allOf:
          - $ref: '#/components/schemas/CustomerDTO'
          example: null
        industries:
          type: array
          items:
            $ref: '#/components/schemas/TargetDTO'
          example: null
        monitoredSince:
          type: string
          format: date-time
          nullable: true
          example: null
        earliestAlert:
          type: string
          format: date-time
          nullable: true
          example: null
        followerCount:
          type: integer
          format: int32
          example: null
        ordering:
          type: integer
          format: int32
          nullable: true
          example: null
        disruptionStatusUpdate:
          $ref: '#/components/schemas/ComplexDisruptionStatusUpdate'
        sustainabilityStatus:
          type: string
          nullable: true
          enum:
          - NoRisk
          - AtRisk
          - RedFlag
          example: null
        own:
          type: boolean
          example: null
        managed:
          type: boolean
          example: null
        isPublic:
          type: boolean
          nullable: true
          example: null
        edges:
          type: array
          items:
            $ref: '#/components/schemas/EdgeDTO'
          example: null
        connection:
          nullable: true
          allOf:
          - $ref: '#/components/schemas/Connection'
          example: null
        connectionContactsCount:
          type: integer
          format: int32
          nullable: true
          example: null
        population:
          type: integer
          format: int32
          nullable: true
          example: null
        following:
          type: boolean
          example: null
        collectionFollowing:
          type: boolean
          example: null
        tier:
          type: integer
          format: int32
          nullable: true
          example: null
        path:
          type: array
          items:
            $ref: '#/components/schemas/TargetRef'
          example: null
        paths:
          type: array
          items:
            type: array
            items:
              $ref: '#/components/schemas/TargetRef'
            example: null
          example: null
        collectionLevel:
          type: integer
          format: int32
          nullable: true
          example: null
        collectionPath:
          type: array
          items:
            $ref: '#/components/schemas/CollectionRef'
          example: null
        collectionPaths:
          type: array
          items:
            type: array
            items:
              $ref: '#/components/schemas/CollectionRef'
            example: null
          example: null
        foreignSystems:
          type: array
          items:
            $ref: '#/components/schemas/TargetForeignSystemDTO'
          example: null
        scoreAvail:
          type: string
          nullable: true
          enum:
          - None
          - Peer
          - Alert
          - SSA
          - External
          example: null
        revenue:
          type: number
          nullable: true
          example: null
        isRevenueEstimated:
          type: boolean
          nullable: true
          example: null
        actualRevenue:
          type: number
          nullable: true
          example: null
        revenueAvailability:
          type: string
          nullable: true
          enum:
          - Unknown
          - Available
          example: null
        hsCodes:
          type: array
          items:
            $ref: '#/components/schemas/HSCode'
          example: null
        grievanceUrl:
          type: string
          nullable: true
          example: null
        sanctionStatus:
          type: string
          enum:
          - DIRECT
          - INDIRECT
          - NONE
          example: null
        countryScoreAvailable:
          type: boolean
          nullable: true
          example: null
        industryScoreAvailable:
          type: boolean
          nullable: true
          example: null
        commodityScoreAvailable:
          type: boolean
          nullable: true
          example: null
        isAnonymous:
          type: boolean
          example: null
        customName:
          type: string
          nullable: true
          example: null
        latestRequest:
          nullable: true
          allOf:
          - $ref: '#/components/schemas/TargetRequestInfoDto'
          example: null
        public:
          type: boolean
          writeOnly: true
          example: null
      example: null
    EdgeDTO:
      required:
      - active
      - customerId
      - derived
      - fromId
      - id
      - mediaSources
      - numbers
      - priority
      - source
      - toId
      - type
      type: object
      properties:
        id:
          type: integer
          format: int32
          example: null
        type:
          type: string
          enum:
          - Supplier
          - Customer
          - PrimaryMaterial
          - SecondaryMaterial
          - Equipment
          - Own
          example: null
        priority:
          type: string
          enum:
          - Low
          - Mid
          - High
          - Critical
          example: null
        fromId:
          type: integer
          format: int32
          example: null
        toId:
          type: integer
          format: int32
          example: null
        customerId:
          type: integer
          format: int32
          example: null
        scope:
          type: string
          nullable: true
          enum:
          - Private
          - Shared
          - Public
          example: null
        source:
          type: string
          description: Source of the supplier relationship edge
          enum:
          - Customer
          - Media
          - Customs
          - PrewavePrediction
          example: null
        numberShipments:
          type: integer
          format: int32
          nullable: true
          example: null
        numberHSCodes:
          type: integer
          format: int32
          nullable: true
          example: null
        lastShipmentDate:
          type: string
          format: date
          nullable: true
          example: null
        probability:
          type: number
          format: double
          nullable: true
          example: null
        mediaSources:
          type: array
          items:
            type: string
            example: null
          example: null
        active:
          type: boolean
          example: null
        derived:
          type: boolean
          example: null
        impactData:
          nullable: true
          allOf:
          - $ref: '#/components/schemas/EdgeImpactData'
          example: null
        edgeNumbers:
          type: array
          nullable: true
          items:
            $ref: '#/components/schemas/EdgeNumber'
          example: null
        numbers:
          type: array
          readOnly: true
          items:
            type: string
            example: null
          example: null
      example: null
    SupplierOnboardingData:
      required:
      - customerId
      - supplierId
      type: object
      properties:
        supplierId:
          type: integer
          format: int32
          example: null
        customerId:
          type: integer
          format: int32
          example: null
      example: null
    PublicAlertDTO:
      required:
      - collectionPath
      - createdAt
      - event
      - id
      - infotags
      - links
      - locations
      - media
      - primaryTargets
      - uuid
      type: object
      properties:
        id:
          type: integer
          description: Prewave-internal alert id
          format: int32
          example: null
        uuid:
          type: string
          description: Prewave-internal alert uuid
          format: uuid
          example: null
        title:
          type: string
          description: Alert title
          nullable: true
          example: Hurricane happens at Norsk Hydro in Høyanger, NO
        createdAt:
          type: string
          description: When the alert was generated/created at prewave
          format: date-time
          example: null
        predictedAtStart:
          type: string
          description: When the event - that this alert is describing - started
          format: date-time
          nullable: true
          example: null
        predictedAtEnd:
          type: string
          description: When the event - that this alert is describing - ended
          format: date-time
          nullable: true
          example: null
        description:
          type: string
          description: Detailed description of alert. Usually an excerpt taken from one of the links
          nullable: true
          example: It's windy in Høyanger
        event:
          $ref: '#/components/schemas/PublicEventDTO'
        statusId:
          type: integer
          description: Replaced with alert-relevancy
          format: int32
          nullable: true
          deprecated: true
          example: null
        locations:
          type: array
          description: Locations where the alert happened
          items:
            $ref: '#/components/schemas/PublicTargetDTO'
          example: null
        links:
          type: array
          description: Source links the alert is based on
          items:
            $ref: '#/components/schemas/PublicLinkDTO'
          example: null
        media:
          type: array
          description: Media files attached to the alert
          items:
            $ref: '#/components/schemas/PublicMediaDTO'
          example: null
        infotags:
          type: array
          items:
            $ref: '#/components/schemas/PublicInfotagDTO'
          example: null
        primaryTargets:
          type: array
          description: The targets affected by this alert.
          items:
            $ref: '#/components/schemas/PublicAlertTargetDTO'
          example: null
        priority:
          type: string
          description: Priority of alert
          nullable: true
          enum:
          - Low
          - Mid
          - High
          - Critical
          example: null
        priorityDetails:
          nullable: true
          allOf:
          - $ref: '#/components/schemas/PublicPriorityDetailsDTO'
          example: null
        collectionPath:
          type: array
          description: The collections and their hierarchy for the target
          items:
            $ref: '#/components/schemas/PublicCollectionPathRef'
          example: null
        geo:
          $ref: '#/components/schemas/Geo'
      example: null
    ErrorDTO:
      required:
      - code
      - message
      type: object
      properties:
        code:
          type: string
          description: Error code
          example: null
        message:
          type: string
          description: Error message
          example: null
        solution:
          type: string
          description: Possible solution to the error
          nullable: true
          example: null
      description: Error response
      example: null
    UserDTO:
      required:
      - firstname
      - id
      - lastname
      type: object
      properties:
        id:
          type: integer
          format: int32
          example: null
        email:
          type: string
          format: email
          nullable: true
          example: null
        firstname:
          minLength: 1
          type: string
          nullable: true
          example: null
        lastname:
          minLength: 1
          type: string
          nullable: true
          example: null
        department:
          type: string
          nullable: true
          example: null
        position:
          type: string
          nullable: true
          example: null
        profilePic:
          type: string
          nullable: true
          example: null
        customer:
          nullable: true
          allOf:
          - $ref: '#/components/schemas/CustomerDTO'
          example: null
        userHash:
          type: string
          nullable: true
          example: null
        settings:
          nullable: true
          allOf:
          - $ref: '#/components/schemas/UserSettings'
          example: null
        activePlan:
          nullable: true
          allOf:
          - $ref: '#/components/schemas/PlanDTO'
          example: null
        active:
          type: boolean
          nullable: true
          example: null
        confirmed:
          type: boolean
          nullable: true
          example: null
        roles:
          type: array
          nullable: true
          items:
            $ref: '#/components/schemas/RoleDTO'
          example: null
        teams:
          type: array
          nullable: true
          items:
            $ref: '#/components/schemas/TeamDTO'
          example: null
        perspective:
          nullable: true
          allOf:
          - $ref: '#/components/schemas/PerspectiveDTO'
          example: null
        organization:
          $ref: '#/components/schemas/TargetDTO'
        organizations:
          type: array
          nullable: true
          items:
            $ref: '#/components/schemas/TargetDTO'
          example: null
        defaultEdgeType:
          type: string
          nullable: true
          enum:
          - Supplier
          - Customer
          - PrimaryMaterial
          - SecondaryMaterial
          - Equipment
          - Own
          example: null
        language:
          type: string
          nullable: true
          enum:
          - en
          - de
          - fr
          - it
          - ch
          example: null
        collection:
          $ref: '#/components/schemas/CollectionDTO'
        passwordValidUntil:
          type: string
          format: date-time
          nullable: true
          example: null
        riskAnalysis:
          $ref: '#/components/schemas/RiskAnalysis'
        phone:
          type: string
          nullable: true
          example: null
        wechatId:
          type: string
          nullable: true
          example: null
        peerScoreToggle:
          type: boolean
          nullable: true
          example: null
        resilienceScoreToggle:
          type: boolean
          nullable: true
          example: null
      example: null
    AccessDeniedErrorDTO:
      required:
      - code
      - loggedIn
      - message
      type: object
      properties:
        loggedIn:
          type: boolean
          example: null
        permission:
          type: string
          nullable: true
          example: null
        code:
          type: string
          description: Error code
          example: null
        message:
          type: string
          description: Error message
          example: null
        solution:
          type: string
          description: Possible solution to the error
          nullable: true
          example: null
      example: null
    UserSystemAttributes:
      required:
      - incognitoOnboarding
      - onboardingFlowComplete
      type: object
      properties:
        onboardingFlowComplete:
          type: boolean
          example: null
        incognitoOnboarding:
          type: boolean
          example: null
        joinCustomer:
          type: integer
          format: int32
          nullable: true
          example: null
        supplierOnboardingData:
          nullable: true
          allOf:
          - $ref: '#/components/schemas/SupplierOnboardingData'
          example: null
      example: null
    Connection:
      required:
      - createdAt
      - customer1Id
      - customer2Id
      - initiatorCustomerId
      - pending
      - state
      - targetCustomerId
      type: object
      properties:
        customer1Id:
          type: integer
          format: int32
          example: null
        customer2Id:
          type: integer
          format: int32
          example: null
        initiatorCustomerId:
          type: integer
          format: int32
          example: null
        state:
          type: string
          enum:
          - Confirmed
          - Rejected
          - Failed
          example: null
        pending:
          type: boolean
          example: null
        initiatorId:
          type: integer
          format: int32
          nullable: true
          example: null
        comment:
          type: string
          nullable: true
          example: null
        email:
          type: string
          nullable: true
          example: null
        text:
          type: string
          nullable: true
          example: null
        createdAt:
          type: string
          format: date-time
          example: null
        targetCustomerId:
          type: integer
          format: int32
          example: null
      example: null
    PublicMediaDTO:
      type: object
      properties:
        id:
          type: integer
          format: int32
          nullable: true
          example: null
        url:
          type: string
          nullable: true
          example: null
        mimeType:
          type: string
          nullable: true
          example: null
      description: Media files attached to the alert
      example: null
    DisruptionStatusUpdate:
      required:
      - assignedAt
      - assignmentMethod
      - status
      - targetId
      type: object
      properties:
        id:
          type: integer
          format: int32
          nullable: true
          example: null
        targetId:
          type: integer
          format: int32
          example: null
        assignedAt:
          type: string
          format: date-time
          example: null
        assignedBy:
          $ref: '#/components/schemas/UserDTO'
        comment:
          type: string
          nullable: true
          example: null
        continuity:
          type: integer
          format: int32
          nullable: true
          example: null
        impactedParts:
          type: array
          nullable: true
          items:
            type: string
            example: null
          example: null
        forCustomer:
          nullable: true
          allOf:
          - $ref: '#/components/schemas/CustomerDTO'
          example: null
        status:
          $ref: '#/components/schemas/DisruptionStatus'
        assignmentMethod:
          type: string
          enum:
          - MANUAL
          - AUTOMATIC
          example: null
      example: null
    PlanLimitDTO:
      required:
      - name
      - value
      type: object
      properties:
        name:
          type: string
          example: null
        value:
          type: integer
          format: int32
          example: null
      example: null
    RiskAnalysisLock:
      required:
      - locked
      - type
      type: object
      properties:
        type:
          type: string
          enum:
          - Form
          - Suppliers
          - Matrix
          - Actions
          - Scoping
          - Products
          example: null
        locked:
          type: boolean
          example: null
        user:
          $ref: '#/components/schemas/UserDTO'
        lockedAt:
          type: string
          format: date-time
          nullable: true
          example: null
      example: null
    PublicLinkDTO:
      type: object
      properties:
        id:
          type: integer
          format: int32
          nullable: true
          example: null
        url:
          type: string
          nullable: true
          example: null
        title:
          type: string
          nullable: true
          example: null
        description:
          type: string
          nullable: true
          example: null
        pictureUrl:
          type: string
          nullable: true
          example: null
        originalLang:
          type: string
          nullable: true
          example: null
        originalTitle:
          type: string
          nullable: true
          example: null
        originalDescription:
          type: string
          nullable: true
          example: null
      description: Source links the alert is based on
      example: null
    CollectionRef:
      required:
      - id
      - name
      type: object
      properties:
        id:
          type: integer
          format: int32
          example: null
        name:
          type: string
          example: null
      description: Paths of the target in the collection hierarchy
      example: null
    PublicTargetDTO:
      required:
      - collectionFollowing
      - collectionPath
      - collectionPaths
      - ctype
      - following
      - foreignSystems
      - geo
      - geoShape
      - hsCode
      - id
      - industries
      - managed
      - mergedTargets
      - name
      - own
      - parents
      - path
      - scoreAvail
      - screened
      - type
      type: object
      properties:
        id:
          type: integer
          description: Prewave target id
          format: int32
          example: 102006215
        name:
          type: string
          description: Name of the Prewave target
          example: Høyanger
        sname:
          type: string
          description: Geonames Id (see https://geonames.org)
          nullable: true
          example: '3191281'
        logo:
          type: string
          description: URL to the logo shown in the target profile
          nullable: true
          example: null
        backgroundPicture:
          type: string
          description: URL to the background picture shown in the target profile
          nullable: true
          example: null
        description:
          type: string
          description: Description of the Prewave target
          nullable: true
          example: Description shown in the target profile
        website:
          type: string
          description: URL to the website shown in the target profile
          nullable: true
          example: null
        location:
          type: string
          description: Location of the target
          nullable: true
          example: Mistelbach
        yearFounded:
          type: integer
          description: Year the target was founded shown in the target profile
          format: int32
          nullable: true
          example: 1999
        size:
          type: string
          description: Size of the target shown in the target profile
          nullable: true
          example: Small
          enum:
          - Small
          - Medium
          - Large
          - Very large
        screened:
          type: boolean
          description: Whether the target is screened or not
          example: true
        screenedStatus:
          type: string
          description: Screening status of the target
          nullable: true
          example: Screened
          enum:
          - Required
          - Pending
          - Screened
          - NotPossible
        linkedInId:
          type: string
          description: LinkedIn ID of the target
          nullable: true
          example: general-motors
        type:
          $ref: '#/components/schemas/PublicTargetTypeDTO'
        ctype:
          $ref: '#/components/schemas/PublicTargetCTypeDTO'
        geo:
          $ref: '#/components/schemas/Geo'
        geoShape:
          $ref: '#/components/schemas/Geo'
        parents:
          type: array
          description: List of parent targets
          items:
            $ref: '#/components/schemas/PublicTargetDTO'
          example: null
        organization:
          $ref: '#/components/schemas/PublicTargetDTO'
        industries:
          type: array
          description: List of industries the target belongs to
          items:
            $ref: '#/components/schemas/PublicTargetDTO'
          example: null
        monitoredSince:
          type: string
          description: Date the target was monitored since
          format: date-time
          nullable: true
          example: null
        earliestAlert:
          type: string
          description: Date of the earliest alert
          format: date-time
          nullable: true
          example: null
        ordering:
          type: integer
          description: Ordering of the target
          format: int32
          nullable: true
          example: null
        disruptionStatusUpdate:
          $ref: '#/components/schemas/ComplexDisruptionStatusUpdate'
        own:
          type: boolean
          description: Whether the target is owned by user customer or not
          example: null
        managed:
          type: boolean
          description: '`true` if user is target connection contact or target is owned by user customer, `false` otherwise'
          example: null
        isPublic:
          type: boolean
          description: Whether the target is public or not
          nullable: true
          example: null
        connectionContactsCount:
          type: integer
          description: Number of connection contacts of the target
          format: int32
          nullable: true
          example: null
        population:
          type: integer
          description: Population of the target. Generally applies to locations
          format: int32
          nullable: true
          example: null
        following:
          type: boolean
          description: Target resides in "My follows" collection
          example: null
        collectionFollowing:
          type: boolean
          description: Target resides in any followed collection (including children)
          example: null
        tier:
          type: integer
          description: Tier of the target (relevant when fetching Tier-N)
          format: int32
          nullable: true
          example: null
        path:
          type: array
          description: Path of the target (relevant when fetching Tier-N)
          items:
            $ref: '#/components/schemas/PublicTargetRefExtended'
          example: null
        collectionLevel:
          type: integer
          description: How deep the target is in the collection hierarchy
          format: int32
          nullable: true
          example: null
        collectionPath:
          type: array
          description: Path of the target in the collection hierarchy
          items:
            $ref: '#/components/schemas/CollectionRef'
          example: null
        collectionPaths:
          type: array
          description: Paths of the target in the collection hierarchy
          items:
            type: array
            description: Paths of the target in the collection hierarchy
            items:
              $ref: '#/components/schemas/CollectionRef'
            example: null
          example: null
        foreignSystems:
          type: array
          description: List of foreign systems the target is connected to
          items:
            $ref: '#/components/schemas/PublicTargetForeignSystemDTO'
          example: null
        scoreAvail:
          type: string
          description: Score availability of the target
          enum:
          - None
          - Peer
          - Alert
          - SSA
          - External
          example: null
        revenue:
          type: number
          description: Revenue of the target
          nullable: true
          example: null
        impact:
          type: string
          description: Impact of the target
          nullable: true
          enum:
          - NA
          - 'No'
          - Low
          - Mid
          - High
          - Critical
          example: null
        hsCode:
          type: array
          description: List of HS Codes of the target
          items:
            $ref: '#/components/schemas/PublicHSCode'
          example: null
        mergedTargets:
          type: array
          description: Target ids of past targets that were merged into this current target
          items:
            type: integer
            description: Target ids of past targets that were merged into this current target
            format: int32
            example: null
          example: null
        public:
          type: boolean
          writeOnly: true
          example: null
      example: null
    PublicInfotagDTO:
      required:
      - id
      - type
      - value
      type: object
      properties:
        id:
          type: integer
          format: int32
          example: null
        type:
          $ref: '#/components/schemas/PublicInfotagTypeDTO'
        value:
          type: string
          example: null
        svalue:
          type: string
          nullable: true
          example: null
        icon:
          type: string
          nullable: true
          example: null
        numValue:
          type: number
          nullable: true
          example: null
        priority:
          type: string
          nullable: true
          deprecated: true
          enum:
          - Low
          - Mid
          - High
          - Critical
          example: null
        impactScore:
          type: string
          nullable: true
          enum:
          - Low
          - Mid
          - High
          - Critical
          example: null
      example: null
    TargetCTypeDTO:
      required:
      - bgColor
      - connectable
      - ctype
      - displayName
      - icon
      - id
      - pluralName
      - priority
      - targetTypeId
      - textColor
      type: object
      properties:
        id:
          type: integer
[...]
