openapi: 3.2.0
info:
  title: Public Prewave EUDR - Customers - Products API
  description: Documentation of the Public Prewave API.
  version: '1.0'
servers:
- url: https://api.prewave.com
  description: Production Environment
security:
- Token authentication: []
tags:
- name: EUDR - Customers - Products
  description: Allows you to manage customer products, including creating, updating, linking/unlinking products, and deactivating products.
paths:
  /public/v2/eudr/customers/products/outbound/{productId}:
    put:
      tags:
      - EUDR - Customers - Products
      summary: Update an existing outbound product
      description: 'Update an existing outbound product''s information.


        All product fields in the payload can be updated; changes are persisted immediately.


        **Required permission:** `access_public_products` and `UPDATE` on the product'
      operationId: updateOutboundProduct
      parameters:
      - name: productId
        in: path
        description: The ID of the product.
        required: true
        schema:
          type: integer
          format: int32
        example: 301
      requestBody:
        description: Updated outbound product payload.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PublicOutboundProductPayload'
            examples:
              Update outbound product:
                summary: Revised name, reference, and HS code
                description: Update outbound product
                value: '{"name":"Oak Dining Table","scientificName":"Quercus robur","reference":"OUT-2025-001","hsCode":"940360","annualRevenue":null,"annualQuantity":null,"unit":null}'
        required: true
      responses:
        '200':
          description: Product updated successfully.
        '400':
          description: Errors if related data not found or invalid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDTO'
              examples:
                HS Code not found:
                  description: HS Code not found
                  value:
                    code: hs_code_not_found
                    message: 'HS code not found: HSCode=123456'
                    solution: Check if the identifier provided is correct or create the record first
                Supplier not found:
                  description: Supplier not found
                  value:
                    code: supplier_not_found
                    message: 'Supplier not found: ID=123456'
                    solution: Check if the identifier provided is correct or create the record first
                Missing product scientific name:
                  description: Missing product scientific name
                  value:
                    code: missing_wooden_product_scientific_name
                    message: Missing product scientific name for wooden product
                    solution: Provide a scientific name for wooden products
        '403':
          description: '403 Forbidden - Authentication or authorization failure. This status code is returned when: (1) the request lacks valid authentication credentials (missing or invalid X-Auth-Token header), or (2) the authenticated user does not have the required permission to access this resource.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessDeniedErrorDTO'
              examples:
                Access denied example:
                  summary: User lacks necessary permissions or authentication
                  value: "{\n        \"loggedIn\": true,\n        \"code\": \"access_denied\",\n        \"message\": \"Access denied: you don't have necessary permissions to access this resource\",\n        \"solution\": \"Contact support for appropriate permissions\"\n    }"
        '500':
          description: 500 Internal Server Error - An unexpected error occurred on the server. The request may or may not have been processed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDTO'
              examples:
                Error - Server Error:
                  summary: Unexpected server error
                  value: "{\n        \"code\": \"internal_error\",\n        \"message\": \"An unexpected error occurred\",\n        \"solution\": \"Please try again later or contact support\"\n    }"
        '429':
          description: '429 Too Many Requests - API rate limit exceeded. The request has been rejected because the rate limit for this endpoint has been exceeded. Default rate limits: GET requests - 100 per 10 seconds, 500 per minute; POST/PUT/PATCH/DELETE requests - 20 per 10 seconds, 100 per minute. For increased access, please contact customer success.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiRateLimitResponse'
              examples:
                Rate limit exceeded example:
                  summary: API rate limit exceeded
                  value: "{\n        \"error\": \"API rate limit exceeded\",\n        \"message\": \"You have reached the maximum allowed requests. Please try again later or upgrade your plan for increased access\",\n        \"requestLimit\": 20,\n        \"requestCount\": 20,\n        \"limits\": [\n            {\n                \"requestLimit\": 20,\n                \"timeInSeconds\": 10\n            },\n            {\n                \"requestLimit\": 100,\n                \"timeInSeconds\": 60\n            }\n        ],\n        \"currentTime\": \"2026-01-15T10:30:00\",\n        \"nextResetAt\": \"2026-01-15T10:30:10\"\n    }"
  /public/v2/eudr/customers/products/inbound/{productId}:
    put:
      tags:
      - EUDR - Customers - Products
      summary: Update an existing inbound product
      description: 'Update an existing inbound product''s information.


        All product fields in the payload can be updated; changes are persisted immediately.


        **Required permission:** `access_public_products` and `UPDATE` on the product'
      operationId: updateInboundProduct
      parameters:
      - name: productId
        in: path
        description: The ID of the product.
        required: true
        schema:
          type: integer
          format: int32
        example: 301
      requestBody:
        description: Updated inbound product payload.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PublicInboundProductPayload'
            examples:
              Update inbound product:
                summary: Revised name, reference, HS code, and supplier
                description: Update inbound product
                value: '{"name":"Oak Wood Planks","scientificName":"Quercus robur","reference":"INB-2025-001","hsCode":"440799","annualSpend":null,"annualQuantity":null,"unit":null,"supplierId":102006215}'
        required: true
      responses:
        '200':
          description: Product updated successfully.
        '400':
          description: Errors if related data not found or invalid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDTO'
              examples:
                HS Code not found:
                  description: HS Code not found
                  value:
                    code: hs_code_not_found
                    message: 'HS code not found: HSCode=123456'
                    solution: Check if the identifier provided is correct or create the record first
                Supplier not found:
                  description: Supplier not found
                  value:
                    code: supplier_not_found
                    message: 'Supplier not found: ID=123456'
                    solution: Check if the identifier provided is correct or create the record first
                Missing product scientific name:
                  description: Missing product scientific name
                  value:
                    code: missing_wooden_product_scientific_name
                    message: Missing product scientific name for wooden product
                    solution: Provide a scientific name for wooden products
        '403':
          description: '403 Forbidden - Authentication or authorization failure. This status code is returned when: (1) the request lacks valid authentication credentials (missing or invalid X-Auth-Token header), or (2) the authenticated user does not have the required permission to access this resource.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessDeniedErrorDTO'
              examples:
                Access denied example:
                  summary: User lacks necessary permissions or authentication
                  value: "{\n        \"loggedIn\": true,\n        \"code\": \"access_denied\",\n        \"message\": \"Access denied: you don't have necessary permissions to access this resource\",\n        \"solution\": \"Contact support for appropriate permissions\"\n    }"
        '500':
          description: 500 Internal Server Error - An unexpected error occurred on the server. The request may or may not have been processed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDTO'
              examples:
                Error - Server Error:
                  summary: Unexpected server error
                  value: "{\n        \"code\": \"internal_error\",\n        \"message\": \"An unexpected error occurred\",\n        \"solution\": \"Please try again later or contact support\"\n    }"
        '429':
          description: '429 Too Many Requests - API rate limit exceeded. The request has been rejected because the rate limit for this endpoint has been exceeded. Default rate limits: GET requests - 100 per 10 seconds, 500 per minute; POST/PUT/PATCH/DELETE requests - 20 per 10 seconds, 100 per minute. For increased access, please contact customer success.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiRateLimitResponse'
              examples:
                Rate limit exceeded example:
                  summary: API rate limit exceeded
                  value: "{\n        \"error\": \"API rate limit exceeded\",\n        \"message\": \"You have reached the maximum allowed requests. Please try again later or upgrade your plan for increased access\",\n        \"requestLimit\": 20,\n        \"requestCount\": 20,\n        \"limits\": [\n            {\n                \"requestLimit\": 20,\n                \"timeInSeconds\": 10\n            },\n            {\n                \"requestLimit\": 100,\n                \"timeInSeconds\": 60\n            }\n        ],\n        \"currentTime\": \"2026-01-15T10:30:00\",\n        \"nextResetAt\": \"2026-01-15T10:30:10\"\n    }"
  /public/v2/eudr/customers/products/outbound:
    get:
      tags:
      - EUDR - Customers - Products
      summary: Get a list of outbound products
      description: 'Retrieve a paginated list of outbound products for EUDR compliance.


        Outbound products are products that your organization sells or distributes.

        Each item includes linked inbound product IDs when BOM relationships exist.


        **Use Cases**:

        - List all outbound products

        - Filter products by various criteria

        - Export product data for compliance reporting


        **Pagination**:

        - Results are paginated (default: 10 items per page)

        - Use `page` and `size` query parameters to control pagination


        **Required permission:** `access_public_products`'
      operationId: findOutboundProducts
      parameters:
      - name: ids
        in: query
        description: Filter by product IDs. When set, other filters are ignored.
        required: false
        schema:
          type: array
          description: Filter by product IDs. When set, other filters are ignored.
          example:
          - 1
          - 2
          - 3
          items:
            type: integer
            description: Filter by product IDs. When set, other filters are ignored.
            format: int32
        example:
        - 1
        - 2
        - 3
      - name: q
        in: query
        description: Full text search query for outbound product names, references or linked inbound product names, references or suppliers.
        required: false
        schema:
          type: string
          description: Full text search query for outbound product names, references or linked inbound product names, references or suppliers.
          example: soy oil
        example: soy oil
      - name: page
        in: query
        description: Page number (0-based)
        required: false
        schema:
          type: integer
          default: 0
        example: 0
      - name: size
        in: query
        description: Page size
        required: false
        schema:
          type: integer
          default: 10
        example: 10
      responses:
        '200':
          description: Paginated list of outbound products.
          content:
            application/json:
              schema:
                type: object
                properties:
                  content:
                    type: array
                    items:
                      $ref: '#/components/schemas/PublicOutboundProduct'
                  size:
                    type: integer
                    format: int32
                  number:
                    type: integer
                    format: int32
                  totalElements:
                    type: integer
                    format: int32
                  totalPages:
                    type: integer
                    format: int32
                  numberOfElements:
                    type: integer
                    format: int32
                  first:
                    type: boolean
                  last:
                    type: boolean
                  empty:
                    type: boolean
              examples:
                Outbound products page:
                  summary: Outbound products with linked inbound product IDs
                  description: Outbound products page
                  value: '{"content":[{"id":101,"customerId":100,"orgId":200,"name":"Oak Dining Table","scientificName":"Quercus robur","reference":"OUT-2025-001","commodity":{"id":1,"name":"Timber"},"hsCode":{"code":"940360","description":"Wooden furniture of a kind used in the dining room","commodityId":1},"inboundProducts":[201,202]},{"id":102,"customerId":100,"orgId":200,"name":"Plywood Cabinet","scientificName":null,"reference":"OUT-2025-002","commodity":{"id":1,"name":"Timber"},"hsCode":{"code":"441510","description":"Plywood, veneered panels and similar laminated wood","commodityId":1},"inboundProducts":[203]}],"pageable":{"pageNumber":0,"pageSize":10,"sort":{"empty":true,"sorted":false,"unsorted":true},"offset":0,"paged":true,"unpaged":false},"totalPages":1,"totalElements":2,"last":true,"size":10,"number":0,"numberOfElements":2,"sort":{"empty":true,"sorted":false,"unsorted":true},"first":true,"empty":false}'
        '400':
          description: Invalid pagination or filter parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDTO'
              examples:
                Invalid page number:
                  description: Invalid page number
                  value:
                    code: invalid_request
                    message: Page number must be non-negative
                    solution: Provide a valid page number (0 or greater)
                Invalid page size:
                  description: Invalid page size
                  value:
                    code: invalid_request
                    message: Page size must be between 1 and 100
                    solution: Provide a valid page size
        '403':
          description: '403 Forbidden - Authentication or authorization failure. This status code is returned when: (1) the request lacks valid authentication credentials (missing or invalid X-Auth-Token header), or (2) the authenticated user does not have the required permission to access this resource.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessDeniedErrorDTO'
              examples:
                Access denied example:
                  summary: User lacks necessary permissions or authentication
                  value: "{\n        \"loggedIn\": true,\n        \"code\": \"access_denied\",\n        \"message\": \"Access denied: you don't have necessary permissions to access this resource\",\n        \"solution\": \"Contact support for appropriate permissions\"\n    }"
        '500':
          description: 500 Internal Server Error - An unexpected error occurred on the server. The request may or may not have been processed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDTO'
              examples:
                Error - Server Error:
                  summary: Unexpected server error
                  value: "{\n        \"code\": \"internal_error\",\n        \"message\": \"An unexpected error occurred\",\n        \"solution\": \"Please try again later or contact support\"\n    }"
        '429':
          description: '429 Too Many Requests - API rate limit exceeded. The request has been rejected because the rate limit for this endpoint has been exceeded. Default rate limits: GET requests - 100 per 10 seconds, 500 per minute; POST/PUT/PATCH/DELETE requests - 20 per 10 seconds, 100 per minute. For increased access, please contact customer success.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiRateLimitResponse'
              examples:
                Rate limit exceeded example:
                  summary: API rate limit exceeded
                  value: "{\n        \"error\": \"API rate limit exceeded\",\n        \"message\": \"You have reached the maximum allowed requests. Please try again later or upgrade your plan for increased access\",\n        \"requestLimit\": 100,\n        \"requestCount\": 100,\n        \"limits\": [\n            {\n                \"requestLimit\": 100,\n                \"timeInSeconds\": 10\n            },\n            {\n                \"requestLimit\": 500,\n                \"timeInSeconds\": 60\n            }\n        ],\n        \"currentTime\": \"2026-01-15T10:30:00\",\n        \"nextResetAt\": \"2026-01-15T10:30:10\"\n    }"
    post:
      tags:
      - EUDR - Customers - Products
      summary: Create a new outbound product
      description: 'Create a new outbound product for EUDR compliance.


        Outbound products represent products that your organization sells or distributes.

        Provide at least `name` and `hsCode`; add `scientificName` and `reference` when available.


        **Required permission:** `access_public_products`'
      operationId: addOutboundProduct
      requestBody:
        description: Outbound product creation payload.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PublicOutboundProductPayload'
            examples:
              Full product:
                summary: Outbound product with scientific name and reference
                description: Full product
                value: '{"name":"Oak Dining Table","scientificName":"Quercus robur","reference":"OUT-2025-001","hsCode":"940360","annualRevenue":null,"annualQuantity":null,"unit":null}'
              Basic product:
                summary: Minimum required fields (name and HS code)
                description: Basic product
                value: '{"name":"Oak Dining Table","scientificName":null,"reference":null,"hsCode":"940360","annualRevenue":null,"annualQuantity":null,"unit":null}'
        required: true
      responses:
        '200':
          description: Outbound product created successfully. Returns the ID of the newly created product.
          content:
            application/json:
              schema:
                type: integer
                description: ID of newly created product
              examples:
                Created product ID:
                  description: Created product ID
                  value: '301'
        '400':
          description: Errors if related data not found or invalid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDTO'
              examples:
                HS Code not found:
                  description: HS Code not found
                  value:
                    code: hs_code_not_found
                    message: 'HS code not found: HSCode=123456'
                    solution: Check if the identifier provided is correct or create the record first
                Supplier not found:
                  description: Supplier not found
                  value:
                    code: supplier_not_found
                    message: 'Supplier not found: ID=123456'
                    solution: Check if the identifier provided is correct or create the record first
                Missing product scientific name:
                  description: Missing product scientific name
                  value:
                    code: missing_wooden_product_scientific_name
                    message: Missing product scientific name for wooden product
                    solution: Provide a scientific name for wooden products
        '403':
          description: '403 Forbidden - Authentication or authorization failure. This status code is returned when: (1) the request lacks valid authentication credentials (missing or invalid X-Auth-Token header), or (2) the authenticated user does not have the required permission to access this resource.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessDeniedErrorDTO'
              examples:
                Access denied example:
                  summary: User lacks necessary permissions or authentication
                  value: "{\n        \"loggedIn\": true,\n        \"code\": \"access_denied\",\n        \"message\": \"Access denied: you don't have necessary permissions to access this resource\",\n        \"solution\": \"Contact support for appropriate permissions\"\n    }"
        '500':
          description: 500 Internal Server Error - An unexpected error occurred on the server. The request may or may not have been processed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDTO'
              examples:
                Error - Server Error:
                  summary: Unexpected server error
                  value: "{\n        \"code\": \"internal_error\",\n        \"message\": \"An unexpected error occurred\",\n        \"solution\": \"Please try again later or contact support\"\n    }"
        '429':
          description: '429 Too Many Requests - API rate limit exceeded. The request has been rejected because the rate limit for this endpoint has been exceeded. Default rate limits: GET requests - 100 per 10 seconds, 500 per minute; POST/PUT/PATCH/DELETE requests - 20 per 10 seconds, 100 per minute. For increased access, please contact customer success.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiRateLimitResponse'
              examples:
                Rate limit exceeded example:
                  summary: API rate limit exceeded
                  value: "{\n        \"error\": \"API rate limit exceeded\",\n        \"message\": \"You have reached the maximum allowed requests. Please try again later or upgrade your plan for increased access\",\n        \"requestLimit\": 20,\n        \"requestCount\": 20,\n        \"limits\": [\n            {\n                \"requestLimit\": 20,\n                \"timeInSeconds\": 10\n            },\n            {\n                \"requestLimit\": 100,\n                \"timeInSeconds\": 60\n            }\n        ],\n        \"currentTime\": \"2026-01-15T10:30:00\",\n        \"nextResetAt\": \"2026-01-15T10:30:10\"\n    }"
  /public/v2/eudr/customers/products/outbound/{productId}/inbound:
    post:
      tags:
      - EUDR - Customers - Products
      summary: Connect inbound products to an outbound product
      description: 'Link one or more inbound products to an outbound product.


        These relationships are used for EUDR compliance tracking and origin request management.


        **Required permission:** `access_public_products` and `UPDATE` on the outbound product'
      operationId: addOutboundInboundProducts
      parameters:
      - name: productId
        in: path
        description: The ID of the outbound product.
        required: true
        schema:
          type: integer
          format: int32
        example: 401
      requestBody:
        description: List of inbound product IDs to link to the outbound product.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PublicOutboundInboundProductPayload'
            examples:
              Link inbound products:
                summary: Connect three inbound products to one outbound product
                description: Link inbound products
                value: '{"inboundProductIds":[201,202,203]}'
        required: true
      responses:
        '200':
          description: Inbound products linked successfully.
        '400':
          description: Invalid list (duplicates or type mismatch).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDTO'
        '404':
          description: Outbound or inbound product not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDTO'
        '409':
          description: Inbound product already linked.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDTO'
        '403':
          description: '403 Forbidden - Authentication or authorization failure. This status code is returned when: (1) the request lacks valid authentication credentials (missing or invalid X-Auth-Token header), or (2) the authenticated user does not have the required permission to access this resource.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessDeniedErrorDTO'
              examples:
                Access denied example:
                  summary: User lacks necessary permissions or authentication
                  value: "{\n        \"loggedIn\": true,\n        \"code\": \"access_denied\",\n        \"message\": \"Access denied: you don't have necessary permissions to access this resource\",\n        \"solution\": \"Contact support for appropriate permissions\"\n    }"
        '500':
          description: 500 Internal Server Error - An unexpected error occurred on the server. The request may or may not have been processed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDTO'
              examples:
                Error - Server Error:
                  summary: Unexpected server error
                  value: "{\n        \"code\": \"internal_error\",\n        \"message\": \"An unexpected error occurred\",\n        \"solution\": \"Please try again later or contact support\"\n    }"
        '429':
          description: '429 Too Many Requests - API rate limit exceeded. The request has been rejected because the rate limit for this endpoint has been exceeded. Default rate limits: GET requests - 100 per 10 seconds, 500 per minute; POST/PUT/PATCH/DELETE requests - 20 per 10 seconds, 100 per minute. For increased access, please contact customer success.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiRateLimitResponse'
              examples:
                Rate limit exceeded example:
                  summary: API rate limit exceeded
                  value: "{\n        \"error\": \"API rate limit exceeded\",\n        \"message\": \"You have reached the maximum allowed requests. Please try again later or upgrade your plan for increased access\",\n        \"requestLimit\": 20,\n        \"requestCount\": 20,\n        \"limits\": [\n            {\n                \"requestLimit\": 20,\n                \"timeInSeconds\": 10\n            },\n            {\n                \"requestLimit\": 100,\n                \"timeInSeconds\": 60\n            }\n        ],\n        \"currentTime\": \"2026-01-15T10:30:00\",\n        \"nextResetAt\": \"2026-01-15T10:30:10\"\n    }"
  /public/v2/eudr/customers/products/inbound:
    get:
      tags:
      - EUDR - Customers - Products
      summary: Get a list of inbound products
      description: 'Retrieve a paginated list of inbound products for EUDR compliance.


        Inbound products are products that your organization receives from suppliers.

        Use `includeOrigins=true` (default) to include origin information on each product.


        **Use Cases**:

        - List all inbound products

        - Filter products by various criteria

        - Review supplier, DDS status, and origin data per product


        **Pagination**:

        - Results are paginated (default: 10 items per page)

        - Use `page` and `size` query parameters to control pagination


        **Required permission:** `access_public_products`'
      operationId: findInboundProducts
      parameters:
      - name: ids
        in: query
        description: Filter by product IDs. When set, other filters are ignored.
        required: false
        schema:
          type: array
          description: Filter by product IDs. When set, other filters are ignored.
          example:
          - 1
          - 2
          - 3
          items:
            type: integer
            description: Filter by product IDs. When set, other filters are ignored.
            format: int32
        example:
        - 1
        - 2
        - 3
      - name: q
        in: query
        description: Full text search query for product names, suppliers  or product references.
        required: false
        schema:
          type: string
          description: Full text search query for product names, suppliers  or product references.
          example: soy oil
        example: soy oil
      - name: refs
        in: query
        description: Filter by product references.
        required: false
        schema:
          type: array
          description: Filter by product references.
          example:
          - Ref123
          - Ref456
          items:
            type: string
            description: Filter by product references.
            example: '["Ref123","Ref456"]'
        example:
        - Ref123
        - Ref456
      - name: las
        in: query
        description: Filter by legality assessment status.
        required: false
        schema:
          type: array
          description: Filter by legality assessment status.
          example:
          - Negligible
          - NotRequired
          items:
            type: string
            description: Filter by legality assessment status.
            example: '["Negligible","NotRequired"]'
            enum:
            - Negligible
            - NonNegligible
            - NotRequired
            - Required
        example:
        - Negligible
        - NotRequired
      - name: dfs
        in: query
        description: Filter by DF status.
        required: false
        schema:
          type: array
          description: Filter by DF status.
          example:
          - Negligible
          - NotRequired
          items:
            type: string
            description: Filter by DF status.
            example: '["Negligible","NotRequired"]'
            enum:
            - Negligible
            - NonNegligible
            - NotRequired
            - Required
        example:
        - Negligible
        - NotRequired
      - name: dd
        in: query
        description: Filter by DDS status.
        required: false
        schema:
          type: array
          description: Filter by DDS status.
          example:
          - Blocked
          - Allowed
          - WaitingForOrigins
          - Draft
          items:
            type: string
            description: Filter by DDS status.
            example: '["Blocked","Allowed","WaitingForOrigins","Draft"]'
            enum:
            - Blocked
            - Allowed
            - WaitingForOrigins
            - NotRequired
            - Draft
            - Submitting
            - Submitted
            - Available
            - SubmissionError
        example:
        - Blocked
        - Allowed
        - WaitingForOrigins
        - Draft
      - name: os
        in: query
        description: Filter by origin status.
        required: false
        schema:
          type: string
          description: Filter by origin status.
          example: Active
          enum:
          - Missing
          - Active
        example: Active
      - name: ors
        in: query
        description: Filter by origin request status.
        required: false
        schema:
          type: array
          description: Filter by origin request status.
          example:
          - Requested
          - Answered
          items:
            type: string
            description: Filter by origin request status.
            example: '["Requested","Answered"]'
            enum:
            - Requested
            - Delayed
            - Rejected
            - Canceled
            - Answered
        example:
        - Requested
        - Answered
      - name: orso
        in: query
        description: Operator for origin request status filtering. Can be used in combination with 'ors' parameter.
        required: false
        schema:
          type: string
          description: Operator for origin request status filtering. Can be used in combination with 'ors' parameter.
          example: in
        example: in
      - name: sccas
        in: query
        description: Filter by SCCA status.
        required: false
        schema:
          type: array
          description: Filter by SCCA status.
          example:
          - Pending
          - Derisked
          items:
            type: string
            description: Filter by SCCA status.
            example: '["Pending","Derisked"]'
            enum:
            - Negligible
            - NonNegligible
            - Pending
            - NotRequired
            - Derisked
        example:
        - Pending
        - Derisked
      - name: includeOrigins
        in: query
        description: Url encoded query parameter for controlling if origins will be included in the response. It allows lighter response in case they are not needed.
        required: false
        schema:
          type: boolean
          default: true
        example: false
      - name: page
        in: query
        description: Page number (0-based)
        required: false
        schema:
          type: integer
          default: 0
        example: 0
      - name: size
        in: query
        description: Page size
        required: false
        schema:
          type: integer
          default: 10
        example: 10
      responses:
        '200':
          description: Paginated list of inbound products.
          content:
            application/json:
              schema:
                type: object
                properties:
                  content:
                    type: array
                    items:
                      $ref: '#/components/schemas/PublicInboundProduct'
                  size:
                    type: integer
                    format: int32
                  number:
                    type: integer
                    format: int32
                  totalElements:
                    type: integer
                    format: int32
                  totalPages:
                    type: integer
                    format: int32
                  numberOfElements:
                    type: integer
                    format: int32
                  first:
                    type: boolean
                  last:
                    type: boolean
                  empty:
                    type: boolean
              examples:
                Inbound products page:
                  summary: Inbound products with supplier and DDS status details
                  description: Inbound products page
                  value: '{"content":[{"id":201,"customerId":100,"orgId":200,"name":"Oak Wood Planks","scientificName":"Quercus robur","reference":"INB-2025-001","commodity":{"id":1,"name":"Timber"},"hsCode":{"code":"440799","description":"Wood sawn or chipped lengthwise, sliced or peeled, of oak","commodityId":1},"annualSpend":null,"annualQuantity":null,"unit":null,"countryRisk":"Low","origins":[],"hasPendingOriginRequest":false,"pendingDFRequest":null,"supplier":{"id":101,"name":"Acme Manufacturing Inc","type":"Manufacturer","location":"Vienna","countryId":14,"references":[{"id":"ERP-12345","source":"erp"}]},"supplierDDS":[],"dfAssessment":null,"ddsStatus":{"status":"Allowed","reason":null},"customerDDS":null,"supplierMaturity":null,"legalityAssessment":null,"active":true,"creatorType":"Customer"},{"id":202,"customerId":100,"orgId":200,"name":"Teak Wood Beams","scientificName":"Tectona grandis","reference":"INB-2025-002","commodity":{"id":1,"name":"Timber"},"hsCode":{"code":"440711","description":"Wood sawn or chipped lengthwise, of teak","commodityId":1},"annualSpend":null,"annualQuantity":null,"unit":null,"countryRisk":"Mid","origins":[],"hasPendingOriginRequest":true,"pendingDFRequest":null,"supplier":{"id":102,"name":"Beta Timber Ltd","type":"Manufacturer","location":"London","countryId":826,"references":[{"id":"ERP-12345","source":"erp"}]},"supplierDDS":[],"dfAssessment":null,"ddsStatus":{"status":"WaitingForOrigins","reason":"PendingOriginRequest"},"customerDDS":null,"supplierMaturity":null,"legalityAssessment":null,"active":true,"creatorType":"Customer"}],"pageable":{"pageNumber":0,"pageSize":10,"sort":{"empty":true,"sorted":false,"unsorted":true},"offset":0,"paged":true,"unpaged":false},"totalPages":1,"totalElements":2,"last":true,"size":10,"number":0,"numberOfElements":2,"sort":{"empty":true,"sorted":false,"unsorted":true},"first":true,"empty":false}'
        '400':
          description: Invalid pagination or filter parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDTO'
              examples:
                Invalid page number:
                  description: Invalid page number
                  value:
                    code: invalid_request
                    message: Page number must be non-negative
                    solution: Provide a valid page number (0 or greater)
                Invalid page size:
                  description: Invalid page size
                  value:
                    code: invalid_request
                    message: Page size must be between 1 and 100
                    solution: Provide a valid page size
        '403':
          description: '403 Forbidden - Authentication or authorization failure. This status code is returned when: (1) the request lacks valid authentication credentials (missing or invalid X-Auth-Token header), or (2) the authenticated user does not have the required permission to access this resource.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessDeniedErrorDTO'
              examples:
                Access denied example:
                  summary: User lacks necessary permissions or authentication
                  value: "{\n        \"loggedIn\": true,\n        \"code\": \"access_denied\",\n        \"message\": \"Access denied: you don't have necessary permissions to access this resource\",\n        \"solution\": \"Contact support for appropriate permissions\"\n    }"
        '500':
          description: 500 Internal Server Error - An unexpected error occurred on the server. The request may or may not have been processed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDTO'
              examples:
                Error - Server Error:
                  summary: Unexpected server error
                  value: "{\n        \"code\": \"internal_error\",\n        \"message\": \"An unexpected error occurred\",\n        \"solution\": \"Please try again later or contact support\"\n    }"
        '429':
          description: '429 Too Many Requests - API rate limit exceeded. The request has been rejected because the rate limit for this endpoint has been exceeded. Default rate limits: GET requests - 100 per 10 seconds, 500 per minute; POST/PUT/PATCH/DELETE requests - 20 per 10 seconds, 100 per minute. For increased access, please contact customer success.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiRateLimitResponse'
              examples:
                Rate limit exceeded example:
                  summary: API rate limit exceeded
                  value: "{\n        \"error\": \"API rate limit exceeded\",\n        \"message\": \"You have reached the maximum allowed requests. Please try again later or upgrade your plan for increased access\",\n        \"requestLimit\": 100,\n        \"requestCount\": 100,\n        \"limits\": [\n            {\n                \"requestLimit\": 100,\n                \"timeInSeconds\": 10\n            },\n            {\n                \"requestLimit\": 500,\n                \"timeInSeconds\": 60\n            }\n        ],\n        \"currentTime\": \"2026-01-15T10:30:00\",\n        \"nextResetAt\": \"2026-01-15T10:30:10\"\n    }"
    post:
      tags:
      - EUDR - Customers - Products
      summary: Create a new inbound product
      description: 'Create a new inbound product for EUDR compliance.


        Inbound products represent products that your organization receives from suppliers.

        Provide `name`, `hsCode`, and `supplierId` at minimum.


        **Required permission:** `access_public_products`'
      operationId: addInboundProduct
      requestBody:
        description: Inbound product creation payload.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PublicInboundProductPayload'
            examples:
              Full product:
                summary: Inbound product with scientific name, reference, and supplier
                description: Full product
                value: '{"name":"Oak Wood Planks","scientificName":"Quercus robur","reference":"INB-2025-001","hsCode":"440799","annualSpend":null,"annualQuantity":null,"unit":null,"supplierId":102006215}'
              Basic product:
                summary: Minimum required fields
                description: Basic product
                value: '{"name":"Oak Wood Planks","scientificName":null,"reference":null,"hsCode":"440799","annualSpend":null,"annualQuantity":null,"unit":null,"supplierId":102006215}'
        required: true
      responses:
        '200':
          description: Inbound product created successfully. Returns the ID of the newly created product.
          content:
            application/json:
              schema:
                type: integer
                description: ID of newly created product
              examples:
                Created product ID:
                  description: Created product ID
                  value: '301'
        '400':
          description: Errors if related data not found or invalid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDTO'
              examples:
                HS Code not found:
                  description: HS Code not found
                  value:
                    code: hs_code_not_found
                    message: 'HS code not found: HSCode=123456'
                    solution: Check if the identifier provided is correct or create the record first
                Supplier not found:
                  description: Supplier not found
                  value:
                    code: supplier_not_found
                    message: 'Supplier not found: ID=123456'
                    solution: Check if the identifier provided is correct or create the record first
                Missing product scientific name:
                  description: Missing product scientific name
                  value:
                    code: missing_wooden_product_scientific_name
                    message: Missing product scientific name for wooden product
                    solution: Provide a scientific name for wooden products
        '403':
          description: '403 Forbidden - Authentication or authorization failure. This status code is returned when: (1) the request lacks valid authentication credentials (missing or invalid X-Auth-Token header), or (2) the authenticated user does not have the required permission to access this resource.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessDeniedErrorDTO'
              examples:
                Access denied example:
                  summary: User lacks necessary permissions or authentication
                  value: "{\n        \"loggedIn\": true,\n        \"code\": \"access_denied\",\n        \"message\": \"Access denied: you don't have necessary permissions to access this resource\",\n        \"solution\": \"Contact support for appropriate permissions\"\n    }"
        '500':
          description: 500 Internal Server Error - An unexpected error occurred on the server. The request may or may not have been processed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDTO'
              examples:
                Error - Server Error:
                  summary: Unexpected server error
                  value: "{\n        \"code\": \"internal_error\",\n        \"message\": \"An unexpected error occurred\",\n        \"solution\": \"Please try again later or contact support\"\n    }"
        '429':
          description: '429 Too Many Requests - API rate limit exceeded. The request has been rejected because the rate limit for this endpoint has been exceeded. Default rate limits: GET requests - 100 per 10 seconds, 500 per minute; POST/PUT/PATCH/DELETE requests - 20 per 10 seconds, 100 per minute. For increased access, please contact customer success.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiRateLimitResponse'
              examples:
                Rate limit exceeded example:
                  summary: API rate limit exceeded
                  value: "{\n        \"error\": \"API rate limit exceeded\",\n        \"message\": \"You have reached the maximum allowed requests. Please try again later or upgrade your plan for increased access\",\n        \"requestLimit\": 20,\n        \"requestCount\": 20,\n        \"limits\": [\n            {\n                \"requestLimit\": 20,\n                \"timeInSeconds\": 10\n            },\n            {\n                \"requestLimit\": 100,\n                \"timeInSeconds\": 60\n            }\n        ],\n        \"currentTime\": \"2026-01-15T10:30:00\",\n        \"nextResetAt\": \"2026-01-15T10:30:10\"\n    }"
  /public/v2/eudr/customers/products/{productId}:
    delete:
      tags:
      - EUDR - Customers - Products
      summary: Deactivate a product and its origins
      description: 'Deactivate a product and its associated origins.


        Once deactivated, the product is no longer available for active use in EUDR compliance workflows.


        **Required permission:** `access_public_products` and `DELETE` on the product'
      operationId: deactivateProduct
      parameters:
      - name: productId
        in: path
        description: The ID of the product.
        required: true
        schema:
          type: integer
          format: int32
        example: 301
      responses:
        '200':
          description: Product deactivated successfully.
        '404':
          description: Product not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDTO'
              examples:
                Product not found:
                  description: Product not found
                  value:
                    code: resource_not_found
                    message: Product with id 123 not found
                    solution: Verify the product ID
        '403':
          description: '403 Forbidden - Authentication or authorization failure. This status code is returned when: (1) the request lacks valid authentication credentials (missing or invalid X-Auth-Token header), or (2) the authenticated user does not have the required permission to access this resource.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessDeniedErrorDTO'
              examples:
                Access denied example:
                  summary: User lacks necessary permissions or authentication
                  value: "{\n        \"loggedIn\": true,\n        \"code\": \"access_denied\",\n        \"message\": \"Access denied: you don't have necessary permissions to access this resource\",\n        \"solution\": \"Contact support for appropriate permissions\"\n    }"
        '500':
          description: 500 Internal Server Error - An unexpected error occurred on the server. The request may or may not have been processed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDTO'
              examples:
                Error - Server Error:
                  summary: Unexpected server error
                  value: "{\n        \"code\": \"internal_error\",\n        \"message\": \"An unexpected error occurred\",\n        \"solution\": \"Please try again later or contact support\"\n    }"
        '429':
          description: '429 Too Many Requests - API rate limit exceeded. The request has been rejected because the rate limit for this endpoint has been exceeded. Default rate limits: GET requests - 100 per 10 seconds, 500 per minute; POST/PUT/PATCH/DELETE requests - 20 per 10 seconds, 100 per minute. For increased access, please contact customer success.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiRateLimitResponse'
              examples:
                Rate limit exceeded example:
                  summary: API rate limit exceeded
                  value: "{\n        \"error\": \"API rate limit exceeded\",\n        \"message\": \"You have reached the maximum allowed requests. Please try again later or upgrade your plan for increased access\",\n        \"requestLimit\": 20,\n        \"requestCount\": 20,\n        \"limits\": [\n            {\n                \"requestLimit\": 20,\n                \"timeInSeconds\": 10\n            },\n            {\n                \"requestLimit\": 100,\n                \"timeInSeconds\": 60\n            }\n        ],\n        \"currentTime\": \"2026-01-15T10:30:00\",\n        \"nextResetAt\": \"2026-01-15T10:30:10\"\n    }"
  /public/v2/eudr/customers/products/outbound/{outboundProductId}/inbound/{inboundProductId}:
    delete:
      tags:
      - EUDR - Customers - Products
      summary: Disconnect an inbound product from an outbound product
      description: 'Remove the link between an inbound product and an outbound product.


        The products themselves are not deleted — only the BOM relationship is removed.


        **Required permission:** `access_public_products` and `UPDATE` on the outbound product'
      operationId: removeOutboundInboundProduct
      parameters:
      - name: outboundProductId
        in: path
        description: The ID of the outbound product.
        required: true
        schema:
          type: integer
          format: int32
        example: 401
      - name: inboundProductId
        in: path
        description: The ID of the inbound product.
        required: true
        schema:
          type: integer
          format: int32
        example: 201
      responses:
        '200':
          description: Product link removed successfully.
        '404':
          description: Outbound product, inbound product, or link not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDTO'
              examples:
                Link not found:
                  description: Link not found
                  value:
                    code: resource_not_found
                    message: Link between outbound product 101 and inbound product 201 not found
                    solution: Verify both product IDs and that they are linked
        '403':
          description: '403 Forbidden - Authentication or authorization failure. This status code is returned when: (1) the request lacks valid authentication credentials (missing or invalid X-Auth-Token header), or (2) the authenticated user does not have the required permission to access this resource.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessDeniedErrorDTO'
              examples:
                Access denied example:
                  summary: User lacks necessary permissions or authentication
                  value: "{\n        \"loggedIn\": true,\n        \"code\": \"access_denied\",\n        \"message\": \"Access denied: you don't have necessary permissions to access this resource\",\n        \"solution\": \"Contact support for appropriate permissions\"\n    }"
        '500':
          description: 500 Internal Server Error - An unexpected error occurred on the server. The request may or may not have been processed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDTO'
              examples:
                Error - Server Error:
                  summary: Unexpected server error
                  value: "{\n        \"code\": \"internal_error\",\n        \"message\": \"An unexpected error occurred\",\n        \"solution\": \"Please try again later or contact support\"\n    }"
        '429':
          description: '429 Too Many Requests - API rate limit exceeded. The request has been rejected because the rate limit for this endpoint has been exceeded. Default rate limits: GET requests - 100 per 10 seconds, 500 per minute; POST/PUT/PATCH/DELETE requests - 20 per 10 seconds, 100 per minute. For increased access, please contact customer success.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiRateLimitResponse'
              examples:
                Rate limit exceeded example:
                  summary: API rate limit exceeded
                  value: "{\n        \"error\": \"API rate limit exceeded\",\n        \"message\": \"You have reached the maximum allowed requests. Please try again later or upgrade your plan for increased access\",\n        \"requestLimit\": 20,\n        \"requestCount\": 20,\n        \"limits\": [\n            {\n                \"requestLimit\": 20,\n                \"timeInSeconds\": 10\n            },\n            {\n                \"requestLimit\": 100,\n                \"timeInSeconds\": 60\n            }\n        ],\n        \"currentTime\": \"2026-01-15T10:30:00\",\n        \"nextResetAt\": \"2026-01-15T10:30:10\"\n    }"
components:
  schemas:
    PublicFeatureCollection:
      required:
      - features
      type: object
      properties:
        features:
          type: array
          items:
            $ref: '#/components/schemas/PublicFeature'
          example: null
      description: Plot of the origin
      example: null
    ApiRateLimitTimeRequestLimit:
      type: object
      properties:
        requestLimit:
          type: integer
          description: Maximum number of requests allowed in this time window
          format: int32
          example: 100
        timeInSeconds:
          type: integer
          description: Time window duration in seconds
          format: int32
          example: 10
      description: Rate limit configuration for a specific time window
      example: null
    PublicDDSReference:
      required:
      - ddsId
      - reference
      - type
      type: object
      properties:
        ddsId:
          type: integer
          description: Referenced DDS ID
          format: int32
          example: 456
        reference:
          type: string
          description: Reference label
          example: PO-2025-001
        type:
          type: string
          description: Public product reference type.
          example: PurchaseOrder
          enum:
          - PurchaseOrder
          - ShipmentNumber
          - Other
      description: List of DDS references
      example: null
    PublicInboundProduct:
      required:
      - active
      - commodity
      - creatorType
      - customerId
      - hasPendingOriginRequest
      - hsCode
      - id
      - name
      - orgId
      - origins
      - supplier
      - supplierDDS
      type: object
      properties:
        id:
          type: integer
          format: int32
          example: null
        customerId:
          type: integer
          format: int32
          example: null
        orgId:
          type: integer
          format: int32
          example: null
        name:
          type: string
          example: null
        scientificName:
          type:
          - string
          - 'null'
          example: null
        reference:
          type:
          - string
          - 'null'
          example: null
        commodity:
          $ref: '#/components/schemas/PublicCommodity'
        hsCode:
          $ref: '#/components/schemas/PublicProductHSCode'
        annualSpend:
          type:
          - number
          - 'null'
          description: Annual spend
          example: 10000.0
          deprecated: true
        annualQuantity:
          type:
          - number
          - 'null'
          description: Annual quantity
          example: 500.0
          deprecated: true
        unit:
          type:
          - string
          - 'null'
          description: Quantity unit
          example: kg
          deprecated: true
        countryRisk:
          type:
          - string
          - 'null'
          description: Public EUDR risk.
          enum:
          - Low
          - Mid
          - High
          example: null
        origins:
          $ref: '#/components/schemas/PublicOrigin'
        hasPendingOriginRequest:
          type: boolean
          description: Indicates if the product has a pending origin request
          example: false
        pendingDFRequest:
          allOf:
          - $ref: '#/components/schemas/PublicPendingDFRequest'
          example: null
        supplier:
          $ref: '#/components/schemas/PublicSupplier'
        supplierDDS:
          $ref: '#/components/schemas/PublicProductSupplierDDS'
        dfAssessment:
          allOf:
          - $ref: '#/components/schemas/PublicDFAssessment'
          example: null
        ddsStatus:
          allOf:
          - $ref: '#/components/schemas/PublicCustomerDDSStatus'
          example: null
        customerDDS:
          allOf:
          - $ref: '#/components/schemas/PublicProductCustomerDDS'
          example: null
        supplierMaturity:
          allOf:
          - $ref: '#/components/schemas/PublicSupplierMaturity'
          example: null
        legalityAssessment:
          allOf:
          - $ref: '#/components/schemas/PublicLegalityAssessment'
          example: null
        active:
          type: boolean
          description: Product active status
          example: true
        creatorType:
          type: string
          description: Public EUDR user type.
          example: Customer
          enum:
          - Customer
          - Supplier
          - Producer
      example: null
    PublicSupplierMaturity:
      type: object
      properties:
        answerStatus:
          type:
          - string
          - 'null'
          description: Enum representing possible statuses for a supplier's questionnaire answer in the public API.
          enum:
          - Requested
          - InProgress
          - Good
          - Critical
          example: null
        answerHidden:
          type:
          - boolean
          - 'null'
          description: True if the answer is hidden due to permission status (e.g., denied or not requested), otherwise false.
          example: null
      description: Public API payload representing the status of a supplier maturity assessment
      example: null
    PublicLegalityAssessment:
      required:
      - status
      type: object
      properties:
        minScore:
          allOf:
          - $ref: '#/components/schemas/Score'
          example: null
        minScoreAvail:
          type:
          - string
          - 'null'
          description: Public score availability.
          example: Peer
          enum:
          - None
          - Peer
          - Alert
          - SSA
          - External
        status:
          type: string
          description: Public legality assessment status.
          example: Negligible
          enum:
          - Negligible
          - NonNegligible
          - NotRequired
          - Required
      description: Legality assessment result
      example: null
    PublicDFCheckResult:
      required:
      - outdated
      - status
      type: object
      properties:
        status:
          type: string
          description: Public deforestation status.
          enum:
          - Negligible
          - NonNegligible
          - NotRequired
          - Required
          example: null
        outdated:
          type: boolean
          description: Is the check outdated
          example: null
      description: Deforestation check result status
      example: null
    PublicProducer:
      required:
      - id
      - name
      type: object
      properties:
        id:
          type: integer
          description: Target ID of the producer
          format: int32
          example: null
        name:
          type: string
          description: Producer name
          example: null
        geo:
          allOf:
          - $ref: '#/components/schemas/PublicGeometrySchema'
          example: null
        countryId:
          type:
          - integer
          - 'null'
          description: Country ID of the producer
          format: int32
          example: null
      description: Producer of the origin
      example: null
    Score:
      required:
      - risk
      - value
      type: object
      properties:
        value:
          type: integer
          format: int32
          example: null
        risk:
          type: string
          enum:
          - NA
          - 'No'
          - Low
          - Mid
          - High
          - Critical
          example: null
      example: null
    PublicOutboundProductPayload:
      required:
      - hsCode
      - name
      type: object
      properties:
        name:
          type: string
          description: Product name.
          example: Wooden Table
        scientificName:
          type:
          - string
          - 'null'
          description: Scientific name label.
          example: Quercus robur
        reference:
          type:
          - string
          - 'null'
          description: Reference label.
          example: REF-12345
        hsCode:
          type: string
          description: HS code associated with the product. Can be retrieved from the HS code list endpoint.
          example: '440799'
        annualRevenue:
          type:
          - number
          - 'null'
          description: Annual revenue (EUR).
          format: decimal
          example: 15000.0
          deprecated: true
        annualQuantity:
          type:
          - number
          - 'null'
          description: Annual quantity.
          example: 100.0
          deprecated: true
        unit:
          type:
          - string
          - 'null'
          description: Quantity unit.
          example: kg
          deprecated: true
      description: Payload for creating or updating an outbound product. Inherits common product properties and adds annual revenue.
      example: null
    PublicCustomerDDSStatus:
      required:
      - status
      type: object
      properties:
        status:
          type: string
          description: Public DDS status.
          example: Allowed
          enum:
          - Blocked
          - Allowed
          - WaitingForOrigins
          - NotRequired
          - Draft
          - Submitting
          - Submitted
          - Available
          - SubmissionError
        reason:
          type:
          - string
          - 'null'
          description: Public reason for DDS status.
          example: NoOrigins
          enum:
          - NoOrigins
          - PendingOriginRequest
          - DFARequired
          - DFANonNegligible
          - LARequired
          - LANonNegligible
          - DDSCreated
          - Unknown
      description: Customer DDS status
      example: null
    PublicSupplier:
      required:
      - id
      - name
      - type
      type: object
      properties:
        id:
          type: integer
          description: Supplier ID
          format: int32
          example: 101
        name:
          type: string
          description: Supplier name
          example: Acme Corp
        type:
          type: string
          description: Supplier type
          example: Manufacturer
        location:
          type:
          - string
          - 'null'
          description: Supplier location
          example: Vienna
        countryId:
          type:
          - integer
          - 'null'
          description: Country ID of the supplier
          format: int32
          example: 14
        references:
          allOf:
          - $ref: '#/components/schemas/PublicSupplierReference'
          example: null
      description: Represents a supplier in the public API. Contains basic supplier information and references.
      example: null
    PublicOutboundInboundProductPayload:
      required:
      - inboundProductIds
      type: object
      properties:
        inboundProductIds:
          type: array
          description: List of inbound product IDs
          items:
            type: integer
            description: List of inbound product IDs
            format: int32
            example: null
          example: null
      example: null
    ApiRateLimitResponse:
      type: object
      properties:
        error:
          type: string
          description: Error type identifier
          example: RateLimitExceeded
        message:
          type: string
          description: Human-readable error message explaining the rate limit violation
          example: API rate limit exceeded. Please reduce your request rate.
        requestLimit:
          type: integer
          description: Maximum number of requests allowed in the current time window
          format: int32
          example: 100
        requestCount:
          type: integer
          description: Number of requests made in the current time window
          format: int32
          example: 101
        limits:
          type: array
          description: All rate limits that apply to this endpoint, showing different time windows
          items:
            $ref: '#/components/schemas/ApiRateLimitTimeRequestLimit'
          example: null
        currentTime:
          type: string
          description: Current server time in ISO 8601 format
          format: date-time
          example: '2026-01-19T10:30:00'
        nextResetAt:
          type: string
          description: Time when the rate limit will reset in ISO 8601 format
          format: date-time
          example: '2026-01-19T10:30:10'
      description: Response returned when API rate limit is exceeded (HTTP 429)
      example: null
    PublicCountry:
      required:
      - id
      - name
      type: object
      properties:
        id:
          type: integer
          description: Country ID
          format: int32
          example: 14
        name:
          type: string
          description: Country name
          example: Austria
        countryCode:
          maxLength: 2
          minLength: 2
          type:
          - string
          - 'null'
          description: Country code in form of ISO 3166-1 alpha-2 code
          example: AT
        bounds:
          allOf:
          - $ref: '#/components/schemas/PublicGeometrySchema'
          example: null
      description: Country where the economic activity is taking place
      example: null
    PublicMinimalOriginRequest:
      required:
      - createdAt
      - id
      - references
      - status
      type: object
      properties:
        id:
          type: integer
          description: Origin request ID
          format: int32
          example: null
        createdAt:
          type: string
          description: Creation date of the origin request
          format: date-time
          example: null
        status:
          type: string
          description: Public origin request status.
          enum:
          - Requested
          - Answered
          - Rejected
          - Canceled
          - Delayed
          example: null
        references:
          type: array
          description: References date of the origin request
          items:
            $ref: '#/components/schemas/PublicOriginRequestRef'
          example: null
      description: Origin request references
      example: null
    AccessDeniedErrorDTO:
      required:
      - code
      - loggedIn
      - message
      type: object
      properties:
        loggedIn:
          type: boolean
          example: null
        permission:
          type:
          - string
          - 'null'
          example: null
        code:
          type: string
          description: Error code
          example: null
        message:
          type: string
          description: Error message
          example: null
        solution:
          type:
          - string
          - 'null'
          description: Possible solution to the error
          example: null
      example: null
    PublicProductHSCode:
      required:
      - code
      type: object
      properties:
        code:
          type: string
          description: HS code
          example: '440799'
        description:
          type:
          - string
          - 'null'
          description: HS code description
          example: Wood sawn or chipped lengthwise, sliced or peeled, of oak
        commodityId:
          type:
          - integer
          - 'null'
          description: Commodity ID for the HS code
          format: int32
          example: 1
      description: List of HS codes associated with this DDS unit
      example: null
    PublicCommodity:
      required:
      - id
      - name
      type: object
      properties:
        id:
          type: integer
          description: Commodity ID
          format: int32
          example: 1
        name:
          type: string
          description: Commodity name
          example: Timber
      example: null
    PublicDFCheck:
      required:
      - checkDate
      - deforestedArea
      - numberOfAlerts
      - pictures
      - primaryForestArea
      type: object
      properties:
        checkDate:
          type: string
          description: Deforestation check date
          format: date-time
          example: null
        primaryForestArea:
          type: number
          description: Available forest area in hectares
          format: double
          example: null
        deforestedArea:
          type: number
          description: Deforested area in hectares
          format: double
          example: null
        numberOfAlerts:
          type: integer
          description: Number of alerts
          format: int32
          example: null
        pictures:
          type: array
          items:
            type: string
            format: uuid
            example: null
          example: null
      description: Result of deforestation check request
      example: null
    PublicPendingDFRequest:
      required:
      - type
      type: object
      properties:
        type:
          type: string
          description: Public deforestation check type.
          enum:
          - Basic
          - Advanced
          example: null
      description: Public pending deforestation request details.
      example: null
    PublicDFAssessment:
      required:
      - outdated
      - status
      type: object
      properties:
        status:
          type: string
          description: Public deforestation status.
          enum:
          - Negligible
          - NonNegligible
          - NotRequired
          - Required
          example: null
        outdated:
          type: boolean
          description: Is the assessment outdated
          example: null
        checkType:
          type:
          - string
          - 'null'
          description: Public deforestation check type.
          enum:
          - Basic
          - Advanced
          example: null
      description: Deforestation assessment result
      example: null
    PublicSubmissionError:
      required:
      - code
      - detail
      type: object
      properties:
        code:
          type: string
          description: Error code
          example: null
        detail:
          type: string
          description: Human readable details about the error
          example: null
        reasons:
          type:
          - array
          - 'null'
          description: Detailed reasons about the error, if any
          items:
            type: string
            description: Detailed reasons about the error, if any
            example: null
          example: null
      description: Details about a submission error, if state is SUBMISSION_ERROR
      example: null
    PublicProductCustomerDDS:
      required:
      - active
      - activityType
      - archived
      - customerCity
      - customerCountry
      - customerName
      - customerPostalCode
      - customerStreet
      - date
      - eoriNumber
      - hsCode
      - id
      - netWeightInKg
      - operatorType
      - productDescription
      - productName
      - references
      - state
      type: object
      properties:
        id:
          type: integer
          description: Customer DDS ID
          format: int32
          example: 123
        active:
          type: boolean
          description: Active status
          example: true
        referenceNumber:
          type:
          - string
          - 'null'
          description: Reference number
          example: EU-REF-12345
        date:
          type: string
          description: DDS date
          format: date-time
          example: null
        archived:
          type: boolean
          description: Archived
          example: false
        archiveDate:
          type:
          - string
          - 'null'
          description: Archive date
          format: date-time
          example: null
        eoriNumber:
          type: string
          description: EORI number of the customer
          example: EU123456789
        customerName:
          type: string
          description: Name of the customer as stated on the DDS
          example: Acme GmbH
        customerCity:
          type: string
          description: City of the customer as stated on the DDS
          example: Vienna
        customerPostalCode:
          type: string
          description: Postal code of the customer as stated on the DDS
          example: '1010'
        customerStreet:
          type: string
          description: Street of the customer as stated on the DDS
          example: Main Street 1
        customerCountry:
          $ref: '#/components/schemas/PublicCountry'
        state:
          type: string
          description: Public customer DDS state.
          example: Available
          enum:
          - New
          - Submitting
          - Submitted
          - SubmissionError
          - Available
          - Rejected
          - Cancelled
          - Withdrawn
          - Archived
          - Suspended
          - Updated
          - Grouped
          - Obsolete
        operatorType:
          type: string
          description: Public operator type. RepresentativeOperator is the only supported value. Operator and Trader are deprecated and retained only for legacy data.
          example: RepresentativeOperator
          enum:
          - RepresentativeOperator
          - Operator
          - Trader
        activityType:
          type: string
          description: Public activity type.
          example: Import
          enum:
          - Import
          - Export
          - Domestic
          - Trade
        countryOfActivity:
          allOf:
          - $ref: '#/components/schemas/PublicCountry'
          example: null
        references:
          $ref: '#/components/schemas/PublicDDSReference'
        productName:
          type: string
          description: Product name label
          example: Wooden Table
        productDescription:
          type: string
          description: Product description label
          example: Oak wood table, 2m x 1m
        netWeightInKg:
          type: number
          description: Net Weight in Kg
          example: 100.5
        quantity:
          type:
          - number
          - 'null'
          description: Product quantity (additional info)
          example: 10
        unit:
          type:
          - string
          - 'null'
          description: Quantity unit
          example: kg
        hsCode:
          type: string
          description: HS code
          example: '440799'
        submissionError:
          allOf:
          - $ref: '#/components/schemas/PublicSubmissionError'
          example: null
      description: Customer DDS
      example: null
    PublicOriginRequestRef:
      required:
      - id
      - reference
      - referenceType
      type: object
      properties:
        id:
          type: integer
          description: Request ID
          format: int32
          example: null
        reference:
          type: string
          description: Reference label
          example: null
        referenceType:
          type: string
          description: Public product reference type.
          enum:
          - PurchaseOrder
          - ShipmentNumber
          - Other
          example: null
      description: References date of the origin request
      example: null
    PublicOrigin:
      required:
      - active
      - country
      - createdAt
      - id
      - plot
      - plotAreaHa
      - updatedAt
      type: object
      properties:
        id:
          type: integer
          description: Origin ID
          format: int32
          example: null
        name:
          type:
          - string
          - 'null'
          description: Origin name
          example: null
        active:
          type: boolean
          description: Active status
          example: null
        producedAtStart:
          type:
          - string
          - 'null'
          description: Production start date
          format: date-time
          example: null
        producedAtEnd:
          type:
          - string
          - 'null'
          description: Production end date
          format: date-time
          example: null
        producer:
          allOf:
          - $ref: '#/components/schemas/PublicProducer'
          example: null
        country:
          $ref: '#/components/schemas/PublicCountry'
        plot:
          $ref: '#/components/schemas/PublicFeatureCollection'
        plotAreaHa:
          type: number
          description: Plot area in hectares
          format: double
          example: null
        dds:
          allOf:
          - $ref: '#/components/schemas/PublicProductSupplierDDS'
          example: null
        request:
          allOf:
          - $ref: '#/components/schemas/PublicMinimalOriginRequest'
          example: null
        pendingProducerDiscoveryRequest:
          allOf:
          - $ref: '#/components/schemas/PublicProducerDiscoveryRequest'
          example: null
        countryRisk:
          type:
          - string
          - 'null'
          description: Public EUDR risk.
          enum:
          - Low
          - Mid
          - High
          example: null
        pendingDFRequest:
          allOf:
          - $ref: '#/components/schemas/PublicPendingDFRequest'
          example: null
        dfCheck:
          allOf:
          - $ref: '#/components/schemas/PublicDFCheck'
          example: null
        dfCheckResult:
          allOf:
          - $ref: '#/components/schemas/PublicDFCheckResult'
          example: null
        legalityCheck:
          allOf:
          - $ref: '#/components/schemas/PublicOriginLegalityCheck'
          example: null
        weight:
          type:
          - number
          - 'null'
          description: Weight, if origin is provided from an origin request with weight
          example: null
        createdAt:
          type: string
          description: Creation date of the origin
          format: date-time
          example: null
        updatedAt:
          type: string
          description: Last update date of the origin
          format: date-time
          example: null
      description: List of product's origins
      example: null
    PublicProducerDiscoveryRequest:
      required:
      - id
      - name
      - originId
      type: object
      properties:
        id:
          type: integer
          description: Producer discovery request ID
          format: int32
          example: null
        originId:
          type: integer
          description: Origin ID
          format: int32
          example: null
        name:
          type: string
          description: Producer name
          example: null
        targetId:
          type:
          - integer
          - 'null'
          description: Producer Target ID
          format: int32
          example: null
      description: Pending producer discovery request
      example: null
    PublicGeometrySchema:
      required:
      - coordinates
      - type
      type: object
      properties:
        type:
          type: string
          description: 'Geometry available types: Point, MultiPoint, Polygon, MultiPolygon'
          example: null
        coordinates:
          type: array
          description: Geometry coordinates
          items:
            type: array
            description: Geometry coordinates
            items:
              type: array
              description: Geometry coordinates
              items:
                type: number
                description: Geometry coordinates
                format: double
                example: null
              example: null
            example: null
          example: null
      description: Geometry plot object
      example: null
    PublicProductSupplierDDS:
      required:
      - active
      - archived
      - date
      - id
      - netWeightInKg
      type: object
      properties:
        id:
          type: integer
          description: Supplier DDS ID
          format: int32
          example: 201
        active:
          type: boolean
          description: Active status
          example: true
        referenceNumber:
          type:
          - string
          - 'null'
          description: Reference number
          example: EU-REF-12345
        date:
          type: string
          description: DDS date
          format: date-time
          example: null
        netWeightInKg:
          type: number
          description: Net Weight in Kg
          example: 100.5
        archived:
          type: boolean
          description: Archived
          example: false
        archiveDate:
          type:
          - string
          - 'null'
          description: Archive date
          format: date-time
          example: null
      description: Supplier DDS
      example: null
    ErrorDTO:
      required:
      - code
      - message
      type: object
      properties:
        code:
          type: string
          description: Error code
          example: null
        message:
          type: string
          description: Error message
          example: null
        solution:
          type:
          - string
          - 'null'
          description: Possible solution to the error
          example: null
      description: Error response
      example: null
    PublicFeature:
      required:
      - geometry
      - properties
      type: object
      properties:
        geometry:
          $ref: '#/components/schemas/PublicGeometrySchema'
        properties:
          type: object
          additionalProperties:
            type: object
            description: "Value map with available keys:\n            - ProducerName (String)\n            - ProducerCountry (Country code in form of ISO 3166-1 alpha-2 code)\n            - ProductionPlace (String)\n            - Area (Double)\n            "
          description: "Value map with available keys:\n            - ProducerName (String)\n            - ProducerCountry (Country code in form of ISO 3166-1 alpha-2 code)\n            - ProductionPlace (String)\n            - Area (Double)\n            "
          example: null
      example: null
    PublicSupplierReference:
      required:
      - id
      type: object
      properties:
        id:
          type: string
          description: Reference ID
          example: REF-001
        source:
          type:
          - string
          - 'null'
          description: Source of the reference
          example: SAP
      description: Reference information for a supplier. Contains reference ID and source.
      example: null
    PublicInboundProductPayload:
      required:
      - hsCode
      - name
      - supplierId
      type: object
      properties:
        name:
          type: string
          description: Product name.
          example: Wooden Table
        scientificName:
          type:
          - string
          - 'null'
          description: Scientific name label.
          example: Quercus robur
        reference:
          type:
          - string
          - 'null'
          description: Reference label.
          example: REF-12345
        hsCode:
          type: string
          description: HS code associated with the product. Can be retrieved from the HS code list endpoint.
          example: '440799'
        annualSpend:
          type:
          - number
          - 'null'
          description: Annual spend (EUR).
          format: decimal
          example: 10000.0
          deprecated: true
        annualQuantity:
          type:
          - number
          - 'null'
          description: Annual quantity.
          example: 100.0
          deprecated: true
        unit:
          type:
          - string
          - 'null'
          description: Quantity unit.
          example: kg
          deprecated: true
        supplierId:
          type: integer
          description: Target ID of the supplier.
          format: int32
          example: 42
      description: Payload for creating or updating an inbound product. Inherits common product properties and adds annual spend and supplier ID.
      example: null
    PublicOriginLegalityCheck:
      required:
      - scoreAvail
      - status
      type: object
      properties:
        score:
          allOf:
          - $ref: '#/components/schemas/Score'
          example: null
        scoreAvail:
          type: string
          description: Public score availability.
          enum:
          - None
          - Peer
          - Alert
          - SSA
          - External
          example: null
        status:
          type: string
          description: Public legality assessment status.
          enum:
          - Negligible
          - NonNegligible
          - NotRequired
          - Required
          example: null
      description: Legality check result
      example: null
    PublicOutboundProduct:
      required:
      - commodity
      - customerId
      - hsCode
      - id
      - inboundProducts
      - name
      - orgId
      type: object
      properties:
        id:
          type: integer
          format: int32
          example: null
        customerId:
          type: integer
          format: int32
          example: null
        orgId:
          type: integer
          format: int32
          example: null
        name:
          type: string
          example: null
        scientificName:
          type:
          - string
          - 'null'
          example: null
        reference:
          type:
          - string
          - 'null'
          example: null
        commodity:
          $ref: '#/components/schemas/PublicCommodity'
        hsCode:
          $ref: '#/components/schemas/PublicProductHSCode'
        inboundProducts:
          type: array
          description: List of inbound product IDs associated with the outbound product
          example:
          - 1
          - 2
          - 3
          items:
            type: integer
            description: List of inbound product IDs associated with the outbound product
            format: int32
            example: null
      example: null
  securitySchemes:
    Token_authentication:
      type: apiKey
      description: Generate an API token at https://www.prewave.com/management/api and paste it in here.
      name: X-Auth-Token
      in: header
