openapi: 3.2.0
info:
  title: Public Prewave Disruptions API
  description: Documentation of the Public Prewave API.
  version: '1.0'
servers:
- url: https://api.prewave.com
  description: Production Environment
security:
- Token authentication: []
tags:
- name: Disruptions
  description: Endpoints for retrieving alerts from the disruption map. Supports filtering by geographic region, collections, countries, and other criteria.
paths:
  /public/v1/disruptions/alerts:
    get:
      tags:
      - Disruptions
      summary: Find alerts on disruption map
      description: '### Overview

        Retrieve alerts displayed on the disruption map filtered by geographic region, collections, and other criteria.


        This endpoint returns alerts that are visible on the disruption map interface, allowing you to query

        alerts by geographic bounding boxes, collections, countries, and various filter criteria.


        ### Response

        Returns an array of alert objects. Each alert includes basic information (id, uuid, title, timestamps),

        event grouping, priority and classification details, location/geographic data, source links and media,

        infotags, primary target information, and collection paths. Unlike paginated endpoints, this endpoint

        returns all matching alerts in a single array without pagination metadata.


        **Note**: Fields with null values are omitted from the JSON response. Geographic information (`geo`)

        is only available if `includeGeo` query parameter is set to `true`.


        ### Use Cases

        - **Regional monitoring**: Monitor alerts in specific geographic regions.

        - **Pattern analysis**: Analyze disruption patterns by location.

        - **Collection filtering**: Filter alerts by collections and countries.

        - **Integration**: Integrate disruption map data into external systems.


        ### Geographic Filtering

        - **bound**: Bounding box defining the geographic area to search (format: `bound=xmin,ymin,xmax,ymax`).

        - **previousBound**: Previous bounding box for incremental updates (optional).

        - **countryId**: Filter by country (obtain country IDs from `GET /public/v1/infotags` filtered by location type).


        ### Collection Filtering

        - **collectionIds**: Filter alerts by specific collections (obtain collection IDs from `GET /public/v1/collections`).

        - **showAllAlerts**: If true, ignore collectionIds and show all accessible alerts.


        ### Filter Objects

        - **poiFilter**: Filter by Point of Interest (POI) criteria.

        - **alertFilter**: Filter by alert-specific criteria (perspectiveId is required; eventTypeId, industryIds optional).


        ### Required Permissions

        `access_public_disruption_alerts`, `access_featured_collection`


        ### Performance Impact

        Medium'
      operationId: findAlerts
      parameters:
      - name: collectionIds
        in: query
        description: Collection IDs to show alerts for. Obtain collection IDs from GET /public/v1/collections. If empty and showAllAlerts is false, no alerts will be returned.
        required: false
        schema:
          type: array
          items:
            type: integer
            format: int32
        example: 123,456
      - name: showAllAlerts
        in: query
        description: If true, show all accessible alerts and ignore the collectionIds parameter. If false, only alerts for the specified collections are returned.
        required: false
        schema:
          type: boolean
        example: false
      - name: countryId
        in: query
        description: 'Country ID to filter alerts by. Obtain country IDs from the infotags endpoint (GET /public/v1/infotags) filtered by location type. Note: Country codes are not currently supported; use country ID instead.'
        required: false
        schema:
          type: integer
          format: int32
        example: 1
      - name: includeGeo
        in: query
        description: If set to true, the response will include the geo information.
        required: false
        schema:
          type: boolean
        example: true
      - name: bound
        in: query
        description: 'Bounding box defining the geographic area to search. Format: bound=xmin,ymin,xmax,ymax. Example: bound=16.0,48.0,16.5,48.5'
        required: false
        schema:
          type: array
          items:
            type: integer
            format: int32
      - name: previousBound
        in: query
        description: Previous bounding box for incremental updates. Used to optimize queries when updating a map view.
        required: false
        schema:
          type: array
          items:
            type: integer
            format: int32
      - name: industryIds
        in: query
        required: false
        schema:
          type: array
          items:
            type: integer
            format: int32
      - name: tokens
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
      - name: poiCTypeId
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: companyId
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: disruptionStatusId
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: tiers
        in: query
        required: false
        schema:
          type: array
          items:
            type: integer
            format: int32
      - name: scopes
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
            enum:
            - Private
            - Shared
            - Public
      - name: source
        in: query
        required: false
        schema:
          type: string
          description: Source of the supplier relationship edge
          enum:
          - Customer
          - Media
          - Customs
          - PrewavePrediction
      - name: perspectiveId
        in: query
        required: true
        schema:
          type: integer
          format: int32
      - name: eventTypeId
        in: query
        required: false
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Successfully retrieved alerts.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PublicAlertDTO'
              examples:
                Regional alerts example:
                  summary: Sample alerts response for a geographic region
                  description: Regional alerts example
                  value: '[{"id":12345,"uuid":"a1b2c3d4-e5f6-7890-abcd-ef1234567890","title":"Flood happens in Sample City, Sample Region, US (and 10 others)","createdAt":1704067200000,"predictedAtStart":1703980800000,"predictedAtEnd":1704067199000,"description":"Flood occurred in Sample Region affecting multiple locations.","event":{"uuid":"b2c3d4e5-f6a7-8901-bcde-f23456789012"},"statusId":null,"locations":[],"links":[{"id":null,"url":"https://example.com/news/flood-sample-region","title":"Flood affects Sample Region","description":"Flood occurred in Sample Region affecting multiple locations.","pictureUrl":null,"originalLang":null,"originalTitle":null,"originalDescription":null}],"media":[],"infotags":[{"id":1001,"type":{"type":"alert_type","active":false,"displayName":"Alert Status","icon":"far fa-bell","ordering":1,"display":true},"value":"happens / occurs","svalue":"happens","icon":null,"numValue":null,"priority":null,"impactScore":null},{"id":2001,"type":{"type":"event_type","active":false,"displayName":"Event Type","icon":null,"ordering":10001,"display":true},"value":"Flood","svalue":"flood","icon":"fas fa-water","numValue":null,"priority":"High","impactScore":null}],"primaryTargets":[],"priority":"High","priorityDetails":{"massDisruption":true,"brandMention":false,"rumour":false,"lowPeerRisk":false,"terminates":false},"collectionPath":[],"geo":{"geometry":null,"properties":{"name":null,"countryCode":null,"alertCount":null,"boundingBox":null},"type":"Feature"}}]'
        '400':
          description: Bad Request - Invalid parameters (e.g., invalid bounding box coordinates, invalid filter format).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDTO'
              examples:
                Invalid bounding box:
                  summary: Error when bounding box coordinates are invalid
                  description: Invalid bounding box
                  value: '{"code":"invalid_request","message":"Invalid bounding box: north must be greater than south","solution":"Ensure bounding box coordinates are valid (north > south, east > west)"}'
        '404':
          description: Collection not found or not accessible.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDTO'
              examples:
                Collection not found:
                  summary: Error when collection ID is invalid
                  description: Collection not found
                  value: '{"code":"resource_not_found","message":"Collection [999] not found","solution":"Verify collection IDs using GET /public/v1/collections"}'
        '403':
          description: '403 Forbidden - Authentication or authorization failure. This status code is returned when: (1) the request lacks valid authentication credentials (missing or invalid X-Auth-Token header), or (2) the authenticated user does not have the required permission to access this resource.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessDeniedErrorDTO'
              examples:
                Access denied example:
                  summary: User lacks necessary permissions or authentication
                  value: "{\n        \"loggedIn\": true,\n        \"code\": \"access_denied\",\n        \"message\": \"Access denied: you don't have necessary permissions to access this resource\",\n        \"solution\": \"Contact support for appropriate permissions\"\n    }"
        '500':
          description: 500 Internal Server Error - An unexpected error occurred on the server. The request may or may not have been processed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDTO'
              examples:
                Error - Server Error:
                  summary: Unexpected server error
                  value: "{\n        \"code\": \"internal_error\",\n        \"message\": \"An unexpected error occurred\",\n        \"solution\": \"Please try again later or contact support\"\n    }"
        '429':
          description: '429 Too Many Requests - API rate limit exceeded. The request has been rejected because the rate limit for this endpoint has been exceeded. Default rate limits: GET requests - 100 per 10 seconds, 500 per minute; POST/PUT/PATCH/DELETE requests - 20 per 10 seconds, 100 per minute. For increased access, please contact customer success.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiRateLimitResponse'
              examples:
                Rate limit exceeded example:
                  summary: API rate limit exceeded
                  value: "{\n        \"error\": \"API rate limit exceeded\",\n        \"message\": \"You have reached the maximum allowed requests. Please try again later or upgrade your plan for increased access\",\n        \"requestLimit\": 100,\n        \"requestCount\": 100,\n        \"limits\": [\n            {\n                \"requestLimit\": 100,\n                \"timeInSeconds\": 10\n            },\n            {\n                \"requestLimit\": 500,\n                \"timeInSeconds\": 60\n            }\n        ],\n        \"currentTime\": \"2026-01-15T10:30:00\",\n        \"nextResetAt\": \"2026-01-15T10:30:10\"\n    }"
components:
  schemas:
    TargetRequestTypeStatusDto:
      type: object
      properties:
        id:
          type:
          - integer
          - 'null'
          format: int32
          example: null
        customerId:
          type:
          - integer
          - 'null'
          format: int32
          example: null
        status:
          type:
          - string
          - 'null'
          enum:
          - NONE
          - PENDING
          - COMPLETED
          - REJECTED
          example: null
        rejectionReason:
          type:
          - string
          - 'null'
          example: null
      example: null
    DeliverySettingTypeDTO:
      required:
      - displayName
      - frequency
      - inherited
      - minPriority
      - ordering
      - type
      type: object
      properties:
        type:
          type: string
          enum:
          - Feed
          - EmailRealtime
          - EmailDaily
          - EmailWeekly
          example: null
        displayName:
          type: string
          example: null
        ordering:
          type: integer
          format: int32
          example: null
        frequency:
          type: string
          example: null
        minPriority:
          type: string
          enum:
          - Low
          - Mid
          - High
          - Critical
          example: null
        inherited:
          type: boolean
          example: null
      example: null
    ApiRateLimitTimeRequestLimit:
      type: object
      properties:
        requestLimit:
          type: integer
          description: Maximum number of requests allowed in this time window
          format: int32
          example: 100
        timeInSeconds:
          type: integer
          description: Time window duration in seconds
          format: int32
          example: 10
      description: Rate limit configuration for a specific time window
      example: null
    InfotagDTO:
      required:
      - id
      - isTarget
      - type
      type: object
      properties:
        id:
          type: integer
          format: int32
          example: null
        type:
          $ref: '#/components/schemas/InfotagTypeDTO'
        value:
          type:
          - string
          - 'null'
          example: null
        svalue:
          type:
          - string
          - 'null'
          example: null
        icon:
          type:
          - string
          - 'null'
          example: null
        numValue:
          type:
          - number
          - 'null'
          example: null
        priority:
          type:
          - string
          - 'null'
          description: Obsolete
          deprecated: true
          enum:
          - Low
          - Mid
          - High
          - Critical
          example: null
        impactScore:
          type:
          - string
          - 'null'
          enum:
          - Low
          - Mid
          - High
          - Critical
          example: null
        isTarget:
          type: boolean
          example: null
        updatedAt:
          type:
          - string
          - 'null'
          format: date-time
          example: null
      example: null
    TargetRequestInfoDto:
      required:
      - targetId
      type: object
      properties:
        targetId:
          type: integer
          format: int32
          example: null
        validationRequest:
          allOf:
          - $ref: '#/components/schemas/TargetRequestTypeStatusDto'
          example: null
        screeningRequest:
          allOf:
          - $ref: '#/components/schemas/TargetRequestTypeStatusDto'
          example: null
        reportedTargetRequest:
          allOf:
          - $ref: '#/components/schemas/TargetRequestTypeStatusDto'
          example: null
      example: null
    GeoProperties:
      type: object
      properties:
        name:
          type:
          - string
          - 'null'
          example: null
        countryCode:
          type:
          - string
          - 'null'
          example: null
        alertCount:
          type:
          - integer
          - 'null'
          format: int32
          example: null
        boundingBox:
          type:
          - array
          - 'null'
          items:
            type: integer
            format: int32
            example: null
          example: null
      example: null
    UserSystemAttributes:
      required:
      - incognitoOnboarding
      - onboardingFlowComplete
      type: object
      properties:
        onboardingFlowComplete:
          type: boolean
          example: null
        incognitoOnboarding:
          type: boolean
          example: null
        joinCustomer:
          type:
          - integer
          - 'null'
          format: int32
          example: null
        supplierOnboardingData:
          allOf:
          - $ref: '#/components/schemas/SupplierOnboardingData'
          example: null
      example: null
    PublicCollectionPathRef:
      required:
      - id
      - name
      - path
      type: object
      properties:
        id:
          type: integer
          format: int32
          example: null
        name:
          type: string
          example: null
        path:
          type: array
          items:
            $ref: '#/components/schemas/CollectionRef'
          example: null
      description: The collections and their hierarchy for the target
      example: null
    RiskAnalysisType:
      required:
      - availablePerspectives
      - hideDetails
      - products
      - recommended
      - scoping
      - tierNAnalysisEnabled
      - type
      type: object
      properties:
        type:
          type: string
          enum:
          - Default
          - LkSG
          - Norwegian Transparancy Act
          - CSDDD (Beta)
          - EU Battery Regulation
          example: null
        hideDetails:
          type: boolean
          example: null
        recommended:
          type: boolean
          example: null
        tierNAnalysisEnabled:
          type: boolean
          example: null
        scoping:
          type: boolean
          example: null
        products:
          type: boolean
          example: null
        component:
          type:
          - string
          - 'null'
          enum:
          - PeerScore
          - AlertScore
          - SSAScore
          - ExternalScore
          - TierNScore
          example: null
        perspectiveId:
          type:
          - integer
          - 'null'
          format: int32
          example: null
        availablePerspectives:
          type: array
          items:
            $ref: '#/components/schemas/PerspectiveDTO'
          example: null
        countryScoreThreshold:
          type:
          - number
          - 'null'
          format: double
          example: null
        industryScoreThreshold:
          type:
          - number
          - 'null'
          format: double
          example: null
        purchaseVolumeThreshold:
          type:
          - number
          - 'null'
          format: double
          example: null
      example: null
    PublicInfotagDTO:
      required:
      - id
      - type
      - value
      type: object
      properties:
        id:
          type: integer
          format: int32
          example: null
        type:
          $ref: '#/components/schemas/PublicInfotagTypeDTO'
        value:
          type: string
          example: null
        svalue:
          type:
          - string
          - 'null'
          example: null
        icon:
          type:
          - string
          - 'null'
          example: null
        numValue:
          type:
          - number
          - 'null'
          example: null
        priority:
          type:
          - string
          - 'null'
          deprecated: true
          enum:
          - Low
          - Mid
          - High
          - Critical
          example: null
        impactScore:
          type:
          - string
          - 'null'
          enum:
          - Low
          - Mid
          - High
          - Critical
          example: null
      example: null
    PublicMediaDTO:
      type: object
      properties:
        id:
          type:
          - integer
          - 'null'
          format: int32
          example: null
        url:
          type:
          - string
          - 'null'
          example: null
        mimeType:
          type:
          - string
          - 'null'
          example: null
      description: Media files attached to the alert
      example: null
    PublicInfotagTypeDTO:
      required:
      - active
      - display
      - type
      type: object
      properties:
        type:
          type: string
          example: null
        active:
          type: boolean
          example: null
        displayName:
          type:
          - string
          - 'null'
          example: null
        icon:
          type:
          - string
          - 'null'
          example: null
        ordering:
          type:
          - integer
          - 'null'
          format: int32
          example: null
        display:
          type: boolean
          example: null
      example: null
    TeamDTO:
      required:
      - id
      - name
      - users
      type: object
      properties:
        id:
          type: integer
          format: int32
          example: null
        name:
          type: string
          example: null
        organizationId:
          type:
          - integer
          - 'null'
          format: int32
          example: null
        users:
          type: array
          items:
            $ref: '#/components/schemas/UserDTO'
          example: null
      example: null
    PublicImpactLevelDTO:
      required:
      - displayName
      - id
      - level
      - ordering
      type: object
      properties:
        id:
          type: integer
          format: int32
          example: null
        level:
          type: string
          enum:
          - company_poi_to_eoi
          - direct
          - related_target
          - company
          - industry
          - regional
          - tier2
          - tier3plus
          - in-company
          - commodity
          - country
          - mention
          example: null
        displayName:
          type: string
          example: null
        ordering:
          type: integer
          format: int32
          example: null
      example: null
    PublicAlertTargetDTO:
      required:
      - impactLevel
      - target
      type: object
      properties:
        target:
          $ref: '#/components/schemas/PublicTargetDTO'
        impactLevel:
          $ref: '#/components/schemas/PublicImpactLevelDTO'
        impactScore:
          type:
          - string
          - 'null'
          enum:
          - Low
          - Mid
          - High
          - Critical
          example: null
        priority:
          type:
          - string
          - 'null'
          enum:
          - Low
          - Mid
          - High
          - Critical
          example: null
      description: The targets affected by this alert.
      example: null
    UserAttributes:
      required:
      - scenarioWelcomeScreenShown
      type: object
      properties:
        scenarioWelcomeScreenShown:
          type: boolean
          example: null
      example: null
    EdgeImpactData:
      required:
      - causalContribution
      - coc
      - daysOnHand
      - deviation
      - edgeId
      - stockAtSupplier
      - stockOnPremise
      - validFrom
      - validTo
      type: object
      properties:
        edgeId:
          type: integer
          format: int32
          example: null
        validFrom:
          type: string
          format: date-time
          example: null
        validTo:
          type: string
          format: date-time
          example: null
        purchase:
          type:
          - number
          - 'null'
          example: null
        actualPurchase:
          type:
          - number
          - 'null'
          example: null
        diForced:
          type:
          - string
          - 'null'
          enum:
          - NA
          - 'No'
          - Low
          - Mid
          - High
          - Critical
          example: null
        di:
          type:
          - number
          - 'null'
          format: double
          example: null
        causalContribution:
          type: boolean
          example: null
        bi12:
          type:
          - number
          - 'null'
          example: null
        coc:
          type: boolean
          example: null
        mttrGrossE:
          type:
          - number
          - 'null'
          format: double
          example: null
        mttrNetE:
          type:
          - number
          - 'null'
          format: double
          example: null
        mttrGrossI:
          type:
          - number
          - 'null'
          format: double
          example: null
        mttrNetI:
          type:
          - number
          - 'null'
          format: double
          example: null
        stockOnPremise:
          type: number
          format: double
          example: null
        stockAtSupplier:
          type: number
          format: double
          example: null
        daysOnHand:
          type: number
          format: double
          example: null
        deviation:
          type: string
          enum:
          - NotApplicable
          - OnTarget
          - Below
          - Above
          example: null
        location:
          type:
          - string
          - 'null'
          enum:
          - SameBuilding
          - DifferentFireSection
          - DifferentBuilding
          - NotApplicable
          example: null
        lastConfirmationDate:
          type:
          - string
          - 'null'
          format: date
          example: null
        birsInfo:
          type:
          - string
          - 'null'
          example: null
        biForced:
          type:
          - string
          - 'null'
          enum:
          - NA
          - 'No'
          - Low
          - Mid
          - High
          - Critical
          example: null
        bi:
          type:
          - number
          - 'null'
          format: double
          example: null
        biEffE:
          type:
          - number
          - 'null'
          format: double
          example: null
        biEffI:
          type:
          - number
          - 'null'
          format: double
          example: null
        impact:
          type:
          - string
          - 'null'
          enum:
          - NA
          - 'No'
          - Low
          - Mid
          - High
          - Critical
          example: null
      example: null
    HSCode:
      required:
      - children
      - code
      - level
      type: object
      properties:
        code:
          type: string
          example: null
        description:
          type:
          - string
          - 'null'
          example: null
        numberShipments:
          type:
          - integer
          - 'null'
          format: int32
          example: null
        lastShipment:
          type:
          - string
          - 'null'
          format: date-time
          example: null
        children:
          type: array
          items:
            $ref: '#/components/schemas/HSCode'
          example: null
        level:
          type: integer
          format: int32
          example: null
      example: null
    ApiRateLimitResponse:
      type: object
      properties:
        error:
          type: string
          description: Error type identifier
          example: RateLimitExceeded
        message:
          type: string
          description: Human-readable error message explaining the rate limit violation
          example: API rate limit exceeded. Please reduce your request rate.
        requestLimit:
          type: integer
          description: Maximum number of requests allowed in the current time window
          format: int32
          example: 100
        requestCount:
          type: integer
          description: Number of requests made in the current time window
          format: int32
          example: 101
        limits:
          type: array
          description: All rate limits that apply to this endpoint, showing different time windows
          items:
            $ref: '#/components/schemas/ApiRateLimitTimeRequestLimit'
          example: null
        currentTime:
          type: string
          description: Current server time in ISO 8601 format
          format: date-time
          example: '2026-01-19T10:30:00'
        nextResetAt:
          type: string
          description: Time when the rate limit will reset in ISO 8601 format
          format: date-time
          example: '2026-01-19T10:30:10'
      description: Response returned when API rate limit is exceeded (HTTP 429)
      example: null
    PublicTargetDTO:
      required:
      - collectionFollowing
      - collectionPath
      - collectionPaths
      - ctype
      - following
      - foreignSystems
      - geo
      - geoShape
      - hsCode
      - id
      - industries
      - managed
      - mergedTargets
      - name
      - own
      - parents
      - path
      - scoreAvail
      - screened
      - type
      type: object
      properties:
        id:
          type: integer
          description: Prewave target id
          format: int32
          example: 102006215
        name:
          type: string
          description: Name of the Prewave target
          example: Høyanger
        sname:
          type:
          - string
          - 'null'
          description: Geonames Id (see https://geonames.org)
          example: '3191281'
        logo:
          type:
          - string
          - 'null'
          description: URL to the logo shown in the target profile
          example: null
        backgroundPicture:
          type:
          - string
          - 'null'
          description: URL to the background picture shown in the target profile
          example: null
        description:
          type:
          - string
          - 'null'
          description: Description of the Prewave target
          example: Description shown in the target profile
        website:
          type:
          - string
          - 'null'
          description: URL to the website shown in the target profile
          example: null
        location:
          type:
          - string
          - 'null'
          description: Location of the target
          example: Mistelbach
        yearFounded:
          type:
          - integer
          - 'null'
          description: Year the target was founded shown in the target profile
          format: int32
          example: 1999
        size:
          type:
          - string
          - 'null'
          description: Size of the target shown in the target profile
          example: Small
          enum:
          - Small
          - Medium
          - Large
          - Very large
        screened:
          type: boolean
          description: Whether the target is screened or not
          example: true
        screenedStatus:
          type:
          - string
          - 'null'
          description: Screening status of the target
          example: Screened
          enum:
          - Required
          - Pending
          - Screened
          - NotPossible
        linkedInId:
          type:
          - string
          - 'null'
          description: LinkedIn ID of the target
          example: general-motors
        type:
          $ref: '#/components/schemas/PublicTargetTypeDTO'
        ctype:
          $ref: '#/components/schemas/PublicTargetCTypeDTO'
        geo:
          $ref: '#/components/schemas/Geo'
        geoShape:
          $ref: '#/components/schemas/Geo'
        parents:
          type: array
          description: List of parent targets
          items:
            $ref: '#/components/schemas/PublicTargetDTO'
          example: null
        organization:
          $ref: '#/components/schemas/PublicTargetDTO'
        industries:
          type: array
          description: List of industries the target belongs to
          items:
            $ref: '#/components/schemas/PublicTargetDTO'
          example: null
        monitoredSince:
          type:
          - string
          - 'null'
          description: Date the target was monitored since
          format: date-time
          example: null
        earliestAlert:
          type:
          - string
          - 'null'
          description: Date of the earliest alert
          format: date-time
          example: null
        ordering:
          type:
          - integer
          - 'null'
          description: Ordering of the target
          format: int32
          example: null
        disruptionStatusUpdate:
          $ref: '#/components/schemas/ComplexDisruptionStatusUpdate'
        own:
          type: boolean
          description: Whether the target is owned by user customer or not
          example: null
        managed:
          type: boolean
          description: '`true` if user is target connection contact or target is owned by user customer, `false` otherwise'
          example: null
        isPublic:
          type:
          - boolean
          - 'null'
          description: Whether the target is public or not
          example: null
        connectionContactsCount:
          type:
          - integer
          - 'null'
          description: Number of connection contacts of the target
          format: int32
          example: null
        population:
          type:
          - integer
          - 'null'
          description: Population of the target. Generally applies to locations
          format: int32
          example: null
        following:
          type: boolean
          description: Target resides in "My follows" collection
          example: null
        collectionFollowing:
          type: boolean
          description: Target resides in any followed collection (including children)
          example: null
        tier:
          type:
          - integer
          - 'null'
          description: Tier of the target (relevant when fetching Tier-N)
          format: int32
          example: null
        path:
          type: array
          description: Path of the target (relevant when fetching Tier-N)
          items:
            $ref: '#/components/schemas/PublicTargetRefExtended'
          example: null
        collectionLevel:
          type:
          - integer
          - 'null'
          description: How deep the target is in the collection hierarchy
          format: int32
          example: null
        collectionPath:
          type: array
          description: Path of the target in the collection hierarchy
          items:
            $ref: '#/components/schemas/CollectionRef'
          example: null
        collectionPaths:
          type: array
          description: Paths of the target in the collection hierarchy
          items:
            type: array
            description: Paths of the target in the collection hierarchy
            items:
              $ref: '#/components/schemas/CollectionRef'
            example: null
          example: null
        foreignSystems:
          type: array
          description: List of foreign systems the target is connected to
          items:
            $ref: '#/components/schemas/PublicTargetForeignSystemDTO'
          example: null
        scoreAvail:
          type: string
          description: Score availability of the target
          enum:
          - None
          - Peer
          - Alert
          - SSA
          - External
          example: null
        revenue:
          type:
          - number
          - 'null'
          description: Revenue of the target
          example: null
        impact:
          type:
          - string
          - 'null'
          description: Impact of the target
          enum:
          - NA
          - 'No'
          - Low
          - Mid
          - High
          - Critical
          example: null
        hsCode:
          type: array
          description: List of HS Codes of the target
          items:
            $ref: '#/components/schemas/PublicHSCode'
          example: null
        mergedTargets:
          type: array
          description: Target ids of past targets that were merged into this current target
          items:
            type: integer
            description: Target ids of past targets that were merged into this current target
            format: int32
            example: null
          example: null
        public:
          type: boolean
          writeOnly: true
          example: null
      example: null
    PerspectiveTypeDTO:
      required:
      - displayName
      - id
      - ordering
      - type
      type: object
      properties:
        id:
          type: integer
          format: int32
          example: null
        type:
          type: string
          example: null
        displayName:
          type: string
          example: null
        ordering:
          type: integer
          format: int32
          example: null
      example: null
    CustomerDTO:
      required:
      - defaultEdgeType
      - id
      - name
      type: object
      properties:
        id:
          type: integer
          format: int32
          example: null
        name:
          type: string
          example: null
        logo:
          type:
          - string
          - 'null'
          example: null
        defaultEdgeType:
          type: string
          enum:
          - Supplier
          - Customer
          - PrimaryMaterial
          - SecondaryMaterial
          - Equipment
          - Own
          example: null
        pristine:
          type:
          - boolean
          - 'null'
          example: null
        confidentialSticker:
          type:
          - string
          - 'null'
          example: null
        forceDefaultConnectionContact:
          type:
          - boolean
          - 'null'
          example: null
      example: null
    TargetForeignSystemDTO:
      required:
      - id
      - system
      type: object
      properties:
        system:
          type: string
          example: null
        id:
          type: string
          example: null
        source:
          type:
          - string
          - 'null'
          example: null
      example: null
    AccessDeniedErrorDTO:
      required:
      - code
      - loggedIn
      - message
      type: object
      properties:
        loggedIn:
          type: boolean
          example: null
        permission:
          type:
          - string
          - 'null'
          example: null
        code:
          type: string
          description: Error code
          example: null
        message:
          type: string
          description: Error message
          example: null
        solution:
          type:
          - string
          - 'null'
          description: Possible solution to the error
          example: null
      example: null
    DisruptionStatus:
      required:
      - displayName
      - icon
      - id
      - ordering
      - status
      type: object
      properties:
        id:
          type: integer
          format: int32
          example: null
        status:
          type: string
          example: null
        displayName:
          type: string
          example: null
        icon:
          type: string
          example: null
        ordering:
          type: integer
          format: int32
          example: null
      example: null
    InfotagGroup:
      required:
      - id
      - name
      - ordering
      - sname
      type: object
      properties:
        id:
          type: integer
          format: int32
          example: null
        name:
          type: string
          example: null
        sname:
          type: string
          example: null
        icon:
          type:
          - string
          - 'null'
          example: null
        ordering:
          type: integer
          format: int32
          example: null
      example: null
    PlanDTO:
      required:
      - limits
      type: object
      properties:
        id:
          type:
          - integer
          - 'null'
          format: int32
          example: null
        planType:
          allOf:
          - $ref: '#/components/schemas/PlanTypeDTO'
          example: null
        name:
          type:
          - string
          - 'null'
          example: null
        pricePerUser:
          type:
          - number
          - 'null'
          example: null
        limits:
          type: array
          items:
            $ref: '#/components/schemas/PlanLimitDTO'
          example: null
        validFrom:
          type:
          - string
          - 'null'
          format: date-time
          example: null
        validTo:
          type:
          - string
          - 'null'
          format: date-time
          example: null
      example: null
    PublicLinkDTO:
      type: object
      properties:
        id:
          type:
          - integer
          - 'null'
          format: int32
          example: null
        url:
          type:
          - string
          - 'null'
          example: null
        title:
          type:
          - string
          - 'null'
          example: null
        description:
          type:
          - string
          - 'null'
          example: null
        pictureUrl:
          type:
          - string
          - 'null'
          example: null
        originalLang:
          type:
          - string
          - 'null'
          example: null
        originalTitle:
          type:
          - string
          - 'null'
          example: null
        originalDescription:
          type:
          - string
          - 'null'
          example: null
      description: Source links the alert is based on
      example: null
    TierSettingsDTO:
      required:
      - logisticsProvider
      - maxTier
      - scopePrivate
      - scopePublic
      - scopeShared
      - sourceCustomer
      - sourceCustoms
      - sourceMedia
      - sourcePrewavePrediction
      - suspectedSuppliers
      - tier2MinPrio
      - tier2TargetPrio
      - tier3PlusMinPrio
      - tier3PlusTargetPrio
      type: object
      properties:
        maxTier:
          type: integer
          format: int32
          example: null
        tier2TargetPrio:
          type: string
          enum:
          - Low
          - Mid
          - High
          - Critical
          example: null
        tier3PlusTargetPrio:
          type: string
          enum:
          - Low
          - Mid
          - High
          - Critical
          example: null
        tier2MinPrio:
          type: string
          enum:
          - Low
          - Mid
          - High
          - Critical
          example: null
        tier3PlusMinPrio:
          type: string
          enum:
          - Low
          - Mid
          - High
          - Critical
          example: null
        scopePrivate:
          type: boolean
          example: null
        scopeShared:
          type: boolean
          example: null
        scopePublic:
          type: boolean
          example: null
        sourceCustoms:
          type: boolean
          example: null
        sourcePrewavePrediction:
          type: boolean
          example: null
        sourceMedia:
          type: boolean
          example: null
        sourceCustomer:
          type: boolean
          example: null
        minShipments:
          type:
          - integer
          - 'null'
          format: int32
          example: null
        probability:
          type:
          - integer
          - 'null'
          format: int32
          example: null
        lastShipmentsPeriodFrom:
          type:
          - string
          - 'null'
          format: date
          example: null
        lastShipmentsPeriodTo:
          type:
          - string
          - 'null'
          format: date
          example: null
        suspectedSuppliers:
          type: boolean
          example: null
        logisticsProvider:
          type: boolean
          example: null
      example: null
    EdgeNumber:
      required:
      - number
      type: object
      properties:
        number:
          type: string
          example: null
        source:
          type:
          - string
          - 'null'
          example: null
        existingEdgeId:
          type:
          - integer
          - 'null'
          format: int32
          example: null
      example: null
    PerspectiveDTO:
      required:
      - actualImpactT80
      - actualRiskT80
      - commodityMissingScore
      - countryMissingScore
      - diModel
      - eventTypes
      - groups
      - id
      - industryMissingScore
      - insolvencyLoss
      - isGlobal
      - massDisruptionFactor
      - name
      - riskModel
      - sname
      - type
      type: object
      properties:
        id:
          type: integer
          format: int32
          example: null
        perspective:
          type:
          - string
          - 'null'
          example: null
        name:
          type: string
          example: null
        sname:
          type: string
          example: null
        type:
          $ref: '#/components/schemas/PerspectiveTypeDTO'
        isGlobal:
          type: boolean
          example: null
        groups:
          type: array
          items:
            $ref: '#/components/schemas/InfotagGroup'
          example: null
        eventTypes:
          type: array
          items:
            $ref: '#/components/schemas/InfotagDTO'
          example: null
        massDisruptionFactor:
          type: boolean
          example: null
        description:
          type:
          - string
          - 'null'
          example: null
        riskModel:
          type: string
          enum:
          - Sustainability
          - Disruption
          example: null
        diModel:
          type: string
          enum:
          - Direct
          - Parent
          - Auto
          example: null
        riskT80:
          type:
          - integer
          - 'null'
          format: int32
          example: null
        impactT80:
          type:
          - number
          - 'null'
          format: double
          example: null
        insolvencyLoss:
          type: boolean
          example: null
        industryMissingScore:
          type: string
          enum:
          - Zero
          - Skip
          example: null
        commodityMissingScore:
          type: string
          enum:
          - Zero
          - Skip
          example: null
        countryMissingScore:
          type: string
          enum:
          - Zero
          - Skip
          example: null
        actualRiskT80:
          type: integer
          format: int32
          example: null
        actualImpactT80:
          type: number
          format: double
          example: null
      example: null
    CollectionRef:
      required:
      - id
      - name
      type: object
      properties:
        id:
          type: integer
          format: int32
          example: null
        name:
          type: string
          example: null
      description: Paths of the target in the collection hierarchy
      example: null
    PermissionDTO:
      required:
      - authority
      - limits
      type: object
      properties:
        authority:
          type: string
          example: null
        limits:
          type: object
          additionalProperties:
            type: integer
            format: int32
          example: null
        description:
          type:
          - string
          - 'null'
          example: null
        id:
          type:
          - integer
          - 'null'
          format: int32
          example: null
      example: null
    PublicEventDTO:
      required:
      - uuid
      type: object
      properties:
        uuid:
          type: string
          description: Prewave event uuid
          format: uuid
          example: null
      description: Way of grouping alerts that belong to the same event, e.g. Strike announcement, Strike happens, Strike terminates
      example: null
    RoleDTO:
      required:
      - id
      - permissions
      - roleName
      type: object
      properties:
        id:
          type: integer
          format: int32
          example: null
        type:
          allOf:
          - $ref: '#/components/schemas/RoleTypeDTO'
          example: null
        roleName:
          type: string
          example: null
        displayName:
          type:
          - string
          - 'null'
          example: null
        description:
          type:
          - string
          - 'null'
          example: null
        permissions:
          type: array
          items:
            $ref: '#/components/schemas/PermissionDTO'
          example: null
      example: null
    Geo:
      required:
      - properties
      - type
      type: object
      properties:
        geometry:
          $ref: '#/components/schemas/Geometry'
        properties:
          $ref: '#/components/schemas/GeoProperties'
        type:
          type: string
          example: null
      description: Geo information for this alert. Only available if includeGeo is set to true.
      example: null
    ComplexDisruptionStatusUpdate:
      required:
      - customer
      - general
      type: object
      properties:
        general:
          $ref: '#/components/schemas/DisruptionStatusUpdate'
        customer:
          $ref: '#/components/schemas/DisruptionStatusUpdate'
      description: Disruption status update of the target
      example: null
    TargetDTO:
      required:
      - children
      - collectionFollowing
      - collectionPath
      - collectionPaths
      - ctype
      - edges
      - followerCount
      - following
      - foreignSystems
      - geo
      - geoShape
      - hsCodes
      - id
      - industries
      - isAnonymous
      - managed
      - maturityAssessment
      - name
      - own
      - parents
      - path
      - paths
      - sanctionStatus
      - screened
      - type
      type: object
      properties:
        id:
          type: integer
          format: int32
          example: null
        name:
          type: string
          example: null
        sname:
          type:
          - string
          - 'null'
          example: null
        logo:
          type:
          - string
          - 'null'
          example: null
        backgroundPicture:
          type:
          - string
          - 'null'
          example: null
        description:
          type:
          - string
          - 'null'
          example: null
        website:
          type:
          - string
          - 'null'
          example: null
        location:
          type:
          - string
          - 'null'
          example: null
        yearFounded:
          type:
          - integer
          - 'null'
          format: int32
          example: null
        size:
          type:
          - string
          - 'null'
          enum:
          - Small
          - Medium
          - Large
          - Very large
          example: null
        screened:
          type: boolean
          example: null
        maturityAssessment:
          type: boolean
          example: null
        linkedInId:
          type:
          - string
          - 'null'
          example: null
        type:
          $ref: '#/components/schemas/TargetTypeDTO'
        ctype:
          $ref: '#/components/schemas/TargetCTypeDTO'
        geo:
          $ref: '#/components/schemas/Geo'
        geoShape:
          $ref: '#/components/schemas/Geo'
        address:
          type:
          - string
          - 'null'
          example: null
        muted:
          type:
          - boolean
          - 'null'
          example: null
        hierarchyCustomerId:
          type:
          - integer
          - 'null'
          format: int32
          example: null
        hierarchyOrganizationId:
          type:
          - integer
          - 'null'
          format: int32
          example: null
        level:
          type:
          - string
          - 'null'
          example: null
        parents:
          type: array
          items:
            $ref: '#/components/schemas/TargetDTO'
          example: null
        children:
          type: array
          items:
            $ref: '#/components/schemas/TargetDTO'
          example: null
        organization:
          $ref: '#/components/schemas/TargetDTO'
        customer:
          allOf:
          - $ref: '#/components/schemas/CustomerDTO'
          example: null
        industries:
          type: array
          items:
            $ref: '#/components/schemas/TargetDTO'
          example: null
        monitoredSince:
          type:
          - string
          - 'null'
          format: date-time
          example: null
        earliestAlert:
          type:
          - string
          - 'null'
          format: date-time
          example: null
        followerCount:
          type: integer
          format: int32
          example: null
        ordering:
          type:
          - integer
          - 'null'
          format: int32
          example: null
        disruptionStatusUpdate:
          $ref: '#/components/schemas/ComplexDisruptionStatusUpdate'
        sustainabilityStatus:
          type:
          - string
          - 'null'
          enum:
          - NoRisk
          - AtRisk
          - RedFlag
          example: null
        own:
          type: boolean
          example: null
        managed:
          type: boolean
          example: null
        isPublic:
          type:
          - boolean
          - 'null'
          example: null
        edges:
          type: array
          items:
            $ref: '#/components/schemas/EdgeDTO'
          example: null
        connection:
          allOf:
          - $ref: '#/components/schemas/Connection'
          example: null
        connectionContactsCount:
          type:
          - integer
          - 'null'
          format: int32
          example: null
        population:
          type:
          - integer
          - 'null'
          format: int32
          example: null
        following:
          type: boolean
          example: null
        collectionFollowing:
          type: boolean
          example: null
        tier:
          type:
          - integer
          - 'null'
          format: int32
          example: null
        path:
          type: array
          items:
            $ref: '#/components/schemas/TargetRef'
          example: null
        paths:
          type: array
          items:
            type: array
            items:
              $ref: '#/components/schemas/TargetRef'
            example: null
          example: null
        collectionLevel:
          type:
          - integer
          - 'null'
          format: int32
          example: null
        collectionPath:
          type: array
          items:
            $ref: '#/components/schemas/CollectionRef'
          example: null
        collectionPaths:
          type: array
          items:
            type: array
            items:
              $ref: '#/components/schemas/CollectionRef'
            example: null
          example: null
        foreignSystems:
          type: array
          items:
            $ref: '#/components/schemas/TargetForeignSystemDTO'
          example: null
        scoreAvail:
          type:
          - string
          - 'null'
          enum:
          - None
          - Peer
          - Alert
          - SSA
          - External
          example: null
        revenue:
          type:
          - number
          - 'null'
          example: null
        isRevenueEstimated:
          type:
          - boolean
          - 'null'
          example: null
        actualRevenue:
          type:
          - number
          - 'null'
          example: null
        revenueAvailability:
          type:
          - string
          - 'null'
          enum:
          - Unknown
          - Available
          example: null
        hsCodes:
          type: array
          items:
            $ref: '#/components/schemas/HSCode'
          example: null
        grievanceUrl:
          type:
          - string
          - 'null'
          example: null
        sanctionStatus:
          type: string
          enum:
          - DIRECT
          - INDIRECT
          - NONE
          example: null
        countryScoreAvailable:
          type:
          - boolean
          - 'null'
          example: null
        industryScoreAvailable:
          type:
          - boolean
          - 'null'
          example: null
        commodityScoreAvailable:
          type:
          - boolean
          - 'null'
          example: null
        isAnonymous:
          type: boolean
          example: null
        customName:
          type:
          - string
          - 'null'
          example: null
        latestRequest:
          allOf:
          - $ref: '#/components/schemas/TargetRequestInfoDto'
          example: null
        public:
          type: boolean
          writeOnly: true
          example: null
      example: null
    PublicTargetRefExtended:
      required:
      - foreignSystems
      - id
      - name
      type: object
      properties:
        id:
          type: integer
          format: int32
          example: null
        name:
          type: string
          example: null
        customName:
          type:
          - string
          - 'null'
          example: null
        latestRequest:
          allOf:
          - $ref: '#/components/schemas/TargetRequestInfoDto'
          example: null
        foreignSystems:
          type: array
          items:
            $ref: '#/components/schemas/EdgeNumber'
          example: null
      description: Path of the target (relevant when fetching Tier-N)
      example: null
    PublicTargetTypeDTO:
      required:
      - displayName
      - id
      - pluralName
      - type
      type: object
      properties:
        id:
          type: integer
          description: Prewave-internal ID of the target type
          format: int32
          example: null
        type:
          type: string
          description: Machine-readable name of the target type
          example: null
        displayName:
          type: string
          description: Display name of the target type
          example: null
        pluralName:
          type: string
          description: Plural name of the target type
          example: null
        ordering:
          type:
          - integer
          - 'null'
          description: Ordering of the target type
          format: int32
          example: null
        scoring:
          type:
          - string
          - 'null'
          description: Scoring of the target type
          enum:
          - Alert
          - Peer
          example: null
      description: Target types are what is known as "Target Type" in the Prewave system (e.g in Network > Filters). They provide a broad categorization of what the target is. Examples for target types are "poi", "organization" etc.
      example: null
    PublicTargetCTypeDTO:
      required:
      - bgColor
      - connectable
      - ctype
      - displayName
      - icon
      - id
      - pluralName
      - priority
      - targetTypeId
      - textColor
      type: object
      properties:
        id:
          type: integer
          description: Prewave-internal id of the target ctype
          format: int32
          example: 1234
        ctype:
          type: string
          description: Name of the target ctype
          example: mine
        targetTypeId:
          type: integer
          description: Identifier of the target ctype
          format: int32
          example: 1234
        displayName:
          type: string
          description: Display name of the target ctype
          example: Mine
        pluralName:
          type: string
          description: Plural name of the target ctype
          example: Mines
        icon:
          type: string
          description: Icon of the target ctype. Fontawesome icon name. See https://fontawesome.com/icons for more information
          example: fas fa-mine
        ordering:
          type:
          - integer
          - 'null'
          description: Ordering of the target ctype
          format: int32
          example: null
        priority:
          type: integer
          description: Priority of the target ctype
          format: int32
          example: null
        connectable:
          type: boolean
          description: Whether it is possible to connect to targets of this type or not
          example: null
        bgColor:
          type: string
          description: Background color of the target ctype. Valid CSS color value
          example: '#ff0000'
        textColor:
          type: string
          description: Text color of the target ctype. Valid CSS color value
          example: '#ffffff'
      description: CTypes are what is known as "Facility Types" in the Prewave system (e.g in Network > Filters). They provide a slightly more specific categorization of what the target is. Examples for ctypes are "mine", "factory" etc.
      example: null
    Connection:
      required:
      - createdAt
      - customer1Id
      - customer2Id
      - initiatorCustomerId
      - pending
      - state
      - targetCustomerId
      type: object
      properties:
        customer1Id:
          type: integer
          format: int32
          example: null
        customer2Id:
          type: integer
          format: int32
          example: null
        initiatorCustomerId:
          type: integer
          format: int32
          example: null
        state:
          type: string
          enum:
          - Confirmed
          - Rejected
          - Failed
          example: null
        pending:
          type: boolean
          example: null
        initiatorId:
          type:
          - integer
          - 'null'
          format: int32
          example: null
        comment:
          type:
          - string
          - 'null'
          example: null
        email:
          type:
          - string
          - 'null'
          example: null
        text:
          type:
          - string
          - 'null'
          example: null
        createdAt:
          type: string
          format: date-time
          example: null
        targetCustomerId:
          type: integer
          format: int32
          example: null
      example: null
    DisruptionStatusUpdate:
      required:
      - assignedAt
      - assignmentMethod
      - status
      - targetId
      type: object
      properties:
        id:
          type:
          - integer
          - 'null'
          format: int32
          example: null
        targetId:
          type: integer
          format: int32
          example: null
        assignedAt:
          type: string
          format: date-time
          example: null
        assignedBy:
          $ref: '#/components/schemas/UserDTO'
        comment:
          type:
          - string
          - 'null'
          example: null
        continuity:
          type:
          - integer
          - 'null'
          format: int32
          example: null
        impactedParts:
          type:
          - array
          - 'null'
          items:
            type: string
            example: null
          example: null
        forCustomer:
          allOf:
          - $ref: '#/components/schemas/CustomerDTO'
          example: null
        status:
          $ref: '#/components/schemas/DisruptionStatus'
        assignmentMethod:
          type: string
          enum:
          - MANUAL
          - AUTOMATIC
          example: null
      example: null
    PublicHSCode:
      required:
      - code
      type: object
      properties:
        code:
          type: string
          example: null
        nShipments:
          type:
          - integer
          - 'null'
          format: int32
          writeOnly: true
          example: null
        nshipments:
          type: integer
          format: int32
          example: null
      description: List of HS Codes of the target
      example: null
    PublicPriorityDetailsDTO:
      required:
      - brandMention
      - lowPeerRisk
      - massDisruption
      - rumour
      - terminates
      type: object
      properties:
        massDisruption:
          type: boolean
          example: null
        brandMention:
          type: boolean
          example: null
        rumour:
          type: boolean
          example: null
        lowPeerRisk:
          type: boolean
          example: null
        terminates:
          type: boolean
          example: null
      description: Priority details of alert
      example: null
    PlanTypeDTO:
      type: object
      properties:
        id:
          type:
          - integer
          - 'null'
          format: int32
          example: null
        type:
          type:
          - string
          - 'null'
          example: null
        displayName:
          type:
          - string
          - 'null'
          example: null
        ordering:
          type:
          - integer
          - 'null'
          format: int32
          example: null
      example: null
    TargetTypeDTO:
      required:
      - displayName
      - id
      - pluralName
      - scoring
      - type
      type: object
      properties:
        id:
          type: integer
          format: int32
          example: null
        type:
          type: string
          example: null
        displayName:
          type: string
          example: null
        pluralName:
          type: string
          example: null
        ordering:
          type:
          - integer
          - 'null'
          format: int32
          example: null
        scoring:
          type: string
          enum:
          - Alert
          - Peer
          example: null
      example: null
    ErrorDTO:
      required:
      - code
      - message
      type: object
      properties:
        code:
          type: string
          description: Error code
          example: null
        message:
          type: string
          description: Error message
          example: null
        solution:
          type:
          - string
          - 'null'
          description: Possible solution to the error
          example: null
      description: Error response
      example: null
    TargetCTypeDTO:
      required:
      - bgColor
      - connectable
      - ctype
      - displayName
      - icon
      - id
      - pluralName
      - priority
      - targetTypeId
      - textColor
      type: object
      properties:
        id:
          type: integer
          format: int32
          example: null
        ctype:
          type: string
          example: null
        targetTypeId:
          type: integer
          format: int32
          example: null
        displayName:
          type: string
          example: null
        pluralName:
          type: string
          example: null
        icon:
          type: string
          example: null
        ordering:
          type:
          - integer
          - 'null'
          format: int32
          example: null
        priority:
          type: integer
          format: int32
          example: null
        connectable:
          type: boolean
          example: null
        bgColor:
          type: string
          example: null
        textColor:
          type: string
          example: null
      example: null
    UserDTO:
      required:
      - firstname
      - id
      - lastname
      type: object
      properties:
        id:
          type: integer
          format: int32
          example: null
        email:
          type:
          - string
          - 'null'
          format: email
          example: null
        firstname:
          minLength: 1
          type:
          - string
          - 'null'
          example: null
        lastname:
          minLength: 1
          type:
          - string
          - 'null'
          example: null
        department:
          type:
          - string
          - 'null'
          example: null
        position:
          type:
          - string
          - 'null'
          example: null
        profilePic:
          type:
          - string
          - 'null'
          example: null
        customer:
          allOf:
          - $ref: '#/components/schemas/CustomerDTO'
          example: null
        userHash:
          type:
          - string
          - 'null'
          example: null
        settings:
          allOf:
          - $ref: '#/components/schemas/UserSettings'
          example: null
        activePlan:
          allOf:
          - $ref: '#/components/schemas/PlanDTO'
          example: null
        active:
          type:
          - boolean
          - 'null'
          example: null
        confirmed:
          type:
          - boolean
          - 'null'
          example: null
        roles:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/RoleDTO'
          example: null
        teams:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/TeamDTO'
          example: null
        perspective:
          allOf:
          - $ref: '#/components/schemas/PerspectiveDTO'
          example: null
        organization:
          $ref: '#/components/schemas/TargetDTO'
        organizations:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/TargetDTO'
          example: null
        defaultEdgeType:
          type:
          - string
          - 'null'
          enum:
          - Supplier
          - Customer
          - PrimaryMaterial
          - SecondaryMaterial
          - Equipment
          - Own
          example: null
        language:
          type:
          - string
          - 'null'
          enum:
          - en
          - de
          - fr
          - it
          - ch
          example: null
        collection:
          $ref: '#/components/schemas/CollectionDTO'
        passwordValidUntil:
          type:
          - string
          - 'null'
          format: date-time
          example: null
        riskAnalysis:
          $ref: '#/components/schemas/RiskAnalysis'
        phone:
          type:
          - string
          - 'null'
          example: null
        wechatId:
          type:
          - string
          - 'null'
          example: null
        peerScoreToggle:
          type:
          - boolean
          - 'null'
          example: null
        resilienceScoreToggle:
          type:
          - boolean
          - 'null'
          example: null
      example: null
    Geometry:
      type: object
      additionalProperties: true
      description: 'GeoJSON-compatible geometry object. Fields follow the GeoJSON spec (https://geojson.org): a `type` string (e.g. `Point`, `Polygon`) and a `coordinates` array.'
      example: null
    RiskAnalysis:
      required:
      - approvedForReport
      - collectionIds
      - date
      - diModel
      - id
      - impactT80
      - isArchived
      - locks
      - name
      - periodFrom
      - periodTo
      - perspective
      - reason
      - regularity
      - riskT80
      - scope
      - scopingCountryShare
      - targetType
      - tiern
      - type
      type: object
      properties:
        id:
          type: integer
          format: int32
          example: null
        name:
          type: string
          example: null
        perspective:
          $ref: '#/components/schemas/PerspectiveDTO'
        targetType:
          $ref: '#/components/schemas/TargetTypeDTO'
        periodFrom:
          type: string
          format: date
          example: null
        periodTo:
          type: string
          format: date
          example: null
        date:
          type: string
          format: date
          example: null
        riskT80:
          type: integer
          format: int32
          example: null
        impactT80:
          type: number
          format: double
          example: null
        diModel:
          type: string
          enum:
          - Direct
          - Parent
          - Auto
          example: null
        locks:
          type: array
          items:
            $ref: '#/components/schemas/RiskAnalysisLock'
          example: null
        isArchived:
          type: boolean
          example: null
        regularity:
          type: string
          enum:
          - Regular
          - Adhoc
          example: null
        reason:
          type: array
          items:
            type: string
            enum:
            - InternalDecisions
            - ExternalFactors
            - SubstantiatedKnowledge
            - ChangeNewProducts
            - ChangeNewAreas
            - Other
            example: null
          example: null
        specificOccasion:
          type:
          - string
          - 'null'
          example: null
        approvedForReport:
          type: boolean
          example: null
        findings:
          type:
          - string
          - 'null'
          example: null
        scope:
          type: string
          enum:
          - OwnBusinessArea
          - Suppliers
          - Customers
          example: null
        type:
          $ref: '#/components/schemas/RiskAnalysisType'
        tiern:
          type: boolean
          example: null
        countryScoreThreshold:
          type:
          - number
          - 'null'
          format: double
          example: null
        industryScoreThreshold:
          type:
          - number
          - 'null'
          format: double
          example: null
        purchaseVolumeThreshold:
          type:
          - number
          - 'null'
          format: double
          example: null
        collectionIds:
          type: array
          items:
            type: integer
            format: int32
            example: null
          example: null
        scopingCountryShare:
          type: number
          format: double
          example: null
      example: null
    RiskAnalysisLock:
      required:
      - locked
      - type
      type: object
      properties:
        type:
          type: string
          enum:
          - Form
          - Suppliers
          - Matrix
          - Actions
          - Scoping
          - Products
          example: null
        locked:
          type: boolean
          example: null
        user:
          $ref: '#/components/schemas/UserDTO'
        lockedAt:
          type:
          - string
          - 'null'
          format: date-time
          example: null
      example: null
    SupplierOnboardingData:
      required:
      - customerId
      - supplierId
      type: object
      properties:
        supplierId:
          type: integer
          format: int32
          example: null
        customerId:
          type: integer
          format: int32
          example: null
      example: null
    UserSettings:
      required:
      - _system_
      - user
      type: object
      properties:
        user:
          $ref: '#/components/schemas/UserAttributes'
        _system_:
          $ref: '#/components/schemas/UserSystemAttributes'
      example: null
    CollectionDTO:
      required:
      - children
      - collectionTreeFilter
      - commodityFilter
      - deliverySettingTypes
      - id
      - isMonitored
      - isParentMonitored
      - lanes
      - level
      - name
      - own
      - path
      - scope
      - tiersEnabled
      - type
      - uuid
      type: object
      properties:
        id:
          type: integer
          format: int32
          example: null
        uuid:
          type: string
          format: uuid
          example: null
        scope:
          type: string
          enum:
          - User
          - Customer
          - Featured
          example: null
        type:
          type: string
          enum:
          - Default
          - Commodity
          - Ariba
          example: null
        collection:
          type:
          - string
          - 'null'
          example: null
        name:
          type: string
          example: null
        user:
          $ref: '#/components/schemas/UserDTO'
        deliverySettingTypes:
          type: array
          items:
            $ref: '#/components/schemas/DeliverySettingTypeDTO'
          example: null
        logo:
          type:
          - string
          - 'null'
          example: null
        count:
          type:
          - integer
          - 'null'
          format: int32
          example: null
        isMonitored:
          type: boolean
          example: null
        isParentMonitored:
          type: boolean
          example: null
        own:
          type: boolean
          example: null
        lanes:
          type: boolean
          example: null
        tiersEnabled:
          type: boolean
          example: null
        tierSettings:
          allOf:
          - $ref: '#/components/schemas/TierSettingsDTO'
          example: null
        collectionTreeFilter:
          type: array
          items:
            type: integer
            format: int32
            example: null
          example: null
        userId:
          type:
          - integer
          - 'null'
          format: int32
          example: null
        customerId:
          type:
          - integer
          - 'null'
          format: int32
          example: null
        organizationId:
          type:
          - integer
          - 'null'
          format: int32
          example: null
        viewedWithRole:
          type:
          - string
          - 'null'
          enum:
          - Manager
          - Editor
          example: null
        parentId:
          type:
          - integer
          - 'null'
          format: int32
          example: null
        children:
          type: array
          items:
            $ref: '#/components/schemas/CollectionDTO'
          example: null
        level:
          type: integer
          format: int32
          example: null
        path:
          type: array
          items:
            $ref: '#/components/schemas/CollectionRef'
          example: null
        commodityFilter:
          type: array
          items:
            $ref: '#/components/schemas/CommodityFilterId'
          example: null
        updatedAt:
          type:
          - string
          - 'null'
          format: date-time
          example: null
        monitored:
          type: boolean
          writeOnly: true
          example: null
        parentMonitored:
          type: boolean
          writeOnly: true
          example: null
      example: null
    RoleTypeDTO:
      required:
      - displayName
      - id
      - type
      type: object
      properties:
        id:
          type: integer
          format: int32
          example: null
        type:
          type: string
          example: null
        displayName:
          type: string
          example: null
      example: null
    EdgeDTO:
      required:
      - active
      - customerId
      - derived
      - fromId
      - id
      - mediaSources
      - numbers
      - priority
      - source
      - toId
      - type
      type: object
      properties:
        id:
          type: integer
          format: int32
          example: null
        type:
          type: string
          enum:
          - Supplier
          - Customer
          - PrimaryMaterial
          - SecondaryMaterial
          - Equipment
          - Own
          example: null
        priority:
          type: string
          enum:
          - Low
          - Mid
          - High
          - Critical
          example: null
        fromId:
          type: integer
          format: int32
          example: null
        toId:
          type: integer
          format: int32
          example: null
        customerId:
          type: integer
          format: int32
          example: null
        scope:
          type:
          - string
          - 'null'
          enum:
          - Private
          - Shared
          - Public
          example: null
        source:
          type: string
          description: Source of the supplier relationship edge
          enum:
          - Customer
          - Media
          - Customs
          - PrewavePrediction
          example: null
        numberShipments:
          type:
          - integer
          - 'null'
          format: int32
          example: null
        numberHSCodes:
          type:
          - integer
          - 'null'
          format: int32
          example: null
        lastShipmentDate:
          type:
          - string
          - 'null'
          format: date
          example: null
        probability:
          type:
          - number
          - 'null'
          format: double
          example: null
        mediaSources:
          type: array
          items:
            type: string
            example: null
          example: null
        active:
          type: boolean
          example: null
        derived:
          type: boolean
          example: null
        impactData:
          allOf:
          - $ref: '#/components/schemas/EdgeImpactData'
          example: null
        edgeNumbers:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/EdgeNumber'
          example: null
        numbers:
          type: array
          readOnly: true
          items:
            type: string
            example: null
          example: null
      example: null
    PublicAlertDTO:
      required:
      - collectionPath
      - createdAt
      - event
      - id
      - infotags
      - links
      - locations
      - media
      - primaryTargets
      - uuid
      type: object
      properties:
        id:
          type: integer
          description: Prewave-internal alert id
          format: int32
          example: null
        uuid:
          type: string
          description: Prewave-internal alert uuid
          format: uuid
          example: null
        title:
          type:
          - string
          - 'null'
          description: Alert title
          example: Hurricane happens at Norsk Hydro in Høyanger, NO
        createdAt:
          type: string
          description: When the alert was generated/created at prewave
          format: date-time
          example: null
        predictedAtStart:
          type:
          - string
          - 'null'
          description: When the event - that this alert is describing - started
          format: date-time
          example: null
        predictedAtEnd:
          type:
          - string
          - 'null'
          description: When the event - that this alert is describing - ended
          format: date-time
          example: null
        description:
          type:
          - string
          - 'null'
          description: Detailed description of alert. Usually an excerpt taken from one of the links
          example: It's windy in Høyanger
        event:
          $ref: '#/components/schemas/PublicEventDTO'
        statusId:
          type:
          - integer
          - 'null'
          description: Replaced with alert-relevancy
          format: int32
          deprecated: true
          example: null
        locations:
          type: array
          description: Locations where the alert happened
          items:
            $ref: '#/components/schemas/PublicTargetDTO'
          example: null
        links:
          type: array
          description: Source links the alert is based on
          items:
            $ref: '#/components/schemas/PublicLinkDTO'
          example: null
        media:
          type: array
          description: Media files attached to the alert
          items:
            $ref: '#/components/schemas/PublicMediaDTO'
          example: null
        infotags:
          type: array
          items:
            $ref: '#/components/schemas/PublicInfotagDTO'
          example: null
        primaryTargets:
          type: array
          description: The targets affected by this alert.
          items:
            $ref: '#/components/schemas/PublicAlertTargetDTO'
          example: null
        priority:
          type:
          - string
          - 'null'
          description: Priority of alert
          enum:
          - Low
          - Mid
          - High
          - Critical
          example: null
        priorityDetails:
          allOf:
          - $ref: '#/components/schemas/PublicPriorityDetailsDTO'
          example: null
        collectionPath:
          type: array
          description: The collections and their hierarchy for the target
          items:
            $ref: '#/components/schemas/PublicCollectionPathRef'
          example: null
        geo:
          $ref: '#/components/schemas/Geo'
      example: null
    InfotagTypeDTO:
      required:
      - active
      - display
      - ordering
      - type
      type: object
      properties:
        type:
          type: string
          example: null
        active:
          type: boolean
          example: null
        displayName:
          type:
          - string
          - 'null'
          example: null
        icon:
          type:
          - string
          - 'null'
          example: null
        ordering:
          type: integer
          format: int32
          example: null
        display:
          type: boolean
          example: null
      example: null
    PlanLimitDTO:
      required:
      - name
      - value
      type: object
      properties:
        name:
          type: string
          example: null
        value:
          type: integer
          format: int32
          example: null
      example: null
    CommodityFilterId:
      required:
      - commodityId
      - path
      - treeId
      type: object
      properties:
        treeId:
          type: integer
          format: int32
          example: null
        commodityId:
          type: integer
          format: int32
          example: null
        path:
          type: array
          items:
            type: integer
            format: int32
            example: null
          example: null
      example: null
    PublicTargetForeignSystemDTO:
      required:
      - id
      - system
      type: object
      properties:
        system:
          type: string
          description: The system ID is an identifier to determine from which the targetId might originate from. Supported systemIds are "prewave", "customer", "supplier", "own".
          example: null
        id:
          type: string
          description: The id in the foreign system
          example: '1234'
        source:
          type:
          - string
          - 'null'
          description: Name of the foreign system
          example: SAP_ARIBA
      description: List of foreign systems the target is connected to
      example: null
    TargetRef:
      required:
      - edges
      - id
      - name
      type: object
      properties:
        id:
          type: integer
          format: int32
          example: null
        name:
          type: string
          example: null
        customName:
          type:
          - string
          - 'null'
          example: null
        latestRequest:
          allOf:
          - $ref: '#/components/schemas/TargetRequestInfoDto'
          example: null
        edges:
          type: array
          items:
            $ref: '#/components/schemas/EdgeDTO'
          example: null
      example: null
  securitySchemes:
    Token_authentication:
      type: apiKey
      description: Generate an API token at https://www.prewave.com/management/api and paste it in here.
      name: X-Auth-Token
      in: header
