{"openapi":"3.0.1","info":{"title":"Public Prewave API","description":"Documentation of the Public Prewave API.\n\n## What's New\n\n### Q1 2026 — Supplier Management, User Management, Actions and Feed\n\nThis quarter introduces major v2 upgrades, expanded administrative capabilities, and the new Actions API.\n\n- **Core Releases:** Deployed Supplier Management API v2 and Feed API v2, alongside the all-new Actions API.\n- **Enhanced Functionality:** Added robust identifier management, granular user and role configuration, and endpoints for managing supplier connection contacts.\n- ⚠️ **Required Migration:** Legacy v1 endpoints for Suppliers and Sites Upsert have been deprecated. Developers must migrate existing integrations to v2 by **May 31, 2027** (original deadline was December 31, 2026).\n\n📖 **[Read the Q1 2026 changelog](https://docs.prewave.com/en/articles/699847-q1-2026-public-api-updates)**\n\n### Q2 2026 — Supplier Screening and External Scores\n\nWe have expanded our v2 documentation to include comprehensive integration guidance for supplier screening and validation workflows and identifier-based external score ingestion.\n\n- **New Capabilities:** Added support for optional post-onboarding screening and validation during the create event.\n- **External Scores:** Batch POST for multiple supplier sites, per-site history GET, and event-type discovery GET (`/public/v1/scores/externals` and `/public/v1/scores/externals/event-types`). Documented in OpenAPI when enabled for your organization.\n- **Developer Resources:** Published new integration examples and detailed identifier validation rules to streamline your implementation process.\n\n📖 **[Read the Q2 2026 changelog](https://docs.prewave.com/en/articles/699849-q2-2026-public-api-updates)**\n\n### Q3 2026 — Scores Webhooks\n\nTo support event-driven architectures and eliminate the need for continuous API polling, we are introducing webhooks for score state changes later this year.\n\n- **Event-Driven Architecture:** Register webhook URLs to receive real-time HTTP payloads whenever a supplier's score updates, so you can drive immediate mitigation responses without polling the API.\n- **Availability:** Comprehensive OpenAPI specifications and payload schemas will be published closer to the release date.\n- **Note:** Schemas and behaviors are subject to refinement prior to general availability.\n\nDocumentation updates will be provided prior to release.\n\n### Q4 2026 — Feed V2\n\nWe are enhancing Feed API v2 with additional capabilities on top of the existing `GET /public/v2/feed` contract (see Q1 changelog and OpenAPI for the current Feed v2 integration).\n\n- **Availability:** Details will be announced before release.\n- **Note:** Schemas and behaviors are subject to refinement prior to the official release.\n\nDocumentation updates will be provided prior to release.\n\n---\n\n## Authentication\nPrewave’s public api uses *API tokens* to authenticate against our RESTful service. We’ll provide you an *API-token* that each\nendpoint needs present as a http header.\n\nTo pass the token in a request, simply add it as a header-parameter with\n* key = X-Auth-Token\n* value = api-token\n\nSee an example in curl below where the api-token would be 12345678-90ab-cdef-1234-567890abcdef\n```\ncurl --request GET \\\n--url https://REPLACE_WITH_SERVER/public/v1/target/prewave/3975230/alerts \\\n--header 'X-Auth-Token: 12345678-90ab-cdef-1234-567890abcdef'\n```\n\n---\n\n## Manage API Tokens\n\nBefore you can obtain your API token, you'll need the credentials for your API user. These credentials will be\nsent to you as part of the company-onboarding. If you haven't got your credentials yet, please reach out to\nyour sales-contact at Prewave or contact us via info@prewave.ai\n\nTo generate an API Token, navigate to https://www.prewave.com/management/api and log in with the\ncredentials of your API user. Then click at the button \"Create New\" and use your new api-token authentication as a header parameter.\n\nYou can create multiple API tokens and also remove existing API tokens on https://www.prewave.com/management/api.\nAPI tokens do not expire, therefore you have to maintain the list of API tokens you are using manually.\n\n---\n\n## Default Rate Limits\n\nWe have two types of default rate limits. For increased access, please contact customer success.\n\n| Type                              | Requests per 10 seconds | Requests per Minute |\n|-----------------------------------|-------------------------|---------------------|\n| GET requests                      | 100                     | 500                 |\n| POST, PUT, PATCH, DELETE requests | 20                      | 100                 |\n\n","version":"1.0"},"servers":[{"url":"https://api.prewave.com","description":"Production Environment"}],"security":[{"Token authentication":[]}],"tags":[{"name":"Actions","description":"🆕 NEW - Retrieve actions (tasks/work items), action types, and action statuses for supplier relationships, compliance reviews, and operational activities. Available from February 2026."},{"name":"Alerts","description":"Endpoints for retrieving alert information from user feeds, disruption maps, and specific targets. Supports filtering by collections, dates, priorities, geographic regions, target identifiers, and other criteria."},{"name":"Collections - Management","description":"Public API for managing collections in Prewave's supply chain network. Collections are used to organize and group suppliers (targets) in your supply chain."},{"name":"Collections - Network","description":"Allows you to retrieve network information. Like tree-graph and commodity-graph."},{"name":"Collections - Targets","description":"Public API for managing targets within collections in Prewave's supply chain network."},{"name":"Collections - Tier-N","description":"Public API for retrieving supplier relationship graphs from tier-n enabled collections."},{"name":"Disruptions","description":"Endpoints for retrieving alerts from the disruption map. Supports filtering by geographic region, collections, countries, and other criteria."},{"name":"EUDR - Customers - DDS","description":"🆕 NEW - Allows you to manage customer Due Diligence Statements (DDS), including creating, updating, submitting, withdrawing customer DDS, and viewing supplier DDS associated with products."},{"name":"EUDR - Customers - Origin Requests","description":"Allows you to manage customer origin requests for products, including creating, updating, closing requests, and viewing requests per product."},{"name":"EUDR - Customers - Products","description":"Allows you to manage customer products, including creating, updating, linking/unlinking products, and deactivating products."},{"name":"EUDR - Customers - Suppliers","description":"Allows you to search for suppliers, find suppliers by IDs or references, and manage supplier connection contacts."},{"name":"EUDR - Shared","description":"Shared reference data for EUDR, including countries, HS codes, and commodities. Available to both customers and suppliers."},{"name":"EUDR - Suppliers","description":"Allows suppliers to manage their origin requests, view their customers, and answer origin requests with supplier DDS."},{"name":"Exposure","description":"Get exposure analysis graph and targets"},{"name":"Infotags","description":"Allows you to retrieve information about infotags and groups."},{"name":"Scores - Enterprise Export","description":"Public API for managing enterprise export configurations and retrieving score data in Prewave's supply chain network."},{"name":"Scores - Externals","description":"Upload and read custom supplier scores from your systems (e.g. SAP). Bulk upload, list event types, and view history per supplier. Available from June 2026."},{"name":"Scores - Target","description":"\n⚠️ **DEPRECATED** - Target score endpoints. These endpoints are deprecated and will be removed at the end of December 2026. Use `/public/v1/enterprise-export/scores` instead.\n\n**Note**: Responses from these endpoints include a `Sunset` HTTP header (RFC 8594) indicating the removal date.\n    "},{"name":"Suppliers - Connection Contacts","description":"🆕 NEW - Supplier connection contact management endpoints. Available from February 2026."},{"name":"Suppliers - Management","description":"Supplier management endpoints for listing, retrieving, updating supplier data, and bulk operations."},{"name":"Suppliers - Sites","description":"🆕 NEW - Supplier and site management endpoints. Available from January 2026."},{"name":"Suppliers - Sites Upsert","description":"Allows you to create or update sites."},{"name":"Suppliers - Supplier Graph","description":"⚠️ **DEPRECATED** - This API is deprecated and will be removed at the end of December 2026."},{"name":"Users","description":"🆕 NEW - API to manage users in the public network. Available from February 2026."},{"name":"Users - Roles","description":"🆕 NEW - API to manage user roles in the public network. Available from February 2026."}],"paths":{"/public/v2/eudr/customers/products/outbound/{productId}":{"put":{"tags":["EUDR - Customers - Products"],"summary":"Update an existing outbound product","description":"\nUpdate an existing outbound product's information.\n\nAll product fields in the payload can be updated; changes are persisted immediately.\n\n**Required permission:** `access_public_products` and `UPDATE` on the product\n        ","operationId":"updateOutboundProduct","parameters":[{"name":"productId","in":"path","description":"The ID of the product.","required":true,"schema":{"type":"integer","format":"int32"},"example":301}],"requestBody":{"description":"Updated outbound product payload.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicOutboundProductPayload"},"examples":{"Update outbound product":{"summary":"Revised name, reference, and HS code","description":"Update outbound product","value":"{\"name\":\"Oak Dining Table\",\"scientificName\":\"Quercus robur\",\"reference\":\"OUT-2025-001\",\"hsCode\":\"940360\",\"annualRevenue\":null,\"annualQuantity\":null,\"unit\":null}"}}}},"required":true},"responses":{"200":{"description":"Product updated successfully."},"400":{"description":"Errors if related data not found or invalid","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDTO"},"examples":{"HS Code not found":{"description":"HS Code not found","value":{"code":"hs_code_not_found","message":"HS code not found: HSCode=123456","solution":"Check if the identifier provided is correct or create the record first"}},"Supplier not found":{"description":"Supplier not found","value":{"code":"supplier_not_found","message":"Supplier not found: ID=123456","solution":"Check if the identifier provided is correct or create the record first"}},"Missing product scientific name":{"description":"Missing product scientific name","value":{"code":"missing_wooden_product_scientific_name","message":"Missing product scientific name for wooden product","solution":"Provide a scientific name for wooden products"}}}}}},"403":{"description":"403 Forbidden - Authentication or authorization failure. This status code is returned when: (1) the request lacks valid authentication credentials (missing or invalid X-Auth-Token header), or (2) the authenticated user does not have the required permission to access this resource.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AccessDeniedErrorDTO"},"examples":{"Access denied example":{"summary":"User lacks necessary permissions or authentication","value":"{\n        \"loggedIn\": true,\n        \"code\": \"access_denied\",\n        \"message\": \"Access denied: you don't have necessary permissions to access this resource\",\n        \"solution\": \"Contact support for appropriate permissions\"\n    }"}}}}},"500":{"description":"500 Internal Server Error - An unexpected error occurred on the server. The request may or may not have been processed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDTO"},"examples":{"Error - Server Error":{"summary":"Unexpected server error","value":"{\n        \"code\": \"internal_error\",\n        \"message\": \"An unexpected error occurred\",\n        \"solution\": \"Please try again later or contact support\"\n    }"}}}}},"429":{"description":"429 Too Many Requests - API rate limit exceeded. The request has been rejected because the rate limit for this endpoint has been exceeded. Default rate limits: GET requests - 100 per 10 seconds, 500 per minute; POST/PUT/PATCH/DELETE requests - 20 per 10 seconds, 100 per minute. For increased access, please contact customer success.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiRateLimitResponse"},"examples":{"Rate limit exceeded example":{"summary":"API rate limit exceeded","value":"{\n        \"error\": \"API rate limit exceeded\",\n        \"message\": \"You have reached the maximum allowed requests. Please try again later or upgrade your plan for increased access\",\n        \"requestLimit\": 20,\n        \"requestCount\": 20,\n        \"limits\": [\n            {\n                \"requestLimit\": 20,\n                \"timeInSeconds\": 10\n            },\n            {\n                \"requestLimit\": 100,\n                \"timeInSeconds\": 60\n            }\n        ],\n        \"currentTime\": \"2026-01-15T10:30:00\",\n        \"nextResetAt\": \"2026-01-15T10:30:10\"\n    }"}}}}}}}},"/public/v2/eudr/customers/products/inbound/{productId}":{"put":{"tags":["EUDR - Customers - Products"],"summary":"Update an existing inbound product","description":"\nUpdate an existing inbound product's information.\n\nAll product fields in the payload can be updated; changes are persisted immediately.\n\n**Required permission:** `access_public_products` and `UPDATE` on the product\n        ","operationId":"updateInboundProduct","parameters":[{"name":"productId","in":"path","description":"The ID of the product.","required":true,"schema":{"type":"integer","format":"int32"},"example":301}],"requestBody":{"description":"Updated inbound product payload.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicInboundProductPayload"},"examples":{"Update inbound product":{"summary":"Revised name, reference, HS code, and supplier","description":"Update inbound product","value":"{\"name\":\"Oak Wood Planks\",\"scientificName\":\"Quercus robur\",\"reference\":\"INB-2025-001\",\"hsCode\":\"440799\",\"annualSpend\":null,\"annualQuantity\":null,\"unit\":null,\"supplierId\":102006215}"}}}},"required":true},"responses":{"200":{"description":"Product updated successfully."},"400":{"description":"Errors if related data not found or invalid","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDTO"},"examples":{"HS Code not found":{"description":"HS Code not found","value":{"code":"hs_code_not_found","message":"HS code not found: HSCode=123456","solution":"Check if the identifier provided is correct or create the record first"}},"Supplier not found":{"description":"Supplier not found","value":{"code":"supplier_not_found","message":"Supplier not found: ID=123456","solution":"Check if the identifier provided is correct or create the record first"}},"Missing product scientific name":{"description":"Missing product scientific name","value":{"code":"missing_wooden_product_scientific_name","message":"Missing product scientific name for wooden product","solution":"Provide a scientific name for wooden products"}}}}}},"403":{"description":"403 Forbidden - Authentication or authorization failure. This status code is returned when: (1) the request lacks valid authentication credentials (missing or invalid X-Auth-Token header), or (2) the authenticated user does not have the required permission to access this resource.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AccessDeniedErrorDTO"},"examples":{"Access denied example":{"summary":"User lacks necessary permissions or authentication","value":"{\n        \"loggedIn\": true,\n        \"code\": \"access_denied\",\n        \"message\": \"Access denied: you don't have necessary permissions to access this resource\",\n        \"solution\": \"Contact support for appropriate permissions\"\n    }"}}}}},"500":{"description":"500 Internal Server Error - An unexpected error occurred on the server. The request may or may not have been processed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDTO"},"examples":{"Error - Server Error":{"summary":"Unexpected server error","value":"{\n        \"code\": \"internal_error\",\n        \"message\": \"An unexpected error occurred\",\n        \"solution\": \"Please try again later or contact support\"\n    }"}}}}},"429":{"description":"429 Too Many Requests - API rate limit exceeded. The request has been rejected because the rate limit for this endpoint has been exceeded. Default rate limits: GET requests - 100 per 10 seconds, 500 per minute; POST/PUT/PATCH/DELETE requests - 20 per 10 seconds, 100 per minute. For increased access, please contact customer success.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiRateLimitResponse"},"examples":{"Rate limit exceeded example":{"summary":"API rate limit exceeded","value":"{\n        \"error\": \"API rate limit exceeded\",\n        \"message\": \"You have reached the maximum allowed requests. Please try again later or upgrade your plan for increased access\",\n        \"requestLimit\": 20,\n        \"requestCount\": 20,\n        \"limits\": [\n            {\n                \"requestLimit\": 20,\n                \"timeInSeconds\": 10\n            },\n            {\n                \"requestLimit\": 100,\n                \"timeInSeconds\": 60\n            }\n        ],\n        \"currentTime\": \"2026-01-15T10:30:00\",\n        \"nextResetAt\": \"2026-01-15T10:30:10\"\n    }"}}}}}}}},"/public/v2/eudr/customers/origin-requests/{originRequestId}":{"put":{"tags":["EUDR - Customers - Origin Requests"],"summary":"Update origin request","description":"\n\nUpdate an existing origin request. Only requests in `Requested` status can be updated.\nAt least one of `requestedWeight` or `endDate` must be provided.\n- `requestedWeight` — update the requested weight for the origin request.\n- `endDate` — update the end date for the origin request.\n\n\n**Required permission:** `access_public_products`\n        ","operationId":"updateOriginRequest","parameters":[{"name":"originRequestId","in":"path","description":"The ID of the origin request.","required":true,"schema":{"type":"integer","format":"int32"},"example":1001}],"requestBody":{"description":"Updated end date and/or requested weight. At least one field must be provided.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicUpdateOriginRequestPayload"},"examples":{"Update weight and end date":{"summary":"Extend deadline and increase requested weight","description":"Update weight and end date","value":"{\"endDate\":{\"date\":\"2025-10-31\",\"_datetype_\":\"Date\"},\"requestedWeight\":1500.00}"}}}},"required":true},"responses":{"200":{"description":"Origin request updated successfully."},"400":{"description":"Origin request cannot be updated.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDTO"},"examples":{"Missing update fields":{"description":"Missing update fields","value":{"code":"invalid_request","message":"At least one of 'requestedWeight' or 'endDate' must be provided for update.","solution":"Fix the request"}},"Negative weight":{"description":"Negative weight","value":{"code":"invalid_request","message":"Requested weight can not be zero or negative.","solution":"Fix the request"}},"End date in the past":{"description":"End date in the past","value":{"code":"invalid_request","message":"End date must be in the future.","solution":"Fix the request"}}}}}},"404":{"description":"Origin request not found.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDTO"},"examples":{"Origin request not found":{"description":"Origin request not found","value":{"code":"resource_not_found","message":"Origin request #123 not found"}}}}}},"403":{"description":"403 Forbidden - Authentication or authorization failure. This status code is returned when: (1) the request lacks valid authentication credentials (missing or invalid X-Auth-Token header), or (2) the authenticated user does not have the required permission to access this resource.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AccessDeniedErrorDTO"},"examples":{"Access denied example":{"summary":"User lacks necessary permissions or authentication","value":"{\n        \"loggedIn\": true,\n        \"code\": \"access_denied\",\n        \"message\": \"Access denied: you don't have necessary permissions to access this resource\",\n        \"solution\": \"Contact support for appropriate permissions\"\n    }"}}}}},"500":{"description":"500 Internal Server Error - An unexpected error occurred on the server. The request may or may not have been processed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDTO"},"examples":{"Error - Server Error":{"summary":"Unexpected server error","value":"{\n        \"code\": \"internal_error\",\n        \"message\": \"An unexpected error occurred\",\n        \"solution\": \"Please try again later or contact support\"\n    }"}}}}},"429":{"description":"429 Too Many Requests - API rate limit exceeded. The request has been rejected because the rate limit for this endpoint has been exceeded. Default rate limits: GET requests - 100 per 10 seconds, 500 per minute; POST/PUT/PATCH/DELETE requests - 20 per 10 seconds, 100 per minute. For increased access, please contact customer success.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiRateLimitResponse"},"examples":{"Rate limit exceeded example":{"summary":"API rate limit exceeded","value":"{\n        \"error\": \"API rate limit exceeded\",\n        \"message\": \"You have reached the maximum allowed requests. Please try again later or upgrade your plan for increased access\",\n        \"requestLimit\": 20,\n        \"requestCount\": 20,\n        \"limits\": [\n            {\n                \"requestLimit\": 20,\n                \"timeInSeconds\": 10\n            },\n            {\n                \"requestLimit\": 100,\n                \"timeInSeconds\": 60\n            }\n        ],\n        \"currentTime\": \"2026-01-15T10:30:00\",\n        \"nextResetAt\": \"2026-01-15T10:30:10\"\n    }"}}}}}}}},"/public/v2/eudr/customers/origin-requests/{originRequestId}/close":{"put":{"tags":["EUDR - Customers - Origin Requests"],"summary":"Close origin request","description":"\n\nThe request can be closed only if it is in `Requested` status.\nClosing the request prevents any further updates or actions on it.\nOnce closed, the request status is set to `Answered` or `Canceled`:\n- **Answered** — at least one origin has been provided for the request.\n- **Canceled** — no origins have been provided for the request.\n\n\n**Required permission:** `access_public_products`\n        ","operationId":"closeOriginRequest","parameters":[{"name":"originRequestId","in":"path","description":"The ID of the origin request.","required":true,"schema":{"type":"integer","format":"int32"},"example":1001}],"responses":{"200":{"description":"Origin request closed successfully."},"400":{"description":"Origin request cannot be closed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDTO"},"examples":{"Not in Requested status":{"description":"Not in Requested status","value":{"code":"invalid_request","message":"Origin request cannot be closed.","solution":"Fix the request"}},"Cannot be canceled":{"description":"Cannot be canceled","value":{"code":"invalid_request","message":"Origin request cannot be canceled.","solution":"Fix the request"}}}}}},"404":{"description":"Origin request not found.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDTO"},"examples":{"Origin request not found":{"description":"Origin request not found","value":{"code":"resource_not_found","message":"Origin request #6 not found"}}}}}},"403":{"description":"403 Forbidden - Authentication or authorization failure. This status code is returned when: (1) the request lacks valid authentication credentials (missing or invalid X-Auth-Token header), or (2) the authenticated user does not have the required permission to access this resource.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AccessDeniedErrorDTO"},"examples":{"Access denied example":{"summary":"User lacks necessary permissions or authentication","value":"{\n        \"loggedIn\": true,\n        \"code\": \"access_denied\",\n        \"message\": \"Access denied: you don't have necessary permissions to access this resource\",\n        \"solution\": \"Contact support for appropriate permissions\"\n    }"}}}}},"500":{"description":"500 Internal Server Error - An unexpected error occurred on the server. The request may or may not have been processed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDTO"},"examples":{"Error - Server Error":{"summary":"Unexpected server error","value":"{\n        \"code\": \"internal_error\",\n        \"message\": \"An unexpected error occurred\",\n        \"solution\": \"Please try again later or contact support\"\n    }"}}}}},"429":{"description":"429 Too Many Requests - API rate limit exceeded. The request has been rejected because the rate limit for this endpoint has been exceeded. Default rate limits: GET requests - 100 per 10 seconds, 500 per minute; POST/PUT/PATCH/DELETE requests - 20 per 10 seconds, 100 per minute. For increased access, please contact customer success.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiRateLimitResponse"},"examples":{"Rate limit exceeded example":{"summary":"API rate limit exceeded","value":"{\n        \"error\": \"API rate limit exceeded\",\n        \"message\": \"You have reached the maximum allowed requests. Please try again later or upgrade your plan for increased access\",\n        \"requestLimit\": 20,\n        \"requestCount\": 20,\n        \"limits\": [\n            {\n                \"requestLimit\": 20,\n                \"timeInSeconds\": 10\n            },\n            {\n                \"requestLimit\": 100,\n                \"timeInSeconds\": 60\n            }\n        ],\n        \"currentTime\": \"2026-01-15T10:30:00\",\n        \"nextResetAt\": \"2026-01-15T10:30:10\"\n    }"}}}}}}}},"/public/v2/eudr/customers/customer-dds/{ddsId}":{"put":{"tags":["EUDR - Customers - DDS"],"summary":"Update a customer DDS for an inbound product","description":"\nUpdates an existing customer Due Diligence Statement (DDS) identified by `ddsId`.\nThe payload must contain all required customer, activity, and product measure fields.\n\n**Use Cases**:\n- Update compliance statements\n- Modify due diligence information\n- Correct DDS data before submission\n\n**Required permission:** `access_public_products` and `UPDATE` on the DDS\n        ","operationId":"updateCustomerDDS","parameters":[{"name":"ddsId","in":"path","description":"ID of the customer DDS to update.","required":true,"schema":{"type":"integer"},"example":123}],"requestBody":{"description":"Updated customer DDS payload. Same shape as the create request.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicCustomerDDSPayload"},"examples":{"Update customer DDS":{"summary":"Revised product measures and references","description":"Update customer DDS","value":"{\"eoriNumber\":\"EU123456789\",\"customerName\":\"Acme GmbH\",\"customerCity\":\"Vienna\",\"customerPostalCode\":\"1010\",\"customerStreet\":\"Main Street 1\",\"customerCountryId\":14,\"activityType\":\"Import\",\"countryOfActivityId\":14,\"originRequestReferences\":[{\"reference\":[\"PO-2025-001\",\"PO-2025-002\"],\"type\":\"PurchaseOrder\"},{\"reference\":[\"SHP-2025-042\"],\"type\":\"ShipmentNumber\"}],\"netWeightInKg\":1250.75,\"quantity\":10,\"unit\":\"m3\"}"}}}},"required":true},"responses":{"200":{"description":"Customer DDS updated successfully.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicCustomerDDS"},"examples":{"Updated customer DDS":{"summary":"Customer DDS after a successful update","description":"Updated customer DDS","value":"{\"id\":123,\"active\":true,\"referenceNumber\":\"EU-REF-12345\",\"verificationNumber\":\"VER-987654\",\"date\":{\"date\":\"2025-09-30T12:00:00\",\"_datetype_\":\"DateTime\"},\"archived\":false,\"archiveDate\":null,\"origins\":[],\"eoriNumber\":\"EU123456789\",\"customerName\":\"Acme GmbH\",\"customerCity\":\"Vienna\",\"customerPostalCode\":\"1010\",\"customerStreet\":\"Main Street 1\",\"customerCountry\":{\"id\":14,\"name\":\"Austria\",\"countryCode\":\"AT\",\"bounds\":null},\"state\":\"Available\",\"operatorType\":\"RepresentativeOperator\",\"activityType\":\"Import\",\"countryOfActivity\":{\"id\":14,\"name\":\"Austria\",\"countryCode\":\"AT\",\"bounds\":null},\"originRequestReferences\":[{\"ddsId\":456,\"reference\":\"PO-2025-001\",\"type\":\"PurchaseOrder\"},{\"ddsId\":457,\"reference\":\"SHP-2025-042\",\"type\":\"ShipmentNumber\"}],\"productName\":\"Oak Wood Planks\",\"productDescription\":\"Sawn oak wood planks, 2 m length, kiln-dried\",\"netWeightInKg\":1250.75,\"quantity\":10,\"unit\":\"m3\",\"hsCode\":\"440799\",\"submissionError\":null}"}}}}},"400":{"description":"Invalid request payload (e.g. missing required fields, invalid values).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDTO"},"examples":{"Missing field":{"description":"Missing field","value":{"code":"invalid_payload","message":"Field 'eoriNumber' is required"}},"Missing unit for HS code":{"description":"Missing unit for HS code","value":{"code":"invalid_payload","message":"Unit is required for HS code 123456"}},"Missing quantity for HS code":{"description":"Missing quantity for HS code","value":{"code":"invalid_payload","message":"Quanity is required for HS code 123456"}},"Unit not supported for HS code":{"description":"Unit not supported for HS code","value":{"code":"invalid_payload","message":"Unit must be omitted because no unit definition exists for HS code 123456"}},"Quantity not supported for HS code":{"description":"Quantity not supported for HS code","value":{"code":"invalid_payload","message":"Quantity must be omitted because no unit definition exists for HS code 123456"}}}}}},"404":{"description":"DDS not found.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDTO"}}}},"403":{"description":"403 Forbidden - Authentication or authorization failure. This status code is returned when: (1) the request lacks valid authentication credentials (missing or invalid X-Auth-Token header), or (2) the authenticated user does not have the required permission to access this resource.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AccessDeniedErrorDTO"},"examples":{"Access denied example":{"summary":"User lacks necessary permissions or authentication","value":"{\n        \"loggedIn\": true,\n        \"code\": \"access_denied\",\n        \"message\": \"Access denied: you don't have necessary permissions to access this resource\",\n        \"solution\": \"Contact support for appropriate permissions\"\n    }"}}}}},"500":{"description":"500 Internal Server Error - An unexpected error occurred on the server. The request may or may not have been processed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDTO"},"examples":{"Error - Server Error":{"summary":"Unexpected server error","value":"{\n        \"code\": \"internal_error\",\n        \"message\": \"An unexpected error occurred\",\n        \"solution\": \"Please try again later or contact support\"\n    }"}}}}},"429":{"description":"429 Too Many Requests - API rate limit exceeded. The request has been rejected because the rate limit for this endpoint has been exceeded. Default rate limits: GET requests - 100 per 10 seconds, 500 per minute; POST/PUT/PATCH/DELETE requests - 20 per 10 seconds, 100 per minute. For increased access, please contact customer success.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiRateLimitResponse"},"examples":{"Rate limit exceeded example":{"summary":"API rate limit exceeded","value":"{\n        \"error\": \"API rate limit exceeded\",\n        \"message\": \"You have reached the maximum allowed requests. Please try again later or upgrade your plan for increased access\",\n        \"requestLimit\": 20,\n        \"requestCount\": 20,\n        \"limits\": [\n            {\n                \"requestLimit\": 20,\n                \"timeInSeconds\": 10\n            },\n            {\n                \"requestLimit\": 100,\n                \"timeInSeconds\": 60\n            }\n        ],\n        \"currentTime\": \"2026-01-15T10:30:00\",\n        \"nextResetAt\": \"2026-01-15T10:30:10\"\n    }"}}}}}}},"delete":{"tags":["EUDR - Customers - DDS"],"summary":"Delete a customer DDS before successful submission","description":"\nDelete a customer Due Diligence Statement (DDS) while it is new or in submission-error state.\n\nThis endpoint permanently removes the specified customer DDS.\nIt cannot be used for DDS entries that have already been submitted or made available.\nUse with caution as this operation cannot be undone.\n\n**Required permission:** `access_public_products` and access to the DDS\n        ","operationId":"deleteCustomerDDS","parameters":[{"name":"ddsId","in":"path","description":"ID of the customer DDS to delete.","required":true,"schema":{"type":"integer"},"example":123}],"responses":{"204":{"description":"Customer DDS deleted successfully.","content":{}},"400":{"description":"Invalid request payload (e.g. missing required fields, invalid values).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDTO"},"examples":{"Missing field":{"description":"Missing field","value":{"code":"invalid_payload","message":"Field 'eoriNumber' is required"}},"Missing unit for HS code":{"description":"Missing unit for HS code","value":{"code":"invalid_payload","message":"Unit is required for HS code 123456"}},"Missing quantity for HS code":{"description":"Missing quantity for HS code","value":{"code":"invalid_payload","message":"Quanity is required for HS code 123456"}},"Unit not supported for HS code":{"description":"Unit not supported for HS code","value":{"code":"invalid_payload","message":"Unit must be omitted because no unit definition exists for HS code 123456"}},"Quantity not supported for HS code":{"description":"Quantity not supported for HS code","value":{"code":"invalid_payload","message":"Quantity must be omitted because no unit definition exists for HS code 123456"}}}}}},"404":{"description":"DDS not found.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDTO"}}}},"403":{"description":"403 Forbidden - Authentication or authorization failure. This status code is returned when: (1) the request lacks valid authentication credentials (missing or invalid X-Auth-Token header), or (2) the authenticated user does not have the required permission to access this resource.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AccessDeniedErrorDTO"},"examples":{"Access denied example":{"summary":"User lacks necessary permissions or authentication","value":"{\n        \"loggedIn\": true,\n        \"code\": \"access_denied\",\n        \"message\": \"Access denied: you don't have necessary permissions to access this resource\",\n        \"solution\": \"Contact support for appropriate permissions\"\n    }"}}}}},"500":{"description":"500 Internal Server Error - An unexpected error occurred on the server. The request may or may not have been processed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDTO"},"examples":{"Error - Server Error":{"summary":"Unexpected server error","value":"{\n        \"code\": \"internal_error\",\n        \"message\": \"An unexpected error occurred\",\n        \"solution\": \"Please try again later or contact support\"\n    }"}}}}},"429":{"description":"429 Too Many Requests - API rate limit exceeded. The request has been rejected because the rate limit for this endpoint has been exceeded. Default rate limits: GET requests - 100 per 10 seconds, 500 per minute; POST/PUT/PATCH/DELETE requests - 20 per 10 seconds, 100 per minute. For increased access, please contact customer success.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiRateLimitResponse"},"examples":{"Rate limit exceeded example":{"summary":"API rate limit exceeded","value":"{\n        \"error\": \"API rate limit exceeded\",\n        \"message\": \"You have reached the maximum allowed requests. Please try again later or upgrade your plan for increased access\",\n        \"requestLimit\": 20,\n        \"requestCount\": 20,\n        \"limits\": [\n            {\n                \"requestLimit\": 20,\n                \"timeInSeconds\": 10\n            },\n            {\n                \"requestLimit\": 100,\n                \"timeInSeconds\": 60\n            }\n        ],\n        \"currentTime\": \"2026-01-15T10:30:00\",\n        \"nextResetAt\": \"2026-01-15T10:30:10\"\n    }"}}}}}}}},"/public/v2/eudr/customers/customer-dds/{ddsId}/submission":{"put":{"tags":["EUDR - Customers - DDS"],"summary":"Submit a customer DDS to TracesNT system","description":"\nSubmits the specified customer Due Diligence Statement (DDS) to the TracesNT system for regulatory processing.\nReturns `202 Accepted` if the request is successfully queued for processing.\n\n**Use Cases**:\n- Submit DDS to regulatory system\n- Complete compliance workflow\n- Register DDS with authorities\n\n**Required permission:** `access_public_products` and `UPDATE` on the DDS\n        ","operationId":"submitCustomerDDS","parameters":[{"name":"ddsId","in":"path","description":"ID of the customer DDS to submit.","required":true,"schema":{"type":"integer"},"example":123}],"responses":{"202":{"description":"Request accepted for processing.","content":{}},"400":{"description":"Invalid request payload (e.g. missing required fields, invalid values).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDTO"},"examples":{"Missing field":{"description":"Missing field","value":{"code":"invalid_payload","message":"Field 'eoriNumber' is required"}},"Missing unit for HS code":{"description":"Missing unit for HS code","value":{"code":"invalid_payload","message":"Unit is required for HS code 123456"}},"Missing quantity for HS code":{"description":"Missing quantity for HS code","value":{"code":"invalid_payload","message":"Quanity is required for HS code 123456"}},"Unit not supported for HS code":{"description":"Unit not supported for HS code","value":{"code":"invalid_payload","message":"Unit must be omitted because no unit definition exists for HS code 123456"}},"Quantity not supported for HS code":{"description":"Quantity not supported for HS code","value":{"code":"invalid_payload","message":"Quantity must be omitted because no unit definition exists for HS code 123456"}}}}}},"404":{"description":"DDS not found.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDTO"}}}},"403":{"description":"403 Forbidden - Authentication or authorization failure. This status code is returned when: (1) the request lacks valid authentication credentials (missing or invalid X-Auth-Token header), or (2) the authenticated user does not have the required permission to access this resource.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AccessDeniedErrorDTO"},"examples":{"Access denied example":{"summary":"User lacks necessary permissions or authentication","value":"{\n        \"loggedIn\": true,\n        \"code\": \"access_denied\",\n        \"message\": \"Access denied: you don't have necessary permissions to access this resource\",\n        \"solution\": \"Contact support for appropriate permissions\"\n    }"}}}}},"500":{"description":"500 Internal Server Error - An unexpected error occurred on the server. The request may or may not have been processed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDTO"},"examples":{"Error - Server Error":{"summary":"Unexpected server error","value":"{\n        \"code\": \"internal_error\",\n        \"message\": \"An unexpected error occurred\",\n        \"solution\": \"Please try again later or contact support\"\n    }"}}}}},"429":{"description":"429 Too Many Requests - API rate limit exceeded. The request has been rejected because the rate limit for this endpoint has been exceeded. Default rate limits: GET requests - 100 per 10 seconds, 500 per minute; POST/PUT/PATCH/DELETE requests - 20 per 10 seconds, 100 per minute. For increased access, please contact customer success.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiRateLimitResponse"},"examples":{"Rate limit exceeded example":{"summary":"API rate limit exceeded","value":"{\n        \"error\": \"API rate limit exceeded\",\n        \"message\": \"You have reached the maximum allowed requests. Please try again later or upgrade your plan for increased access\",\n        \"requestLimit\": 20,\n        \"requestCount\": 20,\n        \"limits\": [\n            {\n                \"requestLimit\": 20,\n                \"timeInSeconds\": 10\n            },\n            {\n                \"requestLimit\": 100,\n                \"timeInSeconds\": 60\n            }\n        ],\n        \"currentTime\": \"2026-01-15T10:30:00\",\n        \"nextResetAt\": \"2026-01-15T10:30:10\"\n    }"}}}}}}}},"/public/v1/target/{systemId}/{targetId}/data":{"put":{"tags":["Suppliers - Management"],"summary":"Update target data.","description":"\nUpdate spend data and Code of Conduct status for the specified target.\n\n**Required Permission**: `update_supplier_data`\n    ","operationId":"updateEdgeData","parameters":[{"name":"systemId","in":"path","description":"The system ID is an identifier to determine from which the targetId might originate from. Supported systemIds are \"prewave\", \"customer\", \"supplier\", \"own\".","required":true,"schema":{"type":"string"},"example":"prewave"},{"name":"targetId","in":"path","description":"The target ID can be the target's prewaveId or an external id (edge number) representing the site in another system.","required":true,"schema":{"type":"string"},"example":10422185}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicUpdateEdgeDataPayload"}}},"required":true},"responses":{"200":{"description":"Target data updated successfully. Returns the full updated target payload.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicTargetDTO"},"examples":{"Updated target example":{"summary":"Target payload after a successful update","description":"Updated target example","value":"{\"id\":102006215,\"name\":\"Acme Manufacturing Inc\",\"sname\":\"4990729\",\"logo\":\"/images/company-img/acme-manufacturing-logo.svg\",\"backgroundPicture\":\"/images/company-img/acme-manufacturing-bg.jpg\",\"description\":\"Automotive parts manufacturer specializing in electric vehicle components and battery assemblies.\",\"website\":\"https://www.acme-manufacturing.example.com\",\"location\":\"Detroit, MI, US\",\"yearFounded\":1987,\"size\":\"Large\",\"screened\":true,\"screenedStatus\":\"Screened\",\"linkedInId\":\"acme-manufacturing\",\"type\":{\"id\":5195261,\"type\":\"organization\",\"displayName\":\"Site Group\",\"pluralName\":\"Site Groups\",\"ordering\":0,\"scoring\":\"Alert\"},\"ctype\":{\"id\":972417,\"ctype\":\"company\",\"targetTypeId\":5195261,\"displayName\":\"Site Group\",\"pluralName\":\"Site Groups\",\"icon\":\"fas fa-building\",\"ordering\":0,\"priority\":0,\"connectable\":true,\"bgColor\":\"#E8F4FD\",\"textColor\":\"#1A365D\"},\"geo\":{\"geometry\":null,\"properties\":{\"name\":\"Detroit\",\"countryCode\":\"US\",\"alertCount\":null,\"boundingBox\":null},\"type\":\"Feature\"},\"geoShape\":{\"geometry\":null,\"properties\":{\"name\":null,\"countryCode\":null,\"alertCount\":null,\"boundingBox\":null},\"type\":\"Feature\"},\"parents\":[],\"organization\":{\"id\":987654321,\"name\":\"Acme Corporation\",\"sname\":\"6252001\",\"logo\":\"/images/company-img/acme-corporation-logo.svg\",\"backgroundPicture\":\"/images/company-img/acme-corporation-bg.jpg\",\"description\":\"Global automotive supplier and parent organization of Acme Manufacturing Inc.\",\"website\":\"https://www.acme-corporation.example.com\",\"location\":\"Stuttgart, DE\",\"yearFounded\":1962,\"size\":\"Very large\",\"screened\":true,\"screenedStatus\":\"Screened\",\"linkedInId\":\"acme-corporation\",\"type\":{\"id\":5195261,\"type\":\"organization\",\"displayName\":\"Site Group\",\"pluralName\":\"Site Groups\",\"ordering\":0,\"scoring\":\"Alert\"},\"ctype\":{\"id\":972417,\"ctype\":\"company\",\"targetTypeId\":5195261,\"displayName\":\"Site Group\",\"pluralName\":\"Site Groups\",\"icon\":\"fas fa-building\",\"ordering\":0,\"priority\":0,\"connectable\":true,\"bgColor\":\"#E8F4FD\",\"textColor\":\"#1A365D\"},\"geo\":{\"geometry\":null,\"properties\":{\"name\":\"Stuttgart\",\"countryCode\":\"DE\",\"alertCount\":null,\"boundingBox\":null},\"type\":\"Feature\"},\"geoShape\":{\"geometry\":null,\"properties\":{\"name\":null,\"countryCode\":null,\"alertCount\":null,\"boundingBox\":null},\"type\":\"Feature\"},\"parents\":[],\"organization\":null,\"industries\":[],\"monitoredSince\":{\"date\":\"2018-01-10T09:00:00\",\"_datetype_\":\"DateTime\"},\"earliestAlert\":{\"date\":\"2019-04-12T14:30:00\",\"_datetype_\":\"DateTime\"},\"ordering\":0,\"disruptionStatusUpdate\":null,\"own\":true,\"managed\":true,\"isPublic\":true,\"connectionContactsCount\":12,\"population\":null,\"following\":true,\"collectionFollowing\":true,\"tier\":null,\"path\":[],\"collectionLevel\":1,\"collectionPath\":[{\"id\":42,\"name\":\"Tier-1 Suppliers\"}],\"collectionPaths\":[[{\"id\":42,\"name\":\"Tier-1 Suppliers\"}]],\"foreignSystems\":[{\"system\":\"customer\",\"id\":\"ACME-CORP-001\",\"source\":\"SAP\"}],\"scoreAvail\":\"Alert\",\"revenue\":8500000000,\"impact\":\"Low\",\"hsCode\":[{\"code\":\"870810\",\"nshipments\":128}],\"merged_targets\":[]},\"industries\":[{\"id\":554433221,\"name\":\"Automotive Manufacturing\",\"sname\":null,\"logo\":null,\"backgroundPicture\":null,\"description\":\"Industry classification for automotive parts and vehicle component manufacturing.\",\"website\":null,\"location\":\"Global\",\"yearFounded\":null,\"size\":null,\"screened\":true,\"screenedStatus\":\"Screened\",\"linkedInId\":null,\"type\":{\"id\":5195261,\"type\":\"organization\",\"displayName\":\"Site Group\",\"pluralName\":\"Site Groups\",\"ordering\":0,\"scoring\":\"Alert\"},\"ctype\":{\"id\":1122334,\"ctype\":\"industry\",\"targetTypeId\":5195261,\"displayName\":\"Industry\",\"pluralName\":\"Industries\",\"icon\":\"fas fa-industry\",\"ordering\":10,\"priority\":1,\"connectable\":false,\"bgColor\":\"#F0F0F0\",\"textColor\":\"#333333\"},\"geo\":{\"geometry\":null,\"properties\":{\"name\":null,\"countryCode\":null,\"alertCount\":null,\"boundingBox\":null},\"type\":\"Feature\"},\"geoShape\":{\"geometry\":null,\"properties\":{\"name\":null,\"countryCode\":null,\"alertCount\":null,\"boundingBox\":null},\"type\":\"Feature\"},\"parents\":[],\"organization\":null,\"industries\":[],\"monitoredSince\":null,\"earliestAlert\":null,\"ordering\":null,\"disruptionStatusUpdate\":null,\"own\":false,\"managed\":false,\"isPublic\":null,\"connectionContactsCount\":null,\"population\":null,\"following\":false,\"collectionFollowing\":false,\"tier\":null,\"path\":[],\"collectionLevel\":null,\"collectionPath\":[],\"collectionPaths\":[],\"foreignSystems\":[],\"scoreAvail\":\"None\",\"revenue\":123.456,\"impact\":\"Low\",\"hsCode\":[],\"merged_targets\":[]}],\"monitoredSince\":{\"date\":\"2020-03-15T10:30:00\",\"_datetype_\":\"DateTime\"},\"earliestAlert\":{\"date\":\"2021-06-01T08:00:00\",\"_datetype_\":\"DateTime\"},\"ordering\":1,\"disruptionStatusUpdate\":null,\"own\":true,\"managed\":true,\"isPublic\":false,\"connectionContactsCount\":3,\"population\":null,\"following\":true,\"collectionFollowing\":true,\"tier\":null,\"path\":[{\"id\":987654321,\"name\":\"Acme Corporation\",\"customName\":null,\"latestRequest\":null,\"foreignSystems\":[{\"number\":\"ACME-CORP-001\",\"source\":\"SAP\",\"existingEdgeId\":null}]},{\"id\":102006215,\"name\":\"Acme Manufacturing Inc\",\"customName\":null,\"latestRequest\":null,\"foreignSystems\":[{\"number\":\"SUPPLIER001\",\"source\":\"SAP\",\"existingEdgeId\":null}]}],\"collectionLevel\":2,\"collectionPath\":[{\"id\":42,\"name\":\"Tier-1 Suppliers\"},{\"id\":108,\"name\":\"Automotive\"}],\"collectionPaths\":[[{\"id\":42,\"name\":\"Tier-1 Suppliers\"},{\"id\":108,\"name\":\"Automotive\"}],[{\"id\":55,\"name\":\"North America\"},{\"id\":108,\"name\":\"Automotive\"}]],\"foreignSystems\":[{\"system\":\"customer\",\"id\":\"SUPPLIER001\",\"source\":\"SAP\"},{\"system\":\"supplier\",\"id\":\"ACME-MFG-42\",\"source\":\"Excel\"}],\"scoreAvail\":\"Peer\",\"revenue\":1250000000,\"impact\":\"Low\",\"hsCode\":[{\"code\":\"870899\",\"nshipments\":42},{\"code\":\"401110\",\"nshipments\":15}],\"merged_targets\":[102001100]}"}}}}},"404":{"description":"Target not found or no permission to access it.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDTO"},"examples":{"Target not found":{"description":"Target not found","value":"{\"code\":\"resource_not_found\",\"message\":\"Target not found: systemId=customer, targetId=INVALID_ID\",\"solution\":\"Verify target ID and system ID are correct\"}"}}}}},"403":{"description":"403 Forbidden - Authentication or authorization failure. This status code is returned when: (1) the request lacks valid authentication credentials (missing or invalid X-Auth-Token header), or (2) the authenticated user does not have the required permission to access this resource.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AccessDeniedErrorDTO"},"examples":{"Access denied example":{"summary":"User lacks necessary permissions or authentication","value":"{\n        \"loggedIn\": true,\n        \"code\": \"access_denied\",\n        \"message\": \"Access denied: you don't have necessary permissions to access this resource\",\n        \"solution\": \"Contact support for appropriate permissions\"\n    }"}}}}},"500":{"description":"500 Internal Server Error - An unexpected error occurred on the server. The request may or may not have been processed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDTO"},"examples":{"Error - Server Error":{"summary":"Unexpected server error","value":"{\n        \"code\": \"internal_error\",\n        \"message\": \"An unexpected error occurred\",\n        \"solution\": \"Please try again later or contact support\"\n    }"}}}}},"429":{"description":"429 Too Many Requests - API rate limit exceeded. The request has been rejected because the rate limit for this endpoint has been exceeded. Default rate limits: GET requests - 100 per 10 seconds, 500 per minute; POST/PUT/PATCH/DELETE requests - 20 per 10 seconds, 100 per minute. For increased access, please contact customer success.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiRateLimitResponse"},"examples":{"Rate limit exceeded example":{"summary":"API rate limit exceeded","value":"{\n        \"error\": \"API rate limit exceeded\",\n        \"message\": \"You have reached the maximum allowed requests. Please try again later or upgrade your plan for increased access\",\n        \"requestLimit\": 20,\n        \"requestCount\": 20,\n        \"limits\": [\n            {\n                \"requestLimit\": 20,\n                \"timeInSeconds\": 10\n            },\n            {\n                \"requestLimit\": 100,\n                \"timeInSeconds\": 60\n            }\n        ],\n        \"currentTime\": \"2026-01-15T10:30:00\",\n        \"nextResetAt\": \"2026-01-15T10:30:10\"\n    }"}}}}}}}},"/public/v1/collections/{collectionId}":{"get":{"tags":["Collections - Management"],"summary":"Get collection by ID","description":"\nRetrieve a specific collection by its unique identifier.\n\nThe collection must be accessible to the authenticated user and must be active (not deactivated). This includes:\n- Collections owned by the user\n- Collections shared with the user's teams\n- Organization-wide collections (if user has appropriate permissions)\n\n**Note**: Inactive (deactivated) collections will return `404 Not Found`, even if you have `READ` permission on them.\n\n**Response:**\nReturns a collection object with full details including nested child collections. The response includes the same fields as the list endpoint, but with the complete collection tree structure recursively populated. See the `PublicCollectionDTO` schema for complete field definitions.\n\n**Response Details:**\n- The response includes the full collection tree structure with all child collections recursively populated\n- Child collections have the same structure as the parent collection, allowing for nested hierarchies\n- Only active collections are returned (inactive/deactivated collections are filtered out)\n- Fields with null values (`parentId`, `updatedAt`) are omitted from the JSON response. This is standard JSON serialization behavior.\n\n**Required Permissions**: `ACCESS_COLLECTION` and `READ` on the collection.\n        ","operationId":"getCollectionById","parameters":[{"name":"collectionId","in":"path","description":"The unique identifier (ID) of the collection to retrieve. This is the same identifier returned in the `id` field when retrieving collections via GET /public/v1/collections.","required":true,"schema":{"type":"integer","format":"int32"},"example":123}],"responses":{"200":{"description":"200 OK - Collection found and returned successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicCollectionDTO"},"examples":{"Collection - Single Result":{"summary":"Sample collection response","description":"Note: Fields with null values (such as `updatedAt`) are omitted from the JSON response. The `parentId` field is included when it has a value.","value":"{\"id\":123,\"uuid\":\"550e8400-e29b-41d4-a716-446655440000\",\"scope\":\"User\",\"type\":\"Default\",\"name\":\"European Suppliers\",\"count\":15,\"lanes\":true,\"tiersEnabled\":true,\"parentId\":100,\"children\":[{\"id\":124,\"uuid\":\"660e8400-e29b-41d4-a716-446655440001\",\"scope\":\"Customer\",\"type\":\"Default\",\"name\":\"Tier 1 Suppliers\",\"count\":8,\"lanes\":false,\"tiersEnabled\":true,\"parentId\":123,\"children\":[],\"updatedAt\":null}],\"updatedAt\":null}"},"Collection - No Children":{"summary":"Collection without child collections","description":"Note: Fields with null values (such as `parentId` and `updatedAt`) are omitted from the JSON response.","value":"{\"id\":125,\"uuid\":\"770e8400-e29b-41d4-a716-446655440002\",\"scope\":\"Customer\",\"type\":\"Default\",\"name\":\"My Suppliers\",\"count\":45,\"lanes\":false,\"tiersEnabled\":false,\"parentId\":null,\"children\":[],\"updatedAt\":null}"}}}}},"404":{"description":"404 Not Found - The collection with the specified ID was not found, is inactive (deactivated), or is not accessible to your organization. This may occur if: (1) the collection ID doesn't exist, (2) the collection was deactivated (soft-deleted), (3) the collection was never accessible to your organization, or (4) the collection is inactive and filtered out by the system.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDTO"},"examples":{"Collection not found":{"summary":"Collection ID does not exist or is not accessible","description":"Collection not found","value":"{\"code\":\"resource_not_found\",\"message\":\"Collection with id 123 not found\",\"solution\":\"Verify the collection ID and ensure it belongs to your organization\"}"}}}}},"403":{"description":"403 Forbidden - Authentication or authorization failure. This status code is returned when: (1) the request lacks valid authentication credentials (missing or invalid X-Auth-Token header), or (2) the authenticated user does not have the required permission to access this resource.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AccessDeniedErrorDTO"},"examples":{"Access denied example":{"summary":"User lacks necessary permissions or authentication","value":"{\n        \"loggedIn\": true,\n        \"code\": \"access_denied\",\n        \"message\": \"Access denied: you don't have necessary permissions to access this resource\",\n        \"solution\": \"Contact support for appropriate permissions\"\n    }"}}}}},"500":{"description":"500 Internal Server Error - An unexpected error occurred on the server. The request may or may not have been processed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDTO"},"examples":{"Error - Server Error":{"summary":"Unexpected server error","value":"{\n        \"code\": \"internal_error\",\n        \"message\": \"An unexpected error occurred\",\n        \"solution\": \"Please try again later or contact support\"\n    }"}}}}},"429":{"description":"429 Too Many Requests - API rate limit exceeded. The request has been rejected because the rate limit for this endpoint has been exceeded. Default rate limits: GET requests - 100 per 10 seconds, 500 per minute; POST/PUT/PATCH/DELETE requests - 20 per 10 seconds, 100 per minute. For increased access, please contact customer success.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiRateLimitResponse"},"examples":{"Rate limit exceeded example":{"summary":"API rate limit exceeded","value":"{\n        \"error\": \"API rate limit exceeded\",\n        \"message\": \"You have reached the maximum allowed requests. Please try again later or upgrade your plan for increased access\",\n        \"requestLimit\": 100,\n        \"requestCount\": 100,\n        \"limits\": [\n            {\n                \"requestLimit\": 100,\n                \"timeInSeconds\": 10\n            },\n            {\n                \"requestLimit\": 500,\n                \"timeInSeconds\": 60\n            }\n        ],\n        \"currentTime\": \"2026-01-15T10:30:00\",\n        \"nextResetAt\": \"2026-01-15T10:30:10\"\n    }"}}}}}}},"put":{"tags":["Collections - Management"],"summary":"Update an existing collection","description":"\nUpdate an existing collection's name and lanes settings.\n\nOnly active collections that the user has update permissions for can be modified. Only the collection name and lanes setting can be updated through this endpoint. Other properties like `scope` and `tiersEnabled` cannot be changed after creation.\n\n**Note**: Inactive (deactivated) collections will return `404 Not Found`, even if you have `UPDATE` permission on them.\n\n**Request:**\nOnly `name` (required) and `lanes` (optional) fields can be updated. All other fields (`scope`, `tiersEnabled`, `parentId`) cannot be changed through this endpoint. See the `PublicCollectionUpdatePayload` schema for complete field definitions.\n\n**Validation Rules:**\n- Collection names must be unique within the user's scope (duplicate names will result in `409 Conflict`)\n- The collection must exist, be active (not deactivated), and be accessible to the user\n- The user must have `UPDATE` permission on the collection\n- The user must be the collection creator OR have been granted access to the collection\n\n**What happens when you update a collection:**\n\n1. **Collection Update**: The collection's name and/or lanes setting are updated\n2. **Audit Trail**: The update is recorded in the audit log with:\n   - The user who updated the collection\n   - Timestamp of the operation\n   - Previous and new values for changed fields\n   - Reference to the public API endpoint used\n   - Audit comment: \"Collection name and lanes updated via Public API\"\n\n**Important Notes:**\n\n- Collection names must be unique within the user's scope - attempting to use a duplicate name will result in `409 Conflict`\n- Only `name` and `lanes` can be updated through this endpoint - all other fields (`scope`, `type`, `tiersEnabled`, `parentId`) are preserved from the existing collection\n- The `scope` and `tiersEnabled` fields are immutable after creation\n- Inactive (deactivated) collections cannot be updated and will return `404 Not Found`\n- All collection operations are audited for compliance and tracking purposes\n\n**Required Permissions**: `MANAGE_COLLECTION` and `UPDATE` on the collection.\n        ","operationId":"updateCollection","parameters":[{"name":"collectionId","in":"path","description":"The unique identifier (ID) of the collection to update. This is the same identifier returned in the `id` field when retrieving collections via GET /public/v1/collections.","required":true,"schema":{"type":"integer","format":"int32"},"example":123}],"requestBody":{"description":"Collection update payload. Content-Type must be `application/json`. Only `name` and `lanes` fields can be updated. All other fields (`scope`, `tiersEnabled`, `parentId`) cannot be changed through this endpoint.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicCollectionUpdatePayload"},"examples":{"Update Collection - Name and Lanes":{"summary":"Example updating both name and lanes","description":"Update Collection - Name and Lanes","value":"{\"name\":\"Updated Supplier Collection\",\"lanes\":false}"},"Update Collection - Name Only":{"summary":"Example updating only the name","description":"Update Collection - Name Only","value":"{\"name\":\"Renamed Collection\",\"lanes\":false}"},"Update Collection - Lanes Only":{"summary":"Example updating only lanes setting","description":"Update Collection - Lanes Only","value":"{\"name\":\"My Suppliers\",\"lanes\":true}"}}}},"required":true},"responses":{"200":{"description":"200 OK - Collection updated successfully. The update has been audited with the comment 'Collection name and lanes updated via Public API'.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicCollectionDTO"},"examples":{"Updated collection response":{"summary":"Example of an updated collection","description":"Note: Fields with null values (such as `updatedAt`) are omitted from the JSON response. The `parentId` field is included when it has a value.","value":"{\"id\":123,\"uuid\":\"550e8400-e29b-41d4-a716-446655440000\",\"scope\":\"User\",\"type\":\"Default\",\"name\":\"Updated Supplier Collection\",\"count\":15,\"lanes\":false,\"tiersEnabled\":true,\"parentId\":100,\"children\":[],\"updatedAt\":null}"}}}}},"400":{"description":"400 Bad Request - Invalid request payload or validation errors. The request body is malformed or contains invalid data.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDTO"},"examples":{"Missing required field":{"summary":"Required field is missing","description":"Missing required field","value":"{\"code\":\"invalid_request\",\"message\":\"Name is required\",\"solution\":\"Fix the request\"}"},"Blank field validation":{"summary":"Required field is blank or contains only whitespace","description":"Blank field validation","value":"{\"code\":\"invalid_request\",\"message\":\"Name is required\",\"solution\":\"Fix the request\"}"},"Invalid JSON":{"summary":"Request body is not valid JSON","description":"Invalid JSON","value":"{\"code\":\"invalid_request\",\"message\":\"Name is required\",\"solution\":\"Fix the request\"}"}}}}},"404":{"description":"404 Not Found - The collection with the specified ID was not found, is inactive (deactivated), or is not accessible to your organization. This may occur if: (1) the collection ID doesn't exist, (2) the collection was deactivated (soft-deleted), (3) the collection was never accessible to your organization, (4) you don't have update access (you must be the collection creator OR have been granted access), or (5) the collection is inactive and filtered out by the system.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDTO"},"examples":{"Collection not found":{"summary":"Collection ID does not exist or is not accessible","description":"Collection not found","value":"{\"code\":\"resource_not_found\",\"message\":\"Collection with id 123 not found or access denied\",\"solution\":\"Verify the collection ID and ensure you have the required permission on the collection\"}"}}}}},"409":{"description":"409 Conflict - A collection with the same name already exists in the user's scope. Collection names must be unique within each scope.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDTO"},"examples":{"Duplicate collection name":{"summary":"Collection name already exists in scope","description":"Duplicate collection name","value":"{\"code\":\"duplicate_resource\",\"message\":\"Collection with name 'New Supplier Collection' already exists in Customer scope\",\"solution\":\"Use a different collection name or a different scope\"}"}}}}},"403":{"description":"403 Forbidden - Authentication or authorization failure. This status code is returned when: (1) the request lacks valid authentication credentials (missing or invalid X-Auth-Token header), or (2) the authenticated user does not have the required permission to access this resource.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AccessDeniedErrorDTO"},"examples":{"Access denied example":{"summary":"User lacks necessary permissions or authentication","value":"{\n        \"loggedIn\": true,\n        \"code\": \"access_denied\",\n        \"message\": \"Access denied: you don't have necessary permissions to access this resource\",\n        \"solution\": \"Contact support for appropriate permissions\"\n    }"}}}}},"500":{"description":"500 Internal Server Error - An unexpected error occurred on the server. The request may or may not have been processed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDTO"},"examples":{"Error - Server Error":{"summary":"Unexpected server error","value":"{\n        \"code\": \"internal_error\",\n        \"message\": \"An unexpected error occurred\",\n        \"solution\": \"Please try again later or contact support\"\n    }"}}}}},"429":{"description":"429 Too Many Requests - API rate limit exceeded. The request has been rejected because the rate limit for this endpoint has been exceeded. Default rate limits: GET requests - 100 per 10 seconds, 500 per minute; POST/PUT/PATCH/DELETE requests - 20 per 10 seconds, 100 per minute. For increased access, please contact customer success.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiRateLimitResponse"},"examples":{"Rate limit exceeded example":{"summary":"API rate limit exceeded","value":"{\n        \"error\": \"API rate limit exceeded\",\n        \"message\": \"You have reached the maximum allowed requests. Please try again later or upgrade your plan for increased access\",\n        \"requestLimit\": 20,\n        \"requestCount\": 20,\n        \"limits\": [\n            {\n                \"requestLimit\": 20,\n                \"timeInSeconds\": 10\n            },\n            {\n                \"requestLimit\": 100,\n                \"timeInSeconds\": 60\n            }\n        ],\n        \"currentTime\": \"2026-01-15T10:30:00\",\n        \"nextResetAt\": \"2026-01-15T10:30:10\"\n    }"}}}}}}},"delete":{"tags":["Collections - Management"],"summary":"Deactivate a collection","description":"\nDeactivate (soft delete) an existing collection.\n\nThis operation performs a **soft deletion** by marking the collection as inactive. The collection data remains in the database but is no longer accessible through the API.\n\n**Parameter:**\n- `{collectionId}` (path parameter): The unique identifier of the collection to deactivate.\n\n**What happens when you deactivate a collection:**\n\n1. **Collection Deactivation**: The collection is soft-deleted (marked as inactive)\n2. **API Visibility**: The collection will no longer appear in collection list queries (`GET /public/v1/collections`) or be accessible via `GET /public/v1/collections/{collectionId}`\n3. **Target Relationships**: Target-collection relationships remain in the database, but since the collection is inactive, targets linked to this collection become inaccessible through the API. The targets themselves are not deleted.\n4. **Cleanup**: Collection filters and tree filters associated with the collection are removed\n5. **User Default Collection**: If this collection was set as the user's default collection, it will be cleared\n6. **Audit Trail**: The deactivation is recorded in the audit log with:\n   - The user who deactivated the collection\n   - Timestamp of the operation\n   - Collection details (name, scope, type, ID)\n   - Reference to the public API endpoint used\n   - Audit comment: \"Collection deleted via Public API\"\n\n**Important Notes:**\n\n- This is a **soft delete** - the collection is marked as inactive but data remains in the database\n- Deactivated collections are filtered out from all API queries automatically\n- **Only the creator of the collection can deactivate it** - even if you have `DELETE` permission through a role, you must be the collection creator\n- Target-collection relationships remain in the database, but targets become inaccessible through the API since the collection is inactive\n- The targets themselves are not deleted - only the collection becomes inactive\n- The collection cannot be reactivated through this API (no reactivation endpoint is available)\n- All collection operations are audited for compliance and tracking purposes\n\n**Required Permissions**:\n- `MANAGE_COLLECTION` permission\n- `DELETE` permission on the collection\n- **You must be the creator of the collection** (collection.userId must match your user ID)\n        ","operationId":"deleteCollection","parameters":[{"name":"collectionId","in":"path","description":"The unique identifier (ID) of the collection to deactivate. This is the same identifier returned in the `id` field when retrieving collections via GET /public/v1/collections.","required":true,"schema":{"type":"integer","format":"int32"},"example":123}],"responses":{"204":{"description":"204 No Content - Collection deactivated successfully. The collection has been soft-deleted (marked as inactive), and the deactivation has been audited with the comment 'Collection deleted via Public API'. The collection will no longer appear in API queries. Target-collection relationships remain in the database but become inaccessible since the collection is inactive.","content":{"application/json":{"examples":{"Success response":{"summary":"Collection successfully deactivated","description":"The response body is empty (204 No Content). The collection has been soft-deleted (marked as inactive) and all changes have been audited. The collection will no longer be accessible through the API.","value":null}}}}},"400":{"description":"400 Bad Request - Invalid request. This status code is returned when the request is malformed or validation fails. This may occur if: (1) the collection cannot be deleted due to validation constraints, (2) the request parameters are invalid, or (3) there are other validation errors preventing the deletion.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDTO"},"examples":{"Invalid request":{"summary":"Request validation failed","description":"Invalid request","value":"{\"message\":\"Invalid request\",\"code\":\"invalid_request\",\"solution\":\"Fix the request\"}"}}}}},"404":{"description":"404 Not Found - The collection with the specified ID was not found, is inactive (deactivated), or is not accessible to your organization. This may occur if: (1) the collection ID doesn't exist, (2) the collection was deactivated (soft-deleted), (3) the collection was never accessible to your organization, or (4) you don't have read access to the collection.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDTO"},"examples":{"Collection not found":{"summary":"Collection ID does not exist or is not accessible","description":"Collection not found","value":"{\"code\":\"resource_not_found\",\"message\":\"Collection with id 123 not found or access denied\",\"solution\":\"Verify the collection ID and ensure you have the required permission on the collection\"}"}}}}},"403":{"description":"403 Forbidden - Authentication or authorization failure. This status code is returned when: (1) the request lacks valid authentication credentials (missing or invalid X-Auth-Token header), or (2) the authenticated user does not have the required permission to access this resource.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AccessDeniedErrorDTO"},"examples":{"Access denied example":{"summary":"User lacks necessary permissions or authentication","value":"{\n        \"loggedIn\": true,\n        \"code\": \"access_denied\",\n        \"message\": \"Access denied: you don't have necessary permissions to access this resource\",\n        \"solution\": \"Contact support for appropriate permissions\"\n    }"}}}}},"500":{"description":"500 Internal Server Error - An unexpected error occurred on the server. The request may or may not have been processed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDTO"},"examples":{"Error - Server Error":{"summary":"Unexpected server error","value":"{\n        \"code\": \"internal_error\",\n        \"message\": \"An unexpected error occurred\",\n        \"solution\": \"Please try again later or contact support\"\n    }"}}}}},"429":{"description":"429 Too Many Requests - API rate limit exceeded. The request has been rejected because the rate limit for this endpoint has been exceeded. Default rate limits: GET requests - 100 per 10 seconds, 500 per minute; POST/PUT/PATCH/DELETE requests - 20 per 10 seconds, 100 per minute. For increased access, please contact customer success.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiRateLimitResponse"},"examples":{"Rate limit exceeded example":{"summary":"API rate limit exceeded","value":"{\n        \"error\": \"API rate limit exceeded\",\n        \"message\": \"You have reached the maximum allowed requests. Please try again later or upgrade your plan for increased access\",\n        \"requestLimit\": 20,\n        \"requestCount\": 20,\n        \"limits\": [\n            {\n                \"requestLimit\": 20,\n                \"timeInSeconds\": 10\n            },\n            {\n                \"requestLimit\": 100,\n                \"timeInSeconds\": 60\n            }\n        ],\n        \"currentTime\": \"2026-01-15T10:30:00\",\n        \"nextResetAt\": \"2026-01-15T10:30:10\"\n    }"}}}}}}}},"/public/v1/collections/{collectionId}/tier-n/settings":{"get":{"tags":["Collections - Tier-N"],"summary":"Get tier-n collection settings","description":"\n### Overview\nRetrieve tier-n configuration for a collection. These settings are used as defaults when calling `GET .../tier-n/data` and can be overridden via query parameters there.\n\n### Related Operations\n- **Data**: [GET /public/v1/collections/{collectionId}/tier-n/data](#operations-Collections_-_Tier-N-getTierNCollectionGraph)\n- **Update**: [PUT /public/v1/collections/{collectionId}/tier-n/settings](#operations-Collections_-_Tier-N-updateTierNCollectionSettings)\n\n### Required Permission\n`access_public_supplier_graph`, `access_collection`, and `read` on the collection.\n    ","operationId":"getTierNCollectionSettings","parameters":[{"name":"collectionId","in":"path","description":"Unique identifier of the tier-n collection. Same as the `id` from GET /public/v1/collections. The collection must have tiersEnabled=true.","required":true,"schema":{"type":"integer","format":"int32"},"example":123}],"responses":{"200":{"description":"Successfully retrieved tier-n collection settings.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicTierNCollectionSettings"},"examples":{"Tier-N Settings - Complete":{"description":"Tier-N Settings - Complete","value":"{\"collectionId\":123,\"collectionName\":\"Electronics Supply Chain\",\"maxTier\":3,\"targetIds\":[101,102,103],\"scopePrivate\":true,\"scopeShared\":true,\"scopePublic\":false,\"sourceCustomer\":true,\"sourceCustoms\":true,\"sourceMedia\":false,\"sourcePrewavePrediction\":true,\"minShipments\":5,\"probability\":75,\"shipmentsPeriodFrom\":{\"date\":\"2024-01-01\",\"_datetype_\":\"Date\"},\"shipmentsPeriodTo\":{\"date\":\"2024-12-31\",\"_datetype_\":\"Date\"},\"suspectedSuppliers\":false,\"logisticsProvider\":false,\"commodityFilterTargetIds\":[201,202]}"},"Tier-N Settings - Minimal":{"description":"Tier-N Settings - Minimal","value":"{\"collectionId\":456,\"collectionName\":\"Basic Collection\",\"maxTier\":1,\"targetIds\":[501],\"scopePrivate\":false,\"scopeShared\":false,\"scopePublic\":true,\"sourceCustomer\":false,\"sourceCustoms\":true,\"sourceMedia\":false,\"sourcePrewavePrediction\":false,\"minShipments\":null,\"probability\":null,\"shipmentsPeriodFrom\":null,\"shipmentsPeriodTo\":null,\"suspectedSuppliers\":false,\"logisticsProvider\":false,\"commodityFilterTargetIds\":[]}"}}}}},"400":{"description":"Collection is not tier-n enabled.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDTO"},"examples":{"Not tier-n collection":{"description":"Not tier-n collection","value":"{\"code\":\"INVALID_REQUEST\",\"message\":\"Only tier-n collections can be used by this endpoint. Collection 123 does not have tiers enabled.\",\"solution\":\"Use a collection with tiersEnabled=true\"}"}}}}},"404":{"description":"Collection not found, inactive, not tier-n enabled, or not accessible.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDTO"},"examples":{"Collection not found":{"description":"Collection not found","value":"{\"code\":\"RESOURCE_NOT_FOUND\",\"message\":\"Collection not found: ID=123\",\"solution\":\"Check collection ID or verify access permissions\"}"}}}}},"403":{"description":"403 Forbidden - Authentication or authorization failure. This status code is returned when: (1) the request lacks valid authentication credentials (missing or invalid X-Auth-Token header), or (2) the authenticated user does not have the required permission to access this resource.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AccessDeniedErrorDTO"},"examples":{"Access denied example":{"summary":"User lacks necessary permissions or authentication","value":"{\n        \"loggedIn\": true,\n        \"code\": \"access_denied\",\n        \"message\": \"Access denied: you don't have necessary permissions to access this resource\",\n        \"solution\": \"Contact support for appropriate permissions\"\n    }"}}}}},"500":{"description":"500 Internal Server Error - An unexpected error occurred on the server. The request may or may not have been processed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDTO"},"examples":{"Error - Server Error":{"summary":"Unexpected server error","value":"{\n        \"code\": \"internal_error\",\n        \"message\": \"An unexpected error occurred\",\n        \"solution\": \"Please try again later or contact support\"\n    }"}}}}},"429":{"description":"429 Too Many Requests - API rate limit exceeded. The request has been rejected because the rate limit for this endpoint has been exceeded. Default rate limits: GET requests - 100 per 10 seconds, 500 per minute; POST/PUT/PATCH/DELETE requests - 20 per 10 seconds, 100 per minute. For increased access, please contact customer success.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiRateLimitResponse"},"examples":{"Rate limit exceeded example":{"summary":"API rate limit exceeded","value":"{\n        \"error\": \"API rate limit exceeded\",\n        \"message\": \"You have reached the maximum allowed requests. Please try again later or upgrade your plan for increased access\",\n        \"requestLimit\": 100,\n        \"requestCount\": 100,\n        \"limits\": [\n            {\n                \"requestLimit\": 100,\n                \"timeInSeconds\": 10\n            },\n            {\n                \"requestLimit\": 500,\n                \"timeInSeconds\": 60\n            }\n        ],\n        \"currentTime\": \"2026-01-15T10:30:00\",\n        \"nextResetAt\": \"2026-01-15T10:30:10\"\n    }"}}}}}}},"put":{"tags":["Collections - Tier-N"],"summary":"Update tier-n collection settings","description":"\n### Overview\nUpdate tier-n configuration for a collection. All request fields are optional (partial update). Updated settings become defaults for `GET .../tier-n/data`.\n\n### Validation\n- Collection must exist, be active, and have `tiersEnabled=true`.\n- `maxTier` 1–9 if provided; `probability` 0–100 if provided; dates in YYYY-MM-DD; `shipmentsPeriodFrom` ≤ `shipmentsPeriodTo`.\n\n### Audit\nThe update is recorded with comment \"Tier-n collection settings updated via Public API\".\n\n### Required Permission\n`manage_collection` and `update` on the collection.\n    ","operationId":"updateTierNCollectionSettings","parameters":[{"name":"collectionId","in":"path","description":"Unique identifier of the tier-n collection. Same as the `id` from GET /public/v1/collections. The collection must have tiersEnabled=true.","required":true,"schema":{"type":"integer","format":"int32"},"example":123}],"requestBody":{"description":"Tier-n settings update. Content-Type: application/json. All fields optional.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicTierNCollectionSettingsUpdateRequest"},"examples":{"Update max tier":{"description":"Update max tier","value":"{\"maxTier\":4,\"scopePrivate\":null,\"scopeShared\":null,\"scopePublic\":null,\"sourceCustomer\":null,\"sourceCustoms\":null,\"sourceMedia\":null,\"sourcePrewavePrediction\":null,\"minShipments\":null,\"probability\":null,\"shipmentsPeriodFrom\":null,\"shipmentsPeriodTo\":null,\"suspectedSuppliers\":null,\"logisticsProvider\":null}"},"Update data sources":{"description":"Update data sources","value":"{\"maxTier\":null,\"scopePrivate\":null,\"scopeShared\":null,\"scopePublic\":null,\"sourceCustomer\":null,\"sourceCustoms\":null,\"sourceMedia\":true,\"sourcePrewavePrediction\":false,\"minShipments\":null,\"probability\":null,\"shipmentsPeriodFrom\":null,\"shipmentsPeriodTo\":null,\"suspectedSuppliers\":null,\"logisticsProvider\":null}"},"Update filters":{"description":"Update filters","value":"{\"maxTier\":null,\"scopePrivate\":null,\"scopeShared\":null,\"scopePublic\":null,\"sourceCustomer\":null,\"sourceCustoms\":null,\"sourceMedia\":null,\"sourcePrewavePrediction\":null,\"minShipments\":10,\"probability\":85,\"shipmentsPeriodFrom\":{\"date\":\"2024-06-01\",\"_datetype_\":\"Date\"},\"shipmentsPeriodTo\":{\"date\":\"2024-11-30\",\"_datetype_\":\"Date\"},\"suspectedSuppliers\":null,\"logisticsProvider\":null}"},"Remove filters":{"description":"Remove filters","value":"{\"minShipments\":null,\"probability\":null}"}}}},"required":true},"responses":{"200":{"description":"Tier-n collection settings updated successfully.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicTierNCollectionSettings"},"examples":{"Updated settings":{"description":"Updated settings","value":"{\"collectionId\":123,\"collectionName\":\"My Tier-N Collection\",\"maxTier\":3,\"targetIds\":[101,102,103],\"scopePrivate\":true,\"scopeShared\":true,\"scopePublic\":false,\"sourceCustomer\":true,\"sourceCustoms\":true,\"sourceMedia\":false,\"sourcePrewavePrediction\":true,\"minShipments\":5,\"probability\":75,\"shipmentsPeriodFrom\":{\"date\":\"2024-01-01\",\"_datetype_\":\"Date\"},\"shipmentsPeriodTo\":{\"date\":\"2024-12-31\",\"_datetype_\":\"Date\"},\"suspectedSuppliers\":false,\"logisticsProvider\":false,\"commodityFilterTargetIds\":[201,202]}"}}}}},"400":{"description":"Not tier-n enabled, invalid payload, maxTier/probability out of range, or invalid dates.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDTO"},"examples":{"Not tier-n collection":{"description":"Not tier-n collection","value":"{\"code\":\"INVALID_REQUEST\",\"message\":\"Only tier-n collections can be used by this endpoint. Collection 123 does not have tiers enabled.\",\"solution\":\"Use a collection with tiersEnabled=true\"}"},"Invalid maxTier":{"description":"Invalid maxTier","value":"{\"code\":\"INVALID_REQUEST\",\"message\":\"maxTier must be between 1 and 9, got: 10\",\"solution\":\"Provide a valid maxTier value between 1 and 9\"}"}}}}},"404":{"description":"Collection not found, inactive, not tier-n enabled, or no UPDATE permission.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDTO"},"examples":{"Collection not found":{"description":"Collection not found","value":"{\"code\":\"RESOURCE_NOT_FOUND\",\"message\":\"Collection not found: ID=123\",\"solution\":\"Verify the collection ID and ensure you have UPDATE permission on the collection\"}"}}}}},"403":{"description":"403 Forbidden - Authentication or authorization failure. This status code is returned when: (1) the request lacks valid authentication credentials (missing or invalid X-Auth-Token header), or (2) the authenticated user does not have the required permission to access this resource.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AccessDeniedErrorDTO"},"examples":{"Access denied example":{"summary":"User lacks necessary permissions or authentication","value":"{\n        \"loggedIn\": true,\n        \"code\": \"access_denied\",\n        \"message\": \"Access denied: you don't have necessary permissions to access this resource\",\n        \"solution\": \"Contact support for appropriate permissions\"\n    }"}}}}},"500":{"description":"500 Internal Server Error - An unexpected error occurred on the server. The request may or may not have been processed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDTO"},"examples":{"Error - Server Error":{"summary":"Unexpected server error","value":"{\n        \"code\": \"internal_error\",\n        \"message\": \"An unexpected error occurred\",\n        \"solution\": \"Please try again later or contact support\"\n    }"}}}}},"429":{"description":"429 Too Many Requests - API rate limit exceeded. The request has been rejected because the rate limit for this endpoint has been exceeded. Default rate limits: GET requests - 100 per 10 seconds, 500 per minute; POST/PUT/PATCH/DELETE requests - 20 per 10 seconds, 100 per minute. For increased access, please contact customer success.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiRateLimitResponse"},"examples":{"Rate limit exceeded example":{"summary":"API rate limit exceeded","value":"{\n        \"error\": \"API rate limit exceeded\",\n        \"message\": \"You have reached the maximum allowed requests. Please try again later or upgrade your plan for increased access\",\n        \"requestLimit\": 20,\n        \"requestCount\": 20,\n        \"limits\": [\n            {\n                \"requestLimit\": 20,\n                \"timeInSeconds\": 10\n            },\n            {\n                \"requestLimit\": 100,\n                \"timeInSeconds\": 60\n            }\n        ],\n        \"currentTime\": \"2026-01-15T10:30:00\",\n        \"nextResetAt\": \"2026-01-15T10:30:10\"\n    }"}}}}}}}},"/public/v1/alpha/exposure/target/{targetId}/graph":{"put":{"tags":["Exposure"],"summary":"Get exposure graph by target id","description":"**Performance impact**: Medium","operationId":"getExposureGraphByTargetId","parameters":[{"name":"targetId","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BaseExposurePayload"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExplorerGraph"}}}},"403":{"description":"403 Forbidden - Authentication or authorization failure. This status code is returned when: (1) the request lacks valid authentication credentials (missing or invalid X-Auth-Token header), or (2) the authenticated user does not have the required permission to access this resource.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AccessDeniedErrorDTO"},"examples":{"Access denied example":{"summary":"User lacks necessary permissions or authentication","value":"{\n        \"loggedIn\": true,\n        \"code\": \"access_denied\",\n        \"message\": \"Access denied: you don't have necessary permissions to access this resource\",\n        \"solution\": \"Contact support for appropriate permissions\"\n    }"}}}}},"500":{"description":"500 Internal Server Error - An unexpected error occurred on the server. The request may or may not have been processed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDTO"},"examples":{"Error - Server Error":{"summary":"Unexpected server error","value":"{\n        \"code\": \"internal_error\",\n        \"message\": \"An unexpected error occurred\",\n        \"solution\": \"Please try again later or contact support\"\n    }"}}}}},"429":{"description":"429 Too Many Requests - API rate limit exceeded. The request has been rejected because the rate limit for this endpoint has been exceeded. Default rate limits: GET requests - 100 per 10 seconds, 500 per minute; POST/PUT/PATCH/DELETE requests - 20 per 10 seconds, 100 per minute. For increased access, please contact customer success.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiRateLimitResponse"},"examples":{"Rate limit exceeded example":{"summary":"API rate limit exceeded","value":"{\n        \"error\": \"API rate limit exceeded\",\n        \"message\": \"You have reached the maximum allowed requests. Please try again later or upgrade your plan for increased access\",\n        \"requestLimit\": 20,\n        \"requestCount\": 20,\n        \"limits\": [\n            {\n                \"requestLimit\": 20,\n                \"timeInSeconds\": 10\n            },\n            {\n                \"requestLimit\": 100,\n                \"timeInSeconds\": 60\n            }\n        ],\n        \"currentTime\": \"2026-01-15T10:30:00\",\n        \"nextResetAt\": \"2026-01-15T10:30:10\"\n    }"}}}}}}}},"/public/v1/alpha/exposure/target/{systemId}/{targetId}/graph":{"put":{"tags":["Exposure"],"summary":"Get exposure graph by foreign system target id","description":"**Performance impact**: Medium","operationId":"getExposureGraphByForeignSystemTargetId","parameters":[{"name":"systemId","in":"path","required":true,"schema":{"type":"string"}},{"name":"targetId","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BaseExposurePayload"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExplorerGraph"}}}},"403":{"description":"403 Forbidden - Authentication or authorization failure. This status code is returned when: (1) the request lacks valid authentication credentials (missing or invalid X-Auth-Token header), or (2) the authenticated user does not have the required permission to access this resource.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AccessDeniedErrorDTO"},"examples":{"Access denied example":{"summary":"User lacks necessary permissions or authentication","value":"{\n        \"loggedIn\": true,\n        \"code\": \"access_denied\",\n        \"message\": \"Access denied: you don't have necessary permissions to access this resource\",\n        \"solution\": \"Contact support for appropriate permissions\"\n    }"}}}}},"500":{"description":"500 Internal Server Error - An unexpected error occurred on the server. The request may or may not have been processed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDTO"},"examples":{"Error - Server Error":{"summary":"Unexpected server error","value":"{\n        \"code\": \"internal_error\",\n        \"message\": \"An unexpected error occurred\",\n        \"solution\": \"Please try again later or contact support\"\n    }"}}}}},"429":{"description":"429 Too Many Requests - API rate limit exceeded. The request has been rejected because the rate limit for this endpoint has been exceeded. Default rate limits: GET requests - 100 per 10 seconds, 500 per minute; POST/PUT/PATCH/DELETE requests - 20 per 10 seconds, 100 per minute. For increased access, please contact customer success.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiRateLimitResponse"},"examples":{"Rate limit exceeded example":{"summary":"API rate limit exceeded","value":"{\n        \"error\": \"API rate limit exceeded\",\n        \"message\": \"You have reached the maximum allowed requests. Please try again later or upgrade your plan for increased access\",\n        \"requestLimit\": 20,\n        \"requestCount\": 20,\n        \"limits\": [\n            {\n                \"requestLimit\": 20,\n                \"timeInSeconds\": 10\n            },\n            {\n                \"requestLimit\": 100,\n                \"timeInSeconds\": 60\n            }\n        ],\n        \"currentTime\": \"2026-01-15T10:30:00\",\n        \"nextResetAt\": \"2026-01-15T10:30:10\"\n    }"}}}}}}}},"/public/v2/suppliers/sites":{"get":{"tags":["Suppliers - Sites"],"summary":"Get all suppliers","description":"\nRetrieve all supplier sites accessible to the authenticated user with pagination support.\n\nThis endpoint returns a list of supplier sites (physical locations/branches with addresses), not site-groups (general company owners). Each site represents a specific physical location where the supplier operates.\n\n**Related Endpoints:**\n- To find suppliers by specific identifiers, use `GET /public/v2/suppliers/sites/find-by-identifier`.\n- To create a new supplier, use `POST /public/v2/suppliers/sites`.\n- To check pending supplier creation requests, use `GET /public/v2/suppliers/sites/pending`.\n- To deactivate a supplier, use `DELETE /public/v2/suppliers/sites`.\n\nReturns supplier sites that the user has access to with simplified information:\n- Prewave Target ID\n- Name\n- Address (physical address of the site, if available)\n- City\n- Country Code\n- Supplier IDs\n\n**Ordering:**\n- Supplier sites are ordered alphabetically by name (case-insensitive), then by ID for deterministic pagination\n- Supplier IDs within each supplier site are ordered alphabetically by number, with null sources appearing last\n\n**Pagination:**\n- Results are paginated for efficient data retrieval\n- Use query parameters to control pagination:\n  - `page`: Page number (0-indexed, default: 0)\n  - `size`: Number of items per page (default: 10)\n- Ordering is fixed (alphabetically by name, then by ID) to ensure consistent results across pagination requests\n\n**Required Permission**: `ACCESS_PUBLIC_SUPPLIERS`\n    ","operationId":"getAllSuppliers","parameters":[{"name":"page","in":"query","description":"Zero-based page index (0..N)","required":false,"schema":{"minimum":0,"type":"integer","default":0}},{"name":"size","in":"query","description":"The size of the page to be returned","required":false,"schema":{"minimum":1,"type":"integer","default":10}},{"name":"sort","in":"query","description":"Sorting criteria in the format: property,(asc|desc). Default sort order is ascending. Multiple sort criteria are supported.","required":false,"schema":{"type":"array","items":{"type":"string"}}}],"responses":{"200":{"description":"Successfully retrieved suppliers","content":{"application/json":{"schema":{"type":"object","properties":{"content":{"type":"array","items":{"$ref":"#/components/schemas/PublicSupplierV2DTO"}},"size":{"type":"integer","format":"int32"},"number":{"type":"integer","format":"int32"},"totalElements":{"type":"integer","format":"int32"},"totalPages":{"type":"integer","format":"int32"},"numberOfElements":{"type":"integer","format":"int32"},"first":{"type":"boolean"},"last":{"type":"boolean"},"empty":{"type":"boolean"}}},"examples":{"Supplier - Multiple Results":{"summary":"Sample paginated supplier response","description":"Supplier - Multiple Results","value":{"content":[{"prewaveTargetId":102006215,"name":"Acme Corporation","address":"123 Main St, Vienna, Austria","city":"Vienna","countryCode":"AT","supplierIds":[{"id":"SUP-12345","source":"SAP"},{"id":"BNOID-67890"}]},{"prewaveTargetId":102006216,"name":"Beta Industries Ltd","address":"456 Business Ave, Berlin, Germany","city":"Berlin","countryCode":"DE","supplierIds":[{"id":"SUP-54321","source":"Oracle"}]}],"size":20,"number":0,"totalElements":57,"totalPages":3,"numberOfElements":2}}}}}},"403":{"description":"403 Forbidden - Authentication or authorization failure. This status code is returned when: (1) the request lacks valid authentication credentials (missing or invalid X-Auth-Token header), or (2) the authenticated user does not have the required permission to access this resource.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AccessDeniedErrorDTO"},"examples":{"Access denied example":{"summary":"User lacks necessary permissions or authentication","value":"{\n        \"loggedIn\": true,\n        \"code\": \"access_denied\",\n        \"message\": \"Access denied: you don't have necessary permissions to access this resource\",\n        \"solution\": \"Contact support for appropriate permissions\"\n    }"}}}}},"500":{"description":"500 Internal Server Error - An unexpected error occurred on the server. The request may or may not have been processed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDTO"},"examples":{"Error - Server Error":{"summary":"Unexpected server error","value":"{\n        \"code\": \"internal_error\",\n        \"message\": \"An unexpected error occurred\",\n        \"solution\": \"Please try again later or contact support\"\n    }"}}}}},"429":{"description":"429 Too Many Requests - API rate limit exceeded. The request has been rejected because the rate limit for this endpoint has been exceeded. Default rate limits: GET requests - 100 per 10 seconds, 500 per minute; POST/PUT/PATCH/DELETE requests - 20 per 10 seconds, 100 per minute. For increased access, please contact customer success.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiRateLimitResponse"},"examples":{"Rate limit exceeded example":{"summary":"API rate limit exceeded","value":"{\n        \"error\": \"API rate limit exceeded\",\n        \"message\": \"You have reached the maximum allowed requests. Please try again later or upgrade your plan for increased access\",\n        \"requestLimit\": 100,\n        \"requestCount\": 100,\n        \"limits\": [\n            {\n                \"requestLimit\": 100,\n                \"timeInSeconds\": 10\n            },\n            {\n                \"requestLimit\": 500,\n                \"timeInSeconds\": 60\n            }\n        ],\n        \"currentTime\": \"2026-01-15T10:30:00\",\n        \"nextResetAt\": \"2026-01-15T10:30:10\"\n    }"}}}}}}},"post":{"tags":["Suppliers - Sites"]
[...]
